﻿@model DomainClasses.Product.Producer

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="producerFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="ProducerTitle" class="control-label "></label>
                    <input asp-for="ProducerTitle" class="form-control TextRequired" />
                    <span asp-validation-for="ProducerTitle" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" id="producerUploader" type="file" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <img id="imgPreview" width="90" height="90" />
                </div>

            </div>
           
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertProducer();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script>
    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#producerUploader").change(function () {
        readURL(this);
    });
</script>



