﻿
@{
    ViewData["Title"] = "مدیریت تولیدکننده ها";
}

<div class="box-header ">
    <a onclick="openModalForAddProducer()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن تولیدکننده  </a>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست تولیدکننده ها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای ثبت تولیدکننده محصولات می باشد
                                که هر محصول ممکن است تولید کننده ای داشته باشد
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />

<!--Modal-->

@section Scripts{


    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });


       
    </script>
}

