﻿@model IEnumerable<DomainClasses.Product.Producer>


<table class="table table-bordered table-hover table-striped" id="producer_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProducerTitle)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="producer_@item.Producer_ID">
                @if (item.Icon != null)
                {
                    <td><img src="~/Files/Producer/@item.Icon" width="90" height="90" /></td>
                }
                else
                {
                    <td><img src="~/images/noimage.png" width="90" height="90" /></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ProducerTitle)
                </td>

                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditProducer(@item.Producer_ID);"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteProducer(@item.Producer_ID);"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
