﻿@model DomainClasses.Product.Unit

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="unitFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitTitle" class="control-label "></label>
                <input asp-for="UnitTitle" class="form-control TextRequired" />
                <span asp-validation-for="UnitTitle" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertUnit();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
