﻿
@{
    ViewData["Title"] = "مدیریت واحد محصول";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddUnit()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن واحد محصول  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست واحدها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای تعریف واحد محصولات می باشد
                                واحد محصول مثلا تخته برای فرش ...
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });

    </script>
}
