﻿@model IEnumerable<DomainClasses.Product.Unit>


<table class="table table-bordered table-hover table-striped" id="unit_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitTitle)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="unit_@item.Unit_ID">
            <td>
                @Html.DisplayFor(modelItem => item.UnitTitle)
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditUnit(@item.Unit_ID);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteUnit(@item.Unit_ID);"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>