﻿@model Customer

@{
    ViewData["Title"] = "ShowCart2";
}

<div class="box-body">
    <strong><i class="glyphicon glyphicon-user margin-r-5"></i> نام و نام خانوادگی</strong>
    <p class="text-muted">
        @*@Model.FullName*@
    </p>
    <hr>

    <strong><i class="glyphicon glyphicon-envelope margin-r-5"></i> ایمیل</strong>
    <p class="text-muted">
        @*@Model.Email*@
    </p>

    <hr />
    for

</div>