﻿
@model PermissionViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IGenericRepository<DomainClasses.Employees.Employee> _employee;
@{
    var user = await UserManager.GetUserAsync(User);
    var thisEmployee = await _employee.GetWithIncludeAsync(selector: x => x, include: x => x.Include(s => s.ApplicationUser), where: x => x.UserIdentity_Id == user.Id);
}
<div class="user-panel">
    <div class="pull-right image">
        @if (thisEmployee.FirstOrDefault() != null)
        {
            <img src="~/Files/Employee/Thumb/@thisEmployee.FirstOrDefault().ApplicationUser.UserPhoto" id="userphoto" class="img-circle" alt="User Image">
        }
        else
        {
            <img src="@user.UserPhoto" id="userphoto" class="img-circle" alt="User Image">
        }
    </div>
    <div class="pull-right info">
        <p id="UserFullName">@Model.UserFullName</p>
        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
    </div>
</div>
<script></script>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">منو</li>
    <li>
        <a asp-action="Index" asp-controller="Home">
            <i class="fa fa-home"></i>
            <span>خانه</span>

        </a>

    </li>
    @{
        //******************************
        if (Model.ConnectionControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paperclip pull-right"></i>
                    <span> ارتباط با سایت</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">

                    @foreach (var item in Model.ConnectionControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                    <li><a asp-action="Map" asp-controller="Connection"><i class="fa fa-map-marker"></i> نقشه </a></li>
                </ul>
            </li>
        }
        if (Model.ContentControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file pull-right"></i>
                    <span>مدیریت محتوا </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.ContentControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.ProductControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت محصولات </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.ProductControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.BaseInformationControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت اطلاعات پایه </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.BaseInformationControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployeeControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user pull-right"></i>
                    <span>درخواست های من</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployeeControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployeeCoworkerControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-bell pull-right"></i>
                    <span>درخواست های همکاران من</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployeeCoworkerControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployementRequestMySectionControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-bell pull-right"></i>
                    <span>درخواست های بخش من</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployementRequestMySectionControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployementRequestMyUnitControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-bell pull-right"></i>
                    <span>درخواست های واحد من</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployementRequestMyUnitControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployementRequestMyCompanyControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-bell pull-right"></i>
                    <span>درخواست های شرکت من</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployementRequestMyCompanyControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.SurveyControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fas fa-question pull-right"></i>
                    <span> شرکت در نظرسنجی </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.SurveyControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.EmployementControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-stethoscope pull-right"></i>
                    <span>مدیریت فرم استخدام </span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.EmployementControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.MultiMediaControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت چندرسانه ای</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.MultiMediaControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.AccessControlControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت کنترل دسترسی</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.AccessControlControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }

        if (Model.HalycoControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>آلیاژ گستر</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.HalycoControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.SalaryControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>لیست حقوق</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.SalaryControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.ProposalControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>ثبت پیشنهاد</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.ProposalControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.SuppliersControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت تامین کنندگان</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.SuppliersControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        if (Model.CustomerControllers.Count > 0)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart pull-right"></i>
                    <span>مدیریت مشتریان</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    @foreach (var item in Model.CustomerControllers)
                    {
                        <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i> @ControllerDictionary.FindControllerName(item.Name)</a></li>
                    }
                </ul>
            </li>
        }
        //******************************
        foreach (var item in Model.SelectedControllers)
        {
            <li><a asp-action="Index" asp-area="@item.AreaName" asp-controller="@item.Name"><i class="@IconDictionary.FindIcon(item.Name)"></i>@ControllerDictionary.FindControllerName(item.Name)</a></li>
        }

    }


    @if (thisEmployee.FirstOrDefault() != null && thisEmployee.FirstOrDefault().responsibility != null)
    {
        <li><a target="_blank" href="~/Files/Employee/Responsibilty/@thisEmployee.FirstOrDefault().responsibility"><i class="fa fa-fw fa-tasks"></i> شرح شغل من</a></li>
    }
</ul>
