﻿@model DomainClasses.Survey.SurveyEmployeesOtherData
@{
    ViewData["Title"] = "نظرسنجی کارکنان";
}


<style>
    .textColor {
        color: #2388d2dd;
    }
</style>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">نظرسنجی کارکنان</h3>
                    <div class="text-center">
                        <h3 class="text-danger">@ViewData["EmployeeSurvey"]</h3>
                    </div>
                    <!--ToolTipssss-->
                    <div class="pull-left">

                       

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body">
                    @if (ViewBag.PersonalCode != null)
                    {
                    <form asp-action="Index" id="employeeSurvey_frm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="PersonalCode" class="control-label "></label>: &nbsp;&nbsp;&nbsp;
                                <label class="control-label textColor" id="lblPersonalCode">@ViewBag.PersonalCode</label>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">نام و نام خانوادگی</label>:&nbsp;&nbsp;&nbsp;
                                <label class="control-label textColor">@ViewBag.FullName</label>
                            </div>
                        </div>
                        <br /><br />
                        <div class="" style="padding:10px" id="employeeSurvey_div">

                        </div>
                        <div class="col-12">
                            <div class="">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-danger">لطفا چنانچه پیشنهاد یا انتقادی دارید در این قسمت مرقوم فرمایید</span>
                                    <br />
                                </div>
                                <textarea class="form-control" rows="6" aria-label="With textarea" asp-for="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <br /><br />
                            <button type="button" onclick="EmployeeSurvey();" class="btn btn-success waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="glyphicon glyphicon-check "></i>
                                </span>ثبت
                            </button>
                            <div class="form-group">
                                <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                            </div>
                        </div>
                    </form>
                    }
                    else
                    {
                        <div class="alert alert-warning"><span>کارمندی یافت نشد !</span></div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {

            $("#employeeSurvey_div").load("/Admin/EmployeeSurvey/ViewEmployeeSurvey");
        });
    </script>
}