﻿@model DomainClasses.Product.Color

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<link href="~/AdminContent/bootstrap-colorpicker/jquery.minicolors.css" rel="stylesheet" />
<script src="~/AdminContent/bootstrap-colorpicker/jquery.minicolors.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="colorFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorTitle" class="control-label"></label>
                <input asp-for="ColorTitle" class="form-control TextRequired" />
                <span asp-validation-for="ColorTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorCode" class="control-label"></label>
                <input asp-for="ColorCode" class="form-control demo TextRequired" type="text" data-control="saturation" value="#0088cc" />
                <span asp-validation-for="ColorCode" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertColor();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        $('.demo').each(function () {
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
    });
</script>

