﻿@model IEnumerable<DomainClasses.Product.Color>

@{
    ViewData["Title"] = "ViewAll";
    Layout = null;
}


<table id="color_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorCode)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="color_@item.Color_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.ColorTitle)
                </td>
                <td style="color:white;background-color:@item.ColorCode" title="@item.ColorCode">
                    @Html.DisplayFor(modelItem => item.ColorCode)
                </td>
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditColor(@item.Color_ID);"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteColor(@item.Color_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
