﻿@model DomainClasses.BasicInformation.OfficeUnit
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="OfficeUnitFrm">
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficeUnitTitle" class="control-label"></label>
                    <input asp-for="OfficeUnitTitle" class="form-control TextRequired" />
                    <span asp-validation-for="OfficeUnitTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficeUnitTasks" class="control-label"></label>
                    <textarea asp-for="OfficeUnitTasks" class="form-control TextRequired" rows="6"></textarea>
                    <span asp-validation-for="OfficeUnitTasks" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficeUnitResponsibility" class="control-label"></label>
                    <textarea asp-for="OfficeUnitResponsibility" class="form-control TextRequired" rows="6"></textarea>
                    <span asp-validation-for="OfficeUnitResponsibility" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertOfficeUnit();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />