﻿@model IEnumerable<DomainClasses.BasicInformation.OfficeUnit>


<table class="table table-bordered table-hover table-striped" id="officeUnit_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficeUnitTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeUnitTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeUnitResponsibility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="ofUnit_@item.OfficeUnitID">
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeUnitTitle)
                </td>
                <td>
                    @if (item.OfficeUnitTasks != null&&item.OfficeUnitTasks.Length > 60)
                    {
                        <span title="@item.OfficeUnitTasks">@item.OfficeUnitTasks.Substring(0, 60) ...</span>
                    }
                    else
                    {
                        @item.OfficeUnitTasks
                    }
                </td>
                <td>
                    @if (item.OfficeUnitResponsibility!=null && item.OfficeUnitResponsibility.Length > 60)
                    {
                        <span title="@item.OfficeUnitResponsibility">@item.OfficeUnitResponsibility.Substring(0, 60) ...</span>
                    }
                    else
                    {
                        @item.OfficeUnitResponsibility
                    }
                </td>

                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditOfficeUnit(@item.OfficeUnitID);"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteOfficeUnit(@item.OfficeUnitID);"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>