﻿@model DomainClasses.Connection.ConnectionGroup

@{
    ViewData["Title"] = "CreateGroup";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGroup" id="cnGroupFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectionGroupTitle" class="control-label"></label>
                <input asp-for="ConnectionGroupTitle" class="form-control" />
                <span asp-validation-for="ConnectionGroupTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActive_cg" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group pull-left">
                <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden" />
                <input type="button" value="ثبت" class="btn btn-success" onclick="InsertConnectionGroup();" />
            </div>
        </form>
    </div>
</div>



@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

