﻿@model DomainClasses.Connection.Connection

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="connectionFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">


                <div class="col-md-6">
                    <label asp-for="ConnectionName" class="control-label"></label>
                    <input asp-for="ConnectionName" class="form-control TextRequired" />
                    <span asp-validation-for="ConnectionName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConnectionValue" class="control-label"></label>
                    <input asp-for="ConnectionValue" class="form-control TextRequired" />
                    <span asp-validation-for="ConnectionValue" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CType" class="control-label"></label>
                    <select id="type_ddl" class="form-control">
                        <option value="0">نقشه</option>
                        <option value="1">متنی</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label asp-for="CImage" class="control-label"></label>
                    <select id="image_ddl" class="form-control">
                        <option value="fa fa-map-marker-alt">نقشه</option>
                        <option value="fa fa-mobile-alt">تلفن همراه</option>
                        <option value="fa fa-envelope">ایمیل</option>
                        <option value="fa fa-phone">تلفن ثابت</option>
                        <option value="fa fa-map-marker-alt">آدرس</option>

                    </select>
                    <br /><br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertConnection();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
