﻿@model DomainClasses.Connection.Connection

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="connectionFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Connection_ID" id="Connection_ID" />
            <input type="hidden" asp-for="ConnectionGroupId" id="ConnectionGroupId" />
            <div class="form-group">


                <div class="col-md-6">
                    <label asp-for="ConnectionName" class="control-label"></label>
                    <input asp-for="ConnectionName" class="form-control TextRequired" />
                    <span asp-validation-for="ConnectionName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConnectionValue" class="control-label"></label>
                    <input asp-for="ConnectionValue" class="form-control TextRequired" />
                    <span asp-validation-for="ConnectionValue" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CType" class="control-label"></label>
                    <select id="type_ddl" class="form-control" asp-items="@ViewBag.cnType">
                        @*<option value="0">نقشه</option>
                <option value="1">متنی</option>*@
                    </select>
                </div>
                <div class="col-md-6">
                    <label asp-for="CImage" class="control-label"></label>
                    <select id="image_ddl" class="form-control" asp-for="CImage">
                        <option value="fa fa-map-marker-alt">نقشه</option>
                        <option value="fa fa-mobile-alt">تلفن همراه</option>
                        <option value="fa fa-envelope">ایمیل</option>
                        <option value="fa fa-phone">تلفن ثابت</option>
                        <option value="fa fa-map-marker-alt">آدرس</option>

                    </select>
                    <br /><br />
                </div>
            </div>
          
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateConnection();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
