﻿
@{
    ViewData["Title"] = "مدیریت راه های ارتباطی";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @*<li class="active"><a href="#connectionGroup" data-toggle="tab">گروه راه های ارتباطی</a></li>*@
                    <li class="active"><a href="#connection" data-toggle="tab">راه های ارتباطی</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane hidden" id="connectionGroup">
                      
                        <div class="box-header">
                            <a onclick="openModalForAddConnectionGroup()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه جدید </a>
                        </div>
                         
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست گروه راه های ارتباطی</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            این بخش برای ثبت گروه راه های ارتباطی سایت تعریف شده است.
                                            راه های ارتباطی سایت شامل نقشه , ایمیل , تلفن همراه و... می باشد
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane active" id="connection">
                       
                        <div class="box-header">
                            <a onclick="openModalForAddConnection()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن راه ارتباطی </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست راه های ارتباطی ها بر اساس گروه</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="connectionsGroup_ddl" class="form-control select2" onchange="GetAllConnectionByGroupId($(this).val())"></select>
                                </div>
                                <div class="col-md-4">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این قسمت شما می توانید برای سایت خود راه های ارتباطی
                                                مختلفی که لازم است را تعریف و در سایت نمایش بدهید
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllConnection">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />



@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
            GetAllConnectionByGroupId(1);
            GetAllConnectionGroups("fa-IR", "#connectionsGroup_ddl");
        });
    </script>
}

