﻿@model DomainClasses.Connection.Map
@{
    ViewBag.Title = "نقشه سایت";
}
<link rel="stylesheet" crossorigin=""
      href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""></script>
<link href="~/css/leaflet-example.css" rel="stylesheet" />


<div id="mydiv">
    <div id="weathermap">
        <div id="map"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" id="mapFrm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ID" type="hidden" />
                <div class="form-group">
                    <div class="col-md-4">
                        <br /><br />
                        <label class="control-label"> نقشه برای </label>
                        <select class="form-control TextRequired" asp-for="Type" onchange="GetLocationStatus($(this).val())">
                            <option value="1">اطلاعات تماس</option>
                            <option value="2">اطلاعات تماس واحد فروش</option>
                            <option value="3">اطلاعات واحد خرید</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <br /><br />
                        <label class="control-label"> عرض جغرافیایی</label>
                        <input asp-for="Latitude" class="form-control TextRequired" />
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                        <span id="lblLat" class="hidden">@(Model.Latitude != null ? Model.Latitude : null)</span>
                    </div>
                    <div class="col-md-4">
                        <br /><br />
                        <label class="control-label">ارتفاع جغرافیایی</label>
                        <input asp-for="longitude" class="form-control TextRequired" />
                        <span asp-validation-for="longitude" class="text-danger"></span>
                        <span id="lblLong" class="hidden">@(Model.longitude != null ? Model.longitude : null)</span>
                        <br /><br />
                    </div>

                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="button" onclick="InsertMap();" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-check "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group">
                        <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>




</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/leaflet-example.js"></script>
    <script>
        var lat = $("#lblLat").text(), lon = $("#lblLong").text();
        $(function () {
  
            var theMarker = {};


            
            map.on('click', function (e) {
                lat = e.latlng.lat;
                lon = e.latlng.lng;

                //console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
                //Clear existing marker,

                if (theMarker != undefined) {
                    map.removeLayer(theMarker);
                };

                //Add a marker to show where you clicked.
                theMarker = L.marker([lat, lon]).addTo(map)
                    .bindPopup('Mark')
                    .openPopup();

                $("#Latitude").val(lat);
                $("#longitude").val(lon);
            });


        });
    </script>
}