﻿@*@model IEnumerable<DomainClasses.Connection.ConnectionGroup>


<table id="connetionGroup_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionGroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="cg_@item.ConnectionGroup_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectionGroupTitle)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForEditConnectionGroup(@item.ConnectionGroup_ID);">     ویرایش   </a></li>

                            <li><a class="fa fa-fw fa-trash fontaweColor" onclick="DeleteConnectionGroup(@item.ConnectionGroup_ID);">     حذف   </a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>*@
