﻿@model IEnumerable<DomainClasses.Connection.Connection>


<table id="connetion_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CImage)
            </th>

            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="connection_@item.Connection_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectionName)
                </td>
                <td>
                    @if (item.ConnectionValue.Length > 50)
                    {
                        @item.ConnectionValue.Substring(0, 50)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ConnectionValue);
                    }
                </td>
                @if (item.CType == true)
                {
                    <td>متن</td>
                }
                else
                {
                    <td>نقشه</td>
                }
                <td>
                    <i class="@item.CImage"></i>
                </td>
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditConnection(@item.Connection_ID);"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteConnection(@item.Connection_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
