﻿@{
    ViewData["Title"] = "وام";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <a onclick="openModalForAddLoan()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>درخواست وام</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <h3 class="box-title">لیست وام های درخواستی</h3>

                    <div class="pull-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>این بخش جهت مشاهده درخواست های وام کارمندان می باشد</span>
                        </a>
                    </div>
                </div>
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            ViewAllLoans();
        });
    </script>
}