﻿@model IEnumerable<DomainClasses.Employees.Loan>
@{
    int r = 0;
}
<div class="table-responsive">
    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.loanType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.loanReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
                <th>
                    مافوق
                </th>
                <th>
                    مدیر
                </th>
                <th>
                    م.م.انسانی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                r++;
                <tr>
                    <td>@r</td>
                    <td>
                        @item.CreateDate.ToShamsiFullDateTime()
                    </td>
                    <td>
                        @switch (item.loanType)
                        {
                            case 0:
                                {<span>عادی</span>break;
                                }
                            case 1:
                                {<span>اضطراری</span>break;
                                }
                            case 2:
                                {<span>مسافرت</span>break;
                                }
                            case 3:
                                {<span>دندان پزشکی</span>break;
                                }
                        }
                    </td>
                    <td>
                        @switch (item.loanReason)
                        {
                            case 0:
                                {<span>سایر</span>break;
                                }
                            case 1:
                                {<span>ازدواج</span>break;
                                }
                            case 2:
                                {<span>بیماری</span>break;
                                }
                            case 3:
                                {<span>فوت بستگان</span>break;
                                }
                        }
                    </td>
                    <td>
                        @item.amount
                    </td>
                    <td>
                        @if (item.StatusSuperiorSignature == null)
                        {
                            <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                        }
                        else if (item.StatusSuperiorSignature == true)
                        {
                            <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                        }
                        else if (item.StatusSuperiorSignature == false)
                        {
                            <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                        }
                        @if (@item.Employee_lo_3 != null && item.StatusSuperiorSignature != null)
                        {
                            <p>@item.Employee_lo_3.ApplicationUser.FullName</p>
                            @if (item.SuperiorDateTime != null)
                            {<p class="date">@item.SuperiorDateTime.Value.ToShamsiFullDateTime()</p>}
                        }
                        else if (@item.Employee_lo_4 != null && item.StatusManagerSignature != null)
                        {
                            <span>@item.Employee_lo_4.ApplicationUser.FullName</span>
                        }
                    </td>

                    <td>
                        @if (item.StatusManagerSignature == null)
                        {
                            <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                        }
                        else if (item.StatusManagerSignature == true)
                        {
                            <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                        }
                        else if (item.StatusManagerSignature == false)
                        {
                            <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                        }
                        @if (@item.Employee_lo_4 != null && item.StatusManagerSignature != null)
                        {
                            <p>@item.Employee_lo_4.ApplicationUser.FullName</p>
                            @if (item.ManagerDateTime != null)
                            {<p class="date">@item.ManagerDateTime.Value.ToShamsiFullDateTime()</p>}
                        }
                        else if (@item.Employee_lo_3 != null && item.StatusSuperiorSignature != null)
                        {
                            <span>@item.Employee_lo_3.ApplicationUser.FullName</span>
                        }
                    </td>

                    <td>
                        @if (item.StatusHRManagerSignature == null)
                        {
                            <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                        }
                        else if (item.StatusHRManagerSignature == true)
                        {
                            <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                        }
                        else if (item.StatusHRManagerSignature == false)
                        {
                            <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                        }
                        @if (@item.Employee_lo_5 != null)
                        {
                            <p>@item.Employee_lo_5.ApplicationUser.FullName</p>
                            @if (item.HRManagerDateTime != null)
                            {<p class="date">@item.HRManagerDateTime.Value.ToShamsiFullDateTime()</p>}
                        }
                    </td>
                    @*@if (item.StatusSuperiorSignature != null)
                {
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" disabled="disabled"><i class="fa fa-edit"></i></button>
                    </td>
                }
                else
                {*@
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditLoan(@item.loanID);"><i class="fa fa-edit"></i></button>
                        @if (item.Employee_lo_1.SupervisionLevel == 1 && item.PersonalCode_superior == null)
                        {
                            <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteLoan(@item.loanID);"> <i class="fa fa-trash"></i> </button>
                        }
                        else if (item.Employee_lo_1.SupervisionLevel == 3 && item.PersonalCode_superior == null)
                        {
                            <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteLoan(@item.loanID);"> <i class="fa fa-trash"></i> </button>
                        }
                        else if (item.Employee_lo_1.SupervisionLevel == 2 && item.PersonalCode_manager == null)
                        {
                            <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteLoan(@item.loanID);"> <i class="fa fa-trash"></i> </button>
                        }
                    </td>
                    @*}*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>