﻿@model List<AVFGroup>
@{
    ViewData["Title"] =(CultureInfo.CurrentCulture.Name == "fa-IR" ? " ویدئوهای شرکت آلیاژگستر هامون" : "Halyco Video ");
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو ویدئو های شرکت آلیاژگستر" : "Halyco Video Archive")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product gallery">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 product-box">
                    <a asp-action="ShowVideos" asp-route-id="@item.AVFGroup_ID">
                        <div class="product-img">
                            <img src="~/Files/FileManage/AVFGroupImage/@item.AVFGroupImage" alt="@item.AVFGroupTitle" asp-append-version="true">
                        </div>
                        <div class="product-title">
                            <p>@item.AVFGroupTitle</p>
                        </div>
                        <div class="product-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
                    </a>
                </div>
            }
           
        </div>
    </div>
</div>