﻿@model IEnumerable<DomainClasses.AVF.AVF>

@{
    string title = "";
    if (Model.Any())
    {
        title = "ویدئوهای " + Model.FirstOrDefault().AVFGroup.AVFGroupTitle;
    }
    else
    {
        title = "ویدئوهای شرکت آلیاژ گستر هامون";
    }
    ViewData["Title"] = title;
}
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/videos.css">
<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Video" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو ویدئو های شرکت آلیاژگستر" : "Halyco Video Archive")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@title</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 videos padding">
            <div class="col-xl-7 col-12 padding" id="ShowVideo_div">
            </div>
            <div class="col-xl-5 col-12 padding">
                <div class="grid newest">
                    @foreach (var item in Model.Take(4))
                    {
                        <div class="col-xl-6 col-lg-3 col-sm-6 col-12 v">
                            <figure class="effect-steve">
                                <img src="~/Files/FileManage/Image/Thumb/@item.VideoImage" alt="@item.AVFTitle" class="img-responsive" asp-append-version="true"/>
                                <figcaption>
                                    <div class="filmText">
                                        <div class="col-12 title">
                                            @item.AVFTitle
                                            <div class="col-12 date"><i class="glyphicon glyphicon-calendar"></i>@item.CreateDate.ToLongShamsi()</div>
                                        </div>
                                    </div>
                                    <p><i class="fa fa-play-circle fa-4x"></i></p>
                                    <a href="#"  class="c"  data-Type="@item.FileOrLink" data-code="@item.FileNameOrLink">مشاهده فیلم</a>
                                </figcaption>
                            </figure>
                        </div>
                    }

                </div>
            </div>
            <div class="col-12 grid padding">
                @foreach (var itemK in Model.Skip(4))
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <figure class="effect-steve">
                            <img src="~/Files/FileManage/Image/Thumb/@itemK.VideoImage" alt="@itemK.AVFTitle" class="img-responsive" />
                            <figcaption>
                                <div class="filmText">
                                    <div class="col-12 title">
                                        @itemK.AVFTitle
                                        <div class="col-12 date"><i class="glyphicon glyphicon-calendar"></i>@itemK.CreateDate.ToLongShamsi()</div>
                                    </div>
                                </div>
                                <p><i class="fa fa-play-circle fa-4x"></i></p>
                                <a href="#" class="c" data-Type="@itemK.FileOrLink" data-code="@itemK.FileNameOrLink">مشاهده فیلم</a>
                            </figcaption>
                        </figure>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>
   // debugger;
    var firstVideo = $('.v').first().children().children();
    //var x = firstVideo.children('.c').attr('data-code');
    //console.log(firstVideo.children('.c').attr('data-Type'));
    //console.log(x);
    if (firstVideo.children('.c').attr('data-Type') == 'True') {
        $('#ShowVideo_div').html('<video src="/Files/FileManage/' + firstVideo.children('.c').attr('data-code')+'" controls="controls" style="height:351px;width:617px"></video>')
    } else {
        $('#ShowVideo_div').html(firstVideo.children('.c').attr('data-code'));
    }

    $('.c').click(function () {
        if ($(this).attr('data-Type') == 'True') {
            $('#ShowVideo_div').html('<video src="/Files/FileManage/' + $(this).attr('data-code') + '" controls="controls" style="height:351px;width:617px"></video>')
        } else {
            $('#ShowVideo_div').html($(this).attr('data-code'));
        }
    })
</script>