﻿@model DomainClasses.SlideShow.SlideShow

@{
    ViewData["Title"] = "CreateSlideShow";
    Layout = null;
}
<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateSlideShow" id="sliderFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="SSGId" class="control-label">گروه اسلایدشو</label>
            <select asp-for="SSGId" id="SSGId" class="form-control"></select>
            <span asp-validation-for="SSGId" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="SSTitle" class="control-label"></label><span id="cntSSTitle" class="text-red"> 100 </span>
                <input asp-for="SSTitle" class="form-control" onkeyup="ValueTextBoxCounter(this, $(this),$('#cntSSTitle'),100)" />
                <span asp-validation-for="SSTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSText" class="control-label"></label><span id="cntSSText" class="text-red"> 100 </span>
                <textarea rows="6" asp-for="SSText" id="SSText" class="form-control" onkeyup="ValueTextBoxCounter(this, $(this),$('#cntSSText'),100)"></textarea>
                <span asp-validation-for="SSText" id="SSText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                    <label asp-for="SSPic" class="control-label "></label>
                    <input asp-for="SSPic" type="file" id="imgSlideShowUploader" class="form-control TextRequired" />
                    <span asp-validation-for="SSPic" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <img id="imgPerviewSlideShow" width="120" height="120" />
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" type="checkbox" id="isActiveSlideShow" checked /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <span class="required">
                        عکس آپلودی برای اسلایدشو سایت شما
                        باید در اندازه <label class="required">( 540 * 1360 )</label> باشد .
                    </span>
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="AddSlideShow();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        //GetAllSlideShowGroupByLang($("#language_ddl").val());


        function readURL(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPerviewSlideShow').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgSlideShowUploader").change(function () {
            readURL(this);
        });
    });


    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });


</script>
