﻿@model DomainClasses.SlideShow.SlideShowGroup

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="sgFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SlideShowGroupID" id="SlideShowGroupID" />
            <div class="form-group">
                <label asp-for="SSGName" class="control-label required"></label>
                <input asp-for="SSGName" class="form-control" />
                <span asp-validation-for="SSGName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" id="IsActiveSsgEdit" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden" />
                @*<input type="button" value="ویرایش" class="btn btn-info" onclick="UpdateSlideShowGroup();" />*@
                <button type="button" value="ویرایش" class="btn btn-info" onclick="UpdateSlideShowGroup()"> <i class="fa fa-edit "></i>&nbsp;&nbsp;ویرایش</button>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>