﻿
@{
    ViewData["Title"] = "مدیریت اسلایدشو";
}




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="hidden"><a href="#slideShowGroup" data-toggle="tab">گروه اسلایدشو</a></li>
                    <li class="active"><a href="#slideShow" data-toggle="tab">اسلایدشو</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane hidden" id="slideShowGroup">
                        <p>
                            <button type="button" class="btn btn-success btn-flat btnMargin" onclick="openModalForAddSlideShowGroup();">><i class="fa fa-plus"></i>&nbsp;&nbsp;افزودن گروه اسلایدشو</button>
                        </p>

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست گروه اسلایدشو</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            اسلایدشو سایت ممکن است دارای گروه بندی های مختلفی باشد
                                            شما می توانید در این قسمت گروه را تعریف و در تب بعدی
                                            اسلایدشو ها را به گروه تخصیص بدهید.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane active" id="slideShow">
                        <div class="box-header">
                                <button type="button" class="btn btn-success btnMargin" onclick="openModalForAddSlideShow();"><i class="fa fa-plus">&nbsp;&nbsp;</i>افزودن اسلایدشو</button>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست اسلایدشو بر اساس گروه</h3>
                                </div>
                                <div class="col-md-3">
                                    <select id="slideShowGroup_ddl" class="form-control select2" onchange="GetAllSlideShowByGroupId($(this).val())">
                                        <option>انتخاب کنید ...</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید برای گروه های تعریف شده اسلایدشو های سایت خود را
                                                تعریف کنید و درصورت فعال بودن وضعیت اسلایدشو , در سایت نمایش داده شود.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllSlideShow">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">خروج</button>
                    <button type="button" class="btn btn-primary">ذخیره</button>
                </div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->


@section Scripts{
    

    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
            //GetAllSlideShowGroupByLang($("#language_ddl").val());
            //GetAllSlideShowByGroupId($('#slideShowGroup_ddl').val());
        });

       
    </script>
}