﻿@model IEnumerable<DomainClasses.SlideShow.SlideShow>

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<span class="pull-left">
    <button type="button" class="btn btn-danger  btnMargin" onclick="checkboxSelectedForSlider();"><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف اسلایدشو</button>
</span>
<table class="table table-bordered table-hover table-striped" id="slideShow_tb">
    <thead>
        <tr>
            <th class="col-sm-1">
                <input type="checkbox" id="checkAllSlider" />
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.SSPic)
            </th>
            <th class="col-sm-4 text-right">
                @Html.DisplayNameFor(model => model.SSTitle)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th >عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="ss_@item.SlideShowID">
                <td class="col-sm-1">
                    <input type="checkbox" class="forRemove" value="@item.SlideShowID" />
                </td>
                <td class="col-sm-2">
                    <img width="90" height="90" src="~/Files/SlideShow/@item.SSPic" />
                </td>
                <td class="col-sm-4 text-right">
                    @Html.DisplayFor(modelItem => item.SSTitle)
                </td>


                @if (item.IsActive)
                {
                    <td class="col-sm-1">
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td class="col-sm-1">
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }

                <td class="hidden">
                    @if (item.Link != null && item.Link.Length > 25)
                    {
                        <a href="" title="@item.Link"> ...@item.Link.Substring(0, 25)</a>
                    }
                    else
                    {
                        <a href="" title="@item.Link">@item.Link</a>
                    }
                </td>
                <td class="col-sm-8 text-left">
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditSlideShow('@item.SlideShowID');" title="ویرایش"> <i class="fa fa-edit"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/js/AdminDataTable.js"></script>

<script>

    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {




        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });

    $('input[id=checkAllSlider]').on('ifChecked', function (event) {
        $('.icheckbox_square-blue').addClass('checked');
    });
    $('input[id=checkAllSlider]').on('ifUnchecked', function (event) {
        $('.icheckbox_square-blue').removeClass('checked');
    });
    //

</script>
