﻿@model FactorDetails

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FactorDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalPrice" class="control-label"></label>
                <input asp-for="FinalPrice" class="form-control" />
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garanty_Id" class="control-label"></label>
                <select asp-for="Garanty_Id" class ="form-control" asp-items="ViewBag.Garanty_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductInfo_Id" class="control-label"></label>
                <select asp-for="ProductInfo_Id" class ="form-control" asp-items="ViewBag.ProductInfo_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Factor_Id" class="control-label"></label>
                <select asp-for="Factor_Id" class ="form-control" asp-items="ViewBag.Factor_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
