﻿@model FactorDetails

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FactorDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Garanty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Garanty.GarantyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductInfo.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factor.Factor_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FactorDetails_Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
