﻿@model FactorDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FactorDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Garanty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Garanty.GarantyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductInfo.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factor.Factor_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FactorDetails_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
