﻿@model IEnumerable<FactorDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garanty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garanty.GarantyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factor.Factor_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FactorDetails_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FactorDetails_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FactorDetails_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
