﻿@model DomainClasses.Employees.Mission

@{
    ViewData["Title"] = "ماموریت جدید";
}

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Create" id="mission_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@DateTime.Now.ToShamsi()</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">نوع ماموریت: </label>
                        <span>
                            <select asp-for="type" class="form-control"  onchange="changeMissionType($(this).val());">
                                <option value="true">روزانه</option>
                                <option value="false">ساعتی</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <label asp-for="MissionSubject" class="control-label "></label>
                        <input asp-for="MissionSubject" class="form-control TextRequired" />
                        <span asp-validation-for="MissionSubject" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                        <label asp-for="MissionStart" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="MissionStart" class="form-control TextRequired" />
                            <input type="text" id="tarikhAlt1" class="form-control   hidden pull-right TextRequired">
                        </div>
                        <span asp-validation-for="MissionStart" id="MissionStart_val" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 ">
                        <label asp-for="MissionEnd" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="MissionEnd" class="form-control TextRequired" />
                            <input type="text" id="tarikhAlt2" class="form-control   hidden pull-right TextRequired">
                        </div>
                        <span asp-validation-for="MissionEnd" id="MissionEnd_val" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="Destination" class="control-label "></label>
                        <input asp-for="Destination" class="form-control TextRequired">
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="MissionType" class="control-label "></label>
                        <select asp-for="MissionType" class="form-control">
                            <option value="1">داخل شهری</option>
                            <option value="2">داخل کشور</option>
                            <option value="3">خارج کشور</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="timeDiv">
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="StartTime" class="form-control TextRequired" />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="EndTime" class="form-control TextRequired" />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="Reason" class="control-label "></label>
                        <textarea rows="6" asp-for="Reason" class="form-control TextRequired"></textarea>
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Followers" class="control-label "></label>
                        <textarea rows="6" asp-for="Followers" class="form-control"></textarea>
                        <span asp-validation-for="Followers" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group  text-center">
                    <div class="col-sm-12">
                        <br />
                        <button type="button" onclick="AddMission2();" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>
                        <div class="form-group">
                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg " display:inline; style="width:90%;overflow:scroll">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#MissionStart').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });


        $('#MissionEnd').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            initialValue: false
        });
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
        onlyTimePicker: true,
        autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    });

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
        onlyTimePicker: true,
        autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    });

    changeMissionType($('#type').val());
    function changeMissionType(misstiontype) {
        debugger;
        if (misstiontype == "false") {
            $('#timeDiv').removeClass('hidden');
        } else {
            $('#timeDiv').addClass('hidden');
        }
    }
</script>



<partial name="_ValidationScriptsPartial" />



