﻿@model ViewModels.MissionSuperiorViewModel
@{
    ViewData["Title"] = "ویرایش ماموریت";
}

<style>
    .clockpicker-popover {
        z-index: 4000;
    }

    .d-flex {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Create" id="mission_frmEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.mission.Mission_ID" />
                <input type="hidden" asp-for="@Model.mission.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@Model.mission.CreateDate.ToShamsi()</span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">نوع ماموریت: </label>
                        <span>
                            <select asp-for="@Model.mission.type" class="form-control" onchange="changeMissionType($(this).val());">
                                <option value="true">روزانه</option>
                                <option value="false">ساعتی</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <label asp-for="@Model.mission.MissionSubject" class="control-label "></label>
                        <input asp-for="@Model.mission.MissionSubject" class="form-control TextRequired" />
                        <span asp-validation-for="@Model.mission.MissionSubject" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.MissionStart" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="@Model.mission.MissionStart" id="MissionStart" class="form-control TextRequired" />
                            <input type="text" asp-for="@Model.mission.MissionStart" id="tarikhAlt1" class="form-control   hidden pull-right TextRequired">
                        </div>
                        <span asp-validation-for="@Model.mission.MissionStart" id="MissionStart_val" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.MissionEnd" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="@Model.mission.MissionEnd" id="MissionEnd" class="form-control TextRequired" />
                            <input type="text" asp-for="@Model.mission.MissionEnd" id="tarikhAlt2" class="form-control   hidden pull-right TextRequired">
                        </div>
                        <span asp-validation-for="@Model.mission.MissionEnd" id="MissionEnd_val" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.Destination" class="control-label "></label>
                        <input asp-for="@Model.mission.Destination" class="form-control TextRequired ">
                        <span asp-validation-for="@Model.mission.Destination" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.MissionType" class="control-label "></label>
                        <select asp-for="@Model.mission.MissionType" class="form-control" >
                            <option value="1">داخل شهری</option>
                            <option value="2">داخل کشور</option>
                            <option value="3">خارج کشور</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="timeDiv">
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="StartTime" class="form-control TextRequired" asp-for="@Model.mission.StartTime" />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" asp-for="@Model.mission.StartTime">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="EndTime" class="form-control TextRequired" asp-for="@Model.mission.EndTime" />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" asp-for="@Model.mission.EndTime">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.Reason" class="control-label "></label>
                        <textarea rows="6" asp-for="@Model.mission.Reason" class="form-control TextRequired"></textarea>
                        <span asp-validation-for="@Model.mission.Reason" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.Followers" class="control-label "></label>
                        <textarea rows="6" asp-for="@Model.mission.Followers" class="form-control"></textarea>
                        <span asp-validation-for="@Model.mission.Followers" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="row d-flex py-5 px-5 ">

                    <div class="step status_@Model.mission.FinalStatus"><p>@Model.mission.Employee_M_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.missionSignature.Count(); i++)
                    {
                        string toolTip = "";
                        if (@Model.missionSignature[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.missionSignature[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.missionSignature[i].SignatureReason != null && Model.missionSignature[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.missionSignature[i].SignatureReason;
                        }
                        <div class="step status_@Model.missionSignature[i].SignatureStatus" tooltip="@toolTip"><p>@Model.missionSignature[i].applicationUser.FullName</p></div>
                        if (i < Model.missionSignature.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
                    @*<div class="step " tooltip="1400/09/17 - 12:43 - لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد."><p>امیر حسین کاوه</p></div>
            <i class="arrow fa fa-long-arrow-left"></i>
            <div class="step"><p>سید محمد حسین کاشانچی</p></div>*@

                </div>
                <hr />

                <div class="form-group  text-center">
                    <div class="col-sm-12">
                        <br />
                        @if (ViewBag.firstVSStatus == null)
                        {
                            <button type="button" onclick="UpdateMission2();" class="btn btn-warning waves-effect waves-light">
                                <span class="btn-label">
                                    <i class="glyphicon glyphicon-edit "></i>
                                </span>ثبت تغییرات
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-warning waves-effect waves-light" disabled>
                                <span class="btn-label">
                                    <i class="glyphicon glyphicon-edit "></i>
                                </span>ثبت تغییرات
                            </button>
                        }


                        <div class="form-group">
                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg " display:inline; style="width:90%;overflow:scroll">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#MissionStart').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true//,
           // initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });


        $('#MissionEnd').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true//,
           // initialValue: false
        });
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    });

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
        onlyTimePicker: true,
        autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    } );

    //changeMissionType($('#MissionType').val());

    //function changeMissionType(misstiontype) {
    //        if (misstiontype == 1) {
    //            $('#timeDiv').removeClass('hidden');
    //        } else {
    //            $('#timeDiv').addClass('hidden');
    //        }
    //}

    changeMissionType($('#mission_type').val());
    function changeMissionType(misstiontype) {
        debugger;
        if (misstiontype=="false") {
            $('#timeDiv').removeClass('hidden');
        } else {
            $('#timeDiv').addClass('hidden');
        }
    }
</script>



<partial name="_ValidationScriptsPartial" />



