﻿@{
    ViewData["Title"] = "ماموریت";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <a onclick="openModalForAddMission2()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>درخواست ماموریت</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <h3 class="box-title">لیست ماموریت ها</h3>

                    <div class="pull-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>این بخش جهت مشاهده درخواست های ماموریت کارمندان می باشد</span>
                        </a>
                    </div>
                </div>
                @*<div class="box-body" id="viewAll">

                    </div>*@
                <div class="table-responsive">
                    <form method="post">
                        <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>
                                        تاریخ ایجاد
                                    </th>
                                    <th>زمان شروع</th>
                                    <th>زمان پایان</th>
                                    <th>
                                        موضوع ماموریت
                                    </th>
                                    <th>نوع ماموریت</th>
                                    <th>وضعیت</th>
                                    <th></th>
                                </tr>
                            </thead>

                        </table>
                    </form>
                </div>
                <div class="text-left">
                    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            ViewAllMissions2();
        });
    </script>
}