﻿@model IEnumerable<DomainClasses.Employees.Mission>
@using Utilities
@{int row = 0;
    string FinalStatus = "";
}
<div class="table-responsive">
    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>زمان شروع</th>
                <th>زمان پایان</th>
                <th>
                    @Html.DisplayNameFor(model => model.MissionSubject)
                </th>
                <th>وضعیت</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                row++;
                if (item.FinalStatus == null)
                {
                    FinalStatus = "نا مشخص";
                }
                else if (item.FinalStatus == true)
                {
                    FinalStatus = "تایید شده";
                }
                else
                {
                    FinalStatus = "تایید نشده";
                }
            <tr>
                <td>@row</td>
                <td>
                    @item.CreateDate.ToShamsiFullDateTime()
                </td>

                <td>
                    @item.MissionStart.ToShortPersian2()<br />
                    @(item.StartTime != null ? @item.StartTime : "")
                </td>
                <td>
                    @item.MissionEnd.ToShortPersian2()<br />
                    @(item.EndTime != null ? @item.EndTime : "")
                </td>
                <td>
                    @item.MissionSubject
                </td>
                <td><span class="p-2 status_@item.FinalStatus">@FinalStatus</span></td>
                <td>
                    <button type="button" class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditMission2(@item.Mission_ID);"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteMission2(@item.Mission_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>