﻿@model ViewModels.HalycoViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{

    Dictionary<int, string> staticPage_dic = Model.staticPage_dic;
}

<div class="col-12 header-bottom" style="padding-right: 0;padding-left: 0;width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="language d-lg-none">
            <li>
                <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search"></i></a>
            </li>
            <li>
                <a href="/Admin/Language/ChangeLanguage?culture=fa-IR" class="nav-link"><img src="~/SiteContent/images/iran.jpg" alt="زبان فارسی" asp-append-version="true"></a>
            </li>
            <li>
                <a href="/Admin/Language/ChangeLanguage?culture=en-US" class="nav-link"><img src="~/SiteContent/images/english.jpg" alt="english" asp-append-version="true"></a>
            </li>
        </ul>
        <div class="header-logo d-lg-none">
            @if (CultureInfo.CurrentCulture.Name == "fa-IR")
            {
                <a href="/"><img src="~/SiteContent/images/logo-halyco1.png" alt="لوگو شرکت آلیاژگستر هامون" asp-append-version="true"></a>
            }
            else
            {
                <a href="/"><img src="~/SiteContent/images/logo-halyco1-en.png" alt="Halyco Logo" asp-append-version="true"></a>
            }
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if (CultureInfo.CurrentCulture.Name == "fa-IR")
            {
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fa fa-home fa-3x"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">درباره ما</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-2]">معرفی کلی و تاریخچه شرکت</a></li>
                            <li class="dropdown-item"><a asp-controller="HalycoManager" asp-action="Manager">معرفی هیئت مدیره</a></li>
                            <li class="dropdown-item"><a asp-controller="HalycoManager" asp-action="ExecutiveManager">معرفی مدیران اجرایی</a></li>
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-6]">نقشه استراتژی</a></li>
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-13]">گواهینامه ها و افتخارات</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">واحد فروش</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-10]">رویه فروش محصولات</a></li>
                            <li class="dropdown-item"><a href="/CustomerSurvey">فرم نظرسنجی مشتریان</a></li>
                            <li class="dropdown-item"><a href="/complaints">فرم ثبت شکایات مشتریان</a></li>
                            <li class="dropdown-item" style="display:none"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-5]">گواهی ارزش افزوده</a></li>
                            <li class="dropdown-item" style="display:none"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-12]">شماره حساب های شرکت</a></li>
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="contactSaleUnit">اطلاعات تماس واحد فروش</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">واحد خرید</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-9]">زمینه های همکاری</a></li>
                            <li class="dropdown-item"><a href="/supplier">فرم ثبت نام تامین کنندگان</a></li>
                            <li class="dropdown-item"><a href="/survey">فرم نظرسنجی تامین کنندگان</a></li>
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="contactBuyUnit">اطلاعات تماس واحد مهندسی خرید</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">چند رسانه ای</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Contents" asp-action="Index">مطالب آموزشی</a></li>
                            <li class="dropdown-item"><a asp-controller="Gallery" asp-action="Index">گالری تصاویر</a></li>
                            <li class="dropdown-item"><a asp-controller="Video" asp-action="Index">گالری ویدئو</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ارتباط با ما</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="Index">اطلاعات تماس</a></li>
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-11]">فرصت های شغلی</a></li>
                            <li class="dropdown-item"><a href="/Employement">فرم درخواست همکاری</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fa fa-home fa-3x"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About us</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-15]">General introduction and history of the company</a></li>
                            <li class="dropdown-item"><a asp-controller="HalycoManager" asp-action="Manager">Introducing the board</a></li>

                            <li class="dropdown-item"><a asp-controller="HalycoManager" asp-action="ExecutiveManager">Introducing Executive Managers</a></li>
                            @*<li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-17]">Map and strategy</a></li>*@
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-22]">Certificates and honors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sales unit</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-19]">Procedure for selling products</a></li>
                            @*<li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-16]">Value Added Certificate</a></li>
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-21]">Company account number</a></li>*@
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="contactSaleUnit">Contact Sales Unit</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">buying unit</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-18]">Cooperation fields</a></li>
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="contactBuyUnit">Purchase Engineering Unit Contact</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="Contents" asp-action="Index">Educational Content</a></li>
                            <li class="dropdown-item"><a asp-controller="Gallery" asp-action="Index">Photo Gallery</a></li>
                            <li class="dropdown-item"><a asp-controller="Video" asp-action="Index">Video gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">contact us</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a asp-controller="ContactUs" asp-action="Index">Contacts</a></li>
                            @*<li class="dropdown-item"><a href="zen-form-assist.html">Application Form</a></li>
                            <li class="dropdown-item"><a asp-controller="Home" asp-action="StaticPage" asp-route-id="@staticPage_dic[-20]">Career Opportunities</a></li>*@
                        </ul>
                    </li>
                </ul>
            }
            <ul class="navbar-nav mr-lg-auto ml-3">
                <li class="nav-item language d-none d-lg-block">
                    <a href="/Admin/Language/ChangeLanguage?culture=fa-IR" class="nav-link"><img src="~/SiteContent/images/iran.jpg" alt="زبان فارسی" asp-append-version="true"></a>
                </li>
                <li class="nav-item language d-none d-lg-block">
                    <a href="/Admin/Language/ChangeLanguage?culture=en-US" class="nav-link"><img src="~/SiteContent/images/english.jpg" alt="english" asp-append-version="true"></a>
                </li>
                <li class="nav-item dropdown search d-none d-lg-block">
                    <a class="nav-link" onclick="Search($('#title').val())"><i class="fa fa-search fa-2x"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <form action="/Search" method="post"
                                  enctype="multipart/form-data">
                                @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                                {
                                    <input type="text" name="id" id="title" class="form-control"
                                           placeholder="عبارت مورد نظر خود را جستجو کنید...">
                                }
                                else
                                {
                                    <input type="text" name="id" id="title" class="form-control"
                                           placeholder="Search for your phrase ...">
                                }
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    function Search(id) {
        window.location.href = "/Search/Index/" + id;
    }
</script>