﻿
@{
    ViewData["Title"] = "آپلود فیش حقوقی کارمندان";
}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
               
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">آپلود فیش حقوقی</h3>
                        <!--ToolTipssss-->
                        <div class="pull-left">

                            <a class="tip fa fa-fw fa-question">
                                <span>
                                   ....
                                </span>
                            </a>

                        </div>
                    </div>
                    <!--ToolTipssss-->
                    <!-- /.box-header -->
                    <div class="box-body" id="viewAll">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <input id="SalaryUploader" type="file" class="form-control TextRequired" />
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" onclick="SalaryFileUpload();" class="btn btn-success waves-effect waves-light">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-check "></i>
                                                </span>آپلود
                                            </button>
                                            <div class="form-group">
                                                <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        @*<span class="text-center text-danger hidden" id="statusProgress"></span>
                        <div class="progress hidden" id="prg">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </section>

