﻿@model DomainClasses.Survey.SurvayQuestionGroup


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="surveyQuestionGroupFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="SurveyGroup_ID"/>
            <div class="form-group">
                <label asp-for="MainSurveyId" class="control-label"></label>
                <select asp-for="MainSurveyId" class="form-control TextRequired" asp-items="ViewBag.MainSurvey">
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control TextRequired" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="UpdateSurveyQuestionGroup();" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
