﻿
@{
    ViewData["Title"] = "گروه سوالات نظرسنجی";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddSurveyQuestionGroup()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه سوال نظرسنجی  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <div class="col-md-4">
                        <h3 class="box-title">لیست گروه سوالات نظرسنجی</h3>
                    </div>

                    <div class="col-md-4">
                        <select class="form-control" id="mainSurvey_ddl" onchange="GetAllSurveyQuestionGroup($(this).val())">
                        </select>
                    </div>
                    <!--ToolTipssss-->
                    <div class="col-md-4 text-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>
                                ...
                            </span>
                        </a>
                    </div>

                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{


    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
            GetAllMainSurvey($(mainSurvey_ddl));


        });

    </script>

}



