﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="contentTitle text-center">ویرایش رمز عبور</div>
<div class="col-md-pull-3 col-md-9 col-sm-12 col-xs-12">
    <form class="form-horizontal form-register" method="post" id="Form_Password" autocomplete="off" data-ajax="true">
        <div class="form-group">
            <label asp-for="OldPassword" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input11"> </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="OldPassword"  class="form-control" id="OldPassword"onfocus="ChangeType()"  required title="الزامی است">
                <span asp-validation-for="OldPassword"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input12"></label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="NewPassword"  class="form-control" id="NewPassword" onfocus="ChangeType()" required title="الزامی است">
                <span asp-validation-for="NewPassword"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input13">تکرار رمز عبور: </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" onfocus="ChangeType()" required title="الزامی است">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12 button-style1" style="text-align: center;">
    <button type="button" >انصراف</button>
    <button type="button" id="upload_password" onclick="ChangePassword()">ویرایش</button>
</div>

<script>
    function ChangeType() {
        $("#OldPassword").attr("type", "password");
        $("#NewPassword").attr("type", "password");
        $("#ConfirmPassword").attr("type", "password");
    }
</script>
