﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ShowProductViewModel>

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="tarinCarpet">
            <a href="/Product/ProductDetails/@item.Product_Title.ToSlug()">
                <div class="thumbnail">
                    <img src="~/Files/Products/@item.Product_Image" class="img-responsive" alt="@item.Product_Title">
                    <div class="caption">
                        <span>@item.Product_Title</span>
                        <p class="price">
                           
                                @*<span class="priceCertain"><b>@item.Product_Price</b>تومان</span>*@
                            

                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
}