﻿@model List<ProductInfo>
@{
    ViewData["Title"] = "Archive";
}

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="active">آرشیو فرش </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 padding">
                    <div class="col-md-3 col-sm-4 col-xs-12 advancedSearch  pull-right padd box-filter-xs">
                        <div class="widget-title">
                            <div class="hexa"></div>
                            <h4 class="title-panel mgt-15">فیلتر فرش</h4>
                        </div>
                        <div class="box-filter padd mgt-50">
                            <div class="col-xs-12 search1">
                                <form action="#">
                                    <button type="button" onclick="searchProduct();"><i class="fa fa-search fa-lg"></i></button><input id="pnameCode_txt" type="text" class="form-control" placeholder="کد | نام فرش">
                                </form>
                            </div>
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse1">دسته بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse1">

                                   @await Component.InvokeAsync("ShowAllProductGroup_Search", false);

                                
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse2">رنگ بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 padd collapse in" id="filter-collapse2">
                                    @await Component.InvokeAsync("ShowAllColor_Search", false);
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                @await Component.InvokeAsync("ShowAllFeature_Search", false)

                            </div>
                           
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 product-xs">
                        @foreach (var item in Model)
                        {
                            @Html.Partial("_productInArchive", item);
                        }
                        <div class="clearfix"></div>
                        <nav style="text-align: center;">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

