﻿@model List<ShowProductViewModel>

@{

    if (ViewBag.SeoPage != null)
    {
        ViewData["Title"] = Html.Raw(ViewBag.SeoPage.MetaTitle);
    }
    else
    {
        ViewData["Title"] = (CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("محصولات شرکت آلیاژگستر هامون") : Html.Raw("HalyCo Products"));
    }

}
@section Meta{
    @{
        if (ViewBag.SeoPage != null)
        {
            if (ViewBag.SeoPage.MetaKeyword != null)
            {
                <meta name="keywords" content="@Html.Raw(ViewBag.SeoPage.MetaKeyword)" />
            }
            if (ViewBag.SeoPage.MetaDescription != null)
            {
                <meta name="description" content="@Html.Raw(ViewBag.SeoPage.MetaDescription)" />
            }
        }
    }
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو محصولات شرکت آلیاژگستر هامون" : "HalyCo Products Archive")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 product-box">
                    <a  asp-action="ProductDetails" asp-route-id="@item.Product_Title.ToSlug()">
                        <div class="product-img">
                            <img src="~/Files/Products/Thumb/@item.Product_Image" alt="@item.Product_Title" asp-append-version="true">
                        </div>
                        <div class="product-title">
                            <p>@Html.Raw(item.Product_Title)</p>
                        </div>
                        <div class="product-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
                    </a>
                </div>
            }

        </div>
    </div>
</div>


@section scripts{

    @if (ViewBag.SeoPage != null)
    {
        @Html.Raw(ViewBag.SeoPage.MetaOther);
    }
}