﻿@model List<ProductInfo>

@{
    ViewData["Title"] = "آرشیو محصولات";
}

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="active">آرشیو فرش </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 padding">
                    <div class="col-md-3 col-sm-4 col-xs-12 advancedSearch  pull-right padd box-filter-xs">
                        <div class="widget-title">
                            <div class="hexa"></div>
                            <h4 class="title-panel mgt-15">فیلتر فرش</h4>
                        </div>
                        <div class="box-filter padd mgt-50">
                            <div class="col-xs-12 search1">
                                <form action="#">
                                    <button type="submit"><i class="fa fa-search fa-lg"></i></button><input type="text" class="form-control" placeholder="کد | نام فرش">
                                </form>
                            </div>
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse1">دسته بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse1">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxlistInput1" name="1">
                                            <label for="checkboxlistInput1"></label>
                                        </div>
                                        <label for="checkboxlistInput1">فرش 1000 شانه</label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxlistInput2" name="1">
                                            <label for="checkboxlistInput2"></label>
                                        </div>
                                        <label for="checkboxlistInput2">فرش 700 شانه طرح 1200</label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxlistInput3" name="1">
                                            <label for="checkboxlistInput3"></label>
                                        </div>
                                        <label for="checkboxlistInput3">گلیم</label>
                                    </div>
                                    <div class="moreItem">
                                        <div class="collapse" id="collapseExample">
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxlistInput4" name="1">
                                                    <label for="checkboxlistInput4"></label>
                                                </div>
                                                <label for="checkboxlistInput4">فرش 1000 شانه ده رنگ</label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxlistInput5" name="1">
                                                    <label for="checkboxlistInput5"></label>
                                                </div>
                                                <label for="checkboxlistInput5">گلیم</label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxlistInput6" name="1">
                                                    <label for="checkboxlistInput6"></label>
                                                </div>
                                                <label for="checkboxlistInput6">گلیم</label>
                                            </div>
                                        </div>
                                        <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse2">رنگ بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 padd collapse in" id="filter-collapse2">
                                    <div class="filter">
                                        <div class="checkboxlist checkboxcolor pull-right">
                                            <input type="checkbox" value="1" id="checkboxcolor1" name="1">
                                            <label for="checkboxcolor1" class="blue"></label>
                                        </div>
                                        <label for="checkboxcolor1">آبی</label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist checkboxcolor pull-right">
                                            <input type="checkbox" value="1" id="checkboxcolor2" name="1">
                                            <label for="checkboxcolor2" class="red"></label>
                                        </div>
                                        <label for="checkboxcolor2">قرمز</label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist checkboxcolor pull-right">
                                            <input type="checkbox" value="1" id="checkboxcolor3" name="1">
                                            <label for="checkboxcolor3" class="kerem"></label>
                                        </div>
                                        <label for="checkboxcolor3">کرم</label>
                                    </div>
                                    <div class="moreItem">
                                        <div class="collapse" id="collapseExample1">
                                            <div class="filter">
                                                <div class="checkboxlist checkboxcolor pull-right">
                                                    <input type="checkbox" value="1" id="checkboxcolor4" name="1">
                                                    <label for="checkboxcolor4" class="black"></label>
                                                </div>
                                                <label for="checkboxcolor4">مشکی</label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist checkboxcolor pull-right">
                                                    <input type="checkbox" value="1" id="checkboxcolor5" name="1">
                                                    <label for="checkboxcolor5" class="purple"></label>
                                                </div>
                                                <label for="checkboxcolor5">بنفش</label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist checkboxcolor pull-right">
                                                    <input type="checkbox" value="1" id="checkboxcolor6" name="1">
                                                    <label for="checkboxcolor6" class="runasi"></label>
                                                </div>
                                                <label for="checkboxcolor6">روناسی</label>
                                            </div>
                                        </div>
                                        <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse3">سایز بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse3">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsizeInput1" name="1">
                                            <label for="checkboxsizeInput1"></label>
                                        </div>
                                        <label for="checkboxsizeInput1" class="font-farsi">
                                            2*3
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsizeInput2" name="1">
                                            <label for="checkboxsizeInput2"></label>
                                        </div>
                                        <label for="checkboxsizeInput2" class="font-farsi">
                                            2*3
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsizeInput3" name="1">
                                            <label for="checkboxsizeInput3"></label>
                                        </div>
                                        <label for="checkboxsizeInput1" class="font-farsi">
                                            5*4
                                        </label>
                                    </div>
                                    <div class="moreItem">
                                        <div class="collapse" id="collapseExample2">
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxsizeInput4" name="1">
                                                    <label for="checkboxsizeInput4"></label>
                                                </div>
                                                <label for="checkboxsizeInput4" class="font-farsi">
                                                    6*9
                                                </label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxsizeInput5" name="1">
                                                    <label for="checkboxsizeInput5"></label>
                                                </div>
                                                <label for="checkboxsizeInput5" class="font-farsi">
                                                    5*6
                                                </label>
                                            </div>
                                        </div>
                                        <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse4">سبک<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse4">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsabkInput1" name="1">
                                            <label for="checkboxsabkInput1"></label>
                                        </div>
                                        <label for="checkboxsabkInput1" class="font-farsi">
                                            افشان
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsabkInput2" name="1">
                                            <label for="checkboxsabkInput2"></label>
                                        </div>
                                        <label for="checkboxsabkInput2" class="font-farsi">
                                            ترنج دار
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsabkInput3" name="1">
                                            <label for="checkboxsabkInput3"></label>
                                        </div>
                                        <label for="checkboxsabkInput3" class="font-farsi">
                                            گنبد
                                        </label>
                                    </div>
                                    <div class="moreItem">
                                        <div class="collapse" id="collapseExample3">
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxsabkInput4" name="1">
                                                    <label for="checkboxsabkInput4"></label>
                                                </div>
                                                <label for="checkboxsabkInput4" class="font-farsi">
                                                    ریزماهی
                                                </label>
                                            </div>
                                            <div class="filter">
                                                <div class="checkboxlist pull-right">
                                                    <input type="checkbox" value="1" id="checkboxsabkInput5" name="1">
                                                    <label for="checkboxsabkInput5"></label>
                                                </div>
                                                <label for="checkboxsabkInput5" class="font-farsi">
                                                    فرانسوی
                                                </label>
                                            </div>
                                        </div>
                                        <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse5">کلکسیون بندی<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse5">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxkolexInput1" name="1">
                                            <label for="checkboxkolexInput1"></label>
                                        </div>
                                        <label for="checkboxkolexInput1" class="font-farsi">
                                            افشان
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxkolexInput2" name="1">
                                            <label for="checkboxkolexInput2"></label>
                                        </div>
                                        <label for="checkboxkolexInput2" class="font-farsi">
                                            ترنج دار
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxkolexInput3" name="1">
                                            <label for="checkboxkolexInput3"></label>
                                        </div>
                                        <label for="checkboxkolexInput3" class="font-farsi">
                                            گنبد
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxkolexInput4" name="1">
                                            <label for="checkboxkolexInput4"></label>
                                        </div>
                                        <label for="checkboxkolexInput4" class="font-farsi">
                                            ریزماهی
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxkolexInput5" name="1">
                                            <label for="checkboxkolexInput5"></label>
                                        </div>
                                        <label for="checkboxkolexInput5" class="font-farsi">
                                            فرانسوی
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr class="hr-comment">
                            <div class="box-det-filter">
                                <h5 data-toggle="collapse" data-target="#filter-collapse6">شکل بندی فرش<span class="fa fa-chevron-down pull-left"></span></h5>
                                <div class="col-xs-12 collapse in" id="filter-collapse6">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsheklInput1" name="1">
                                            <label for="checkboxsheklInput1"></label>
                                        </div>
                                        <label for="checkboxsheklInput1" class="font-farsi">
                                            مستطیل
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsheklInput2" name="1">
                                            <label for="checkboxsheklInput2"></label>
                                        </div>
                                        <label for="checkboxsheklInput2" class="font-farsi">
                                            دایره
                                        </label>
                                    </div>
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="1" id="checkboxsheklInput3" name="1">
                                            <label for="checkboxsheklInput3"></label>
                                        </div>
                                        <label for="checkboxsheklInput3" class="font-farsi">
                                            بیضی
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 product-xs">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="tarinCarpet">
                                    <a href="/Product/ProductDetails/@item.Slug">
                                        <div class="thumbnail">
                                            <img src="~/Files/Products/@item.MainProduct.ProductImage" class="img-responsive" alt="@item.ProductTitle">
                                            <div class="caption">
                                                <span>@item.ProductTitle</span>
                                                <p class="price">
                                                    @*@foreach (var item2 in item.ProductColor.Take(1))
                                                    {
                                                        <span class="priceCertain"><b>@item2.ProductPrice</b>تومان</span>
                                                    }*@

                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <nav style="text-align: center;">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

