﻿@model ProductInfo

@{

    if (ViewBag.SeoPage != null)
    {
        ViewData["Title"] = Html.Raw(ViewBag.SeoPage.MetaTitle);
    }
    else
    {
        ViewData["Title"] = Html.Raw(Model.ProductTitle);
    }

}
@section Meta{
    @{
        if (ViewBag.SeoPage != null)
        {
            if (ViewBag.SeoPage.MetaKeyword != null)
            {
                <meta name="keywords" content="@Html.Raw(ViewBag.SeoPage.MetaKeyword)" />
            }
            if (ViewBag.SeoPage.MetaDescription != null)
            {
                <meta name="description" content="@Html.Raw(ViewBag.SeoPage.MetaDescription)" />
            }
        }
    }
}


<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("آرشیو محصولات شرکت آلیاژگستر هامون") : Html.Raw("HalyCo Products Archive"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><h1>@Html.Raw(Model.ProductTitle)</h1></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 detail-product">
            @*<img src="~/Files/Products/@Model.MainProduct.ProductImage" class="img-responsive" alt="@Model.ProductTitle">*@
            <div class="aboutUs">
                <p>
                    @Html.Raw(Model.Description)
                </p>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @if (ViewBag.SeoPage != null)
    {
        @Html.Raw(ViewBag.SeoPage.MetaOther);
    }

    <script>
        $(function () {
            $('img').css('margin', '0');
            $('img').addClass("img-fluid");
        });
    </script>
}