﻿
@{
    ViewData["Title"] = "اشتراک پیامکی";
}


<style>
    .btnMargin-5 {
        margin-bottom: 6px;
    }

    .btnWidth-8 {
        width: 8px;
    }

    .listHeight {
        height: 121px !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#sms" data-toggle="tab">اشتراک پیامک</a></li>
                </ul>
                <div class="tab-content">
                   


                    <!--Tab 2-->
                    <div class="tab-pane active" id="sms">


                        <div class="box box-danger">
                            <div class="box-header">
                                <div class="col-md-6">
                                    <h3 class="box-title">لیست افراد ثبت نامی در اشتراک پیامکی</h3>


                                </div>
                              
                                <div class="col-md-3">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید افرادی که در اشتراک
                                                پیامکی ثبت نام کرده اند را بر اساس گروه مشاهده نمایید
                                                و پیامک  خود را ارسال نمایید.
                                                (برای یک یا چند نفر)
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                                  <div class="box-body  container-fluid" id="viewAllSMSMembers">


                                      <div class="row form-group col-md-12">
                                          <div class="col-lg-5">
                                              <span>اعضای ثبت نامی</span>
                                              <select multiple="" id="SSMember_lb" class="form-control SSMember_lb listHeight"></select>
                                          </div>
                                          <div class="col-lg-2">
                                              <br />
                                              <button type="button" id="transferOneItem_btn" class="btn-danger btnMargin-5" title="انتقال یک آیتم"><i class="fa fa-angle-left btnWidth-8"></i></button>
                                              <button type="button" id="transferAllItem_btn" class="btn-danger btnMargin-5" title="انتقال تمام آیتم ها"><i class="fa fa-angle-double-left"></i></button>
                                              <br />
                                              <button type="button" id="RemoveOneItem_btn" class="btn-danger btnMargin-5" title="انتقال یک آیتم"><i class="fa fa-angle-right btnWidth-8"></i></button>
                                              <button type="button" id="RemoveAllItem_btn" class="btn-danger btnMargin-5" title="انتقال تمام آیتم ها"><i class="fa fa-angle-double-right"></i></button>
                                          </div>
                                          <div class="col-lg-5">
                                              <span>اعضای ارسالی</span>
                                              <select multiple="" id="SSMemberSend_lb" class="form-control SSMemberSend_lb listHeight"></select>
                                          </div>
                                      </div>
                                      <div class="form-group col-md-12  ">
                                          <label class="control-label required">متن پیامک</label>
                                          <textarea id="txtContext" rows="10" style="width:75%" class="form-control"></textarea>
                                      </div>
                                      <div class="form-group col-sm-12 text-center">
                                          <button type="button" class="btn btn-success waves-effect waves-light" onclick="SendSMS();">
                                              <span class="btn-label">
                                                  <i class="glyphicon glyphicon-send "></i>
                                              </span>ارسال پیامک
                                          </button>
                                          <div class="form-group">
                                              <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                          </div>
                                      </div>
                                  </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>


@section Scripts{

    @*<script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>*@

    <script>
        $(document).ready(function () {
            //$("#txtContext").ckeditor();
           // CKEDITOR.replace('txtContext');
            GetAllSmsSubscribes();

        });


        $('#transferOneItem_btn').click(
            function (e) {
                $('.SSMember_lb > option:selected').appendTo('.SSMemberSend_lb');
                e.preventDefault();
            });

        $('#transferAllItem_btn').click(
            function (e) {
                $('.SSMember_lb > option').appendTo('.SSMemberSend_lb');
                e.preventDefault();
            });

        $('#RemoveOneItem_btn').click(
            function (e) {
                $('.SSMemberSend_lb > option:selected').appendTo('.SSMember_lb');
                e.preventDefault();
            });

        $('#RemoveAllItem_btn').click(
            function (e) {
                $('.SSMemberSend_lb > option').appendTo('.SSMember_lb');
                e.preventDefault();
            });




    </script>
}

