﻿@model Customer
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ShowCart2";
    var user = await UserManager.GetUserAsync(User);
}


@*<table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
    <tr>
        <th> @Html.DisplayNameFor(model => model.FullName)</th>
        <th> @Html.DisplayNameFor(model => model.Mobile)</th>
        <th> @Html.DisplayNameFor(model => model.Email)</th>
    </tr>
    <tr>
        <td id="FullName_User">@Model.FullName</td>
        <td id="Phone_User">@user.PhoneNumber</td>
        <td>@Model.Email</td>
    </tr>
</table>*@
