﻿@model DomainClasses.Manager.HalycoManager

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="HMForm">
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="ManagerName" class="control-label"></label>
                    <input asp-for="ManagerName" class="form-control TextRequired" />
                    <span asp-validation-for="ManagerName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ManagerPost" class="control-label"></label>
                    <input asp-for="ManagerPost" class="form-control TextRequired" />
                    <span asp-validation-for="ManagerPost" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="EnglishName" class="control-label"></label>
                    <input asp-for="EnglishName" class="form-control TextRequired" />
                    <span asp-validation-for="EnglishName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="EnglishPost" class="control-label"></label>
                    <input asp-for="EnglishPost" class="form-control TextRequired" />
                    <span asp-validation-for="EnglishPost" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="ManagerEmail" class="control-label"></label>
                    <input asp-for="ManagerEmail" class="form-control" />
                    <span asp-validation-for="ManagerEmail" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="ManagerType" class="control-label"></label>
                    <select asp-for="ManagerType" id="Type" class="form-control">
                        <option value="1">عضو هیئت مدیره</option>
                        <option value="0">مدیر اجرایی</option>
                    </select>
                    <span asp-validation-for="ManagerType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="ManagerPhoto" class="control-label"></label>
                    <input asp-for="ManagerPhoto" type="file" class="form-control TextRequired" id="photoUploader" />
                    <span asp-validation-for="ManagerPhoto" class="text-danger"></span>
                    <div class="col-md-4">
                        <img height="90" width="90" id="imgPreview" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsActive" checked="checked" /> فعال هست
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertManager();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#photoUploader").change(function () {
        readURL(this);
    });
</script>
