﻿@model IEnumerable<DomainClasses.Manager.HalycoManager>

@{
    ViewData["Title"] = "مدیریت اعضای هیئت مدیره و مدیران اجرایی";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddManager()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن عضو هیئت مدیره و مدیر اجرایی  </a>
            </div>
            <div class="box box-success">
                <div class="box-header form-group">
                    <h3 class="box-title col-lg-4">لیست اعضای هیئت مدیره و مدیران اجرایی</h3>
                    <select class="form-control col-lg-2" onchange="showViewAllManager($(this).val());" id="managertype_ddl">
                        @*<option>انتخاب کنید ...</option>*@
                        <option value="true">عضو هیئت مدیره</option>
                        <option value="false">مدیر اجرایی</option>
                    </select>
                    <!--ToolTipssss-->
                    <div class="pull-left col-lg-1">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش شما می توانید اعضای هیئت مدیره و مدیران اجرایی را تعریف کنید
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}


