﻿@model IEnumerable<DomainClasses.Manager.HalycoManager>


<table class="table table-bordered table-hover table-striped" id="HManager_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="hm_@item.HManager_ID">
            <td>
                <img width="90" height="90" src="~/Files/Manager/@item.ManagerPhoto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerEmail)
            </td>
            @if (item.ManagerType)
            {
                <td>
                    عضو هیئت مدیره
                </td>
            }
            else
            {
                <td>
                    مدیر اجرایی
                </td>
            }

            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }
            <td>
                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditManager(@item.HManager_ID);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteManager(@item.HManager_ID);"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
