﻿@model DomainClasses.Survey.SurveyCustomerOtherData
@{
    ViewData["Title"] = "نظرسنجی مشتریان";

    IEnumerable<DomainClasses.Product.ProductInfo> products = ViewBag.Products as IEnumerable<DomainClasses.Product.ProductInfo>;
}
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">



<div class="container">
    <div class="row justify-content-end">
        <div class="widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>فرم نظر سنجی مشتریان</span></li>
                </ol>
            </nav>
        </div>
        @if (ViewData["SupplierSurveyName"] != null)
        {
            <div class="col-12 forms table-survey">
                <div class="col-12 forms-bg">
                    <div class="col-12">
                        <p class="forms-header text-center">@ViewData["CustomerSurveyName"]</p>
                        <p class="forms-header text-right">مشتری محترم :  </p>
                        <p class="forms-header text-justify">احتراما" و با آرزوي تداوم و استمرار همكاري فيمابين به استحضار ميرساند كه شرکت آلیاژگستر هامون در راستاي ارتقاء كيفيت محصولات توليدي خويش، نظرخواهي از مشتريان را در دستور كار خود قرار داده و اعتقاد راسخ دارد كه نظر شما مي تواند نقش بسيار مهمي را در بهبود زمينه هاي همكاري ايفاء نمايد. لذا خواهشمند است با پاسخ گويي دقيق به سئوالات زير ما را در رسيدن به اهداف كيفي ياري نماييد.</p>
                    </div>
                    <div class="col-12 mb-3 mt-3">
                        <div class="col-4">
                            <p class="forms-title">شما مشتری کدامیک از محصولات ما هستید ؟ </p>
                        </div>
                        <div class="col-8">
                            @foreach (var item in products)
                            {
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="checkbox" id="product_@item.ProductInfo_ID" name="products" class="custom-control-input" data-id="@item.ProductInfo_ID">
                                    <label class="custom-control-label" for="product_@item.ProductInfo_ID">@item.ProductTitle</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 table-responsive" id="customerSurvey_div">

                    </div>
                    <form id="customerSurveyFrm">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">لطفا چنانچه پیشنهاد یا انتقادی دارید در این قسمت مرقوم فرمایید</span>
                                </div>
                                <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="Proposal"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3 mb-3">اطلاعات تکمیل کننده فرم : </p>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">نام و نام خانوادگی</span>
                                </div>
                                <input type="text" aria-label="First name" class="form-control" asp-for="FullName">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">شماره همراه</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon3" asp-for="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">نام سازمان</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon3" asp-for="CompanyName">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">سمت سازمانی</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="OfficePost">
                                <span asp-validation-for="OfficePost" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-12 style-btn text-left mt-3">
                            <a onclick="CustomerSurvey2();" class="btn btn-outline-danger">ثبت نظر</a>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 forms table-survey">
                <div class="col-12 forms-bg">
                    <div class="col-12">
                        <p class="forms-header text-center">هیچ نظرسنجی فعالی موجود نمی باشد</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(function(){

        $("#customerSurvey_div").load("/Survey/ViewCustomerSurvey");
    });
</script>