﻿@model DomainClasses.Survey.SurveySuppliersOtherData
@{
    ViewData["Title"] = "نظرسنجی تامین کنندگان";
}
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">

<div class="container">
    <div class="row justify-content-end">
        <div class="widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>فرم نظر سنجی از تأمین کنندگان</span></li>
                </ol>
            </nav>
        </div>
        @if(ViewData["SupplierSurveyName"]!=null)
        { 
        <div class="col-12 forms table-survey">
            <div class="col-12 forms-bg">
                <div class="col-12">
                    <p class="forms-header text-center">@ViewData["SupplierSurveyName"]</p>
                    <p class="forms-header text-right">تأمین کننده محترم :  </p>
                    <p class="forms-header text-justify">با آرزوي تداوم و استمرار همكاري فيمابين به استحضار ميرساند كه شرکت آلیاژگستر هامون در راستاي ارتقاء كيفيت همکاری و تحکیم روابط با تأمین کنندگان مواد اولیه و ملزومات خود ، نظرخواهي از تأمین کنندگان را در دستور كار خود قرار داده و اعتقاد راسخ دارد كه نظر شما مي تواند نقش بسيار مهمي را در بهبود زمينه هاي همكاري ايفاء نمايد. لذا خواهشمند است با پاسخ گويي دقيق به سئوالات زير ما را در رسيدن به اهدافمان ياري نماييد.</p>
                </div>
                <form id="supplierSurveyFrm">
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">نام تامین کننده</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="FullName">
                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">نام شرکت</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon2" asp-for="Company">
                        </div>
                    </div>
                    <div class="col-12 table-responsive" id="supplierSurvey_div">




                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">لطفا چنانچه پیشنهاد یا انتقادی دارید در این قسمت مرقوم فرمایید</span>
                            </div>
                            <textarea class="form-control" rows="4" aria-label="With textarea" asp-for="Proposal"></textarea>
                        </div>
                    </div>
                    <div class="col-12 style-btn text-left mt-3">
                        <a class="btn btn-outline-danger" onclick="SupplierSurvey()">ثبت نظر</a>
                    </div>
                </form>
            </div>
        </div>
                   }else{
        <div class="col-12 forms table-survey">
            <div class="col-12 forms-bg">
                <div class="col-12">
                    <p class="forms-header text-center">هیچ نظرسنجی فعالی موجود نمی باشد</p>
                </div>
            </div>
        </div>
         }
    </div>

</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {

        $("#supplierSurvey_div").load("/Survey/ViewSupplierSurvey");
    });
</script>
