﻿@model ViewModels.SurveyVM

<span class="hiddens" id="lblMainSurveyId">@Model.SurvayQuestionGroup.FirstOrDefault().MainSurveyId</span>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">ردیف</th>
            <th scope="col">موارد نظرسنجی</th>
            <th scope="col" colspan="5">امتیاز</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.SurvayQuestionGroup)
        {
            int i = 1;
            foreach (var item2 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID).Take(1))
            {
            <tr class="table-light">
                <th scope="col">#</th>
                <th scope="col" class="title-survey">@item.Title</th>
                <th scope="col">@item2.SurveyAnswerType.OptionTitle1 <br> </th>
                <th scope="col">@item2.SurveyAnswerType.OptionTitle2 <br> </th>
                <th scope="col">@item2.SurveyAnswerType.OptionTitle3 <br> </th>
                <th scope="col">@item2.SurveyAnswerType.OptionTitle4 <br> </th>
                <th scope="col">@item2.SurveyAnswerType.OptionTitle5 <br> </th>
            </tr>
            }
            foreach (var item3 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID))
            {
            <tr class="notLabel">
                <th scope="row">@i</th>
                <td>@item3.Question</td>

                <td>
                    <span class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio1_@item3.Question_ID" data-val="5" data-id="@item3.Question_ID">
                        <label class="custom-control-label" for="inlineRadio1_@item3.Question_ID"></label>
                    </span>
                </td>
                <td>
                    <span class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio2_@item3.Question_ID" data-val="4" data-id="@item3.Question_ID">
                        <label class="custom-control-label" for="inlineRadio2_@item3.Question_ID"></label>
                    </span>
                </td>
                <td>
                    <span class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio3_@item3.Question_ID" data-val="3" data-id="@item3.Question_ID">
                        <label class="custom-control-label" for="inlineRadio3_@item3.Question_ID"></label>
                    </span>
                </td>
                <td>
                    <span class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio4_@item3.Question_ID" data-val="2" data-id="@item3.Question_ID">
                        <label class="custom-control-label" for="inlineRadio4_@item3.Question_ID"></label>
                    </span>
                </td>
                <td>
                    <span class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio5_@item3.Question_ID" data-val="1" data-id="@item3.Question_ID">
                        <label class="custom-control-label" for="inlineRadio5_@item3.Question_ID"></label>
                    </span>
                </td>
            </tr>
                i++;
            }
        }
    </tbody>
</table>
