﻿@model ViewModels.ContactWithDeveloperVM

@{
    ViewData["Title"] = "ارتباط با توسعه دهنده";
    Layout = null;
}


<div class="box-body">
    <form asp-action="Index" id="ContactWithDeveloper_frm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control TextRequired" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control " />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control TextRequired" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MessageText" class="control-label"></label>
            <textarea rows="7" asp-for="MessageText" class="form-control TextRequired"></textarea>
            <span asp-validation-for="MessageText" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="file" id="attachFile_fu">
        </div>
       
        <div class="form-group col-sm-12 text-center">
            <button type="button" onclick="ContactWithDeveloper();" class="btn btn-success waves-effect waves-light">
                <span class="btn-label">
                    <i class="glyphicon glyphicon-send "></i>
                </span>ارسال
            </button>
            <div class="form-group">
                <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
            </div>
        </div>
    </form>
</div>


<partial name="_ValidationScriptsPartial" />

