﻿
@model UserRolesViewModel
@{
    Layout = null;
    ViewData["Title"] = "Edit User Access";
    var roles = (IEnumerable<ApplicationRole>)ViewData["Roles"];
    List<string> RolesName = new List<string>();
    foreach (var item in Model.Roles)
    {
        RolesName.Add(item);
    }
}
@section header{
    <style>
        .form-horizontal .control-label {
            padding-top: 0;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">

        <form asp-action="AddRole" class="form-horizontal" data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace" ,
              data-ajax-begin="BeginAddRole"
              data-ajax-loading="#div-loading"
              data-ajax-success="AddRoleToUser_Success"
              data-ajax-failure="AddRoleToUser_Failure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />

            <div class="form-group">
                <div class="col-md-12">

                    <table class="table table-bordered table-hover table-striped text-center" id="userRole_tb">
                        <thead>
                            <tr>
                                <th>
                                    اعمال نقش
                                </th>
                                <th>
                                    نام نقش
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in roles)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="Roles[]" value="@role.Name"
                                               @if (RolesName != null && RolesName.Contains(role.Name)) { <text> checked="checked" </text> } />

                                    </td>
                                    <td>
                                        @Utilities.StatusDictionary.FindRole_Identity(role.Name)
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="submit" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>

        </form>

    </div>
</div>
<script>
    table = $('#userRole_tb').DataTable();
    table.destroy();
    $('#userRole_tb').DataTable({
        'paging': false,
        'lengthChange': false,
        'searching': false,
        'ordering': false,
        'info': false,
        "deferRender": false,
        'autoWidth': false,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
