﻿@model MainRoleViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-area="Admin" id="Form_Id" asp-controller="Roles"
              data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-loading="#div-loading"
              data-ajax-success="CreateRole_Success"
              data-ajax-failure="CreateRole_Failure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control TextRequired" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentRole" class="control-label"></label>
                <select asp-for="ParentRole" asp-items="@ViewBag.allRoles" class="form-control">
                    <option value="">مدیر بالاسری ندارد</option>
                </select>
                <span asp-validation-for="ParentRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsibilty" class="control-label"></label>
                <input asp-for="Responsibilty" class="form-control" />
                <span asp-validation-for="Responsibilty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تایید نهایی مرخصی توسط: </label>
                <select asp-for="SendFinalSmsToUser" asp-items="@ViewBag.allRoles" class="form-control">
                    <option value="">مافوق نا مشخص هست</option>
                </select>
                <span asp-validation-for="ParentRole" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input asp-for="SendSmsToParent" type="checkbox" />
                <label asp-for="SendSmsToParent" class="control-label"></label>
                <span asp-validation-for="SendSmsToParent" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input asp-for="IsAgentOfManager" type="checkbox" />
                <label asp-for="IsAgentOfManager" class="control-label"></label>
                <span asp-validation-for="IsAgentOfManager" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>

</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

