﻿@model MainRoleViewModel

@{
    ViewData["Title"] = "Edit";

}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border" style="text-align:center">
                <h3 class="box-title"></h3>
            </div>
            <form asp-action="Edit" id="Form_Id" asp-controller="Roles"
                  data-ajax="true"
                  data-ajax-method="Post"
                  data-ajax-mode="replace"
                  data-ajax-update="#content"
                  data-ajax-loading="#div-loading"
                  data-ajax-success="EditRole_Success"
                  data-ajax-failure="EditRole_Failure">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Access" />

                @if (Utilities.StatusDictionary.ExistsRole_Identity(Model.Title))
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control TextRequired" readonly />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <input asp-for="Role_Type" value="1" hidden />
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control TextRequired" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="ParentRole" class="control-label"></label>
                    <select asp-for="ParentRole" asp-items="@ViewBag.allRoles" class="form-control">
                        <option value="">مدیر بالاسری ندارد</option>
                    </select>
                    <span asp-validation-for="ParentRole" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Task" class="control-label"></label>
                    <input asp-for="Task" class="form-control" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsibilty" class="control-label"></label>
                    <input asp-for="Responsibilty" class="form-control" />
                    <span asp-validation-for="Responsibilty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">تایید نهایی مرخصی توسط: </label>
                    <select asp-for="SendFinalSmsToUser" asp-items="@ViewBag.allRoles" class="form-control">
                        <option value="">مافوق نا مشخص هست</option>
                    </select>
                    <span asp-validation-for="ParentRole" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="SendSmsToParent" type="checkbox" class="" />
                    <label for="SendSmsToParent" asp-for="SendSmsToParent" class="control-label"></label>
                    <span asp-validation-for="SendSmsToParent" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input asp-for="IsAgentOfManager" type="checkbox" />
                    <label asp-for="IsAgentOfManager" class="control-label"></label>
                    <span asp-validation-for="IsAgentOfManager" class="text-danger"></span>
                </div>
                <div class="form-group text-center col-md-12">
                    <button type="submit" class="btn btn-warning waves-effect waves-light">
                        <span class="btn-label">
                            <i class="fa fa-edit"></i>
                        </span>ویرایش
                    </button>
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
