﻿@model IEnumerable<DomainClasses.Role.ApplicationRole>
@{
    ViewData["Title"] = "مدیریت نقش ها";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header">
                <a onclick="openModalForAddRole()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن نقش</a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست نقش ها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای تعریف نقش و تعیین سطح دسترسی برای هر نقش می باشد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });

    </script>
}
