﻿@model PermissionViewModel
@{
    ViewData["Title"] = "Create Role";
    var controllers = (IEnumerable<MvcControllerInfo>)ViewData["Controllers"];
    string styleHide = "";
}
<style>
    .li_Permission {
        background-color: #f5f5f5;
    }
</style>
<link href="~/AdminContent/jquery-bonsai/jquery.bonsai.css" rel="stylesheet" />
<link href="~/AdminContent/jquery-qubit/hummingbird-treeview.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-md-12">


        <form asp-action="Permission" asp-area="Admin" class="form-horizontal" data-ajax="true" data-ajax-success="Permission_Success" data-ajax-method="Post" data-ajax-failure="Permission_Failure"
              data-ajax-loading="#div-loading"
              data-ajax-mode="replace">

            <div class="col-sm-12">
                <div class="form-group">
                    <input asp-for="Name" hidden value="@ViewBag.Role_Id" />
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <ol id="tree">
                            @foreach (var controller in controllers)
                            {
                                var selectedController = Model?.SelectedControllers?.SingleOrDefault(c => c.Id == controller.Id);
                                string name;
                                {
                                    name = controller.DisplayName ?? controller.Name;
                                }
                                if (!ControllerDictionary.HidePermission(controller.Name))
                                {


                                    <li class="controller li_Permission col-lg-12 " data-value="@controller.Name">
                                        <input type="hidden" class="area" value="@controller.AreaName" />&nbsp;&nbsp;<label>&nbsp; @name</label>
                                        @if (controller.Actions.Any())
                                        {
                                            <ul class="body-content col-lg-12 " id="@controller.Name">

                                                @foreach (var action in controller.Actions)
                                                {

                                                    {
                                                        name = action.DisplayName ?? action.Name;
                                                    }
                                                    if (action.Name == "Index")
                                                    {
                                                        <li data-value="@action.Name" class="col-lg-12 container @controller.Name" id="@action.Name" style="margin-right:50px;background-color:#e0e0e0" onchange="ChangeAccess(this)"
                                                            @if (selectedController != null && selectedController.Actions.Any(a => a.Id == action.Id)) { <text> data-checked='1' </text> }>
                                                            &nbsp; @name
                                                        </li>
                                                    }
                                                    else if (ControllerDictionary.HideAction(action.Name))
                                                    {
                                                        <li data-value="@action.Name" class="col-lg-12 container hidden @controller.Name" id="@action.Name" style="margin-right:50px;background-color:#e0e0e0"
                                                            @if (selectedController != null && selectedController.Actions.Any(a => a.Id == action.Id)) { <text> data-checked='1' </text> }>
                                                            &nbsp; @name
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li data-value="@action.Name" class="col-lg-12 container  @controller.Name" id="@action.Name" style="margin-right:50px;background-color:#e0e0e0" onchange="ChangeAccessActions(this)"
                                                            @if (selectedController != null && selectedController.Actions.Any(a => a.Id == action.Id)) { <text> data-checked='1' </text> }>
                                                            &nbsp; @name
                                                        </li>
                                                    }
                                                }
                                            </ul>

                                        }
                                    </li>


                                }
                                else
                                {
                                    <li class="controller li_Permission col-lg-12 hidden" data-value="@controller.Name">
                                        <input type="hidden" class="area" value="@controller.AreaName" />&nbsp;&nbsp;<label>&nbsp; @name</label>
                                        @if (controller.Actions.Any())
                                        {
                                            <ul class="body-content col-lg-12  " id="@controller.Name">

                                                @foreach (var action in controller.Actions)
                                                {

                                                        <li data-value="@action.Name" class="col-lg-12 container  @controller.Name" id="@action.Name" style="margin-right:50px;background-color:#e0e0e0"
                                                            @if (selectedController != null && selectedController.Actions.Any(a => a.Id == action.Id)) { <text> data-checked='1' </text> }>
                                                            &nbsp; @name
                                                        </li>
                                                    
                                                }
                                            </ul>

                                        }
                                    </li>

                                }
                            }
                        </ol>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-edit"></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>

    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/Ajax/Permission_Role_Ajax.js"></script>
<script src="~/AdminContent/jquery-qubit/jquery.qubit.js"></script>
<script src="~/AdminContent/jquery-bonsai/jquery.bonsai.js"></script>


