﻿@model IEnumerable<DomainClasses.Role.ApplicationRole>
@using Utilities
@{
    ViewData["Title"] = "Index";
}

<div class="box-body table-responsive">

    <table id="role_tb" class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th id="sort_Icon" class=" text-center" style="text-align:center">
                    <input id="SelectAll" type="checkbox" />
                </th>
                <th>
                    عنوان
                </th>
                <th>
                    نقش پدر
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Task)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Responsibilty)
                </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.Role_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role_Status)
                </th>

                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="role_@item.Name">
                <td style="text-align:center">
                    @if (!Utilities.StatusDictionary.ExistsRole_Identity(item.Name))
                    {
                        <input name="delete" type="checkbox">
                    }
                    else
                    {
                        @*<img src="~/images/noDelete.jpg" style="wi" />*@
                        <span class="fa-stack">
                            <i class="fa fa-ban fa-stack-1x "></i>
                        </span>
                    }
                </td>
                <td>
                    @StatusDictionary.FindRoleDisplay(item.Name)
                </td>
                <td>
                    @if (item.ParentRole != null) { 
                    @StatusDictionary.FindRoleDisplay(item.ParentRole.Name)
                    }
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsibilty)
        </td>*@
                <td>
                    @StatusDictionary.FindStatus("RoleType", item.Role_Type)
                </td>
                <td>
                    @StatusDictionary.FindStatus("Role", item.Role_Status)
                </td>


                <td>

                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditRole('@item.Id');"><i class="fa fa-edit"></i></button>
                    @if (!StatusDictionary.ExistsRole_Identity(item.Name))
                    {
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteRole('@item.Id');" style="margin-left:0px"><i class="fa fa-trash"></i></button>
                    }

                    <button class="btn btn-icon btn-warning btnIcon" title="دسترسی" onclick="openModalForPermission('@item.Id');"><i class="fa fa-lock"></i></button>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    table = $('#role_tb').DataTable();
    table.destroy();
    $('#role_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>