﻿@model IEnumerable<DomainClasses.Manager.HalycoManager>

@{
    ViewData["Title"] = "هیئت مدیره شرکت آلیاژگستر هامون";
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "هیئت مدیره شرکت آلیاژگستر هامون" : "Board of Directors Halyco")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 managers">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="managers-main">
                        <div class="col-auto managers-img"><img src="~/Files/Manager/@item.ManagerPhoto" class="img-responsive" alt="@(CultureInfo.CurrentCulture.Name=="fa-IR"?item.ManagerName:item.EnglishName)"></div>
                        <div class="col-auto managers-text">
                            <h4>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? item.ManagerName : item.EnglishName)</h4>
                            <p class="managers-title">@(CultureInfo.CurrentCulture.Name == "fa-IR" ? item.ManagerPost : item.EnglishPost)</p>
                            <p class="managers-email">@item.ManagerEmail</p>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>