﻿@model ViewModels.ShiftChangeSuperiorViewModel

<style>
    .clockpicker-popover {
        z-index: 4000;
    }
    .d-flex {
        display: flex;
    }
</style>
@*<link href="~/css/temp.css" rel="stylesheet" asp-append-version="true" />*@
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltShiftChange_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.shiftChange.ShiftChange_ID" id="ShiftChange_ID" />
                <input type="hidden" asp-for="@Model.shiftChange.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode" class="text-blue">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span class="text-blue">@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">جایگزین: </label>
                        <span class="text-blue">@Model.shiftChange.Employee_Shc_2.ApplicationUser.FullName</span>
                        <input type="hidden" asp-for="@Model.shiftChange.UnitID_1" />
                    </div>

                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate!=null && ViewBag.HasAlternate)
                    {
                        <div class="col-md-3">
                            <label class="control-label">کارمند جایگزین</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="@Model.shiftChange.PersonalCodeSecond" asp-items="@ViewBag.coworkerEmployeelist" id="alternateList_ddl"></select>
                                <span asp-validation-for="@Model.shiftChange.PersonalCodeSecond" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="@Model.shiftChange.StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="@Model.shiftChange.StatusAlternateSignature" disabled="disabled">
                                    <option value="null">نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="@Model.shiftChange.StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="col-sm-2">
                        <label class="control-label" asp-for="@Model.shiftChange.shiftDate" id="x"></label>
                        <input asp-for="@Model.shiftChange.shiftDate" id="shiftDate" class="form-control TextRequired" disabled="disabled" />
                        <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="@Model.shiftChange.shiftDate">
                        <span asp-validation-for="@Model.shiftChange.shiftDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">شیفت اولیه</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="@Model.shiftChange.ShiftName1" disabled>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="@Model.shiftChange.ShiftName1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="@Model.shiftChange.ShiftName2" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="@Model.shiftChange.ShiftName2" disabled>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="@Model.shiftChange.ShiftName2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate)
                    {
                        <div class="col-md-6">
                            <label asp-for="@Model.shiftChange.AlternateSignatureReason" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <textarea type="text" class="form-control" asp-for="@Model.shiftChange.AlternateSignatureReason" readonly="readonly"></textarea>
                                <span asp-validation-for="@Model.shiftChange.AlternateSignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="col-md-6">
                        <label asp-for="@Model.shiftChange.shiftReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea asp-for="@Model.shiftChange.shiftReason" class="form-control"></textarea>
                            <span asp-validation-for="@Model.shiftChange.shiftReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @*<hr />
                <div class="row form-group form-row">
                    <div class="col-md-3">
                        <input type="hidden" asp-for="CurrentSuperiorShiftChangeSignatures.ShiftChangeSignature_ID" id="ShiftChangeSignature_ID" />
                        <label class="control-label">وضعیت امضای شما</label>
                        <div class="input-group date col-md-12">
                            <select class="form-control" asp-for="CurrentSuperiorShiftChangeSignatures.SignatureStatus" id="SignatureStatus" onchange="changeStatusSupriorSignature($(this).val());">
                                <option value="null">نامشخص</option>
                                <option value="true">تایید</option>
                                <option value="false">عدم تایید</option>
                            </select>
                            <span asp-validation-for="CurrentSuperiorShiftChangeSignatures.SignatureStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label">علت عدم تایید</label>
                        <div class="input-group date  col-md-12">
                            <textarea type="text" class="form-control" asp-for="CurrentSuperiorShiftChangeSignatures.SignatureReason" id="SignatureReason"></textarea>
                            <span asp-validation-for="CurrentSuperiorShiftChangeSignatures.SignatureReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
                <hr />

                <div class="row d-flex py-5 px-5 ">
                    <div class="step status_@Model.shiftChange.FinalStatus"><p>@Model.shiftChange.Employee_Shc_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.shiftChangeSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (Model.shiftChangeSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.shiftChangeSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.shiftChangeSignatures[i].SignatureReason != null && Model.shiftChangeSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.shiftChangeSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.shiftChangeSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.shiftChangeSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.shiftChangeSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }

                </div>
                <hr />
                <div class="form-group form-row col-sm-12 text-center">
                    @*<br /><br />
                    @if (Model.ThisUserCanSignature != null && Model.ThisUserCanSignature == true)
                    {
                        <button type="button" onclick="UpdateSuperiorShiftChange2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else if (ViewBag.IsAgentOfManager != null && ViewBag.IsAgentOfManager == true)
                    {
                        <button type="button" onclick="UpdateSuperiorShiftChange2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>

                    }
                    <div class="form-group form-row">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>*@
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        //ViewAllShiftChanges(ViewBag.PersonalCode);
        $('.clockpicker').clockpicker({
            uiLibrary: 'bootstrap4',
            placement: 'bottom', // clock popover placement
            align: 'left',       // popover arrow align
            autoclose: true,    // auto close when minute is selected
            vibrate: true        // vibrate the device when dragging clock hand
        });

        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#shiftDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });

        $('#EndDate').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true,
            //    meridiem: {
            //        enabled: true
            //    }
            //},
        });

        $('#ShiftChangeTimeDate').persianDatepicker({
            altField: '#tarikhAlt3',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true,
            //    meridiem: {
            //        enabled: true
            //    }
            //},
        });

    });


</script>
<script>
    changeShiftChangeType($('#ShiftChangeType').val());

    function changeShiftChangeType(value) {
        if (value == 'true') {
            $('#TimeShiftChange').addClass('hidden');
            $('#DayShiftChange').removeClass('hidden');
        } else {
            $('#DayShiftChange').addClass('hidden');
            $('#TimeShiftChange').removeClass('hidden');
        }
    }

    changeStatusSupriorSignature($('#StatusSuperiorSignature').val());

    function changeStatusSupriorSignature(value) {
        if (value == "false") {
            $('#SuperiorReason').prop('readonly', false);
        } else {
            $('#SuperiorReason').prop('readonly', true);
        }
    }

                    //function changeReseonOption() {
                    //    if ($('#reseonOption_ddl').val() == "سایر") {
                    //        $('#ShiftChangeReason').removeClass('hidden');
                    //    } else {
                    //        $('#ShiftChangeReason').addClass('hidden');
                    //    }
                    //}
</script>
<partial name="_ValidationScriptsPartial" />


