﻿@model DomainClasses.Employees.ShiftChange

@{
    ViewData["Title"] = "ویرایش درخواست تعویض شیفت";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ShiftChange_ID" />
                <input type="hidden" asp-for="CreateDate" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode" class="text-blue">@Model.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span class="text-blue">@Model.Employee_Shc_1.ApplicationUser.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">واحد: </label>
                        <span class="text-blue">@ViewBag.UnitName</span>
                        <input type="hidden" asp-for="UnitID_1" />
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">کارمند جایگزین</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="PersonalCodeSecond" asp-items="@ViewBag.coworkerEmployeelist" id="alternateList_ddl" disabled="disabled"></select>
                            <span asp-validation-for="PersonalCodeSecond" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="StatusAlternateSignature" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="StatusAlternateSignature" onchange="changeStatusAlternateSignature($(this).val());">
                                <option value="Null">نامشخص</option>
                                <option value="true">می پذیرم</option>
                                <option value="false">نمی پذیرم</option>
                            </select>
                            <span asp-validation-for="StatusAlternateSignature" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label" asp-for="shiftDate" id="x"></label>
                        <input asp-for="shiftDate" id="shiftDate" class="form-control TextRequired" disabled="disabled" />
                        <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="shiftDate">
                        <span asp-validation-for="shiftDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">شیفت اولیه</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="ShiftName1" disabled="disabled">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="ShiftName1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ShiftName2" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="ShiftName2" disabled="disabled">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="ShiftName2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label asp-for="AlternateSignatureReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea type="text" class="form-control" asp-for="AlternateSignatureReason" ></textarea>
                            <span asp-validation-for="AlternateSignatureReason" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="shiftReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea asp-for="shiftReason" class="form-control" disabled="disabled"></textarea>
                            <span asp-validation-for="shiftReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>
              
                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                 
                        <button type="button" onclick="UpdateCoworkerShiftChange();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ویرایش
                        </button>
                   
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {

        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

      $('#shiftDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false   برای ویرایش نباید این مورد فعال باشد
                //timePicker: {
                //    enabled: true
                //},
            });

    });

</script>
<script>
    changeStatusAlternateSignature($('#StatusAlternateSignature').val());

    function changeStatusAlternateSignature(value) {
        if (value == "false") {
            $('#AlternateSignatureReason').prop('readonly', false);
        } else {
            $('#AlternateSignatureReason').prop('readonly', true);
        }
    }
</script>