﻿@model IEnumerable<DomainClasses.Employees.ShiftChange>
@using Utilities;
@{
    int r = 0;
}

<div class="table-responsive">
    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shiftDate)
                </th>
                <th>
                    درخواست دهنده
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                r++;
                string isNew = "False";
                string isAccept = "";
                @if (item.StatusAlternateSignature == null)
                {
                    isNew = "True";
                }
                 @if (item.StatusAlternateSignature == false)
                 {
                     isAccept="NOK";
                 }
                 else if (item.StatusAlternateSignature == true){
                     isAccept="OK";
                 }
                <tr class="@isNew @isAccept">
                    <td>@r</td>
                    <td>
                        @item.CreateDate.ToShamsiFullDateTime()
                    </td>
                    <td>
                        @item.shiftDate.ToShortPersian()
                    </td>
                    <td>@item.Employee_Shc_1.ApplicationUser.FullName</td>
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditCoworkerShiftChange(@item.ShiftChange_ID);"><i class="fa fa-edit"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>