﻿@{
    ViewData["Title"] = "مرخصی";
}

<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- /.box-header -->
                    <div class="card-body" id="viewAll">

                        <div class="">
                            <section class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <form method="post">

                                                <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                                                    <thead>
                                                        <tr>
                                                           <th>#</th>
                                                            <th>نام متقاضی</th>
                                                            <th>تاریخ درخواست</th>
                                                            <th>نوع درخواست</th>
                                                            <th>زمان شروع</th>
                                                            <th>زمان پایان</th>
                                                            <th>وضعیت درخواست</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                  
                                                </table>
                                            </form>
                                        </div>
                                        <div class="text-left">
                                            <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.card-body -->
</div>

<script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            ViewAllVacationList4();
        });
    </script>
}