﻿@model IEnumerable<DomainClasses.Employees.Vacation>
@using Utilities;

<div class="">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <form method="post">

                        <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام متقاضی</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VacationType)
                                    </th>
                                    <th>زمان شروع</th>
                                    <th>زمان پایان</th>
                                    <th>وضعیت درخواست</th>
                                    <th></th>
                                </tr>
                            </thead>
                          </table>
                    </form>
                </div>
                <div class="text-left">
                    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"
            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [
            { "className": "dt-center", "targets": "_all" }
        ]
    });

    $('.tooltips').tooltip();
</script>
