﻿@model DomainClasses.Product.FeatureReply

@{
    ViewData["Title"] = "CreateFeatureReply";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateFeatureReply" id="frFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeatureId" class="control-label "></label>
                <select asp-for="FeatureId" class="form-control TextRequired" asp-items="ViewBag.allFeatures">
                    <option value="0">انتخاب کنید ...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FeatureReplyText" class="control-label"></label>
                <input asp-for="FeatureReplyText" class="form-control TextRequired" />
                <span asp-validation-for="FeatureReplyText" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertFeatureReply();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script>

    $('#FeatureReplyText').keypress(function (e) {
        if (e.keyCode == 13) {
            InsertFeatureReply();
            return false;
        }
    })
</script>