﻿@model DomainClasses.Product.Feature

@{
    ViewData["Title"] = "CreateFeature";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateFeature" id="featureFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeatureTitle" class="control-label "></label>
                <input asp-for="FeatureTitle" class="form-control TextRequired"  />
                <span asp-validation-for="FeatureTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActive"  checked="checked" /> فعال هست
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertFeature();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $('#FeatureTitle').keypress(function (e) {
        if (e.keyCode == 13) {
            InsertFeature();
            return false;
        }
    })
</script>

