﻿@model DomainClasses.Product.Feature

@{
    ViewData["Title"] = "EditFeature";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditFeature" id="featureFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Feature_ID" id="Feature_ID" />
            <input type="hidden" asp-for="ProductGroupId" id="ProductGroupId" />

            <div class="form-group">
                <label asp-for="FeatureTitle" class="control-label "></label>
                <input asp-for="FeatureTitle" class="form-control TextRequired" />
                <span asp-validation-for="FeatureTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActive" /> فعال هست
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning" onclick="UpdateFeature();"><i class="fa fa-edit ">&nbsp;&nbsp;</i>ویرایش</button>
               
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $('#FeatureTitle').keypress(function (e) {
        if (e.keyCode == 13) {
            UpdateFeature();
            return false;
        }
    });
</script>

