﻿@model DomainClasses.Product.FeatureReply

@{
    ViewData["Title"] = "EditFeatureReply";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditFeatureReply" id="frFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeatureReply_ID" id="FeatureReply_ID" />
            <input type="hidden" asp-for="FeatureId" id="Feature_Id" value="@ViewBag.Feature_Id"/>
            <div class="form-group">
                <label asp-for="FeatureId" class="control-label"></label>
                <select asp-for="FeatureId" class="form-control" disabled="disabled">
                    <option value="@ViewBag.valueF">@ViewBag.textF</option>
                </select>
                <span asp-validation-for="FeatureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeatureReplyText" class="control-label"></label>
                <input asp-for="FeatureReplyText" class="form-control TextRequired" />
                <span asp-validation-for="FeatureReplyText" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning" onclick="UpdateFeatureReply();"><i class="fa fa-edit ">&nbsp;&nbsp;</i>ویرایش</button>

                <div class="form-group">
                    <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<partial name="_ValidationScriptsPartial" />

<script>

    $('#FeatureReplyText').keypress(function (e) {
        if (e.keyCode == 13) {
            UpdateFeatureReply();
            return false;
        }
    })
</script>