﻿
@{
    ViewData["Title"] = "مدیریت ویژگی محصولات";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#feature" data-toggle="tab">ویژگی </a></li>
                    <li id="contentTab"><a href="#featureReply" data-toggle="tab">جواب ویژگی</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="feature">
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <button type="button" onclick="openModalForAddFeature()" class=" btn btn-success btn-skype "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن ویژگی</button>
                                    </p>
                                </td>
                                <td>
                                    <div id="feature1_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست ویژگی ها بر اساس گروه محصول </h3>


                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            محصولات سایت دارای ویژگی های مختلفی هستند
                                            که مدیر با تعریف ویژگی در این قسمت برای گروه محصولات
                                            می تواند با دادن مقدار به ویژگی در تب بعدی این ویژگی ها
                                            را به محصول اختصاص دهد.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllFeatures">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="featureReply">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <button type="button" onclick="openModalForAddFeatureReply()" class=" btn btn-success btn-skype "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن جواب </button>
                                    </p>
                                </td>
                                <td>
                                    <div id="feature2_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>

                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست جواب ویژگی بر اساس ویژگی</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="feature_ddl" class="form-control select2" onchange="GetAllFeatureReplyByFeatureId($(this).val())">
                                        <option value="0">انتخاب کنید ...</option>
                                    </select>
                                </div>
                                <div class="col-md-4 pull-left">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این قسمت می توانید برای ویژگی های تعریف شده
                                                در تب قبلی , جواب یا مقدار آن را نیز تعریف کنید.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" id="viewAllFeatureReply">

                        </div>
                    </div>



                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</section>


@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
            getAllProductsGroupForFeatureTreeView();
        });
    </script>
}

