﻿@model IEnumerable<DomainClasses.Product.FeatureReply>

<span class="pull-left">
    <button type="button" class="btn btn-danger  btnMargin" onclick="checkboxSelectedForDeleteFeatureReply();"><i class="fa fa-trash">&nbsp;&nbsp;</i>حذف جواب های انتخاب شده</button>
</span>

<table class="table table-bordered table-hover table-striped" id="featureReply_tb">
    <thead>
        <tr>
            <th class="col-md-1">
                <input type="checkbox" id="checkAllFeatureReply" />
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.FeatureReplyText)
            </th>

            <th >عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="fReply_@item.FeatureReply_ID" data-title="@item.FeatureReply_ID" data-id="@item.FeatureId">
                <td class="col-md-1">
                    <input type="checkbox" class="forRemove" value="@item.FeatureReply_ID" />
                </td>
                <td class="col-md-2">
                    @if (item.IsDefault)
                    {
                        <input type="radio" name="isDefault" id="@item.FeatureReply_ID" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" name="isDefault" />
                    }
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.FeatureReplyText)
                </td>
                <td class="col-md-5">
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditFeatureReply(@item.FeatureReply_ID);"><i class="fa fa-edit"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {


        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllFeatureReply]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllFeatureReply]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });

        $('input[name=isDefault]').on('ifChecked', function (event) {
            debugger;
            //alert($(this).parent('div').parent('td').parent('tr').attr('data-title'));
            var featureReplyId = $(this).parent('div').parent('td').parent('tr').attr('data-title');
            var featureId = $(this).parent('div').parent('td').parent('tr').attr('data-id');
            SetIsDefualtReply(featureReplyId, featureId);
        });
    });
</script>