﻿@model IEnumerable<DomainClasses.Product.Feature>


<table class="table table-bordered table-hover table-striped" id="feature_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeatureTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="feature_@item.Feature_ID">
            <td>
                @Html.DisplayFor(modelItem => item.FeatureTitle)
            </td>
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                </td>
            }
           
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditFeature(@item.Feature_ID);"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteFeature(@item.Feature_ID);"><i class="fa fa-trash"></i></button>
                </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(function () {
        $('#feature_tb').DataTable();
    });

    table = $('#feature_tb').DataTable();
    table.destroy();
    $('#feature_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
