﻿@model DomainClasses.AVF.AVF

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">

        <form asp-action="Create" id="fileFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="col-md-8">
                    <label asp-for="AVFTitle" class="control-label"></label>
                    <input asp-for="AVFTitle" class="form-control TextRequired" />
                    <span asp-validation-for="AVFTitle" class="text-danger"></span>
                    @*<br />*@
                </div>
                <div class="col-md-4">
                    <label>نوع دانلودی :</label>
                    <select id="FileOrLink" class="form-control" onchange="changeFormDesign($(this).val());">
                        <option value="1">فایل</option>
                        <option value="0">لینک</option>
                    </select>
                    <br /><br />
                </div>
            </div>


            <div class="form-group hidden" id="link">
                <div class="col-md-8">
                    <label id="Link_lbl" class="control-label"></label>
                    <textarea rows="4" asp-for="FileNameOrLink" class="form-control TextRequired" dir="ltr"></textarea>
                    <span asp-validation-for="FileNameOrLink" class="text-danger"></span>
                    <br />
                </div>
                <div class="col-md-4">
                    <label class="control-label">اندازه فایل (MB)</label>
                    <input asp-for="AVFSize" class="form-control AVFSize" type="number" />
                    <span asp-validation-for="AVFSize" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>

            <div class="form-group" id="file">
                <div class="col-md-8">
                    <label id="file_lbl" class="control-label">فایل</label>
                    <input asp-for="FileNameOrLink" class="form-control " type="file" id="fileUpload" />
                    <span asp-validation-for="FileNameOrLink" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">اندازه فایل (MB)</label>
                    <input asp-for="AVFSize" class="form-control AVFSize2" type="number" />
                    <span asp-validation-for="AVFSize" class="text-danger"></span>
                    <br /><br />
                </div>


            </div>

            <div class="form-group">

                <div class="col-md-4">
                    <label asp-for="AVFDownloadCount" class="control-label"></label>
                    <input asp-for="AVFDownloadCount" class="form-control" type="number" disabled="disabled" value="0" />
                    <span asp-validation-for="AVFDownloadCount" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="FileType" class="control-label"></label>
                    @*<input asp-for="FileType" class="form-control" />*@
                    <select id="FileType" class="form-control">
                        <option value="0">انتخاب کنید ...</option>
                        <option value="فایل">فایل</option>
                        <option value="ویدیو" selected="selected">ویدیو</option>
                        <option value="صوت">صوت</option>
                    </select>
                </div>
                @*<span asp-validation-for="FileType" class="text-danger"></span>*@
                <div class="col-md-4">
                    <br />
                    <input asp-for="IsActive" id="isActiveFile" checked="checked" /> @Html.DisplayNameFor(model => model.IsActive)
                    <br /> <br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="VideoImage" class="control-label">تصویر</label>
                    <input asp-for="VideoImage" class="form-control " type="file" id="fileImageUpload" />
                    <span asp-validation-for="VideoImage" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" />
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="button" onclick="InsertFile();" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-check "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group">
                        <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>


            </div>

        </form>


    </div>
</div>

<span class="text-center text-danger" id="statusProgress"></span>
<div class="progress hidden" id="prg">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

    </div>
</div>
@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileImageUpload").change(function () {
        readURL(this);
    });
</script>
