﻿@model DomainClasses.AVF.AVFGroup

@{
    ViewData["Title"] = "CreateGroup";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGroup" id="fileGroupFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AVFGroupTitle" class="control-label"></label>
                <input asp-for="AVFGroupTitle" class="form-control TextRequired" />
                <span asp-validation-for="AVFGroupTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveAVFG" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="AVFGroupImage" class="control-label"></label>
                    <input asp-for="AVFGroupImage" class="form-control" type="file" id="ImageUpload" />
                    <span asp-validation-for="AVFGroupImage" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <img width="120" height="120" id="imgPreview" />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertAVFGroup();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ImageUpload").change(function () {
        readURL(this);
    });
</script>
