﻿
@{
    ViewData["Title"] = "مدیریت فایل و ویدئو";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#downloadGroup" data-toggle="tab">گروه  </a></li>
                    <li><a href="#files" data-toggle="tab">فایل</a></li>
                </ul>

                <div class="tab-content">

                    <!--Tab 1-->
                    <div class="tab-pane active" id="downloadGroup">
                        <div class="box-header ">
                            <a onclick="openModalForAddAVFGroup()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه  </a>
                        </div>
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="treeview_style" id="fileManageGroup1_tw"></div>
                                </td>
                            </tr>
                        </table>

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">جزئیات گروه</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        @*<span>
                                               سایت شما ممکن شامل مواردی مثل ویدیو , صوت ,
                                                 فایل های متنی و... باشد که مدیر می تواند بعد از تعریف گروه
                                                آن در این قسمت فایل دانلودی را در تب بعدی ثبت کن
                                            </span>*@
                                        <span>
                                            در این قسمت مدیر می تواند گروه های
                                            دانلودی را برای سایت خود ثبت , حذف  یا ویرایش کند
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">
                            </div>
                        </div>
                    </div>
                    <!--Tab 2-->
                    <div class="tab-pane" id="files">
                        <div class="box-header ">
                            <a onclick="openModalForAddAVF()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن فایل  </a>
                        </div>
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="treeview_style" id="fileManageGroup2_tw">

                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-6">
                                    <h3 class="box-title">لیست فایل ها بر اساس گروه</h3>


                                </div>
                                <div class="col-md-4 hidden">
                                    <select id="downloadGroup_ddl" class="form-control select2" onchange="GetAllFilesByGroupId($(this).val())"></select>
                                </div>
                                <div class="col-md-6">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این قسمت مدیر می تواند فایل هایی که برای هر گروه
                                                تعریف شده را مشاهده یا فایل را به گروه اضافه کنید جهت
                                                نمایش در سایت و...
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllFiles">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />



@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
            GetAllDownloadGroupByLang($("#language_ddl").val());
        });


    </script>
}

