﻿@model DomainClasses.AVF.AVFGroup


<table class="table table-bordered table-hover table-striped" id="fileGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AVFGroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>

        <tr id="avfg_@Model.AVFGroup_ID">
            <td>
                @Html.DisplayFor(modelItem => Model.AVFGroupTitle)
            </td>
            @if (Model.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }

                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditAVFGroup(@Model.AVFGroup_ID);"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteAVFGroup(@Model.AVFGroup_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
        </tr>
    </tbody>
</table>

<script src="~/js/AdminDataTable.js"></script>

