﻿@model IEnumerable<DomainClasses.AVF.AVF>


<table class="table table-bordered table-hover table-striped" id="file_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideoImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVFTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileOrLink)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FileNameOrLink)
                </th>*@
            @*<th>
                    حجم فایل(MB)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.AVFDownloadCount)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="avf_@item.AVF_ID">
                <td>
                    @if (item.VideoImage != null)
                    {
                        <img width="90" height="90" src="~/Files/FileManage/Image/Thumb/@item.VideoImage" />
                    }
                    else
                    {
                        <img width="90" height="90" src="~/images/noimage.png" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AVFTitle)
                </td>

                @if (item.FileOrLink) // درصورت ترو بودن آن فایل آپلودی می باشد و در غیر اینصورت بصورت لینک
                {
                    <td>فایل</td>
                }
                else
                {
                    <td>لینک</td>
                }

                @*<td>
                        @Html.DisplayFor(modelItem => item.FileNameOrLink)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.AVFSize)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.AVFDownloadCount)
                    </td>*@
                @if (item.FileType != "0")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                }
                else
                {
                    <td>
                        نامشخص
                    </td>
                }
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }

                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditAVF(@item.AVF_ID);"> <i class="fa fa-edit"></i> </button>
                        <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteAVF(@item.AVF_ID);"> <i class="fa fa-trash"></i> </button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
