@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts-icomoon/icomoon.eot?m0vhmr');
  src:  url('../fonts/fonts-icomoon/icomoon.eot?m0vhmr#iefix') format('embedded-opentype'),
    url('../fonts/fonts-icomoon/icomoon.ttf?m0vhmr') format('truetype'),
    url('../fonts/fonts-icomoon/icomoon.woff?m0vhmr') format('woff'),
    url('../fonts/fonts-icomoon/icomoon.svg?m0vhmr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond:before {
  content: "\e902";
}
.icon-big-brochure:before {
  content: "\e900";
}
.icon-resume:before {
  content: "\e901";
}
.icon-lamp:before {
  content: "\e904";
}
.icon-phone-call:before {
  content: "\e905";
}
