.forms-bg{
    background-color: #f5f5f5;
    margin-bottom: 15px;
    padding: 30px 15px;
    border-radius: 5px;
}
.forms-print .forms-bg{
    padding: 15px;
}
.forms-border{
    border: 1px solid #dee2e6;
    padding: 15px 0;
}
.forms-header{
    font-size: 14px;
    line-height: 2.2em;
}
.forms-title{
    font-size: 13px;
    line-height: 2.2em;
    color: #000000;
}

.forms-file-upload{
    padding: 5px;
}
.forms-view.forms-file-upload{
    display: inline-block;
}
.forms-view.forms-file-upload .forms-file-record:hover{
    background-color: transparent;
}
.forms-view.forms-file-upload .forms-file-title{
    padding: 0;
}
.forms-file-record{
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}
.forms-file-record:hover{
    background-color: #dddddd;
}
.forms-file-record span.fa{
    font-size: 30px;
    color: #ce181e;
}
.forms-file-record .forms-file-title{
    font-size: 12px;
    line-height: 2.3em;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0 8px 0 15px;
}
.forms-file-record i{
    color: #999;
    position: absolute;
    left: 12px;
    top: 10px;
}
.forms-file-record i:hover{
    color: #ce181e;
    cursor: pointer;
}
.forms .form-control,
.forms .custom-select,
.forms .input-group-text,
.forms .custom-file-label,
.forms .custom-control-label{
    font-size: 12px;
    line-height: 2em;
}
.forms .input-group-text{
    background-color: #f3f3f3;
    white-space: pre-wrap;
}
.forms .custom-file-label,
.forms .custom-file-label::after{
    line-height: 2em;
}
.forms .custom-control-inline{
    margin-right: 0;
    padding-right: 1.5rem;
}
.forms .custom-control-inline:hover .custom-control-label{
    cursor: pointer!important;
}
.forms .custom-control-label{
    line-height: 2.5em;
}
.forms .custom-control-label::before,
.forms .custom-control-label::after{
    top: 0.4rem;
    right: -1.5rem;
}
.forms .custom-control-inline .form-control{
    margin-right: 10px;
}
.forms .table td i{
    color: #999;
}
.forms .table td i:hover{
    color: #ce181e;
    cursor: pointer;
}
.forms .table th,
.forms .table td{
    font-size: 12px;
    line-height: 2.2em;
    text-align: center;
    padding: 0.5rem 0.2rem;
}
.forms-view{
    /*display: flex;*/
    padding: 0 4px;
}
.forms-view.forms-date{
    justify-content: flex-end;
}
.forms-view .forms-view-title{
    font-size: 13px;
    line-height: 2.2em;
    color: #d32028;
    padding: 0 0 0 15px;
    margin: 0;
}
.forms-view .forms-view-text{
    font-size: 13px;
    line-height: 2.2em;
    color: #777;
    text-align: justify;
}
.title-survey{
    color: #ce181e;
}
.table-survey .table-hover tbody tr:hover {
    background-color: rgb(255, 247, 247);
}
.table-survey tr.notLabel > td span{
    display: flex;
    justify-content: center;
}
.table-survey tr > td .custom-control-inline {
    padding-left: 2px;
}
/*.assist-english  span.custom-control.custom-radio.custom-control-inline{*/
    /*padding: 0!important;*/
/*}*/
/******** panel modir ******/
.page-inner.panel-modir main{
    background-image: none;
    background-color: #ffffff;
    padding: 30px 0;
}
.payroll-header{
    border: 1px solid #ddd;
    padding: 15px 0;
}
.payroll-header p{
    font-size: 12px;
    line-height: 2.2em;
}
.payroll-title h4{
    margin: 0 0 20px;
}
.payroll .table-responsive{
    padding: 0;
}
.payroll .table tr:not(:nth-child(10)) td{
    text-align: right;
    padding: 5px 15px;
    border: 0;
    border-left: 1px solid #ddd;
}
.payroll .table tr:nth-child(10) td{
    text-align: right;
    padding: 5px 15px;
}
.payroll .table td span{
    float: left;
}
.payroll .table tr.bg-info{
    background-color: #eeeeee;
}
.mission .forms-border{
    border-top: none;
    border-bottom: none;
}
.mission-header{
   padding: 0;
}
.mission-header table{
    margin: 0;
}
.mission-header table img{
    height: 80px;
}
.mission-header table h4{
    padding: 10px 0;
}
.mission-header table tr:first-child > td:first-child,
.mission-header table tr > td:last-child{
    width: 20%;
}
.vacation p{
    font-size: 20px;
    line-height: 2.5em;
    text-align: center;
}
.vacation p span{
    padding: 0 5px;
    color: #ce181e;
}
/************** responsive ************/
@media (max-width: 767px){
    .forms-bg {
        padding: 15px 0;
    }
}
@media (max-width: 575px){
    .width-prepend{
        width: 100%;
    }
}