.orderList .form-group button{
    width: 210px;
}
.orderList .form-group input[type="file"]{
    direction: ltr;
}
.orderList .form-group .filetxt{
    position: absolute;
    top: 14px;
    right: 40px;
    color: #999;
    font-size: 12px;
}
.orderList fieldset{
    margin: 10px 2px;
    border: 1px solid #b2f6ff;
}
.orderList fieldset legend{
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.8em;
    padding: 0 10px;
    width: auto;
}
.orderList .radio label{
    padding-right: 22px;
    margin: 4px 0;
    color: #777777;
    line-height: 1.8em;
}
.orderList .radio input[type="radio"]{
    margin-right: -20px;
}
.collapseFrame img{
    width: 120px;
    margin: 5px;
}
.collapseFrame .color.selectColor {
    border: 5px solid #2baf16;
}
.collapseFrame .color {
    cursor: pointer;
}
.collapseFrame img:before{
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}
.collapseFrame .dis {
    display: none;
}

.sizePrice{
    color: #ffffff;
    background-color: #a29d00;
    margin-right: 30px;
    padding: 0 5px;
    display: inline-block;
}
.addComment{
    padding: 30px 15px;
}
.orderList .information ul li i {
    color: #a29d00;
}
.orderList .description .ProductNumber input{
    width: auto;
}
.orderList .description .ProductColor span{
    margin: 3px;
}
.orderList .description textarea{
    width: 100%;
}
.orderList .description label{
    width: 130px;
}
