*[class^="col-"] {
    float: left;
    direction: ltr;
}
.search .dropdown-menu {
    right: 0!important;
    left: auto!important;
}
.search input,
footer .aboutUs p,
.force-inner .force-link ul li.item,
.form-control,
.aboutUs p{
    direction: ltr;
}
.navbar-nav > li {
    direction: ltr;
}
.header-bottom .navbar-nav > li:first-child > a:hover, .header-bottom .navbar-nav > li:first-child > a:focus {
    border-radius: 5px 0 0 5px;
}
.header-bottom .dropdown-item a:before {
    padding-left: 0;
    padding-right: 8px;
    content: '\f138';
}
.header-bottom .navbar-nav > li > a {
    font-size: 13px;
    padding: 0.85em;
    padding-right: 0.47em!important;
    padding-left: 0.47em!important;
}
.search a.nav-link {
    padding: 0!important;
}
.header-bottom .navbar-nav:first-child > li:first-child > a {
    padding: 0.45em 1em 0!important;
}
.force-link{
    right: auto;
}
.force-link ul,
.information ul{
    padding: 0;
}
.force-link .link .icon{
    margin-right: 20px;
}
.halyco-slider{
    margin-left: auto;
}
footer .carousel-caption p{
    text-align: left;
}
footer .carousel-caption h5{
    left: 0;
    right: auto;
}
footer .carousel-control-next {
    right: auto;
    left: 180px;
}
footer .carousel-control-prev{
    right: auto;
    left: 150px;
}
.information ul li i{
    margin: 0 15px 0 0;
}
.itsa-footer ul li:last-child {
    border-right: none;
    border-left: 1px solid #888;
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
}
.modal-header .close {
    margin: -1rem -1rem -1rem auto;
}
.modal .search input{
    padding: 0 0 0 50px;
}
.modal .search .fa-search {
    border-radius: 0.25rem 0 0 0.25rem;
}
.search button{
    left: 0;
}
.detail-product img{
    float: right;
    margin: 0px;
}
.information-logo h3{
    padding: 0 0 0 15px;
}
.contactUs .information ul li:before,
.aboutUs.search a:before{
    padding: 0 12px 0 0;
}
.contact .form-group input,
.contact .form-group select,
.contact .form-control{
    padding-left: 40px;
    padding-right: 0.75rem;
}
.contact .form-group span i{
    margin: -29px 0 0 12px;
}
.product .product-box .product-title{
    right: auto;
    left: 25px;
}
.gallery .product-box .product-title {
    right: 0;
    left: 0;
}
.search {
    margin: 0;
}

/*************** forms *************/
.forms-file-record i{
    left: auto;
    right: 12px;
}
.forms-view .forms-view-title{
    padding: 0 15px 0 0;
}

@media (min-width: 992px){
    .header-bottom .navbar-nav > li,
    .header-bottom .dropdown-menu > li{
        text-align: left;
    }
    .navbar-nav > li {
        float: left;
        direction: ltr;
    }
}