@font-face {
    font-family: 'tunisialt';
    src: url('../fonts/mj_tunisialt.ttf') format('truetype');
}

@font-face {
    font-family: 'Google';
    src: url('../fonts/A.Google.woff')
}

@font-face {
    font-family: yekan;
    src: url('../fonts/yekan/Yekan.eot'), url('../fonts/yekan/Yekan.eot?#iefix') format('embedded-opentype'), url('../fonts/yekan/Yekan.woff') format('woff'), url('../fonts/yekan/Yekan.ttf') format('truetype'), url('../fonts/yekan/Yekan.svg#BYekan') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'IRAN-sans';
    src: url('../fonts/IRAN-sans.eot');
    src: url('../fonts/IRAN-sans.ttf') format('truetype'), url('../fonts/IRAN-sans.woff') format('woff')
}

@font-face {
    font-family: NASTALIGH;
    src: url('../fonts/nastaligh/IRANNASTALIQ_0.TTF');
    src: url('../fonts/nastaligh/IRANNASTALIQ_0.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    background-color: #dddddd;
}

body {
    font-family: IRAN-sans,tunisialt,Google,NASTALIGH,BYekan;
    overflow-x: hidden !important;
    background-color: #f7f7f7;
}

.yekan {
    font-family: 'yekan';
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d32028;
}

::-webkit-scrollbar-track {
    background: #dadada;
}

*[class^="col-"] {
    float: right;
    direction: rtl;
}

#topcontrol {
    z-index: 9777;
    position: fixed;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: auto;
    bottom: -100px;
    background-color: transparent;
}

    #topcontrol span {
        font-size: 25px;
        color: #ffffff;
        background-color: #d32028;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    #topcontrol:hover span {
        background-color: #555555;
    }

a:focus, a:active, a:hover {
    outline: none !important;
    text-decoration: none !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(197, 197, 197, 0.5);
}

button:focus {
    outline: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(226, 226, 226);
}

.style-btn .btn-outline-danger {
    font-size: 13px;
    padding: 8px 10px;
    color: #dc3545 !important;
}

    .style-btn .btn-outline-danger:hover {
        background-color: #ce181e;
        border-color: #ce181e;
        color: #ffffff !important;
    }
/*********** widget title ***********/
.widget-title {
    text-align: right;
    direction: rtl;
    margin: 10px 0;
    height: 100%;
    display: inline-block;
    width: 100%;
    /*padding: 0;*/
    border-bottom: 1px solid #fff;
}

    .widget-title nav {
        display: flex;
        background: #ad0000;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
    }

    .widget-title .breadcrumb {
        background: #ad0000;
        margin: 0 15px;
        padding: 0.6em 1.2em;
        font-size: 12px;
        line-height: 2.3em;
    }

        .widget-title .breadcrumb li a span {
            color: #dddddd;
            font-size: 12px;
            padding: 0;
            margin: 0;
        }

        .widget-title .breadcrumb li a:hover span {
            color: #ffe771;
        }

        .widget-title .breadcrumb > .active span {
            color: #ffffff;
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
        .widget-title .breadcrumb > .active h1 {
            color: #ffffff;
            font-size: 12px;
            display: inline;
        }

        .widget-title .breadcrumb > li + li:before {
            color: #ffffff;
            padding-left: 0.5em;
        }


/************** HEADER ******************/


.dropdown:hover > .dropdown-menu {
    display: block;
}
/*.sub-menu{*/
/*float: right;*/
/*direction: rtl;*/
/*text-align: right;*/
/*padding: 0 20px;*/
/*list-style-type: none;*/
/*}*/
/*.sub-menu .sub-title{*/
/*border-bottom: 1px dashed #aaa;*/
/*display: block;*/
/*font-size: 14px;*/
/*padding: 5px 5px 10px;*/
/*margin: 0 0 5px;*/
/*}*/
.header-bottom .dropdown-item {
    white-space: normal;
    padding: 4px 5px;
    font-size: 11px;
    line-height: 1.7em;
    border-bottom: 1px dotted #d0d0d0;
}

    .header-bottom .dropdown-item a {
        color: #555 !important;
    }

        .header-bottom .dropdown-item a:before {
            padding-left: 8px;
            font-family: FontAwesome;
            content: '\f137';
            transition: 0.7s;
            color: #d32127;
        }

    .header-bottom .dropdown-item:hover {
        background-color: #eaeaea;
    }







.header-pattern {
    background: url("../images/patern/52.jpg") repeat !important;
}

.header-flex {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-bottom .navbar {
    background: #ad0000;
    border-radius: 5px;
    padding: 0;
    max-height: 50px;
}

    .header-bottom .navbar .navbar-collapse {
        padding: 0;
    }

.header-bottom .navbar-nav {
    display: inline-block;
    float: none !important;
    padding-right: 0;
    max-height: 50px;
    /*width: 100%;*/
}

    .header-bottom .navbar-nav > li {
        text-align: right;
    }

        .header-bottom .navbar-nav > li > a {
            color: #ffffff !important;
            padding: 0.9em;
            font-size: 12px;
            line-height: 28px;
            padding-right: 0.9rem;
            padding-left: 0.9rem;
        }

    .header-bottom .navbar-nav:first-child > li:first-child > a {
        padding: 0.7em 1em 0 !important;
    }

    .header-bottom .navbar-nav > li:first-child > a:hover,
    .header-bottom .navbar-nav > li:first-child > a:focus {
        border-radius: 0 5px 5px 0;
    }

.header-bottom .dropdown-toggle::after {
    margin-right: 0.5em;
    vertical-align: 0.09em;
}

.header-bottom .navbar-nav .active > .nav-link {
    color: #ffffff !important;
}

.header-bottom .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background-color: #ababab;
    border-color: #ababab;
    color: #d32127 !important;
}

.header-bottom ul.navbar-nav li > .dropdown-menu {
    background-color: #e2e2e2;
    border-top: 1px solid #d32127;
    margin-top: 0;
    min-width: 250px;
    width: max-content;
    left: auto;
}

    .header-bottom ul.navbar-nav li > .dropdown-menu .dropdown-menu {
        right: 100%;
    }

.header-bottom .dropdown-menu > li {
    text-align: right;
}

    .header-bottom .dropdown-menu > li > a {
        color: #ffffff;
        padding: 10px;
        font-size: 12px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

.header-bottom .nav-item > li > a:hover,
.header-bottom .nav-item > li > a:focus {
    background-color: #ccc;
    color: #d32028;
}

.header-top {
    padding-left: 0;
    height: 55px;
    margin-bottom: 10px;
}

    .header-top .navbar-nav > li > a {
        color: #555;
        padding: 13px 10px;
        font-size: 12px;
    }

        .header-top .navbar-nav > li > a > i,
        .header-top .navbar-nav > li > form > button.exit i {
            margin-left: 5px;
        }

    .header-top .navbar-nav > li > form > button.exit {
        background-color: transparent;
        border: transparent;
        font-size: 12px;
        padding: 13px 10px;
        color: rgba(0, 0, 0, 0.5);
    }

        .header-top .navbar-nav > li > form > button.exit:hover {
            color: #d32127 !important;
        }

.navbar-nav > li {
    direction: rtl;
    text-align: right;
}

@media (min-width: 992px) {
    .navbar-nav > li {
        float: right;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    outline: none;
    background-color: #ccc;
    color: #d32127 !important;
}

.header-top .navbar-nav > li > a:hover, .header-top .navbar-nav > li > a:focus {
    color: #d32127 !important;
    background-color: transparent !important;
}

.cart .btn-default.dropdown-toggle:hover i {
    color: #ddd !important;
}

.header-top .navbar {
    border: 1px solid transparent;
    padding: 0;
    height: 55px;
    min-height: 35px;
    border-radius: 0;
}

    .header-top .navbar ul {
        padding-right: 0;
    }

.header-logo {
    position: relative;
    /*padding: 0;*/
}

    .header-logo img {
        height: 100px;
        padding: 10px 30px;
        background-color: #b9b9b9;
    }
/********** link *********/
.force-link {
    position: absolute;
    background-color: #ad0000;
    top: 100%;
    right: 15px;
    width: 259px;
    border-radius: 0 0 10px 10px;
    z-index: 1000;
}

    .force-link ul {
        padding-right: 0;
        margin-bottom: 0;
    }

        .force-link ul li.item {
            list-style-type: none;
        }

    .force-link .link {
        border-bottom: 1px dashed #aaa;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .force-link .link .icon {
            display: flex;
            align-items: center;
            /*width: 100%;*/
            margin-left: 20px;
            font-size: 1.8em;
            padding: 0.28em;
            background-color: #ad0000;
            color: #ffffff;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .force-link .link .text {
            display: flex;
            width: 100%;
            font-size: 13px;
        }

    .force-link ul li.item:last-child .link {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
    }

.force-inner .force-link {
    position: inherit;
    border-radius: 0;
    width: auto;
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    z-index: 0;
}

    .force-inner .force-link ul li.item {
        display: inline-flex;
        width: 19%;
    }

    .force-inner .force-link .link {
        margin: 4px 2px;
        background-color: #515355;
        width: 100%;
        border-bottom: none;
        border-radius: 5px;
    }

    .force-inner .force-link ul li.item:last-child .link {
        border-radius: 5px;
    }

    .force-inner .force-link .link .icon {
        border-radius: 5px;
        margin: 0;
    }

.page-inner .force-inner .force-link {
    position: initial;
    width: 100%;
}

    .page-inner .force-inner .force-link ul li.item {
        width: 48%;
    }

    .page-inner .force-inner .force-link .link {
        margin: 3px 0;
    }

        .page-inner .force-inner .force-link .link .icon {
            margin-left: 5px;
        }

        .page-inner .force-inner .force-link .link .text {
            font-size: 11px;
            justify-content: center;
        }

.force-link .link:hover {
    background-color: #d32028;
}
/********** search **********/
.search {
    margin-right: 10px;
}

    .search a.nav-link {
        padding: 0 !important;
    }

    .search .dropdown-menu {
        left: 0 !important;
    }

    .search button {
        position: absolute;
        display: inline-block;
        border: transparent;
        background: transparent;
        color: #d32127;
        padding: 0;
    }

    .search form {
        position: relative;
        margin: 5px;
    }

    .search input {
        height: 38px;
        border: 1px solid #bbbbbb;
        direction: rtl;
        font-size: 12px;
        color: #555;
        background-color: transparent;
    }

    .search i {
        display: inline-block;
        padding: 13px;
        color: #fff;
        background: #d32028;
        font-size: 24px;
    }

    .search .form-control::-moz-placeholder {
        color: #555;
        opacity: 1;
    }

    .search .form-control:-ms-input-placeholder {
        color: #555;
    }

    .search .form-control::-webkit-input-placeholder {
        color: #555;
    }

.form-control {
    direction: rtl;
}
/********** modal *********/
.modal-header {
    padding: 0.5em 1em;
    background-color: #555;
}

.modal-title {
    font-size: 13px;
    color: #ffffff;
}

.modal-header .close {
    margin: -1rem auto -1rem -1rem;
}

.modal .search input {
    padding-right: 50px;
}

.modal .search .fa-search {
    padding: 10px;
    border-radius: 0 0.25rem 0.25rem 0;
}
/********** language **********/
.language a {
    padding: 0.8em !important;
}

.language img {
    padding: 2px;
    border-radius: 10px;
    width: 38px;
    height: 28px;
    border: 1px solid #bbb;
}

.language a:hover img {
    border: 2px solid #ccc;
    padding: 0;
}

.header-bottom .navbar-nav .language .show > .nav-link,
.navbar-light .navbar-nav .language .nav-link:hover,
.navbar-light .navbar-nav .language .nav-link:focus {
    background-color: transparent;
    border-color: transparent;
    /*color: #d32127!important;*/
}
/******** slider ********/
.halyco-slider {
    margin: 27px 0;
}

    .halyco-slider .slide {
        border-radius: 10px;
        width: 100% !important;
    }

        .halyco-slider .slide .carousel-item img {
            border-radius: 10px;
        }

        .halyco-slider .slide .carousel-item {
            transition: transform 2s ease-in-out, opacity 0.5s ease-out;
        }

.slide .carousel-caption {
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.halyco-slider .slide .carousel-caption {
    padding: 10px 20px;
    text-align: left;
    width: 400px;
    margin-right: auto;
}

    .halyco-slider .slide .carousel-caption h5 {
        display: inline-block;
        border-bottom: 1px solid #eeeeee;
    }

    .halyco-slider .slide .carousel-caption .animated {
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
    }

    .halyco-slider .slide .carousel-caption h5,
    .halyco-slider .slide .carousel-caption p {
        line-height: 2.5em;
        height: 38px;
        overflow: hidden;
        margin: 0;
    }

    .halyco-slider .slide .carousel-caption p {
        font-size: 13px;
    }

.halyco-slider .carousel-indicators {
    right: auto;
    margin: 0 0 5px 15px;
}

main {
    background: url("../images/patern/overlay.png?v=1") repeat;
    background-color: #b9b9b9;
}
/*********** access menu **********/
.access-menu {
    padding: 0;
    margin-bottom: 30px;
}

    .access-menu .col-md-3 {
        padding: 0 8px;
    }

    .access-menu .halyco-menu {
        display: flex;
        /*justify-content: center;*/
        border: 1px solid #ddd;
        transition: all 0.4s ease-in-out;
        background-color: #cccccc;
        box-shadow: 0 0 0 1px #aaa;
    }

    .access-menu p {
        display: flex;
        align-items: center;
        margin: 0;
    }

        .access-menu p i {
            float: right;
            font-size: 40px;
            padding: 10px 15px;
            color: #d32027;
            border-left: 1px solid #9a9a9a;
            background-color: #bdbdbd;
        }

        .access-menu p span {
            font-size: 13px;
            line-height: 2em;
            color: #000;
            padding: 0 15px;
        }

    .access-menu .halyco-menu:hover {
        background: #dddddd;
    }
/*********** footer ***********/
footer {
    padding: 8px 0 5px;
    background: url(../images/patern/overlay.png?v=1) repeat;
    background-color: #ccc;
    border-top: 1px solid #a9a9a9;
}

    footer .aboutUs p {
        line-height: 2.5em;
        font-size: 11px;
        height: 140px;
        overflow: hidden;
        margin: 0;
    }

.information {
    direction: rtl;
}

    .information ul {
        list-style: none;
        padding-right: 0;
        color: #444;
        font-size: 11px;
        line-height: 2em;
        margin-bottom: 5px;
    }

        .information ul li:first-child {
            border-bottom: 1px dashed #888;
            margin-bottom: 3px;
            padding-bottom: 3px;
        }

        .information ul li i {
            margin-left: 15px;
            font-size: 16px;
            color: #ad0000;
        }

            .information ul li i.fa-mobile {
                font-size: 28px;
            }

        .information ul li a {
            color: #e7181e;
        }

            .information ul li a:hover {
                color: #c4171b;
            }

.itsa-footer {
    font-size: 11px;
    line-height: 2em;
    /*margin-top: 5px;*/
}

    .itsa-footer ul {
        list-style: none;
        padding: 8px 0 0;
        margin-bottom: 0;
        color: #555;
        border-top: 1px dashed #888;
    }

        .itsa-footer ul li {
            display: inline;
        }

            .itsa-footer ul li:last-child {
                border-right: solid 1px #888;
                margin-right: 1em;
                padding-right: 1em;
            }

            .itsa-footer ul li a {
                color: #a90006;
            }

                .itsa-footer ul li a:hover {
                    color: #fb8600;
                }

footer .carousel-inner {
    height: 177px;
    border-radius: 6px;
}

    footer .carousel-inner .carousel-item img {
        height: 177px;
    }

footer .carousel-caption h5 {
    font-size: 13px;
    line-height: 2em;
    background-color: #a90006;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 150px;
    height: 35px;
    overflow: hidden;
}

footer .carousel-caption p {
    font-size: 11px;
    width: 100%;
    height: 30px;
    line-height: 2em;
    overflow: hidden;
    background-color: #555555;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    text-align: right;
}

footer .carousel-control-prev,
footer .carousel-control-next {
    bottom: auto;
    background-color: #555555;
    opacity: 1;
    width: 30px;
    height: 35px;
}

footer .carousel-control-next {
    right: 150px;
}

footer .carousel-control-prev {
    right: 180px;
}

footer .carousel-control-prev-icon,
footer .carousel-control-next-icon {
    width: 15px;
    height: 15px;
}

footer .carousel-control-prev:hover,
footer .carousel-control-prev:focus,
footer .carousel-control-next:hover,
footer .carousel-control-next:focus {
    opacity: 1;
    background-color: #444444;
}
/*********** page inner **********/
.page-inner main {
    background-color: #ffffff;
    border-top: 3px solid #ce181e;
    min-height: 360px;
}

.page-inner footer {
    border-top: 3px solid #ce181e;
}
/*********** about us *********/
.aboutUs p {
    text-align: justify;
    direction: rtl;
    line-height: 2.2em;
    font-size: 13px;
}

.aboutUs h3 {
    font-size: 22px;
}

.aboutUs.search {
    margin-bottom: 10px;
}

    .aboutUs.search a {
        display: block;
        font-size: 13px;
        line-height: 2em;
        border-bottom: 1px dashed #aaa;
        padding: 5px 0;
        color: #666;
    }

        .aboutUs.search a:before {
            content: '\f260';
            font-family: FontAwesome;
            font-size: 14px;
            padding-left: 12px;
            transition: 0.7s;
            color: #ce181e;
        }

        .aboutUs.search a:last-child {
            border-bottom: transparent;
        }

        .aboutUs.search a:hover {
            color: #a60000;
        }
/*********** contact us *********/
.contactUs .information ul {
    font-size: 13px;
    line-height: 2.2em;
}

    .contactUs .information ul li:first-child {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    .contactUs .information ul li:before {
        content: '\f111';
        font-family: FontAwesome;
        padding-left: 12px;
        font-size: 10px;
        color: #ce181e;
    }

.contact .form-group {
    margin-bottom: 10px;
    position: relative;
}

    .contact .form-group input, .contact .form-group select {
        height: 42px;
        padding-right: 40px;
        font-size: 12px;
        border-color: #dddddd;
        box-shadow: inset 0 1px 1px rgb(228, 228, 228);
    }

.contact .form-control {
    padding-right: 40px;
    font-size: 12px;
    border-color: #dddddd;
    box-shadow: inset 0 1px 1px rgb(228, 228, 228);
}

.contact .form-group span i {
    margin-top: -29px;
    margin-right: 12px;
    font-size: 16px;
    position: absolute;
    color: #888888;
}

.form-group.refresh a span i {
    margin-top: 12px;
}

.refresh img {
    position: absolute;
    left: 6px;
    top: 5px;
}

.form-group.refresh a span i:hover {
    color: #03b400;
}

.information-logo {
    border-top: 1px solid #bbbbbb;
    padding: 10px 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.information:first-child .information-logo,
.information:nth-child(2) .information-logo {
    border-top: transparent;
    margin-top: 0;
    padding-top: 0;
}

.information-logo img {
    height: 60px;
    float: right;
}

.information-logo h3 {
    font-size: 13px;
    line-height: 2em;
    padding-right: 15px;
    margin: 0;
}
/********* managers ********/
.managers {
    margin-bottom: 15px;
}

    .managers .col-lg-4 {
        padding: 8px;
    }

.managers-main {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.managers-img img {
    width: 100px;
    height: 100px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
}

.managers-text {
    line-height: 2em;
    padding: 10px 15px 0;
}

    .managers-text h4 {
        font-size: 15px;
        margin: 0;
    }

.managers-title {
    font-size: 13px;
    margin: 0;
}

.managers-email {
    font-size: 13px;
    margin: 0;
}
/********** certificate *********/
.certificate {
    margin-bottom: 8px;
}

    .certificate .col-12 {
        padding: 8px;
    }

    .certificate .figure {
        background-color: #dddddd;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
    }

    .certificate .certificate-img {
        width: 135px;
        height: 135px;
        margin: auto;
        display: flex;
        align-items: center;
    }

        .certificate .certificate-img img {
            /*display: flex;*/
            /*align-items: center;*/
            margin-bottom: 0;
        }

    .certificate .figure-caption {
        background: #f1f1f1;
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 13px;
        line-height: 2em;
        height: 86px;
        overflow: hidden;
    }

        .certificate .figure-caption span {
            display: block;
        }
/*********** product **********/
.product .product-box {
    margin-bottom: 40px;
}

    .product .product-box a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product .product-box .product-title {
        border-radius: 5px;
        position: absolute;
        background: #dddddd;
        bottom: -16px;
        right: 25px;
    }

        .product .product-box .product-title p {
            margin-bottom: 0;
            padding: 8px 30px;
            font-size: 13px;
            color: #333333;
        }

    .product .product-box .product-img {
        position: relative;
        background-color: #aaaaaa;
        border-radius: 5px;
    }

        .product .product-box .product-img img {
            width: 100%;
            height: auto;
            padding: 5px;
        }

        .product .product-box .product-img:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all .4s ease-in-out;
        }

    .product .product-box:hover .product-img:before {
        background: rgba(0, 0, 0, 0.3) !important;
    }

    .product .product-box .product-icon {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(0.9,0.9,1);
    }

        .product .product-box .product-icon i {
            color: #eeeeee;
        }

    .product .product-box:hover .product-icon {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

.detail-product img {
    float: left;
    margin: 0px;
    /*background-color: #b9b9b9;
    padding: 5px;*/
    border-radius: 5px;
    width: 400px;
}
/*********** picture **********/
.gallery .product-box {
    margin-bottom: 50px;
    padding: 0 10px;
}

    .gallery .product-box .product-img:before {
        border-radius: 5px 5px 0 0;
    }

    .gallery .product-box .product-img {
        background-color: #dddddd;
        border-radius: 5px 5px 0 0;
    }

    .gallery .product-box .product-title {
        right: 0;
        left: 0;
        bottom: -33px;
        border-radius: 0 0 5px 5px;
    }

        .gallery .product-box .product-title p {
            padding: 2px 15px 8px;
            line-height: 2em;
            height: 33px;
            overflow: hidden;
            text-align: center;
        }
/*********** articles **********/
.articleSelect .form-control {
    font-size: 13px;
    border-color: #dddddd;
    box-shadow: inset 0 1px 1px rgb(228, 228, 228);
}

.detail-product h3 {
    font-size: 16px;
    line-height: 2.2em;
    padding: 0 0 10px 0;
    text-align: justify;
}

.detailDate span {
    font-size: 11px;
    color: #ffffff;
    padding: 10px 15px;
}

.dataYekan i {
    color: #ffffff;
    font-size: 14px;
    margin: 0 5px;
}

.hiddens {
    display: none;
}
/************** responsive ************/
@media (min-width: 992px) and (max-width: 1199px) {
    .header-logo img {
        height: 80px;
    }

    .force-link {
        width: 210px;
    }

        .force-link .link .icon {
            font-size: 1.49em;
        }

        .force-link .link .text {
            font-size: 11px !important;
        }

    .header-bottom .navbar-nav > li > a {
        /*padding-right: 0.9em!important;*/
        /*padding-left: 0.9em!important;*/
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 11px;
    }

    .search .show > .nav-link,
    .search .nav-link:hover,
    .search .nav-link:focus {
        background-color: #515355 !important;
    }
    /*.search .fa-search {*/
    /*padding: 14px;*/
    /*}*/
    .halyco-slider .slide {
        width: 100% !important;
    }

    .jssora20r {
        right: 42px !important;
    }
}

@media (max-width: 991px) {
    .header-logo img {
        background: transparent;
        padding: 6px 0 6px 0;
        height: 68px;
    }

    .header-bottom .navbar {
        background: transparent;
        max-height: 68px;
    }

    .navbar-light .navbar-toggler {
        border-color: #515355;
    }

    .header-bottom .navbar .navbar-collapse {
        z-index: 1;
        background-color: #ce181e;
        max-height: 100%;
        /*max-height: 480px;*/
        /*height: 360px;*/
        /*overflow-y: auto;*/
    }

    .header-bottom .navbar-nav {
        width: 100%;
    }

        .header-bottom .navbar-nav > li,
        .header-bottom .dropdown-menu > li {
            text-align: center;
        }

    .header-bottom ul.navbar-nav li > .dropdown-menu {
        width: 100%;
    }

    ul.language {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        ul.language li {
            display: inline-block;
        }

            ul.language li a {
                padding: 0 !important;
            }

                ul.language li a img {
                    border: 1px solid #a9a9a9;
                }

                ul.language li a i {
                    border: 2px solid #a9a9a9;
                    border-radius: 50%;
                    padding: 0.41em 0.45em;
                    font-size: 20px;
                    color: #ffffff;
                    background: #ce181e;
                }

    .information {
        margin: 10px 0 0;
    }

    footer {
        padding: 15px 0 5px;
    }

        footer .carousel-inner,
        footer .carousel-inner .carousel-item img {
            height: auto;
        }

    .force-inner .force-link ul li.item {
        width: 32%;
    }

    .page-inner .force-inner .force-link {
        margin: 0;
    }

    .force-link .link .text {
        font-size: 12px;
        justify-content: center;
    }

    .halyco-slider {
        margin: 20px 0;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .force-inner .force-link {
        padding: 0 15px;
    }

        .force-inner .force-link ul li.item,
        .page-inner .force-inner .force-link ul li.item {
            width: 49%;
        }
}

@media (max-width: 440px) {
    .force-inner .force-link ul li.item,
    .page-inner .force-inner .force-link ul li.item {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .header-logo img {
        height: 60px;
    }

    .header-bottom .navbar {
        max-height: 60px;
    }

    .navbar-toggler {
        padding: 0.2rem 0.4rem;
    }

    footer .carousel-inner,
    footer .carousel-inner .carousel-item img {
        height: 177px;
    }

    .managers-main {
        flex-flow: column;
        text-align: center;
    }

    .certificate .figure {
        width: 100%;
    }

    .detail-product img {
        width: 100%;
        margin-bottom: 10px;
    }
}



.account main {
    background-color: #eeeeee;
    background-image: none;
    min-height: 625px;
}

.account-cover {
    position: absolute;
    background-color: #eeeeee;
    width: 440px;
    height: 500px;
    z-index: 1;
    top: 75px;
    right: 0;
}

.account iframe {
    width: 100%;
    height: 620px;
    position: absolute;
    right: -240px;
}
