.h_iframe-aparat_embed_frame{
    position:relative;
}
.h_iframe-aparat_embed_frame .ratio {
    display:block;width:100%;height:auto;
}
.h_iframe-aparat_embed_frame iframe {
    position:absolute;top:0;left:0;width:100%; height:100%;
}
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0;
    /*max-width: 1000px;*/
    list-style: none;
    text-align: center;
}
.grid .col-12{
    padding: 0 8px;
}
/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 8px 0;
    min-width: 100%;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    height: auto;
    /*background: #3085a3;*/
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    width: 100%;
    border: 4px solid #b9b9b9;
}
.grid figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure .filmText {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
}

.grid figure .filmText span {
    font-weight: 800;
}

.grid figure .filmText,
.grid figure p {
    margin: 0;
}

.grid figure p {
    /*letter-spacing: 1px;*/
    font-size: 68.5%;
}
/*-----------------*/
/***** Steve *****/
/*-----------------*/

figure.effect-steve {
    z-index: auto;
    overflow: visible;
    /*background: #000;*/
}

figure.effect-steve:before,
figure.effect-steve .filmText:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-steve:before {
    box-shadow: 0 2px 20px rgba(0,0,0,0.4);
    opacity: 0;
}

figure.effect-steve figcaption {
    z-index: 1;
}

figure.effect-steve img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve .filmText {
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
}

figure.effect-steve .filmText {
    position: relative;
    padding: 0.5em 0.25em;
}

figure.effect-steve .filmText:before {
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
    text-align: center;
    /*margin-top: 4em;*/
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-48%, -48%);
    /*padding: 0.5em;*/
    font-weight: 800;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(0.9,0.9,1);
    transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
    opacity: 1;
}

figure.effect-steve:hover img {
    -webkit-transform: perspective(1000px) translate3d(0,0,21px);
    transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover .filmText:before {
    opacity: 0;
}

figure.effect-steve:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
/*****************videos*************/
.videos figure.effect-steve .filmText{
    height: 100%;
    font-size: 13px;
    line-height: 2em;
}
.videos figure.effect-steve .filmText .title{
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videos figure.effect-steve p{
    color: #ce181e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videos figure.effect-steve .filmText .date{
    font-size: 11px;
    color: #333;
    margin-top: 5px;
}
.videos figure.effect-steve .filmText .date i{
    margin-left: 5px;
}
/* Media queries */
@media screen and (max-width: 50em) {
    /*.padding{*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
        max-height: 100%;
    }
    .videos figure.effect-steve .filmText .date{
        margin-top: 15px;
    }
}