﻿@model IEnumerable<DomainClasses.Connection.Connection>

@{
    ViewData["Title"] = (CultureInfo.CurrentCulture.Name == "fa-IR" ? " اطلاعات تماس واحد خرید" : "Contact BuyUnit");
    string map = "";
}
<link rel="stylesheet" crossorigin=""
      href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""></script>
<link href="~/css/leaflet-example.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("تماس با واحد خرید") : Html.Raw("Contact Us"))</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 contactUs">
            <div class="col-md-6 col-12 information">
                <ul>
                    @foreach (var item in Model)
                    {
                        if (item.CType == true)
                        {
                            <li>@item.ConnectionName : <span>@item.ConnectionValue</span></li>
                        }
                        else
                        {
                            map = item.ConnectionValue;
                        }
                    }

                </ul>
            </div>
            <span class="hiddens" id="lblLat">@(ViewBag.Lat != null ? ViewBag.Lat : null)</span>
            <span class="hiddens" id="lblLong">@(ViewBag.Long != null ? ViewBag.Long : null)</span>
            <div class="col-md-6 col-12">

                <div id="map"></div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
        var lat = $("#lblLat").text(), lon = $("#lblLong").text();
        if (lat != "" && lon != "") {
            var map = L.map('map').setView([lat, lon], 13);
        }
        else {

            var map = L.map('map').setView([33.997243, 51.434958], 13);
        }

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        if (lat != "" && lon != "") {
            L.marker([lat, lon]).addTo(map)
                //.bindPopup('Marked')
                .openPopup();
        }
    });
</script>
