﻿@model IEnumerable<DomainClasses.Connection.Connection>

@{
    ViewData["Title"] = (CultureInfo.CurrentCulture.Name == "fa-IR" ? "تماس با ما" : "Contact Us");
    string map = "";
}
<link rel="stylesheet" crossorigin=""
      href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""></script>
<link href="~/css/leaflet-example.css" rel="stylesheet" />


<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "تماس با ما" : "Contact Us")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 contactUs">
            <div class="col-md-6 col-12 information">
                <ul>
                    @foreach (var item in Model)
                    {
                        if (item.CType == true)
                        {
                            <li>@item.ConnectionName : <span>@item.ConnectionValue</span></li>
                        }
                        else
                        {
                            map = item.ConnectionValue;
                        }
                    }

                </ul>
            </div>
            <span class="hiddens" id="lblLat">@(ViewBag.Lat != null ? ViewBag.Lat : null)</span>
            <span class="hiddens" id="lblLong">@(ViewBag.Long != null ? ViewBag.Long : null)</span>
            <div class="col-md-6 col-12">
                <div id="map"></div>
                @*<iframe style="border: 1px dotted #ce181e;width: 100%;height: 229px;padding: 5px;" allowfullscreen="">
                        <div id="map"></div>
                    </iframe>*@
            </div>
        </div>
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "ارسال نظر" : "Comment")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 addComment contact padding" style="margin-bottom: 20px;">
            <div class="col-sm-6 col-12">
                <form id="commentFrm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="SenderName" placeholder="@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "نام خود را وارد نمایید" : "Enter The Your Name")">
                        <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="SenderEmail" placeholder="@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "رایانامه خود را وارد نمایید" : "Enter The Your Email")">
                        <span><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-items="ViewBag.allCMG" id="reason"></select>
                    </div>

                    <div class="form-group refresh">
                        <div class="form-group">
                            <div class="g-RecaptchaStyle">
                                @*site keyخود را در این قسمت وارد کنید*@
                                <div class="g-recaptcha" data-sitekey="6LfuJaoUAAAAAPFW_Hoogrt6tFrs4vi_Sz1ZHgp0"></div>
                                <span class="text-danger">@ViewBag.Message</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-12">
                <form>
                    <div class="form-group">
                        <textarea id="MessageText" class="form-control" rows="7" placeholder="@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "نقد و بررسی شما" : "Enter The Your Review")" style="padding-top: 15px;"></textarea>
                        <span><i class="fa fa-comment" style="margin-top: -135px;"></i></span>
                    </div>
                </form>
            </div>
            <div class="col-12 style-btn">
                <button type="button" class="btn btn-outline-danger" onclick="InsertContactMessage();">@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "ثبت نظر شما" : "Submit Your Comment")</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
    @*<script src="~/js/leaflet-example.js"></script>*@
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            var lat = $("#lblLat").text(), lon = $("#lblLong").text();
            if (lat != "" && lon != "") {
                var map = L.map('map').setView([lat, lon], 13);
            }
            else {

                var map = L.map('map').setView([33.997243, 51.434958], 13);
            }

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            if (lat != "" && lon != "") {
                L.marker([lat, lon]).addTo(map)
                    //.bindPopup('Marked')
                    .openPopup();
            }
        });
    </script>

