﻿
@{
    ViewData["Title"] = "لینک های پورتال";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="account-cover"></div>
        <div class="col-12">
            <iframe src="http://bsadaf.hanyco.net/account/login" frameborder="0"></iframe>
        </div>
    </div>
</div>

