﻿<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود به پورتال</title>
@{ Layout = null;}
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style.css">
</head>
<body class="page-inner account">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="account-cover"></div>
                <div class="col-12">
                    <iframe src="http://bsadaf.hanyco.net/account/login" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </main>
    <div id="topcontrol"><span class="fa fa-chevron-up"></span></div>
    <!-- The JavaScript -->
   
</body>
</html>