﻿

<h2>فعالسازی حساب کاربری</h2>
<div class="alert alert-success">
    @*<h2>@ViewBag.UserName عزیز !</h2>*@
    <p>
        حساب کاربری شما فعال شد از طریق این
        <a href="/Login"> لینک </a>
        میتوانید وارد سایت شوید .
    </p>
</div>
