﻿@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAccount.cshtml";


}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>پنل مدیریت <strong style="color:#B26666">سایت</strong></b></a>
    </div>
    <div class="login-box-body" style="text-align:center">
        لینک تغییر رمز عبور با موفقیت به ایمیل شما ارسال شد.
    </div>
</div>