﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>پنل مدیریت <strong style="color:#B26666">سایت</strong></b></a>
    </div>
    <div class="login-box-body">
        <h3 class="login-box-msg">بازیابی رمز عبور</h3>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post" data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-loading="#div-loading"
              data-ajax-success="ForgotPassword_Success"
              data-ajax-failure="ForgotPassword_Failure">
            <hr />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group  text-center">
                <button type="submit" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-search "></i>
                    </span>بازیابی رمز عبور
                </button>
            </div>
            <div class="form-group" style="text-align:center">
                <img src="~/images/Loading.gif" style="display:none" id="div-loading" />
            </div>
        </form>
    </div>
</div>
<script src="~/js/Ajax/Account_Admin_Ajax.js"></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
