﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAccount.cshtml";
}

@*<script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>*@

<div class="login-box">
    <div class="login-logo">
        <a href="#" style="font-size:22px"><b>پورتال کارکنان شرکت  <strong style="color:#B26666">آلیاژگستر هامون</strong></b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-area="admin" asp-action="Login" asp-controller="Account" method="post" data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-loading="#div-loading"
              data-ajax-success="Login_Success"
              data-ajax-failure="Login_Failure">
            <hr />
            <input asp-for="LoginAdmin" value="Admin" hidden>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>*@
            <div class="form-group  ">
                <a onclick="resetCaptchaImage();" class="col-lg-1 "><span><i class="fa fa-refresh FontLarger"></i></span></a>
                <input type="text" class="form-control col-lg-7" asp-for="CaptchaCode" placeholder="کد امنیتی">
                <img id='img-captcha' src="~/get-captcha-image" alt="کد امنیتی">
            </div>
            <div class="form-group  text-center">
                <button type="submit" class="btn btn-primary btn-block  waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-log-in "></i>
                    </span>ورود
                </button>
            </div>
            <div class="form-group">
                <p style="text-align:center">

                    <a asp-action="ForgotPassword">رمز عبور خود را فراموش کرده ام <i class="fa fa-lock m-r-5 text-dark"></i></a>
                </p>

            </div>
            <div class="form-group" style="text-align:center">
                <img src="~/images/Loading.gif" style="display:none" id="div-loading" />
            </div>

        </form>
        <hr />
        <!-- /.social-auth-links -->

    </div>
    <!-- /.login-box-body -->
</div>
@section Scripts{
    <script>
        $("#img-captcha").click(function () {
            resetCaptchaImage();
        });

        function resetCaptchaImage() {
            d = new Date();
            $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
        }
    </script>
    <script src="~/js/Ajax/Account_Admin_Ajax.js" asp-append-version="true"></script>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>