﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAccount.cshtml";

}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>پنل مدیریت <strong style="color:#B26666">سایت</strong></b></a>
    </div>
    <div class="login-box-body">
        <h4 class="login-box-msg">تغییر رمز عبور</h4>
        <form asp-action="ResetPassword" asp-controller="Account" data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-success="ResetPassword_Success"
              data-ajax-failure="ResetPassword_Failure">
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" id="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" id="Pass" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPass" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="fa fa-key "></i>
                    </span>تغییر رمز عبور
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script src="~/js/Ajax/Account_Admin_Ajax.js"></script>
}
