﻿@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>پنل مدیریت <strong style="color:#B26666">سایت</strong></b></a>
    </div>
    <div class="login-box-body" style="text-align:center">
       رمز عبور شما با موفقیت تعقییر یافت
        <hr>
        <a asp-action="Login" asp-area="Admin" asp-controller="Account" class="btn btn-info"><i class="glyphicon glyphicon-log-in"></i> صفحه ورود</a>
    </div>
</div>