﻿@model DomainClasses.CustomerComplaint.CustomerComplaintFiles
<div class="col-12 col-md-6">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">عنوان</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="Title" />
    </div>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="col-12 col-md-6">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">بارگزاری فایل</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="documentUploader2" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="documentUploader2">انتخاب فایل</label>
        </div>
    </div>
    <div class="text-center loadings hiddens">
        <img src="~/images/Loading.gif" />
    </div>
</div>
<div class="col-12" id="docsComplaintPreviews">

</div>


<script>
    var newImageArray = [];
    $("#documentUploader2").change(function () {
        $(".loadings").removeClass("hiddens");
        var formData = new FormData();
        var files = $(this).get(0).files;
        formData.append("docFile", files[0])


        $.ajax({
            method: 'POST',
            url: '/Complaints/DocumentUpload',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.status == "ok") {
                    $(".loadings").addClass("hiddens");
                    var htmls = "";
                    htmls += ' <div class="col-12 col-sm-6 col-lg-4 col-xl-3 forms-file-upload myDoc" data-fn=' + data.fn + '>' +
                        '<div class="forms-file-record">' +
                        '<span class="fa fa-file"></span>' +
                        '<p class="forms-file-title btnComplaintDocsDelete" data-file=' + data.fn + '>' + $("#Title").val() + '</p>' +
                        '<i class="fa fa-remove btnComplaintDeleteDocs" title="حذف فایل"></i>' +
                        '</div>' +
                        '</div>';


                    $("#docsComplaintPreviews").append(htmls);
                    $("#docsComplaintPreviews2").append(htmls);
                }

            },
            error: function (result) {
                //alert(result.error);
            }
        });
    });


    $('#docsComplaintPreviews').on('click', '.forms-file-upload .forms-file-record i', function () {

        var $this = $(this).closest('div.myDoc');
        var fileName = $(this).closest('div.myDoc').attr('data-fn');
        $.ajax({
            method: 'POST',
            url: '/Complaints/DeleteDocumentUpload',
            data: { 'fn': fileName },
            success: function (response) {
                if (response == "ok") {
                    $this.remove();
                }
            },
            error: function (response) {
                //showModalMessage('.modalMessage', 'خطای کلاینت', response, 'danger');
            }
        });
    });

</script>