﻿@model DomainClasses.CustomerComplaint.CustomerComplaintMaster

<link href="~/AdminContent/dist/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />


<script src="~/AdminContent/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/AdminContent/dist/js/persian-datepicker-0.4.5.min.js"></script>

<form id="complaintForm">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">نام و نام خانوادگی</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" asp-for="FullName" />

        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">نام شرکت</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="CompanyName" />
        </div>
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">نام نماینده مشتری</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon2" asp-for="AgencyName" />
        </div>
        <span asp-validation-for="AgencyName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">تلفن ثابت</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon3" asp-for="Tell" />
        </div>
        <span asp-validation-for="Tell" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">شماره همراه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon4" asp-for="PhoneNumber" />
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon5">شماره فکس</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon5" asp-for="Fax" />
        </div>
        <span asp-validation-for="Fax" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon6">پست الکترونیکی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon6" asp-for="Email" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">آدرس</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Address"></textarea>
        </div>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-12">
        <p class="forms-title mt-3">2- موضوع شکایت</p>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon7">تاریخ وقوع مشکل </span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon7" asp-for="OccurrenceDate" />
            <input type="text" id="tarikhAlt1" class="form-control  hiddens pull-right">
        </div>
        <span asp-validation-for="OccurrenceDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="ProductId">نوع محصول</label>
            </div>
            <select class="custom-select" asp-for="ProductId" asp-items="ViewBag.Products"></select>
        </div>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">شرح مشکل رخ داده</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Description"></textarea>
        </div>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">درخواست  شاکی</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Request"></textarea>
        </div>
        <span asp-validation-for="Request" class="text-danger"></span>
    </div>

</form>
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#OccurrenceDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
    });
</script>