﻿
@{
    ViewData["Title"] = "ثبت شکایات مشتریان";
}
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">

<div class="container">
    <div class="row justify-content-end">
        <div class="widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>فرم ثبت شکایات مشتریان</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 forms">
            <div class="col-12 forms-bg" id="complaints_div">
                <p class="forms-header text-center">فرم ثبت شکایات مشتریان</p>
                <div class="col-12">
                    <span class="text-danger"> * فیلد های تلفنی و کد ملی (عددی) را بدون خط فاصله (-) وارد نمایید</span>
                    <p class="forms-title mt-3">1- مشخصات  شکایت کننده</p>
                </div>

                <div id="complaint_div"></div>
                <div id="complaintFile_div"></div>

                <div class="col-12 style-btn text-left mt-3">
                    <a onclick="ComplaintRegister()" class="btn btn-outline-danger">ثبت اطلاعات</a>
                </div>

            </div>


            <div class="col-12 forms forms-print hiddens" id="complaintPrint_div">
                <div class="col-12 forms-bg" id="print-factor">
                    <div class="col-12 forms-border">
                        <div class="col-12">
                            <p class="forms-title mt-3">1- مشخصات  شکایت کننده</p>
                        </div>
                        <div class="col-12">
                            <div class="col-4 mb-3 forms-view">
                                <p class="col-auto forms-view-title">نام و نام خانوادگی : </p>
                                <span class="forms-view-text" id="lblPerson">علیرضا حاجی قدیری راوندی</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">نام شرکت : </p>
                                <span class="forms-view-text" id="lblCompanyName">لورم ایپسوم متن</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تلفن ثابت : </p>
                                <span class="forms-view-text" id="lblTell">03155548956</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">شماره همراه : </p>
                                <span class="forms-view-text" id="lblMobile">09135846974</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">شماره فکس : </p>
                                <span class="forms-view-text" id="lblFax">56892134</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">پست الکترونیکی : </p>
                                <span class="forms-view-text" id="lblEmail">halyco-kashan@yahoo.com</span>
                            </div>
                            <div class="col-5 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">نام نماینده مشتری جهت دریافت پاسخ : </p>
                                <span class="forms-view-text" id="lblAgancy">لورم ایپسوم متن ساختگی پیش ساخته</span>
                            </div>
                            <div class="col-7 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">آدرس : </p>
                                <span class="forms-view-text" id="lblAddress">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3">2- موضوع شکایت </p>
                        </div>
                        <div class="col-12">
                            <div class="col-6 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تاریخ وقوع مشکل : </p>
                                <span class="forms-view-text" id="lblDate">1397/11/10</span>
                            </div>
                            <div class="col-6 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">نوع محصول : </p>
                                <span class="forms-view-text" id="lblProduct">فروسیلیس</span>
                                <span class="hiddens" id="lblProductId"></span>
                            </div>
                            <div class="col-12 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">شرح مشکل رخ داده : </p>
                                <span class="forms-view-text" id="lblDescrip">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید.</span>
                            </div>
                            <div class="col-12 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">درخواست شاکی : </p>
                                <span class="forms-view-text" id="lblRequest">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید.</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mt-3 mb-3 forms-view forms-file-upload">
                                <p class="col-auto forms-view-title">فایل های بارگزاری شده : </p>
                                <div id="docsComplaintPreviews2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 style-btn text-left mb-3">
                    <a class="btn btn-outline-danger" onclick="jQuery.print('#print-factor')"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>
                    <a onclick="SaveComplaintsData();" class="btn btn-outline-danger" id="btnRegisterComplaints">ثبت</a>
                    <a onclick="ComebackToSupplierForm();" class="btn btn-outline-danger">بازگشت به فرم</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/SiteContent/js/jQuery.print.js"></script>
    <script>
        $(function () {
            $("#complaint_div").load("/Complaints/Complaint");
            $("#complaintFile_div").load("/Complaints/ComplaintDocs");
        });
    </script>
