﻿<!DOCTYPE html>
<html lang="fa" dir="@(CultureInfo.CurrentCulture.Name=="fa-IR" ? "rtl":"ltr")">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Meta", false)
    @if (ViewData["Title"] == null)
    {
        <title> @(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("شرکت آلیاژگستر هامون") : Html.Raw("Halyco Company"))</title>
    }
    else
    {
        <title>@Html.Raw(ViewData["Title"].ToString())</title>
    }
    <meta name="generator" content="فناوری اطلاعات آیتیسا | itsaco.ir"/>
    <meta name="author" content="halyco - آلیاژگستر هامون" />
    <meta name="robots" content="index, follow" />
    <link href="~/SiteContent/images/logotab.png" type="image/x-icon" rel="shortcut icon">
    @*<link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap.css">*@
    <link href="~/SiteContent/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        <link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap-rtl.min.css" asp-append-version="true">
    }
    @*<link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap-dropdownhover.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/font-icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style.css">*@
    @if (CultureInfo.CurrentCulture.Name == "en-US")
    {
        <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style-en.min.css" asp-append-version="true">
    }

    <link href="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/SiteContent/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
</head>
<body class="page-inner">
    <header>
        <!--***********header************-->
        <div class="header-pattern">
            <div class="container header-flex">
                <div class="col-12 col-lg-3 header-logo d-none d-lg-block">
                    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                    {
                        <a href="/"><img src="~/SiteContent/images/logo-halyco1.png" alt="لوگو شرکت آلیاژگستر هامون" asp-append-version="true"></a>
                    }
                    else
                    {
                        <a href="/"><img src="~/SiteContent/images/logo-halyco1-en.png" alt="logo" asp-append-version="true"></a>
                    }
                </div>
                <div class="col-12 col-lg-9">
                    @await Component.InvokeAsync("Menu")
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "جستجو" :"Search")</h5>
                        <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search">
                            <form action="/Search">
                                @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                                {
                                    <button type="submit"><i class="fa fa-search fa-lg"></i></button><input type="text" name="title" class="form-control" placeholder="عبارت مورد نظر خود را جستجو کنید...">
                                }
                                else
                                {
                                    <button type="submit"><i class="fa fa-search fa-lg"></i></button><input type="text"  name="title" class="form-control" placeholder="Search for your phrase ...">
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- ************* slide ********** -->
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1" style="padding: 0;">
                    @await Component.InvokeAsync("Footer")
                    <div class="col-12 itsa-footer hidden-xs hidden-sm">
                        @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                        {
                            <ul>
                                <li>© کلیه حقوق مادی و معنوی این سایت متعلق به شرکت آلیاژگستر هامون می باشد.</li>
                                <li>طراحی و سئو توسط  <a href="https://itsaco.ir" rel="nofollow" target="_blank"><span>فناوری اطلاعات آیتیسا</span></a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>© All rights reserved Halyco Company</li>
                                <li>Design and SEO by  <a href="https://itsaco.ir" rel="nofollow" target="_blank"><span>ITSA Information Technology</span></a></li>
                            </ul>
                        }
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 force-inner">
                    <div class="col-12 force-link">
                        @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                        {
                            <ul>
                                <li class="item">
                                    <a asp-controller="Product" asp-action="Index" class="link" title="گالری محصولات">
                                        <span class="icon"><i class="icon-diamond"></i></span>
                                        <span class="text">گالری محصولات</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a asp-controller="Catalog" asp-action="Index" class="link" title="دانلود کاتالوگ">
                                        <span class="icon"><i class="icon-big-brochure"></i></span>
                                        <span class="text">دانلود کاتالوگ</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="ارتباط با واحد فروش">
                                        <span class="icon"><i class="icon-phone-call"></i></span>
                                        <span class="text">ارتباط با واحد فروش</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://vitrinnet.com/HALYCO" class="link" title="" target="_blank">
                                        <span class="icon"><i class="icon-lamp"></i></span>
                                        <span class="text">استعلام قیمت</span>
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li class="item">
                                    <a asp-controller="Product" asp-action="Index" class="link" title="Product Gallery">
                                        <span class="icon"><i class="icon-diamond"></i></span>
                                        <span class="text">Product Gallery</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a asp-controller="Catalog" asp-action="Index" class="link" title="Catalog">
                                        <span class="icon"><i class="icon-big-brochure"></i></span>
                                        <span class="text">Catalog</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="Contact SaleUnit">
                                        <span class="icon"><i class="icon-phone-call"></i></span>
                                        <span class="text">Contact SaleUnit</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://vitrinnet.com/HALYCO" class="link" title="" target="_blank">
                                        <span class="icon"><i class="icon-lamp"></i></span>
                                        <span class="text">Call for price</span>
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="topcontrol"><span class="fa fa-chevron-up"></span></div>
    <!-- The JavaScript -->

    @*<script src="~/SiteContent/js/bootstrap.min.js"></script>
    <script src="~/SiteContent/js/bootstrap.bundle.min.js"></script>
    <script src="~/SiteContent/js/bootstrap-dropdownhover.js"></script>
    <script src="~/SiteContent/js/index.js"></script>
    <script src="~/SiteContent/js/jquery.easing.1.3.js"></script>
    <script src="~/SiteContent/js/alert.js"></script>*@
    <script src="~/SiteContent/js/bundle.min.js" asp-append-version="true"></script>


    <script src="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.js" asp-append-version="true"></script>
    <script src="~/js/myScript-site.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 6000
            });
        });

        
    </script>
</body>
</html>