﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{ 
    <li class="dropdown user user-menu">
        <a asp-controller="Manage" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/images/user2-160x160.jpg" class="user-image" alt="User Image" id="userphoto">
            <span class="hidden-xs" id="UserFullName">@*@UserManager.GetUserAsync(User).Result.FullName*@ مهدی</span>
        </a>
        <ul class="dropdown-menu ">
            <!-- User image -->
            <li class="user-header">
                <img src="~/images/user2-160x160.jpg" id="userphoto" class="img-circle" alt="User Image">

                <p>
                    @*@UserManager.GetUserAsync(User).Result.FullName*@مهدی
                    @*<small>مدیریت کل سایت</small>*@
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="row">
                    <div class="col-xs-4 text-center btn-flat ">
                        <a asp-action="Index" asp-controller="Manage">صفحه من</a>
                    </div>
                </div>
                <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <div class="center-block">
                        <button type="submit" class="btn btn-instagram btn-default  btn-block waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-log-out "></i>
                            </span>خروج
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </li>


   
}
