﻿@if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    @inject UserManager<ApplicationUser> usermanager
    var user = await usermanager.GetUserAsync(User);

    <li>
        <a class="hvr-underline-from-right" href="/Account/Logout" ><i class="fa fa-sign-out fa-lg"></i>خروج</a>
    </li>

    <li>
        <a href="/Manage/Index" > <span id="user_FullName">@user.FullName</span> / حساب کاربری </a>
    </li>

}
else
{
    <li>
        <button class="hvr-underline-from-right" onclick="Login()"><i class="fa fa-lock fa-lg"></i>ورود</button>
    </li>
    <li>
        <button class="hvr-underline-from-right" onclick="Register()"><i class="fa fa-user fa-user"></i>عضویت</button>
    </li>
}
