﻿@model IEnumerable<CustomerAddress>

@{
    var Default = true;
    var AddClass = "";
}
@foreach (var item in Model)
{
    if (Default) { AddClass = "backColor"; }
    else { AddClass = ""; }

    <table class="table table-bordered table-responsive clr @AddClass ">
        <tr>
            @if (Default)
            {
                Default = false;
                <td><input type="radio" name="Address" checked id="@item.CustomerAddress_Id"></td>
            }
            else
            {
                <td><input type="radio" name="Address" id="@item.CustomerAddress_Id"></td>
            }
            <td>
                تلفن همراه: <span class="edit" data-input="mobile">@item.Phone</span>
            </td>
            <td>
                استان: <span class="edit" data-input="ostan">@item.State.StateName</span>
            </td>
            <td>
                شهرستان: <span class="edit"
                               data-input="city">@item.City.CityName</span>
                        </td>
                        <td>
                            کدپستی: <span class="edit"
                                          data-input="number">@item.PostalCode</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        آدرس: <span class="edit" id="address" data-input="address">@item.Address</span>
                                    </td>
                                </tr>
                            </table>

                        }

@await Component.InvokeAsync("AddAddress", false)
