﻿@model ViewModels.EmployeeEditVM

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditEmployee" id="employFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PersonPic" id="oldPersonPic" class="form-control" type="hidden" />
            <input asp-for="UserIdentity_Id" class="form-control" type="hidden" />
            <input asp-for="PersonPassword" class="form-control" type="hidden" />
            <input asp-for="Responsiblity" class="form-control" type="hidden" />
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control TextRequired" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="SupervisionLevel" class="control-label"></label>
                    <select asp-for="SupervisionLevel" class="form-control">
                        <option value="3">هردو</option>
                        <option value="1">مافوق</option>
                        <option value="2">مدیر</option>
                    </select>
                    <span asp-validation-for="SupervisionLevel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="PersonalCode" class="control-label"></label>
                    <input asp-for="PersonalCode" class="form-control TextRequired" />
                    <span asp-validation-for="PersonalCode" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="NationalCode" class="control-label"></label>
                    <input asp-for="NationalCode" class="form-control TextRequired" />
                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group col-md-12">
            <div class="col-md-6">
                <label asp-for="PersonPassword" class="control-label"></label>
                <input asp-for="PersonPassword" class="form-control " type="password" />
            </div>
            <div class="col-md-6">
                <label asp-for="PersonRePassword" class="control-label"></label>
                <input asp-for="PersonRePassword" class="form-control " type="password" />
            </div>
        </div>*@
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="OfficePostId" class="control-label"></label>
                    <select asp-for="OfficePostId" class="form-control" asp-items="ViewBag.AllPosts">
                        <option value="">انتخاب کنید</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label asp-for="OfficeUnitId" class="control-label"></label>
                    <select asp-for="OfficeUnitId" class="form-control" asp-items="ViewBag.AllUnits">
                        <option value="">انتخاب کنید</option>
                    </select>
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Tel" class="control-label"></label>
                    <input asp-for="Tel" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control TextRequired" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="HasShift" class="control-label"></label>
                    <select asp-for="HasShift" class="form-control" onchange="changeShiftNameStatus($(this).val());">
                        <option value="false">ندارد</option>
                        <option value="true">دارد</option>
                    </select>
                    <span asp-validation-for="HasShift" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ShiftName" class="control-label"></label>
                    <select asp-for="ShiftName" class="form-control">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                    <span asp-validation-for="ShiftName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="HasAlternateEmployee" class="control-label"></label>
                    <select asp-for="HasAlternateEmployee" class="form-control">
                        <option value="false">ندارد</option>
                        <option value="true">دارد</option>
                    </select>
                    <span asp-validation-for="HasAlternateEmployee" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <br />
                    <label>
                        <input asp-for="IsActive" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <label asp-for="PersonPic" class="control-label "></label>
                    <input asp-for="PersonPic" class="form-control TextRequired" type="file" id="imgEmployUpload" />
                    <span asp-validation-for="PersonPic" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" src="~/Files/Employee/Thumb/@Model.PersonPic" />
                </div>
                <div class="col-md-4">
                    <label asp-for="Responsiblity" class="control-label "></label>
                    <input asp-for="Responsiblity" class="form-control TextRequired" type="file" id="responsilityUpload" />
                    <span asp-validation-for="Responsiblity" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <br />
                    @if (Model.Responsiblity != null)
                    {
                        <a id="filePreview" target="_blank" style="background:yellow" href="~/Files/Employee/Responsibilty/@Model.Responsiblity">مشاهده فایل</a>
                    }
                    else
                    {
                        <a id="filePreview" target="_blank" style="background:yellow"></a>
                    }
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    <label asp-for="Job" class="control-label "></label>
                    <input asp-for="Job" class="form-control TextRequired" type="text" />
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateEmployee();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgEmployUpload").change(function () {
        readURL(this);
    });

    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            debugger;
            reader.onload = function (e) {
                $('#filePreview').attr('href', e.target.result);
                $('#filePreview').text("مشاهده فایل");
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#responsilityUpload").change(function () {
        readURL2(this);
    });
</script>
<script>
    changeShiftNameStatus($('#HasShift').val());

    function changeShiftNameStatus(value) {
        if (value == 'true') {
            $('#ShiftName').removeAttr('disabled');
        } else {
            $('#ShiftName').attr('disabled', 'disabled');
        }
    }
</script>