﻿
@{
    ViewData["Title"] = "مدیریت کارکنان";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#employee" data-toggle="tab">کارکنان</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="employee">
                        <div class="box-header">
                            <a onclick="openModalForAddEmployee()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن کارمند جدید </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست کارکنان</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>

                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });
    </script>
}