﻿@*@model IEnumerable<DomainClasses.Employees.Employee>*@
@model IEnumerable<ViewModels.EmployeeViewModel>


<table class="table table-bordered table-hover table-striped" id="employee_tb">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.ApplicationUser.UserPhoto)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.NationalCode)
            </td>


            <td>
                @Html.DisplayNameFor(model => model.eemployee.PersonalCode)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.Job)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.RolesName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.OfficeUnit.OfficeUnitTitle)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.IsActive)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.SupervisionLevel)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.ShiftName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.eemployee.HasAlternateEmployee)
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.eemployee.ApplicationUser.UserPhoto != null)
                    {
                        <img width="100" height="100" src="~/Files/Employee/Thumb/@item.eemployee.ApplicationUser.UserPhoto" />
                    }
                    else
                    {
                        <img width="100" height="100" src="~/images/Unknown_Person.png" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.ApplicationUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.NationalCode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.PersonalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.Job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.OfficeUnit.OfficeUnitTitle)
                </td>
                @if (item.eemployee.IsActive)
                {
                    <td> <i class="text-success fa fa-check" title="فعال"></i></td>
                }
                else
                {
                    <td> <i class="text-danger fa fa-ban" title="غیر فعال"></i></td>
                }
                @if (item.eemployee.SupervisionLevel.Value == 1)
                {
                    <td>
                        مافوق
                    </td>
                }
                else if (item.eemployee.SupervisionLevel.Value == 2)
                {
                    <td>
                        مدیر
                    </td>
                }
                else if (item.eemployee.SupervisionLevel.Value == 3)
                {
                    <td>
                        هر دو
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.eemployee.ShiftName)
                </td>
                @if (item.eemployee.HasAlternateEmployee != null)
                {
                    if (item.eemployee.HasAlternateEmployee.Value)
                    {
                        <td> <i class="text-success fa fa-check" title="جایگزین دارد"></i></td>
                    }
                    else
                    {
                        <td> <i class="text-danger fa fa-ban" title="جایگزین ندارد"></i></td>
                    }
                }
                else
                {
                    <td>نا مشخص</td>
                }
                <td >
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditEmployee('@item.eemployee.PersonalCode');"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-warning btnIcon" title="افزودن نقش" onclick="openModalForAddRoleToUser('@item.eemployee.UserIdentity_Id');"><i class="fa fa-lock"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteEmployee('@item.eemployee.PersonalCode');"> <i class="fa fa-trash"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" title="تغییر رمز عبور" onclick="viewchangeUserPassword('@item.eemployee.UserIdentity_Id');" style="margin-left:0px"><i class="fas fa-key"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    table = $('#employee_tb').DataTable();
    table.destroy();
    $('#employee_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });

</script>