﻿@{ Layout = null;}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary col-xs-12">
            <div class=" col-sm-12 col-xs-12">

                <div class="form-group col-sm-12">
                    <label class="control-label">رمز عبور جدید کاربر @ViewBag.fullName:</label>
                    <input type="password" id="newEmployeePassword" class="form-control TextRequired" autocomplete="off"  />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">تکرار رمز عبور جدید کاربر @ViewBag.fullName:</label>
                    <input type="password" id="newEmployeePassword2" class="form-control TextRequired" autocomplete="off"  />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">رمز عبور مدیر:</label>
                    <input type="password" id="currentAdminPassword" class="form-control TextRequired" autocomplete="off" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button type="button" onclick="changeUserPassword();" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-check "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group" style="text-align:center">
                        <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
