﻿@model UserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary col-xs-12">
            
            <form asp-action="Create" asp-area="Admin" id="Form_Id" asp-controller="Users"
                  data-ajax="true"
                  data-ajax-method="Post"
                  data-ajax-mode="replace"
                  data-ajax-loading="#div-loading"
                  data-ajax-success="CreateUser_Success"
                  data-ajax-failure="CreateUser_Failure">

                <div class=" col-sm-12 col-xs-12">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control TextRequired" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" id="Email" class="form-control TextRequired" onblur="SetUserName()" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                </div>
                <div class=" col-sm-12 col-xs-12">
                    <div class="form-group col-sm-6">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control TextRequired" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control TextRequired" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group  col-sm-6">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" id="UserName" class="form-control TextRequired" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control TextRequired " />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-sm-12 col-xs-12">
                    <div class="form-group col-sm-6">
                        <label asp-for="Mobile_1" class="control-label"></label>
                        <input asp-for="Mobile_1" class="form-control TextRequired" />
                        <span asp-validation-for="Mobile_1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Mobile_2" class="control-label"></label>
                        <input asp-for="Mobile_2" class="form-control" />
                        <span asp-validation-for="Mobile_2" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12 text-center">
                    <button type="submit" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-check "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group" style="text-align:center">
                        <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
