﻿@{
    ViewData["Title"] = "Index";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header">
                <a onclick="openModalForAddUser()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-user-plus">&nbsp; &nbsp;</i>افزودن مدیر </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست کاربران </h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای تعریف کاربران و افزودن نقش به آنها می باشد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });

    </script>
}