﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ViewAll";
    Layout = null;
}
<table class="table table-bordered table-hover table-responsive" id="users_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>

            <th>عملیات</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.UserName">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditUser('@item.Id');"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-warning btnIcon" title="تغییر نقش" onclick="openModalForAddRoleToUser('@item.Id');"><i class="fa fa-lock"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="تغییر رمز عبور" onclick="viewchangeUserPassword('@item.Id');" style="margin-left:0px"><i class="fas fa-key"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
