﻿@model List<Color>

@foreach (var item in Model)
{
    <div class="filter">
        <div class="checkboxlist checkboxcolor pull-right">
            <input type="checkbox" value="@item.Color_ID" id="color @item.Color_ID" class="pcolor" onchange="searchProduct()">
            <label for="color @item.Color_ID" class="" style="background:@item.ColorCode"></label>
        </div>
        <label for="color @item.Color_ID">@item.ColorTitle</label>
    </div>
}