﻿@model IEnumerable<DomainClasses.CustomerComplaint.CustomerComplaintFiles>

<hr />
<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">فایل های بارگزاری شده</h3>
</div>
<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">عنوان فایل</th>
                <th scope="col">فایل</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    <td>@item.Title</td>
                    <td><a href="~/Files/ComplaintsDocs/@item.FileNames" target="_blank">دانلود فایل</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>