﻿@model DomainClasses.CustomerComplaint.CustomerComplaintMaster

<style>
    .textColor {
        color: #2388d2dd;
    }

    .lineHeight {
        line-height: 4.5em;
    }

    .table > tbody > tr > td {
        text-align: right !important;
    }
</style>

<section class="content">
    <div class="row" id="supplier-print">
        <div class="col-xs-12">

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger"> مشخصات شکایت کننده</h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <th>نام شرکت</th>
                    <th>پست الکترونیکی</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.FullName</span></td>
                    <td> <span class="control-label textColor">@Model.CompanyName</span></td>
                    <td> <span class="control-label textColor">@Model.Email</span></td>
                </tr>

                <tr>
                    <th>شماره همراه</th>
                    <th>شماره فکس</th>
                    <th>تلفن ثابت</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.PhoneNumber</span></td>
                    <td> <span class="control-label textColor">@Model.Fax</span></td>
                    <td> <span class="control-label textColor">@Model.Tell</span></td>
                </tr>
                <tr>
                    <th>نام نماینده</th>
                    <th colspan="2">آدرس</th>
                </tr>
                <tr>
                    <td> <span class="control-label textColor">@Model.AgencyName</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.Address</span></td>
                </tr>
            </table>


            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger"> موضوع شکایت</h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>تاریخ وقوع مشکل</th>
                    <th>نوع محصول</th>
                </tr>
                <tr>
                    <td> <span class="control-label textColor">@Model.OccurrenceDate</span></td>
                    <td> <span class="control-label textColor">@Model.ProductInfo.ProductTitle</span></td>
                </tr>
                <tr>
                    <th colspan="2">شرح مشکل رخ داده</th>
                </tr>
                <tr>
                    <td colspan="2"><span class="control-label textColor">@Model.Description</span></td>
                </tr>
                <tr>
                    <th colspan="2">درخواست شاکی</th>
                </tr>
                <tr>
                    <td colspan="2"><span class="control-label textColor">@Model.Request</span></td>
                </tr>
            </table>
          

            <div class="form-group lineHeight" id="documents_Div">

            </div>
        </div>
    </div>
</section>

<div class="text-center">
    <button class="btn btn-danger" onclick="jQuery.print('#supplier-print')">
        <i class="fa fa-print mg-lf"></i> چاپ فرم
    </button>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>

<script>
    $(function () {
        $("#documents_Div").load("/Admin/Complaint/ViewDocumentsComplaint/" +@Model.ComplaintID);
    });
</script>