﻿@model IEnumerable<DomainClasses.CustomerComplaint.CustomerComplaintMaster>


<table class="table table table table-bordered table-hover table-striped" id="complaint_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccurrenceDate)
            </th>
            <th>
              محصول
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccurrenceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInfo.ProductTitle)
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="GetComplaintDetails(@item.ComplaintID);"> <i class="fa fa-eye"></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    table = $('#complaint_tb').DataTable();
    table.destroy();
    $('#complaint_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
