﻿

@model IEnumerable<ProductsGroup>

<ul class="access-menu">
    @{ int cnt = 0;}

    @foreach (var item in Model.Where(x => x.ParentId == 1))
    {
        cnt += 1;
       
        <li>
            <a href="/Product/Archive/@item.ProductGroupTitle.ToSlug()">
                <img src="~/SiteContent/images/test11.png" alt="carpet" class="img-responsive">
                <span>@item.ProductGroupTitle</span>
            </a>
        </li>

    }

</ul>
