﻿@model DomainClasses.Employees.Vacation

@*<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="PersonalCode_3" />
                <input type="hidden" asp-for="ApplicantSignature" />
                <input type="hidden" asp-for="Vecation_ID" />
                <input type="hidden" asp-for="CreateDate" />
                <div class="form-group">
                    <div class="col-md-12">

                        @if (Model.VecationType)
                        {
                            <input type="radio" id="day_1" name="vacation_rbl_1" checked="checked" disabled="disabled">
                            <label class="custom-control-label" for="day_1">روزانه</label>
                            <input type="radio" id="hour_1" name="vacation_rbl_1" disabled="disabled">
                            <label class="custom-control-label" for="hour_1">ساعتی</label>
                        }
                        else
                        {
                            <input type="radio" id="day_1" name="vacation_rbl_1" disabled="disabled">
                            <label class="custom-control-label" for="day_1">روزانه</label>
                            <input type="radio" id="hour_1" name="vacation_rbl_1" checked="checked" disabled="disabled">
                            <label class="custom-control-label" for="hour_1">ساعتی</label>
                        }
                    </div>

                </div>
                <div class="form-group @(Model.VecationType?"":"hidden")" id="dayVacation_1">
                    <div class="col-md-6">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="StartDate_1" class="form-control TextRequired" value="@Model.DayVecationStartDate" disabled="disabled" />
                            <input type="text" id="tarikhAlt4" class="form-control hidden pull-right" asp-for="DayVecationStartDate">
                            <span asp-validation-for="DayVecationStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="EndDate_1" class="form-control TextRequired" value="@Model.DayVecationEndDate" disabled="disabled" />
                            <input type="text" id="tarikhAlt5" class="form-control hidden pull-right" asp-for="DayVecationEndDate">
                            <span asp-validation-for="DayVecationEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>مدت </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-sliders-h"></i>
                            </div>
                            <input asp-for="Duration" id="Duration_1" type="number" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Section" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <input type="text" class="form-control" asp-for="Section" id="Section3" disabled="disabled" />
                            <span asp-validation-for="Section" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group @(Model.VecationType ? "hidden":"")" id="timeVacation_1">

                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="StartTime" id="StartTime_1" type="time" class="form-control TextRequired" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="EndTime" id="EndTime_1" type="time" class="form-control TextRequired" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>تاریخ  </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="VacationDate_1" class="form-control TextRequired" />
                            <input type="text" id="tarikhAlt6" class="form-control hidden pull-right" disabled="disabled">
                            <span asp-validation-for="DateVacationTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Section" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <input type="text" class="form-control" asp-for="Section" id="Section4" disabled="disabled" />
                            <span asp-validation-for="Section" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group @ViewBag.alternateClass">
                    <div class="col-md-6">
                        <label asp-for="AlternateSignature" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" disabled="disabled" asp-for="AlternateSignature" asp-items="@ViewBag.coworkerEmployeelist" id="alternateListEdit_ddl"></select>
                            <span asp-validation-for="Section" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="StatusAlternateSignature" class="control-label"></label>
                        <select class="form-control" asp-for="StatusAlternateSignature" onchange="changeStatusAlternateSignature($(this).val())">
                            <option value="1">می پذیرم</option>
                            <option value="-1">نمی پذیرم</option>
                            <option value="0">انتخاب کنید</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="AlternateSignatureReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea type="text" class="form-control" asp-for="AlternateSignatureReason" rows="4"></textarea>
                            <span asp-validation-for="AlternateSignatureReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    @if (Model.UnitsSupervisorSignature != null)
                    {
                        <button type="button"  class="btn btn-warning waves-effect waves-light disabled">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت
                        </button>
                    }
                    else
                    {
                        <button type="button" onclick="UpdateAltVacation();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت
                        </button>
                    }

                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/AdminContent/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/AdminContent/dist/js/persian-datepicker-0.4.5.min.js"></script>
<script>
    var status1 = 0;
    debugger;
    var vacationType1 = '@Model.VecationType';
    if (vacationType1 == "True") { status1 = 1; } else { status1 = 0; }
        $(function () {
            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate_1').persianDatepicker({
                altField: '#tarikhAlt4',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //timePicker: {
                //    enabled: true
                //},
            });


            $('#EndDate_1').persianDatepicker({
                altField: '#tarikhAlt5',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //timePicker: {
                //    enabled: true
                //},
            });

            $('#VacationDate_1').persianDatepicker({
                altField: '#tarikhAlt6',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //timePicker: {
                //    enabled: true
                //},
            });

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

            $('input[id=day_1]').on('ifChecked', function (event) {
                $("#dayVacation_1").removeClass("hidden");
                $("#timeVacation_1").addClass("hidden");

                status1 = 1;
                vacationType1 = "True";
            });
            $('input[id=hour_1]').on('ifChecked', function (event) {
                $("#timeVacation_1").removeClass("hidden");
                $("#dayVacation_1").addClass("hidden");

                status1 = 0;
                vacationType1 = "False";
            });

        });


</script>
<script>
    changeStatusAlternateSignature($('#StatusAlternateSignature').val());

    function changeStatusAlternateSignature(value) {
        if (value == -1) {
            $('#AlternateSignatureReason').prop('readonly', false);
        } else {
            $('#AlternateSignatureReason').prop('readonly', true);
        }
    }
</script>*@