﻿@{
    ViewData["Title"] = "درخواست های مرخصی همکاران";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header hidden">
                <a onclick="openModalForAddColor()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن رنگ جدید  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست مرخصی ها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش درخواست های مرخصی های همکاران که شما را به عنوان جایگزین انتخاب کرده اند نشان داده می شود.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
    $(function () {
        altVacationRequest(@ViewBag.PersonalCode);
    });
    </script>
}