﻿@model IEnumerable<DomainClasses.Employees.Vacation>

@*<div class="table-responsive">
    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VecationType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    درخواست دهنده
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                <th>
                    مافوق
                </th>
                <th>
                    مدیر
                </th>
                <th>
                    م.م.انسانی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="status_@item.StatusAlternateSignature">
                @if (item.VecationType)
                {
                    <td>روزانه</td>
                }
                else
                {
                    <td>ساعتی</td>
                }
                <td>
                    @item.CreateDate.ToShamsi()
                </td>
                <td>@item.Employee_Vec_1.ApplicationUser.FullName</td>
                <td>
                    @item.Section
                </td>
                <td>
                    @if (item.UnitsSupervisorSignature == null && item.StatusUnitsSupervisorSignature == false)
                    {
                        <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                    }
                    else if (item.UnitsSupervisorSignature != null && item.StatusUnitsSupervisorSignature)
                    {
                        <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                    }
                    else if (item.UnitsSupervisorSignature != null && item.StatusUnitsSupervisorSignature == false)
                    {
                        <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                    }
                    @if (@item.Employee_vac_3 != null)
                    {
                        <span>@item.Employee_vac_3.ApplicationUser.FullName</span>
                    }
                </td>

                <td>
                    @if (item.AdministrativeAffairsSignature == null && item.StatusAdministrativeAffairsSignature == false)
                    {
                        <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                    }
                    else if (item.AdministrativeAffairsSignature != null && item.StatusAdministrativeAffairsSignature)
                    {
                        <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                    }
                    else if (item.AdministrativeAffairsSignature != null && item.StatusAdministrativeAffairsSignature == false)
                    {
                        <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                    }
                    @if (@item.Employee_vac_4 != null)
                    {
                        <span>@item.Employee_vac_4.ApplicationUser.FullName</span>
                    }
                </td>

                <td>
                    @if (item.PersonalCode_HRmanager == null)
                    {
                        <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                    }
                    else if (item.PersonalCode_HRmanager != null && item.StatusHRManagerSignature == true)
                    {
                        <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                    }
                    else if (item.PersonalCode_HRmanager != null && item.StatusHRManagerSignature == false)
                    {
                        <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                    }
                    @if (@item.Employee_vac_5 != null)
                    {
                        <span>@item.Employee_vac_5.ApplicationUser.FullName</span>
                    }
                </td>
                @if (item.UnitsSupervisorSignature != null)
        {
            <td>
                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" disabled="disabled"><i class="fa fa-edit"></i></button>
            </td>
        }
        else
        {
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="مشاهده درخواست" onclick="openModalForEditaltVacation(@item.Vecation_ID);"><i class="fa fa-edit"></i></button>
                </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="text-left">
    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
