﻿@model ViewModels.HalycoViewModel

<div class="col-12 col-sm-7 aboutUs mt-3 mt-sm-2 mt-lg-0">
    <p>
        <span style="color: #ad0000;">@(CultureInfo.CurrentCulture.Name=="fa-IR" ? "درباره ما":"About Us") : </span>
        @Html.Raw(Model.aboutUsSummmary)
    </p>
</div>
<div class="col-12 col-sm-5 information @(CultureInfo.CurrentCulture.Name=="fa-IR"? "text-right":"text-left")">
    <ul>
        @foreach (var item in Model.connections)
        {
            if (item.CType)
            {
                if (item.Connection_ID == 1)
                {
                    <li>@item.ConnectionName : @item.ConnectionValue</li>
                }
                else
                {
                    if (item.CImage == "fa fa-map-marker-alt")
                    {
                        <li><i class="fa fa-map-marker"></i>@item.ConnectionName : @item.ConnectionValue</li>
                    }
                    else
                    {
                        <li><i class="@item.CImage"></i>@item.ConnectionName : @item.ConnectionValue</li>
                    }
                }
            }
        }


    </ul>
</div>
