﻿@model DomainClasses.Contents.Contents

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ContentImage" id="oldImage" type="hidden"/>
            <div class="form-group hidden">
                <label asp-for="Content_ID" class="control-label"></label>
                <input asp-for="Content_ID" class="form-control" value="-2" />
                <span asp-validation-for="Content_ID" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="ContentGroupId" class="control-label"></label>
                <input asp-for="ContentGroupId" class="form-control" value="3" />
            </div>
            <div class="form-group hidden">
                <label asp-for="ContentTitle" class="control-label"></label>
                <input asp-for="ContentTitle" class="form-control" />
                <span asp-validation-for="ContentTitle" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="ContentSummary" class="control-label"></label>
                <textarea rows="6" asp-for="ContentSummary" class="form-control"></textarea>
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentText" class="control-label"></label>
                <textarea asp-for="ContentText" class="form-control"></textarea>
                <span asp-validation-for="ContentText" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="ContentImage" class="control-label"></label>
                <input asp-for="ContentImage" class="form-control" />
                <span asp-validation-for="ContentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <label asp-for="ContentImage" class="control-label required"></label>
                    <input asp-for="ContentImage" id="ContentUploader" type="file" class="form-control" />
                    <span asp-validation-for="ContentImage" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <img width="120" height="120" id="imgPreview" src="~/Files/Material/@Model.ContentImage" />
                    <p class="text-danger">اندازه عکس آپلودی باید در اندازه 400 *680 باشد</p>
                    <br /><br />
                </div>
                <div class="col-md-3">

                    <input type="button" value="ویرایش" class="btn btn-info" onclick="UpdateMaterial();" />
                    <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden pull-left" />
                </div>
            </div>

        </form>
    </div>
</div>

@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@

<script>

    $(document).ready(function () {
        CKEDITOR.replace('ContentText', {
            customConfig: '/ckeditor/config.js'
        });

    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ContentUploader").change(function () {
        readURL(this);
    });
</script>