﻿@model IEnumerable<ProductsGroup>

@foreach (var item in Model)
{
    <div class="filter">
        <div class="checkboxlist pull-right">
            <input type="checkbox" value="@item.ProductGroup_ID" id="group @item.ProductGroup_ID" class="pgproduct" onchange="searchProduct();">
            <label for="group @item.ProductGroup_ID"></label>
        </div>
        <label for="group @item.ProductGroup_ID">@item.ProductGroupTitle</label>
    </div>
}