﻿
@{
    ViewData["Title"] = "PaymentConfirm";
}

<div class="col-xs-12">
    <div id="content">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tab-container" style="background-color: #06276e;" id="ButtonNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="tab-container">
            <ul class="nav  nav-stacked">
                <li class="step-buy active" data-target="menu1">
                    <a class="disabled">
                        <i class="fa fa-shopping-cart"></i>سبد خرید
                    </a>
                </li>
                <li class="step-buy " data-target="menu2">
                    <a class="disabled">
                        <i class="fa fa-user-plus"></i>تکمیل اطلاعات
                    </a>
                </li>
                <li class="step-buy " data-target="menu3">
                    <a class="disabled">
                        <i class="fa fa-user"></i>مشخصات کاربر
                    </a>
                </li>
                <li class="step-buy" data-target="menu4">
                    <a class="disabled">
                        <i class="fa fa-map-marker"></i>اطلاعات آدرس
                    </a>
                </li>
                <li class="step-buy" data-target="menu5">
                    <a class="disabled">
                        <i class="fa fa-truck"></i>روش ارسال
                    </a>
                </li>
                <li class="step-buy" data-target="menu6">
                    <a class="disabled">
                        <i class="fa fa-money"></i>روش پرداخت
                    </a>
                </li>
                <li class="step-buy" data-target="menu7">
                    <a class="disabled">
                        <i class="fa fa-eye"></i>بازبینی خرید
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content buy" id="main-container">
            <!-- .................سبد خرید............. -->
            <div id="menu1" class="tab-pane fade in active">
                <div class="contentTitle">سبد خرید</div>
                <div class="col-xs-12 padding table-cart tb-responsive">
                    <table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
                        <tbody>
                            <tr>
                                <th colspan="2">عنوان محصول</th>
                                <th>تعداد</th>
                                <th>قیمت کالا</th>
                                <th class="del-td">حذف</th>
                            </tr>
                            <tr>
                                <td class="t-img"><img class="img-responsive" src="images/gallery/004.jpg" alt="سبد خرید فرش کاشان"></td>
                                <td>فرش کرم 700 شانه 10 رنگ</td>
                                <td><input type="number" value="1" min="0"></td>
                                <td>5,196,300 تومان</td>
                                <td>
                                    <a class="delete"><i class="fa fa-times-circle  del-ico"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="t-img"><img class="img-responsive" src="images/gallery/002.jpg" alt="سبد خرید فرش کاشان"></td>
                                <td>فرش گلستان 1200 شانه 7 رنگ</td>
                                <td><input type="number" value="1" min="0"></td>
                                <td>3,150,300 تومان</td>
                                <td>
                                    <a class="delete"><i class="fa fa-times-circle  del-ico"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="t-img"><img class="img-responsive" src="images/gallery/003.jpg" alt="سبد خرید فرش کاشان"></td>
                                <td>فرش کرم 700 شانه 10 رنگ</td>
                                <td><input type="number" value="1" min="0"></td>
                                <td>5,196,300 تومان</td>
                                <td>
                                    <a class="delete"><i class="fa fa-times-circle  del-ico"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="t-img"><img class="img-responsive" src="images/gallery/005.jpg" alt="سبد خرید فرش کاشان"></td>
                                <td>فرش کرم 700 شانه 10 رنگ</td>
                                <td><input type="number" value="1" min="0"></td>
                                <td>5,196,300 تومان</td>
                                <td>
                                    <a class="delete"><i class="fa fa-times-circle  del-ico"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">جمع کل</td>
                                <td colspan="3">59800000تومان</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu2" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- .................تکمیل اطلاعات............. -->
            <div id="menu2" class="tab-pane fade ">
                <div class="contentTitle">تکمیل اطلاعات</div>
                <div class="col-md-6 col-xs-12 membership">
                    <span class="fa fa-user-plus fa-5x"></span>
                    <div class="textMembership">
                        <h4>عضو شوید</h4>
                        <p>چنانچه قبلا در سایت فروشگاهی مدرن فرش ثبت نام ننموده اید ابتدا ثبت نام کنید و سپس ادامه مراحل را دنبال کنید.</p>
                        <div class="button-style1 pull-left">
                            <a href="#" data-toggle="modal" data-target="#myModal1">عضویت</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 membership">
                    <span class="fa fa-user fa-5x"></span>
                    <div class="textMembership">
                        <h4>عضو هستید؟</h4>
                        <p>چنانچه قبلا در سایت فروشگاهی مدرن فرش ثبت نام کرده اید وارد پنل کاربری خود شوید و سپس ادامه مراحل را دنبال کنید.</p>
                        <div class="button-style1 pull-left">
                            <a href="#" data-toggle="modal" data-target="#myModal">ورود</a>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu1" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                    <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>
            </div>
            <!-- .................مشخصات کاربر............ -->
            <div id="menu3" class="tab-pane fade ">
                <div class="contentTitle">مشخصات کاربر</div>
                <div class="tb-responsive">
                    <table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>تلفن همراه</th>
                            <th>ایمیل</th>
                        </tr>
                        <tr>
                            <td>علیرضا حاجی قدیری</td>
                            <td>09135490000</td>
                            <td>afsane-90@yahoo.com</td>
                        </tr>
                    </table>
                </div>
                <div style="clear:both"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu2" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                    <a href="#menu4" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>
            </div>
            <!-- .................اطلاعات آدرس........... -->
            <div id="menu4" class="tab-pane fade">
                <div class="contentTitle">آدرس های ثبت شده</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding ">
                    <div class="radio padding ">
                        <div class="radio-inline tb-responsive">
                            <table class="table table-bordered table-responsive clr backColor">
                                <tr>
                                    <td><input type="radio" name="optradio" checked></td>
                                    <td>
                                        تلفن ثابت: <span class="edit"
                                                         data-input="tel">03155454555</span>
                                    </td>
                                    <td>
                                        تلفن همراه: <span class="edit" data-input="mobile">09135645565</span>
                                    </td>
                                    <td>
                                        استان: <span class="edit" data-input="ostan">اصفهان</span>
                                    </td>
                                    <td>
                                        شهرستان: <span class="edit"
                                                       data-input="city">آران و بیدگل</span>
                                    </td>
                                    <td>
                                        کدپستی: <span class="edit"
                                                      data-input="number">1256455555</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        آدرس: <span class="edit" data-input="address">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="radio padding ">
                        <div class="radio-inline tb-responsive">
                            <table class="table table-bordered table-responsive clr">
                                <tr>
                                    <td><input type="radio" name="optradio"></td>
                                    <td>
                                        تلفن ثابت: <span class="edit"
                                                         data-input="tel">03155454555</span>
                                    </td>
                                    <td>
                                        تلفن همراه: <span class="edit" data-input="mobile">09135645565</span>
                                    </td>
                                    <td>
                                        استان: <span class="edit" data-input="ostan">اصفهان</span>
                                    </td>
                                    <td>
                                        شهرستان: <span class="edit"
                                                       data-input="city">آران و بیدگل</span>
                                    </td>
                                    <td>
                                        کدپستی: <span class="edit"
                                                      data-input="number">1256455555</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        آدرس: <span class="edit" data-input="address">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mainAccordion padding">
                    <h3 class="accordion">افزودن آدرس جدید</h3>
                    <div class="panel padding">
                        <form>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label" for="input1">تلفن ثابت: </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="input1" required title="الزامی است">
                                </div>
                            </div>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label" for="input2">تلفن همراه: </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="input2" required title="الزامی است">
                                </div>
                            </div>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label" for="input6">استان: </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <select class="form-control" id="input6" title="الزامی است">
                                        <option>---انتخاب کنید---</option>
                                        <option>اصفهان</option>
                                        <option>تهران</option>
                                        <option>خراسان رضوی</option>
                                        <option>سیستان بلوچستان</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label"
                                       for="input7">شهرستان:</label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <select class="form-control" id="input7" title="الزامی است">
                                        <option>---موردی یافت نشد---</option>
                                        <option>کاشان</option>
                                        <option>نطنز</option>
                                        <option>آران و بیدگل</option>
                                        <option>خوی و بیابانک</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label" for="input8">کد پستی: </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="input8" required title="الزامی است">
                                </div>
                            </div>
                            <div class="form-group padding col-sm-6 col-xs-12">
                                <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label" for="input9">آدرس: </label>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <textarea rows="2" class="form-control" id="input9" required title="الزامی است"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                    <a href="#" class="go-step" data-toggle="pill">ثبت آدرس</a>
                    <a href="#menu5" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- .................روش ارسال........... -->
            <div id="menu5" class="tab-pane fade">
                <div class="contentTitle">انتخاب روش ارسال</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding tb-responsive">
                    <div class="radio padding">
                        <div class="radio-inline">
                            <table class="table table-bordered  table-responsive backColor1">
                                <tr>
                                    <td><input type="radio" name="optradio" checked></td>
                                    <td><i class="fa fa-truck fa-3x"></i>ارسال با باربری <span>(زمان تحویل : 2 الی 3 روز)</span></td>
                                    <td>12000 تومان</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="radio padding">
                        <div class="radio-inline">
                            <table class="table table-bordered  table-responsive">
                                <tr>
                                    <td><input type="radio" name="optradio"></td>
                                    <td><i class="fa fa-truck fa-3x"></i>پست پیشتاز <span>(زمان تحویل : 2 الی 3 روز)</span></td>
                                    <td>3000 تومان</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="radio padding">
                        <div class="radio-inline">
                            <table class="table table-bordered  table-responsive">
                                <tr>
                                    <td><input type="radio" name="optradio"></td>
                                    <td><i class="fa fa-truck fa-3x"></i>تحویل با پست سفارشی<span>(زمان تحویل : 7 الی 10 روز)</span></td>
                                    <td>1000 تومان</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="radio padding">
                        <div class="radio-inline">
                            <table class="table table-bordered  table-responsive">
                                <tr>
                                    <td><input type="radio" name="optradio"></td>
                                    <td><i class="fa fa-motorcycle fa-3x"></i>پیک موتوری<span>(زمان تحویل : 1 روز)</span></td>
                                    <td>100000 تومان</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="radio padding">
                        <div class="radio-inline">
                            <table class="table table-bordered  table-responsive">
                                <tr>
                                    <td><input type="radio" name="optradio"></td>
                                    <td><i class="fa fa-home fa-3x"></i>ارسال درب منزل<span>(زمان تحویل : توافقی)</span></td>
                                    <td>هزینه کرایه</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu4" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                    <a href="#menu6" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- .................روش پرداخت.............. -->
            <div id="menu6" class="tab-pane fade">
                <div class="contentTitle">انتخاب روش پرداخت</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
                    <div class="col-xs-12 bank">
                        <h4>پرداخت آنلاین با بانک : </h4>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="بانک"><img src="images/b1.png" alt="بانک-فرش کاشان"></a>
                    </div>
                    <div class="col-xs-12 txt">
                        <label>چنانچه ملاحظاتی مد نظر دارید <b>(از قبیل ساعت تحویل)</b> در کادر زیر درج فرمایید:</label>
                        <textarea rows="5" class="form-control"></textarea>
                    </div>
                    <div class="col-xs-12 discountCode">
                        <ul>
                            <li><span>کد تخفیف خود را در این قسمت وارد کنید :</span></li>
                            <li><input type="text" placeholder="مثال : 54d545g96e"></li>
                            <li class="button-style1">
                                <a href="#">اعمال کد تخفیف</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="button-style1 pull-left go-back">
                    <a href="#menu5" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                    <a href="#menu7" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                </div>

            </div>
            <!--................بازبینی خرید و چاپ فاکتور...............-->
            <div id="menu7" class="tab-pane fade">
                <div class="contentTitle">بازبینی خرید و چاپ فاکتور</div>
                <div class="col-xs-12 padding bazarFactor">
                    <section class="panel panel-default" id="print-factor1">
                        <div class="panel-heading text-right"><span>فروشگاه فرش مهرگان</span></div>
                        <div class="panel-body">
                            <div class="col-xs-12 padding tb-responsive">
                                <table class="table table-bordered table-responsive tblast">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">نام: <span>علیرضا حاجی قدیری</span></td>
                                            <td>شماره تماس: <span>09135423689</span></td>
                                        </tr>
                                        <tr>
                                            <td>شماره فاکتور: <span>8954256</span></td>
                                            <td>تاریخ ثبت سفارش: <span>12/02/95</span></td>
                                            <td>نحوه پرداخت: <span>هنگام تحویل</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                آدرس: <span>چنانچه قبلا در فروشگاه اینترنتی فرش کاشان ثبت نام نکرده اید با کلیک برروی دکمه زیر ثبت نام نموده و ادامه مراحل خرید را دنبال نمایید.</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Padding table-cart tb-responsive">
                                <table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
                                    <tbody>
                                        <tr>
                                            <th colspan="2">عنوان محصول</th>
                                            <th>تعداد</th>
                                            <th>قیمت کالا</th>
                                        </tr>
                                        <tr>
                                            <td class="t-img"><img class="img-responsive" src="images/gallery/004.jpg" alt="سبد خرید فرش کاشان"></td>
                                            <td>فرش کرم 700 شانه 10 رنگ</td>
                                            <td>2</td>
                                            <td>5,196,300 تومان</td>
                                        </tr>
                                        <tr>
                                            <td class="t-img"><img class="img-responsive" src="images/gallery/002.jpg" alt="سبد خرید فرش کاشان"></td>
                                            <td>فرش گلستان 1200 شانه 7 رنگ</td>
                                            <td>38</td>
                                            <td>3,150,300 تومان</td>
                                        </tr>
                                        <tr>
                                            <td class="t-img"><img class="img-responsive" src="images/gallery/003.jpg" alt="سبد خرید فرش کاشان"></td>
                                            <td>فرش کرم 700 شانه 10 رنگ</td>
                                            <td>1</td>
                                            <td>5,196,300 تومان</td>
                                        </tr>
                                        <tr>
                                            <td class="t-img"><img class="img-responsive" src="images/gallery/005.jpg" alt="سبد خرید فرش کاشان"></td>
                                            <td>فرش کرم 700 شانه 10 رنگ</td>
                                            <td>15</td>
                                            <td>5,196,300 تومان</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">جمع کل</td>
                                            <td colspan="2">59800000تومان</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer text-right information">
                            <ul>
                                <li><i class="fa fa-eye"></i>کاشان;میدان معلم;خیابان شهید مطهری ، جنب کلینیک فرهنگیان ، شرکت آیتیسا </li>
                                <li><i class="fa fa-phone"></i>031-55544356</li>
                                <li><i class="fa fa-mobile"></i>09135495155-09367229323</li>
                                <li><i class="fa fa-envelope"></i>carpetstore@gmail.com</li>
                            </ul>
                        </div>
                    </section>
                    <div class="button-style1 pull-left go-back">
                        <a href="#menu6" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                        <a onclick="jQuery.print('#print-factor1')">چاپ فاکتور<i class="fa fa-print mg-lf"></i></a>
                        <a href="#menu8" class="go-step" data-toggle="pill" onclick="hideNav();">تکمیل خرید</a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <!-- .................باز بینی خرید.............. -->
            <div id="menu8" class="tab-pane">
                <div class="contentTitle">باتشکر از انتخاب شما</div>
                <p>سفارشات شما با شناسه زیر در سیستم ثبت شد: <br><br><br><strong>12345625</strong></p>

                <div class="button-style1">
                    <a href="index.html">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</div>

