﻿@model DomainClasses.Language.Language

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<link href="~/AdminContent/plugins/iCheck/square/red.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>


<div class="row">
    <div class="col-md-12">
        <form id="lang_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lang_ID" class="control-label"></label>
                <input asp-for="Lang_ID" class="form-control TextRequired"  id="Lang_ID"/>
                <span asp-validation-for="Lang_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang_Name" class="control-label"></label>
                <input asp-for="Lang_Name" class="form-control TextRequired" id="Lang_Name"/>
                <span asp-validation-for="Lang_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" type="checkbox" class="minimal" id="isActiveLang" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertLang();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

