﻿
@{
    ViewData["Title"] = "مدیریت زبان ها";
}


<div class="box-header">
    <a onclick="openModalForAddLang()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن زبان </a>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست زبان های سایت</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای ثبت زبان های سایت در صورت چند زبانه بودن سایت می باشد
                                بطور پیش فرض باید یک زبان حداقل برای سایت تعریف شود.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />

<!--Modal-->
<!--Modal-->
@section Scripts{
    <script>
        $(document).ready(function () {
            GetAllLanguage();
        });
    </script>
}