﻿@model IEnumerable<DomainClasses.Language.Language>


<table id="language_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>شناسه زبان</th>
            <th>نام زبان</th>
            <th>وضعیت</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="lang_@item.Lang_ID">
                <td>@item.Lang_ID</td>
                <td>@item.Lang_Name</td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon"   onclick="openModalForEditLang('@item.Lang_ID');"> <i class="fa fa-edit"></i> </button>
                        @* <a class="col-md-1 btn btn-warning"  onclick="openModalForEditLang('@item.Lang_ID');"><span class="fa fa-edit col-md-1"></span></a>*@
                    </td>
            </tr>
        }

    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
