﻿@model IEnumerable<DomainClasses.Language.Language>

    <select id="language_ddl" class="ddlCustomize" onclick="TestChangeLang($(this).val());">
        @foreach (var item in Model)
        {
            if (CultureInfo.CurrentCulture.Name == item.Lang_ID)
            {
                <option value="@item.Lang_ID" selected="selected">@item.Lang_Name</option>
            }
            else
            {
                <option value="@item.Lang_ID">@item.Lang_Name</option>
            }
        }
    </select>

@*<select class="ddlCustomize" id="language_ddl" asp-items="ViewBag.Languages" onchange="TestChangeLang($(this).val())">
</select>*@