﻿@model UserPhotoViewModel

@{

}

<form asp-action="" id="Form_UserPhoto" asp-controller="">
    <div class="form-group">
        <img src="@Model.UserPhoto_Address" alt="user-img" class="img-responsive" id="userphoto">
        <hr />
        <div class="form-group">
            <label asp-for="UserPhoto" class="control-label"></label>
            <input type="file" id="files" asp-for="UserPhoto" />
            <span asp-validation-for="UserPhoto" class="text-danger"></span>
        </div>

        <div class="form-group" id="hasUserPhoto_Div">

            <input type="button" value="ویرایش" class="btn btn-instagram" onclick="UploadUserPhoto()" id="upload_userPhoto" />
            @if (Model.HasUserPhoto)
            {
                <button type="button" class="btn btn-danger" onclick="ChangePic()" id="remove_userPhoto">حذف تصویر پروفایل</button>
            }
        </div>
    </div>
</form>

<script src="~/js/Ajax/Manage_Admin_Ajax.js"></script>
