﻿@model IEnumerable<DomainClasses.Gallery.GalleryPicture>

@{
    ViewData["Title"] = Model.FirstOrDefault().Gallery.GalleryTitle;
}

<link rel="stylesheet" type="text/css" href="~/SiteContent/css/jquery.fancybox.css">
<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Gallery" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو گالری تصاویر شرکت آلیاژگستر هامون" : "HalyCo Picture Gallery Archive")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@Model.FirstOrDefault().Gallery.GalleryTitle</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product gallery">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 product-box">
                    <a href="~/Files/GalleryPicture/@item.ImageNames" rel="gallary1" class="fancy">
                        <div class="product-img">
                            <img src="~/Files/GalleryPicture/Thumb/@item.ImageNames" alt="@item.GalleryPicTitle" asp-append-version="true">
                        </div>
                        <div class="product-title">
                            <p>@item.GalleryPicTitle</p>
                        </div>
                        <div class="product-icon"><i class="fa fa-search-plus fa-2x"></i></div>
                    </a>
                </div>
            }

        </div>
    </div>
</div>
<script src="~/SiteContent/js/jquery.fancybox.pack.js"></script>
<script>
    $(document).ready(function () {
        // fancy box
        $('.fancy').fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 700,
            'speedOut': 400,
            'opacity': true,
            'overlayShow': true,
            'overlayColor': '#000',
            'hideOnContentClick': false,
            'hideOnOverlayClick': true
        });

    });
</script>