﻿@model IEnumerable<DomainClasses.Gallery.Gallery>

@{
    ViewData["Title"] = (CultureInfo.CurrentCulture.Name == "fa-IR" ? "گالری تصاویر شرکت آلیاژگستر هامون" : "HalyCo Picture Gallery");
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو گالری تصاویر شرکت آلیاژگستر هامون" : "HalyCo Picture Gallery Archive")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product gallery">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 product-box">
                    <a asp-action="GalleryDetail" asp-route-id="@item.Gallery_ID">
                        <div class="product-img">
                            <img src="~/Files/Gallery/Thumb/@item.GalleryImage" alt="@item.GalleryTitle" asp-append-version="true">
                        </div>
                        <div class="product-title">
                            <p>@item.GalleryTitle </p>
                        </div>
                        <div class="product-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
                    </a>
                </div>
            }
        
        </div>
    </div>
</div>
