﻿@media print {
    table tr td {
        font-size: 8px
    }
}

.btnIcon {
    padding: 2px 6px;
    width: 30px;
    margin-bottom: 3px;
}

.fa-exclamation-circle, .fa-check, .fa-ban
{
    float:right;
}

.True{
    font-weight:bold;
}

tr.OK td:first-child {
    background-color: #20a720e0;
    color: white;
}

tr.NOK td:first-child {
    background-color: #da2219d9;
    color: white;
}

/*.date{
    direction:ltr;
    font-weight:bold;
}*/