﻿/*#vacation_tb tr td{
    font-size:8px
}*/

@media print {
    .fish-header {
        height: 33px;
        text-align: center;
    }

    .columns {
        display: flex;
        flex-direction: column;
    }

    .flex-column {
        display: flex;
        justify-content: space-between;
    }

        .flex-column + .flex-column {
            border-top: 1px solid #808080;
        }

        .flex-column span {
            padding: 6px;
            font-size: 14px;
        }

    .bg-info.col-md-12 {
        padding: 0;
    }

    .last-row {
        margin-bottom: 15px;
        margin-top: auto;
        border-top: 1px solid #808080;
    }

}

