﻿@model List<Feature>

@foreach (var item in Model)
{

    <h5 data-toggle="collapse" data-target="#filter-collapse3">@item.FeatureTitle<span class="fa fa-chevron-down pull-left"></span></h5>
    <div class="col-xs-12 collapse in pfg" id="filter-collapse3">

        @await Component.InvokeAsync("ShowFeatureReply_Search", item.Feature_ID)

    </div>
    <div class="clearfix"></div>
}