﻿@model DomainClasses.FAQ.FAQ

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="faqFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FAQ_ID" id="FAQ_ID" />
            <div class="form-group">
                <label asp-for="FAQuestion" class="control-label "></label>
                <input asp-for="FAQuestion" class="form-control TextRequired" />
                <span asp-validation-for="FAQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAQAnswer" class="control-label "></label>
                <textarea rows="5" asp-for="FAQAnswer" class="form-control TextRequired"></textarea>
                <span asp-validation-for="FAQAnswer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" id="isActiveFaqEdit" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="EditFAQ();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

