﻿
@{
    ViewData["Title"] = "مدیریت سوالات متداول";
}


<div class="box-header">
    <a onclick="openModalForAddFAQ()" class=" btn btn-success  "><i class="fa fa-plus">&nbsp; &nbsp;</i> افزودن سوالات متداول </a>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست سوالات متداول سایت</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای سوالات متداول سایت تعریف شده.که هر سوال یک جواب نیز خواهد داشت.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />



@section Scripts{
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}
