﻿@model IEnumerable<DomainClasses.FAQ.FAQ>


<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="box-header pull-left">
    <a onclick="checkboxSelectedForFAQ()" class=" btn btn-danger btn-skype "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف موارد انتخاب شده </a>
</div>
<table class="table table-bordered table-hover table-striped" id="faq_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllFAQ" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="faq_@item.FAQ_ID">
                <td>
                    <input type="checkbox" class="forRemove" value="@item.FAQ_ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQuestion)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditFAQ(@item.FAQ_ID);"> <i class="fa fa-edit"></i> </button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllFAQ]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllFAQ]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>