﻿@model ViewModels.MissionSuperiorViewModel

@{
    ViewData["Title"] = "ویرایش ماموریت(ویژه)";
}
<style>
    .clockpicker-popover {
        z-index: 4000;
    }

    .d-flex {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Create" id="mission_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.mission.Mission_ID" id="Mission_ID" />
                <input type="hidden" asp-for="@Model.mission.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@Model.mission.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@Model.mission.Employee_M_1.ApplicationUser.FullName</span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-12">
                        <label asp-for="@Model.mission.MissionSubject" class="control-label "></label>
                        <input asp-for="@Model.mission.MissionSubject" class="form-control TextRequired" readonly="readonly" />
                        <span asp-validation-for="@Model.mission.MissionSubject" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.MissionStart" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="@Model.mission.MissionStart" id="MissionStart" class="form-control" readonly="readonly" />
                            <input type="text" asp-for="@Model.mission.MissionStart" id="tarikhAlt1" class="form-control   hidden pull-right">
                        </div>
                        <span asp-validation-for="@Model.mission.MissionStart" id="MissionStart_val" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.MissionEnd" class="control-label "></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="@Model.mission.MissionEnd" id="MissionEnd" class="form-control" readonly="readonly" />
                            <input type="text" asp-for="@Model.mission.MissionEnd" id="tarikhAlt2" class="form-control   hidden pull-right">
                        </div>
                        <span asp-validation-for="@Model.mission.MissionEnd" id="MissionEnd_val" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.Destination" class="control-label "></label>
                        <input asp-for="@Model.mission.Destination" class="form-control " readonly="readonly">
                        <span asp-validation-for="@Model.mission.Destination" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.MissionType" class="control-label "></label>
                        <select asp-for="@Model.mission.MissionType" class="form-control" disabled="disabled">
                            <option value="1">داخل شهری</option>
                            <option value="2">داخل کشور</option>
                            <option value="3">خارج کشور</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="timeDiv">
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="StartTime" class="form-control TextRequired" asp-for="@Model.mission.StartTime" readonly="readonly" />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" asp-for="@Model.mission.StartTime">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="EndTime" class="form-control TextRequired" asp-for="@Model.mission.EndTime" readonly="readonly" />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" asp-for="@Model.mission.EndTime">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 ">
                        <label asp-for="@Model.mission.Reason" class="control-label "></label>
                        <textarea rows="6" asp-for="@Model.mission.Reason" class="form-control TextRequired" readonly="readonly"></textarea>
                        <span asp-validation-for="@Model.mission.Reason" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.mission.Followers" class="control-label "></label>
                        <textarea rows="6" asp-for="@Model.mission.Followers" class="form-control" readonly="readonly"></textarea>
                        <span asp-validation-for="@Model.mission.Followers" class="text-danger"></span>
                    </div>
                </div>

                @*<hr />
                    <div class="form-group form-row">
                        <div class="col-md-3">
                            <input type="hidden" asp-for="CurrentSuperiorMissionSignature.MissionSignature_ID" id="MissionSignature_ID" />
                            <label class="control-label">وضعیت امضای شما</label>
                            <div class="input-group date col-md-12">
                                <select class="form-control" asp-for="CurrentSuperiorMissionSignature.SignatureStatus" id="SignatureStatus" onchange="changeStatusSuperiorSignature($(this).val());">
                                    <option value="null">نامشخص</option>
                                    <option value="true">تایید</option>
                                    <option value="false">عدم تایید</option>
                                </select>
                                <span asp-validation-for="CurrentSuperiorMissionSignature.SignatureStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <label class="control-label">علت عدم تایید</label>
                            <div class="input-group date  col-md-12">
                                <textarea type="text" class="form-control" asp-for="CurrentSuperiorMissionSignature.SignatureReason" id="SignatureReason"></textarea>
                                <span asp-validation-for="CurrentSuperiorMissionSignature.SignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@
                <hr />


                <div class="row d-flex py-5 px-5 ">
                    <div class="step status_@Model.mission..FinalStatus"><p>@Model.mission.Employee_M_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.missionSignature.Count(); i++)
                    {
                        string toolTip = "";
                        if (Model.missionSignature[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.missionSignature[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.missionSignature[i].SignatureReason != null && Model.missionSignature[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.missionSignature[i].SignatureReason;
                        }
                        <div class="step status_@Model.missionSignature[i].SignatureStatus" tooltip="@toolTip"><p>@Model.missionSignature[i].applicationUser.FullName</p></div>
                        if (i < Model.missionSignature.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
                </div>
                <hr />
                <div class="form-group  text-center">
                    @*<div class="col-sm-12">
                            <br />
                            @if (Model.ThisUserCanSignature != null && Model.ThisUserCanSignature == true)
                            {
                                <button type="button" onclick="UpdateSuperiorMission2();" class="btn btn-warning waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-edit "></i>
                                    </span>ثبت تغییرات
                                </button>
                            }
                            else if (ViewBag.IsAgentOfManager != null && ViewBag.IsAgentOfManager == true)
                            {
                                <button type="button" onclick="UpdateSuperiorMission2();" class="btn btn-warning waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-edit "></i>
                                    </span>ثبت تغییرات
                                </button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-warning waves-effect waves-light">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-edit "></i>
                                    </span>ثبت تغییرات
                                </button>

                            }

                            <div class="form-group">
                                <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                            </div>
                        </div> *@
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg " display:inline; style="width:90%;overflow:scroll">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#MissionStart').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true//,
            // initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });


        $('#MissionEnd').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true//,
            // initialValue: false
        });
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
        onlyTimePicker: true,
        autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    });

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
        onlyTimePicker: true,
        autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    });

    changeMissionType($('#MissionType').val());

    function changeMissionType(misstiontype) {
        if (misstiontype == 1) {
            $('#timeDiv').removeClass('hidden');
        } else {
            $('#timeDiv').addClass('hidden');
        }
    }
</script>

<partial name="_ValidationScriptsPartial" />
<script>
    changeStatusSuperiorSignature($('#StatusSuperiorSignature').val());

    function changeStatusSuperiorSignature(value) {
        if (value == "false") {
            $('#SuperiorReason').prop('readonly', false);
        } else {
            $('#SuperiorReason').prop('readonly', true);
        }
    }
</script>


