﻿@model DomainClasses.Project.ProjectGroup

@{
    ViewData["Title"] = "CreateProjectsGroup";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProductsGroup" id="ProjectGroup_Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="Title" class="control-label "></label>
                    <input asp-for="Title" class="form-control TextRequired" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="GroupImage" class="control-label "></label>
                    <input asp-for="GroupImage" class="form-control TextRequired" type="file" id="imgUpload" />
                    <span asp-validation-for="GroupImage" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" />
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertProjectGroup();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>

        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@


<script>
    $(document).ready(function () {
        //$("#Description").ckeditor();
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgUpload").change(function () {
        readURL(this);
    });
</script>

