﻿@model DomainClasses.Project.ProjectsAdvantage

@{
    ViewData["Title"] = "CreateAdvantage";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateAdvantage" id="advantageFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="AdvantageTitle" class="control-label"></label>
                    <input asp-for="AdvantageTitle" class="form-control TextRequired" />
                    <span asp-validation-for="AdvantageTitle" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-6 hidden">
                    <label>نوع</label>
                    <select id="adType_ddl" class="form-control">
                        <option value="1">مزیت</option>
                        <option value="0">عیب</option>
                    </select>
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertProjectsAdvantage();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
