﻿@model DomainClasses.Project.Projects

@{
    ViewData["Title"] = "CreateProjects";
    Layout = null;
}

<link href="~/AdminContent/dist/css/tagsinput.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProjects" id="projectsFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control TextRequired" onblur="SetSlugProjects();" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-4 hidden">
                    <label asp-for="GalleryId" class="control-label"></label>
                    <select asp-for="GalleryId" class="form-control " asp-items="ViewBag.allGallery">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control TextRequired" id="imgUploader" type="file" />
                    <span asp-validation-for="Image" id="imgUploader_val" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" src="~/images/noimage.png" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" id="Desc_val" class="text-danger"></span>
                    <br /><br /><br />
                </div>
            </div>

            <div class="form-group hidden">
                <div class="col-md-6">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="MetaKeyword" class="control-label"></label>
                    <input asp-for="MetaKeyword" class="form-control" />
                    <span asp-validation-for="MetaKeyword" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>

            <div class="form-group hidden">
                <div class="col-md-6">
                    <label asp-for="MetaDescription" class="control-label"></label>
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="MetaOther" class="control-label"></label>
                    <textarea rows="6" asp-for="MetaOther" class="form-control" dir="ltr"></textarea>
                    <span asp-validation-for="MetaOther" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-4">
                    <label>
                        <input asp-for="IsPopular" id="IsPopular" /> @Html.DisplayNameFor(model => model.IsPopular)
                    </label>
                    <br /><br />
                </div>
                <div class="col-md-4">
                    <label>
                        <input asp-for="IsActive" id="IsActive" checked="checked" /> فعال هست
                    </label>
                    <br /><br />
                </div>
            </div>
            <div class="form-group hidden">
                <label asp-for="ProducerId" class="control-label"></label>
                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.ProducerId"></select>
            </div>
            <div class="form-group hidden">
                <div class="col-md-12">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" data-role="tagsinput" />
                    <span asp-validation-for="Tags" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            <div class="form-group hidden">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertProjects();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@
<script src="~/AdminContent/dist/js/tagsinput.js"></script>

@*<script>
    const config = {
        filebrowserImageBrowseUrl: "/imagebrowser",
        filebrowserImageWindowWidth: 780,
        filebrowserImageWindowHeight: 720,
        filebrowserBrowseUrl: "/linkbrowser",
        filebrowserWindowWidth: 350,
        filebrowserWindowHeight: 500
    };
    const editor = document.getElementById("Description");
    CKEDITOR.replace(editor, config);
</script>*@

<script>
    $(document).ready(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        GetDropDownDataInProductInfo($("#language_ddl").val());


        CKEDITOR.replace('Description', {
            customConfig: '/ckeditor/config.js'
        });

    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgUploader").change(function () {
        readURL(this);
    });
</script>

