﻿@model DomainClasses.Project.ProjectsAdvantage

@{
    ViewData["Title"] = "EditAdvantage";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditAdvantage" id="advantageFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Advantage_ID" id="Advantage_ID" />
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="AdvantageTitle" class="control-label"></label>
                    <input asp-for="AdvantageTitle" class="form-control TextRequired" />
                    <span asp-validation-for="AdvantageTitle" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-6 hidden">
                    <label>نوع</label>
                    <select id="adType_ddl" class="form-control" asp-items="@ViewBag.advanType"></select>
                    <br /><br />
                </div>

            </div>
            <div class="form-group pull-left">
                <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden" />
                <button type="button" class="btn btn-warning" onclick="UpdateProjectsAdvantage();"><i class="fa fa-edit ">&nbsp;&nbsp;</i>ویرایش</button>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
