﻿
@{
    ViewData["Title"] = "مدیریت پروژه";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#projectGroup" data-toggle="tab">گروه پروژه ها</a></li>
                    <li id="projectTab"><a href="#projects" data-toggle="tab">پروژه ها </a></li>
                    <li id="videoTab"><a href="#videos" data-toggle="tab">ویدئو پروژه</a></li>
                    <li id="advantageTab" class=""><a href="#advantage" data-toggle="tab">قابلیت ها</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="projectGroup">
                        <div class="box-header ">
                            <a onclick="openModalForAddProjectsGroup()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه  </a>
                        </div>
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div id="projectGroup1_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">جزئیات گروه </h3>


                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            این بخش برای تعریف گروه پروژه ها سایت که
                                            که در 3 سطح تعریف میشوند, می باشد
                                            برای تعریف بعنوان زیرگروه باید روی هنگام ثبت روی یکی از زیرگروه ها کلیک شود.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="projects">
                        <div class="box-header ">
                            <a onclick="openModalForAddProjects()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن پروژه  </a>
                        </div>
                        <table>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <div id="projectsGroup2_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست پروژه ها بر اساس گروه</h3>


                                </div>
                                <div class="col-md-3 pull-left">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید پروژه ها مربوط به
                                                هر گروه را با انتخاب گروه موردنظر , ثبت کنید
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                        </div>


                        <br /><br />
                        <!-- /.box-header -->
                        <div class="box-body" id="viewAllProjects">

                        </div>
                    </div>


                    <!--tab 3--->
                    <div class="tab-pane" id="advantage">
                        <div class="box-header ">
                            <a onclick="openModalForAddProjectsAdvantage()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن قابلیت  </a>
                        </div>
                        <table>
                            <tr>
                                <td>
                                </td>

                            </tr>
                        </table>
                        <div class="box box-success">




                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllProjectsAdvantage">

                            </div>
                        </div>

                    </div>

                    <!--Tab 2-->
                    <div class="tab-pane" id="videos">
                        <div class="box-header hidden ">
                            <a onclick="openModalForAddProjects()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن پروژه  </a>
                        </div>
                        <table>
                            <tr>
                               
                                <td></td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4 hidden">
                                    <i class="fa fa-fw fa-plus-square text-danger"></i>
                                    <h3 class="box-title text-danger"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن ویدئو پروژه</h3>
                                    <span id="productId_lbl" class="hidden"></span>

                                </div>
                                <div class="col-md-3 pull-left">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش میتوانید ویدئو را انتخاب و اضافه
                                                و درآخر دکمه ثبت را بزنید تا ویدئو برای پروژه
                                                اضافه شود.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                        </div>


                        <br /><br />
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="divBox">
                                <table>
                                    <tr>
                                        <td>
                                            <label class="required">گروه ویدئو / فایل</label>
                                            <div id="video_tw" class="treeview_style"></div>
                                        </td>
                                        <td style="padding-right:110px">
                                            <label class="required">ویدئو / فایل</label>
                                            <select id="videos_ddl" class="form-control" style="width:140%">
                                                <option value="0">انتخاب کنید ...</option>
                                            </select>
                                        </td>
                                        <td style="padding-right: 110px;padding-top: 24px;">
                                            <a href="" title="افزودن ویدئو" id="addToList_btn"><i class="fa fa-fw fa-plus-square text-success iconSize" style="font-size:20px"></i></a>
                                        </td>
                                        <td style="padding-right:48px">
                                            <label class="required">لیست ویدئوهای انتخاب شده</label>
                                            <select multiple="" id="videos_lst" class="form-control" style="width:120%"></select>
                                        </td>
                                        <td style="padding-right: 110px;padding-top: 24px;">
                                            <a href="" title="حذف ویدئو انتخاب شده" id="removeFromList_btn"><i class="fa fa-fw fa-trash text-danger iconSize" style="font-size:20px"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="padding-top:33px;">
                                            <a onclick="InsertProjectVideo()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>ثبت  </a>
                                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="" id="viewAllProjectsVideo">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</section>


@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

    <script>
        $(document).ready(function () {

            getAllProjectsGroupForTreeView();
            getAllAVFGroupForTreeViewInProject();
        });

        $('#addToList_btn').click(
            function (e) {
                if ($("#videos_ddl").val() != "0") {
                    debugger;
                    $("#sub_btn").prop('disabled', false);

                    $('#videos_ddl > option:selected').appendTo('#videos_lst');
                    e.preventDefault();
                }
                else {
                    return false;
                }
            });
        /////

        $('#removeFromList_btn').click(
            function (e) {
                if ($("#videos_lst").val() != "") {
                    $('#videos_lst > option:selected').appendTo('#videos_ddl');
                    e.preventDefault();
                    if ($("#videos_lst").val() == "") {
                        $("#sub_btn").prop('disabled', true);
                    }
                }

            });
    </script>
}
