﻿@model DomainClasses.Project.RateOption


@if (Model != null)
{
<div class="row">
    <div class="col-md-12">
      
        <form asp-action="ViewRateOptionDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RateOption_ID" />
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="RatorTotal" class="control-label"></label>
                    <label class="required">@Model.RatorTotal</label>
                </div>
                <div class="col-md-4">
                    <label asp-for="RateTotal" class="control-label"></label>
                    <label class="required">@Model.RateTotal</label>
                </div>
                <div class="col-md-4">
                    <label asp-for="RateAverage" class="control-label"></label>
                    <label class="required">@Model.RateAverage</label>
                </div>
            </div>
        </form>
        @*}
        <div class="alert alert-warning">
            <label>امتیازی برای این محصول ثبت نشده است !</label>
        </div>*@
    </div>
</div>


}
else
{
<div class="alert alert-warning">
    <span>برای این محصول امتیازی ثبت نشده است !</span>
</div>
}

