﻿@model IEnumerable<DomainClasses.Project.ProjectsAdvantage>

<div class="box-header">
    <div class="col-md-6">
        <h3 class="box-title text-danger">لیست قابلیت های  : @ViewBag.projectsTitle</h3>
        <span class="hidden" id="pInfoId">@ViewBag.projectsId</span>

    </div>
    <div class="col-md-6 pull-left">
        <!--ToolTipssss-->
        <div class="pull-left">

            <a class="tip fa fa-fw fa-question">
                <span>
                    در این بخش شما می توانید برای پروژه خود قابلیت هایی
                    را که در صفحه جزئیات نشان داده می شود تعریف نمایید.
                </span>
            </a>

        </div>
    </div>
    <!--ToolTipssss-->
</div>

<p class="pull-left">
    <button type="button" class="btn btn-danger btnMargin" onclick="checkboxSelectedForProjectAdvantage();"><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف موارد انتخاب شده</button>
</p>


<table class="table table-bordered table-hover table-striped" id="pjAdvantage">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProductAdvan" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvantageTitle)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.AdvantageType)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="advan_@item.Advantage_ID">
                <td>
                    <input type="checkbox" class="forRemoveAdvantage" value="@item.Advantage_ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvantageTitle)
                </td>
                @if (item.AdvantageType == true)
                {
                    <td class="hidden">مزیت</td>
                }
                else
                {
                    <td class="hidden">عیب</td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditProjectsAdvantage(@item.Advantage_ID);"> <i class="fa fa-edit" title="سئو"></i> </button>
                        
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>


<script>

    $(function () {



        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
        $('input[id=checkAllProductAdvan]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllProductAdvan]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>
