﻿@model List<DomainClasses.Project.ProjectVideo>
@{
    ViewData["Title"] = "CreateAdvantage";
    Layout = null;
}

<hr />
<div class="box-header">
    <div class="col-md-7">
        <i class="fa fa-fw fa-th-list text-danger"></i>
        <h3 class="box-title text-danger">لیست ویدئو های پروژه @ViewBag.productTitle</h3>
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="col-md-3 pull-left hidden">
        <!--ToolTipssss-->
        <div class="pull-left">

            <a class="tip fa fa-fw fa-question">
                <span>
                    در این بخش میتوانید ویدئو را انتخاب و اضافه
                    و درآخر دکمه ثبت را بزنید تا ویدئو برای محصول
                    اضافه شود.
                </span>
            </a>

        </div>
    </div>
    <!--ToolTipssss-->
</div>
@if (Model.Any())
{
    <p class="pull-left">
        <button type="button" class="btn btn-danger btnMargin" onclick="checkboxSelectedForProjectsVideo();"><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف موارد انتخاب شده</button>
    </p>

    <table class="table table-bordered table-hover table-striped" id="pjVideo_tb">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkAllProductVideo" />
                </th>
                <th>عنوان</th>
                <th>تصویر</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="pjv_@item.ID">
                    <td>
                        <input type="checkbox" class="forRemove" value="@item.ID" />
                    </td>
                    <td>
                        @item.AVF.AVFTitle
                    </td>
                    <td>
                        <img width="90" height="90" src="~/Files/FileManage/Image/@item.AVF.VideoImage" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        درحال حاضر ویدئویی برای این پروژه تعریف نشده است !!
    </div>
}
<script src="~/js/AdminDataTable.js"></script>

<script>

    $(function () {



        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
        $('input[id=checkAllProductVideo]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllProductVideo]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });


        if ($("#videos_lst").val() == "") {
            $("#sub_btn").prop('disabled', true);
        }
    });
</script>
