﻿@model DomainClasses.Project.ProjectGroup

<table class="table table-bordered table-hover table-striped" id="projGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>

        <tr id="pg_@Model.ProjectGroup_ID">
            <td>
                <img width="90" height="90" src="~/Files/ProjectsGroup/@Model.GroupImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Title)
            </td>
            <td>

                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditProjectsGroup(@Model.ProjectGroup_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteProjectGroup(@Model.ProjectGroup_ID);"> <i class="fa fa-trash" title="حذف"></i> </button>
               
            </td>
        </tr>
    </tbody>
</table>

<script>
    table = $('#projGroup_tb').DataTable();
    table.destroy();
    $('#projGroup_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>