﻿@model IEnumerable<DomainClasses.Project.Projects>

<p class="pull-left">
    <button type="button" class="btn btn-danger btnMargin" onclick="checkboxSelectedForProjects();"><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف پروژه ها انتخاب شده</button>
</p>


<table class="table table-bordered table-hover table-striped" id="projects_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProjects" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsPopular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="project_@item.Project_ID">
            <td>
                <input type="checkbox" class="forRemove" value="@item.Project_ID" />
            </td>
            @if (item.Image != "noimage.png")
            {
                <td>
                    <img width="90" height="90" src="~/Files/Projects/@item.Image" />
                </td>
            }
            else
            {

                <td>
                    <img width="90" height="90" src="~/images/noimage.png" />
                </td>
            }
            <td>
                @if (item.Title.Length > 50 && item.Title != null)
                {
                    <span title="@item.Title">@item.Title.Substring(0, 40) ...</span>
                }
                else
                {
                    <span title="@item.Title">@item.Title</span>
                }

            </td>
            @if (item.IsPopular)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="بله"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="خیر"></i>
                </td>
            }
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }

            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditProjects(@item.Project_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                <button class="btn btn-icon btn-success btnIcon" onclick="GetAllProjectsAdvantageByProjectsId(@item.Project_ID);"> <i class="fa fa-exchange-alt" title="قابلیت ها"></i> </button>
                <button class="btn btn-icon btn-warning btnIcon" onclick="openModalForShowRateOption(@item.Project_ID);"> <i class="fa fa-signal" title="امتیازات"></i> </button>
                <button class="btn btn-icon btn-info btnIcon" onclick="getAllProjectVideoById(@item.Project_ID);"> <i class="fab fa-youtube" title="ویدئو ها"></i> </button>
                <button class="btn btn-icon btn-default btnIcon" onclick="InsertOrUpdateProjectsSeo(@item.Project_ID);"> <i class="fas fa-chart-line" title="سئو"></i> </button>


            </td>
        </tr>
        }
    </tbody>
</table>

<script src="~/js/AdminDataTable.js"></script>

<script>

    $(function () {


        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
        $('input[id=checkAllProjects]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllProjects]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>
