﻿@model DomainClasses.Proposal.ProposalFiles


<link href="~/AdminContent/dist/css/forms.css" rel="stylesheet" />

<form id="proposalFile_frm">
    <div class="form-group lineHeight">
        <div class="col-md-6">
            <label asp-for="Title" class="control-label "></label>
            <input asp-for="Title" class="form-control" id="fileTitle" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="P_FileName" class="control-label "></label>
            <input asp-for="P_FileName" class="form-control" type="file" id="documentUploader" />
            <span asp-validation-for="P_FileName" class="text-danger"></span>
            <br /><br />
        </div>
    </div>
    <div class="col-12 form-group lineHeight" id="docsPreviews">

    </div>

    <div class="form-group col-sm-12 text-center">
        <br /><br />
        <button type="button" onclick="ProposalRegister();" class="btn btn-success waves-effect waves-light">
            <span class="btn-label">
                <i class="glyphicon glyphicon-check "></i>
            </span>ثبت و ادامه
        </button>
        <div class="form-group">
            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
        </div>
    </div>
</form>

<script>
    var newImageArray = [];
    $("#documentUploader").change(function () {
        var formData = new FormData();
        var files = $(this).get(0).files;
        formData.append("docFile", files[0])


        $.ajax({
            method: 'POST',
            url: '/Admin/Proposal/DocumentUpload',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.status == "ok") {
                    var htmls = "";
                    htmls += ' <div class="col-12 col-sm-6 col-lg-4 col-xl-3 forms-file-upload myDoc" data-fn=' + data.fn + '>' +
                        '<div class="forms-file-record">' +
                        '<span class="fa fa-file"></span>' +
                        '<p class="forms-file-title btnDocsDelete" data-file=' + data.fn + ' data-id=' + $("#fileTitle").val() + '>' + $("#fileTitle").val() + '</p>' +
                        '<i class="fas fa-trash-alt btnDeleteDocs" title="حذف فایل"></i>' +
                        '</div>' +
                        '</div>';


                    $("#docsPreviews").append(htmls);
                    $("#docsPreviews2").append(htmls);
                }

            },
            error: function (result) {
                //alert(result.error);
            }
        });
    });


    //$('#docsPreviews').on('click', '.forms-file-upload .forms-file-record i', function () {
    //    $(this).closest('div.myDoc').hide(500);


    //});

    $('#docsPreviews').on('click', '.forms-file-upload .forms-file-record i', function () {

        var $this = $(this).closest('div.myDoc');
        var fileName = $(this).closest('div.myDoc').attr('data-fn');
        $.ajax({
            method: 'POST',
            url: '/Admin/Proposal/DeleteDocumentUpload',
            data: { 'fn': fileName },
            success: function (response) {
                if (response == "ok") {
                    $this.remove();
                }
            },
            error: function (response) {
                //showModalMessage('.modalMessage', 'خطای کلاینت', response, 'danger');
            }
        });
    });

</script>