﻿
@{
    ViewData["Title"] = "ارائه پیشنهادات";
}

<link href="~/AdminContent/dist/css/forms.css" rel="stylesheet" />

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">ارائه پیشنهاد</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                ...
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="proposal_div">
                        <div id="proposalProvider_div"></div>
                        <hr />
                        <div id="proposalMain_div"></div>
                        <hr />
                        <div id="proposalFile_div"></div>
                        <hr />
                    </div>

                    <div id="proposalPrint_div" class="hidden">

                        <div class="row" id="proposal-print">
                            <div class="col-xs-12">

                                <div class="box-header">
                                    <i class="fa fa-info-circle"></i>
                                    <h3 class="box-title text-danger">ارائه پیشنهادات</h3>
                                </div>
                                <div class="form-group lineHeight">
                                    <div class="col-md-6">
                                        <span class="control-label">عنوان پیشنهاد :</span>
                                        <label class="control-label textColor" id="lblTitle"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="control-label">تاریخ پیشنهاد :</span>
                                        <label class="control-label textColor" id="lblDate"></label>
                                    </div>
                                </div>

                                <div class="form-group lineHeight">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th scope="col">شماره پرسنلی</th>
                                                <th scope="col">واحد</th>
                                                <th scope="col">سمت</th>
                                                <th scope="col">شماره همراه</th>
                                                <th scope="col">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody id="proposalProvider_tr2"></tbody>


                                    </table>
                                </div>

                                <div class="form-group lineHeight">
                                    <div class="col-md-12">
                                        <span class="control-label">شرح پیشنهاد و مزایای آن :</span>
                                        <label class="control-label textColor" id="lblDescrip"></label>
                                    </div>
                                </div>

                                <div class="form-group lineHeight">
                                    <div class="col-md-12">
                                        <span class="control-label">وضعیت جاری :</span>
                                        <label class="control-label textColor" id="lblCurrentStatus"></label>

                                    </div>
                                </div>
                                <div class="form-group lineHeight">
                                    <div class="col-md-12">
                                        <span class="control-label">روش اجرا :</span>
                                        <label class="control-label textColor" id="lblImplementMethod"></label>
                                    </div>
                                </div>
                                <div class="form-group lineHeight">
                                    <div class="col-md-12">
                                        <span class="control-label">امکانات مورد نیاز :</span>
                                        <label class="control-label textColor" id="lblPossibilities"></label>
                                    </div>
                                </div>
                                <div class="form-group lineHeight">
                                    <div class="col-md-12">
                                        <span class="control-label">مقدار صرفه جویی مالی بر اساس مستندات ارائه شده :</span>
                                        <label class="control-label textColor" id="lblFinancialSavings"></label>

                                    </div>
                                </div>
                                <div class="form-group lineHeight">


                                    <div class="col-md-12">
                                        <span class="control-label">مقدار هزینه اجرا با توجه به مستندات ارائه شده  :</span>
                                        <label class="control-label textColor" id="lblImplementPrice"></label>
                                    </div>
                                </div>

                                <div class="form-group lineHeight">

                                    <p class="col-auto forms-view-title">فایل های بارگزاری شده : </p>
                                    <div class="col-12 form-group lineHeight" id="docsPreviews2">

                                    </div>
                                </div>

                                <div class="form-group col-sm-12 text-center">
                                    <br /><br />
                                    <button type="button" onclick="jQuery.print('#proposal-print')" class="btn btn-warning waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-print "></i>
                                        </span>چاپ فرم
                                    </button>
                                    <button type="button" onclick="SaveProposalData();" id="btnProposalRegister" class="btn btn-success waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-check "></i>
                                        </span>ثبت
                                    </button>
                                    <button type="button" onclick="ComebackToSupplierForm();" class="btn btn-warning waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-check "></i>
                                        </span>بازگشت
                                    </button>
                                    <div class="form-group">
                                        <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script src="~/SiteContent/js/jQuery.print.js"></script>


    <script>
        $("#proposalProvider_div").load("/Admin/Proposal/ProposalOffer");
        $("#proposalMain_div").load("/Admin/Proposal/MainProposal");
        $("#proposalFile_div").load("/Admin/Proposal/FileProposal");
    </script>
}

