﻿@model DomainClasses.Proposal.MainProposal


<link href="~/AdminContent/dist/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />


<script src="~/AdminContent/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/AdminContent/dist/js/persian-datepicker-0.4.5.min.js"></script>

<form asp-action="Index" id="mainProposal_frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group lineHeight">
        <div class="col-md-6">
            <label asp-for="Title" class="control-label "></label> <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" class="form-control TextRequired" />

        </div>
        <div class="col-md-6">
            <label asp-for="ProposalDate" class="control-label "></label>
            <input asp-for="ProposalDate" class="form-control" />
            <span asp-validation-for="ProposalDate" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group lineHeight">
        <div class="col-md-6">
            <label asp-for="ProposalDescription" class="control-label"></label> <span asp-validation-for="ProposalDescription" class="text-danger"></span>
            <textarea asp-for="ProposalDescription" class="form-control TextRequired" rows="5"></textarea>

        </div>
        <div class="col-md-6">
            <label asp-for="CurrentStatus" class="control-label "></label>
            <textarea asp-for="CurrentStatus" class="form-control" rows="5"></textarea>
            <span asp-validation-for="CurrentStatus" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group lineHeight">
        <div class="col-md-6">
            <label asp-for="ImplementMethod" class="control-label "></label>
            <textarea asp-for="ImplementMethod" class="form-control" rows="5"></textarea>
            <span asp-validation-for="ImplementMethod" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Possibilities" class="control-label "></label>
            <textarea asp-for="Possibilities" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Possibilities" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group lineHeight">
        <div class="col-md-6">
            <label asp-for="FinancialSavings" class="control-label "></label>
            <textarea asp-for="FinancialSavings" class="form-control" rows="5"></textarea>
            <span asp-validation-for="FinancialSavings" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ImplementPrice" class="control-label "></label>
            <textarea asp-for="ImplementPrice" class="form-control" rows="5"></textarea>
            <span asp-validation-for="ImplementPrice" class="text-danger"></span>
        </div>
    </div>



</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#ProposalDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
    });
</script>