﻿@model DomainClasses.Proposal.ProposalProviders

<form asp-action="Index" id="proposalProvider_frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="UnitId" class="control-label "></label>
            <select asp-for="UnitId" class="form-control TextRequired" asp-items="ViewBag.AllUnits">
                <option value="">انتخاب کنید ...</option>
            </select>
            <span asp-validation-for="UnitId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PostId" class="control-label"></label>
            <select asp-for="PostId" class="form-control TextRequired" asp-items="ViewBag.AllPosts">
                <option value="">انتخاب کنید ...</option>
            </select>
            <span asp-validation-for="PostId" class="text-danger"></span>
            <br /><br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="PersonalCode" class="control-label "></label>&nbsp;&nbsp;&nbsp;<label class="text-success hidden" id="empName"></label>
            <input asp-for="PersonalCode" class="form-control TextRequired" onblur="CheckIsExsistEmployee($(this).val())" />
            <span asp-validation-for="PersonalCode" class="text-danger" id="pCode"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="control-label "></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group col-sm-12 text-center">
        <br /><br />
        <button type="button" onclick="InsertProposalProvider();" class="btn btn-success waves-effect waves-light" id="ppRegister_btn">
            <span class="btn-label">
                <i class="glyphicon glyphicon-check "></i>
            </span>ثبت ارائه دهندگان
        </button>
        <div class="form-group">
            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="table-secondary">
                <th scope="col">شماره پرسنلی</th>
                <th scope="col">واحد</th>
                <th scope="col">سمت</th>
                <th scope="col">شماره همراه</th>
                <th scope="col">حذف</th>
            </tr>
        </thead>
        <tbody id="proposalProvider_tr"></tbody>
    </table>
</form>



<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $("#proposalProvider_tr").on('click', '.btnProposalProviderDelete', function () {
            debugger;
            $(this).closest('tr').remove();
        });
    });
</script>