﻿@model ContactWithDeveloperVM

@{
    ViewData["Title"] = "MailBody";
    Layout = null;
}



<table style="text-align:center;border:1px solid red">
    <thead>
        <tr>
            <th>نام کاربر</th>
            <th>لینک</th>
            <th>تلفن همراه</th>
            <th>پیام</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.PageUrl</td>
            <td>@Model.Mobile</td>
            <td>@Model.MessageText</td>
        </tr>
    </tbody>
</table>


