﻿@model IEnumerable<ShopCartItemViewModel>

@{
    ViewData["Title"] = "ShowCart2";
    var Price = 0;
}
@if (Model.Any())
{
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th colspan="2">عنوان محصول</th>
                <th>تعداد</th>
                <th>قیمت کالا</th>
                <th class="del-td">حذف</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Price += item.EndPrice;
                <tr  id="item_@item.ProductID">
                    <td class="t-img"><img class="img-responsive" src="~/Files/Products/@item.ImageName" alt="@item.Title"></td>
                    <td>@item.Title</td>
                    <td>@item.Count</td>
                    <td>@item.ProductPrice تومان</td>
                    <td>
                        <a class="  " onclick="DeleteItemCart(@item.ProductID)"><i class="fa fa-times-circle  del-ico"></i></a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="2">مجموع تعداد : <span id="TotalCount">@Model.Sum(x => x.Count)</span></td>
                <td colspan="3">قیمت کل : <span id="TotalPrice">@Price</span></td>
            </tr>
        </tbody>
    </table>
}
else

{
    
    <div  style="border-bottom:1px solid black">
        <p class="text-center">هنوز هیچ محصولی انتخاب نشده</p>
    </div>
    <br />
}
    <script>
        function DeleteItemCart(id) {
            debugger;
            swal({
                title: 'حذف محصول',
                text: "آیا از حذف محصول از سبد خرید مطمئن هستید ؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: "بله",
                cancelButtonText: "لغو"

            }).then((result) => {
                if (result.value) {
                    debugger;
                    $.ajax({
                        url: "/ShoppingCart/DeleteItem/" + id,
                        type: "Get"
                    })
                        .done(function (data) {
                            debugger;
                            $("#item_" + data.id).hide();
                            $("#TotalPrice").text("0");
                            $("#TotalCount").text("0");

                            updateShopCart();
                            countShopCart();
                            swal({

                                title: "حذف ",
                                type: "success",
                                text: " اطلاعات مشتری با موفقیت حذف شد ",
                                showConfirmButton: true,
                                confirmButtonText: "تائید"
                            });
                        })  
                       
                }

            });

        }
    </script>