﻿@model ViewModels.ExtraworkSuperiorViewModel
<style>
    .clockpicker-popover {
        z-index: 4000;
    }

    .d-flex {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.extraWork.ExtraWorkID" id="ExtraWork_ID" />
                <input type="hidden" asp-for="@Model.extraWork.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@Model.extraWork.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@Model.extraWork.Employee_Ext_1.ApplicationUser.FullName</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.extraWork.StartDate" id="StartDate" class="form-control TextRequired " readonly="readonly" />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="@Model.extraWork.StartDate">
                            <span asp-validation-for="@Model.extraWork.StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.extraWork.EndDate" id="EndDate" class="form-control TextRequired " readonly="readonly" />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" asp-for="@Model.extraWork.EndDate">
                            <span asp-validation-for="@Model.extraWork.EndDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="@Model.extraWork.StartTime" type="text" class="form-control TextRequired " readonly="readonly" />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" asp-for="@Model.extraWork.StartTime">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="@Model.extraWork.EndTime" type="text" class="form-control TextRequired " readonly="readonly" />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" asp-for="@Model.extraWork.EndTime">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.extraWork.ExtraWorktime" class="control-label"></label>
                        <textarea type="text" asp-for="@Model.extraWork.ExtraWorktime" class="form-control pull-right " readonly="readonly"></textarea>
                        <span asp-validation-for="@Model.extraWork.ExtraWorktime" class="text-danger"></span>
                    </div>
                </div>
                @*<hr />
                <div class="form-group form-row">
                    <div class="col-md-3">
                        <input type="hidden" asp-for="CurrentSuperiorExtraWorkSignatures.ExtraworkSignature_ID" id="ExtraworkSignature_ID" />
                        <label class="control-label">وضعیت امضای شما</label>
                        <div class="input-group date col-md-12">
                            <select class="form-control" asp-for="CurrentSuperiorExtraWorkSignatures.SignatureStatus" id="SignatureStatus" onchange="changeStatusSupriorSignature($(this).val());">
                                <option value="null">نامشخص</option>
                                <option value="true">تایید</option>
                                <option value="false">عدم تایید</option>
                            </select>
                            <span asp-validation-for="CurrentSuperiorExtraWorkSignatures.SignatureStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label">علت عدم تایید</label>
                        <div class="input-group date  col-md-12">
                            <textarea type="text" class="form-control" asp-for="CurrentSuperiorExtraWorkSignatures.SignatureReason" id="SignatureReason"></textarea>
                            <span asp-validation-for="CurrentSuperiorExtraWorkSignatures.SignatureReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
                <hr />
                <div class="row d-flex py-5 px-5 ">

                    <div class="step status_@Model.extraWork.FinalStatus"><p>@Model.extraWork.Employee_Ext_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.extraworkSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (@Model.extraworkSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.extraworkSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.extraworkSignatures[i].SignatureReason != null && Model.extraworkSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.extraworkSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.extraworkSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.extraworkSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.extraworkSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }

                </div>
                <hr />
                <div class="form-group col-sm-12 text-center">
                    @*<br /><br />
                    @if (Model.ThisUserCanSignature != null && Model.ThisUserCanSignature == true)
                    {
                        <button type="button" onclick="UpdateExtraWorkSuperior2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ویرایش
                        </button>
                    }
                    else if (ViewBag.IsAgentOfManager != null && ViewBag.IsAgentOfManager == true)
                    {
                        <button type="button" onclick="UpdateExtraWorkSuperior2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>

                    }
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>*@
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js"></script>
<script>
        var status = 1;
        var vacationType = "True";
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false   برای ویرایش نباید این مورد فعال باشد
                //timePicker: {
                //    enabled: true
                //},
            });


            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

       $('#StartTime').persianDatepicker({
      altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
         autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );

        });


</script>
<script>
    changeStatusSuperiorSignature($('#StatusSuperiorSignature').val());

    function changeStatusSuperiorSignature(value) {
        if (value == "false") {
            $('#SuperiorReason').prop('readonly', false);
        } else {
            $('#SuperiorReason').prop('readonly', true);
        }
    }
</script>