﻿@model DomainClasses.Product.Garanty

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="garantyFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="GarantyName" class="control-label "></label>
                    <input asp-for="GarantyName" class="form-control TextRequired" />
                    <span asp-validation-for="GarantyName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="5" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" id="garantyUploader" type="file" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="col-md-4">

                    <img width="90" height="90" id="imgPreview" />
                </div>
                <div class="col-md-4">
                    <label>
                        <input asp-for="IsActive" id="isActiveGaranty" checked="checked" /> فعال هست
                    </label>
                    <br /><br />
                </div>
            </div>
         
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertGaranty();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#garantyUploader").change(function () {
        readURL(this);
    });
</script>