﻿@model DomainClasses.Product.Garanty

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="garantyFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Garanty_ID" id="Garanty_ID" />
            <input type="hidden" asp-for="Icon" id="oldImage" />
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="GarantyName" class="control-label "></label>
                    <input asp-for="GarantyName" class="form-control TextRequired" />
                    <span asp-validation-for="GarantyName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="5" asp-for="Description" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" id="garantyUploader" type="file" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="col-md-4">

                    @if (Model.Icon != null)
                    {
                        <img id="imgPreview" width="90" height="90" src="~/Files/Garanty/@Model.Icon" />
                    }
                    else
                    {
                        <img id="imgPreview" width="90" height="90" src="~/images/noimage.png" />
                    }
                </div>
                <div class="col-md-4">
                    <label>
                        <input asp-for="IsActive" id="isActiveGaranty" /> فعال هست
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateGaranty();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
           
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#garantyUploader").change(function () {
        readURL(this);
    });
</script>