﻿
@{
    ViewData["Title"] = "مدیریت گارانتی محصولات";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddGaranty()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گارانتی  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست گارانتی ها بر اساس زبان</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش مدیر سایت می تواند برای محصولات خود
                                گارانتی مربوط به محصول را تعریف و در صفحه مدیریت
                                محصولات, گارانتی را به محصول اختصاص دهد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());

        });

    </script>
}


