﻿@model IEnumerable<DomainClasses.Product.Garanty>


<table class="table table-bordered table-hover table-striped" id="garanty_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="garanty_@item.Garanty_ID">
                @if (item.Icon != null)
                {
                    <td><img src="~/Files/Garanty/@item.Icon" width="90" height="90" /></td>
                }
                else
                {
                    <td><img src="~/images/noimage.png" width="90" height="90" /></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.GarantyName)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditGaranty(@item.Garanty_ID);"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteGaranty(@item.Garanty_ID);"><i class="fa fa-trash"></i></button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
