﻿@model DomainClasses.Survey.SurveyAnswerType

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="answerTypeFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="AnswerType_ID"/>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control TextRequired" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="OptionTitle1" class="control-label"></label>
                    <input asp-for="OptionTitle1" class="form-control TextRequired" />
                    <span asp-validation-for="OptionTitle1" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="OptionTitle2" class="control-label"></label>
                    <input asp-for="OptionTitle2" class="form-control TextRequired" />
                    <span asp-validation-for="OptionTitle2" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="OptionTitle3" class="control-label"></label>
                    <input asp-for="OptionTitle3" class="form-control TextRequired" />
                    <span asp-validation-for="OptionTitle3" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="OptionTitle4" class="control-label"></label>
                    <input asp-for="OptionTitle4" class="form-control TextRequired" />
                    <span asp-validation-for="OptionTitle4" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="OptionTitle5" class="control-label"></label>
                    <input asp-for="OptionTitle5" class="form-control TextRequired" />
                    <span asp-validation-for="OptionTitle5" class="text-danger"></span>
                    <br />
                </div>

            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="UpdateSurveyAnswerType();" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />