﻿
@{
    ViewData["Title"] = "نوع جواب نظرسنجی";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddSurveyAnswerType()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن نوع جواب  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <div class="col-md-6">
                        <h3 class="box-title">لیست نوع جواب ها</h3>
                    </div>

                
                    <!--ToolTipssss-->
                    <div class="col-md-6 text-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>
                                ...
                            </span>
                        </a>
                    </div>

                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{


    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());


        });

    </script>

}

