﻿@model IEnumerable<DomainClasses.Survey.SurveyAnswerType>


<table id="surveyAnswerType_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTitle1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTitle2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTitle3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTitle4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTitle5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="ansType_@item.AnswerType_ID">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTitle1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTitle2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTitle3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTitle4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTitle5)
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditSurveyAnswerType(@item.AnswerType_ID);"> <i class="fa fa-edit"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteSurveyAnswerType(@item.AnswerType_ID);"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    table = $('#surveyAnswerType_tb').DataTable();
    table.destroy();
    $('#surveyAnswerType_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>