﻿@model DomainClasses.Survey.SurveyQuestion


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="surveyQuestionFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="QuestionGroupId" class="control-label"></label><span style="font-size:12px;color:red">(بر اساس نظرسنجی های اصلی صفحه اصلی)</span>
                    <select asp-for="QuestionGroupId" class="form-control TextRequired" asp-items="ViewBag.QuestionGroup">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="QuestionGroupId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="AnswerTypeId" class="control-label"></label>
                    <select asp-for="AnswerTypeId" class="form-control TextRequired" asp-items="ViewBag.QuestionAnswerType">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="AnswerTypeId" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control TextRequired" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                    <br />
                </div>
            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertSurveyQuestion();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

