﻿@model DomainClasses.Survey.SurveyQuestion


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="surveyQuestionFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question_ID" />
            <input type="hidden" asp-for="ReplyCount" />
            <input type="hidden" asp-for="OptionVoteCount1" />
            <input type="hidden" asp-for="OptionVoteCount2" />
            <input type="hidden" asp-for="OptionVoteCount3" />
            <input type="hidden" asp-for="OptionVoteCount4" />
            <input type="hidden" asp-for="OptionVoteCount5" />
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="QuestionGroupId" class="control-label"></label>
                    <select asp-for="QuestionGroupId" class="form-control TextRequired" asp-items="ViewBag.QuestionGroup">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="QuestionGroupId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="AnswerTypeId" class="control-label"></label>
                    <select asp-for="AnswerTypeId" class="form-control TextRequired" disabled="disabled" asp-items="ViewBag.QuestionAnswerType">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="AnswerTypeId" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control TextRequired" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                    <br />
                </div>
            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="UpdateSurveyQuestion();" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

