﻿
@{
    ViewData["Title"] = "سوالات نظرسنجی";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddSurveyQuestion($('#mainSurvey_ddl').val())" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن سوال نظرسنجی  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <div class="col-md-3">
                        <h3 class="box-title">لیست سوالات نظرسنجی</h3>
                    </div>
                    <div class="col-md-3">
                        <label>نظرسنجی های اصلی</label>
                        <select class="form-control" id="mainSurvey_ddl" onchange="GetAllQuesionGroup_2($(surveyQuestionGroup_ddl),$(this).val())"></select>
                    </div>
                    <div class="col-md-3">
                        <label>گروه سوالات نظرسنجی</label>
                        <select class="form-control" id="surveyQuestionGroup_ddl" onchange="GetAllSurveyQuestion($(this).val())">
                            <option>انتخاب کنید</option>
                        </select>
                    </div>
                    <!--ToolTipssss-->
                    <div class="col-md-3 text-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>
                                ...
                            </span>
                        </a>
                    </div>

                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{


    <script>
        $(document).ready(function () {

            GetAllMainSurvey($(mainSurvey_ddl));
            

        });

    </script>

}


