﻿@model IEnumerable<DomainClasses.Survey.SurveyQuestion>

<table id="quesSurvey_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyCount)
            </th>
            <th>
                @Html.DisplayFor(model => model.FirstOrDefault().SurveyAnswerType.OptionTitle1)
            </th>
            <th>
                @Html.DisplayFor(model => model.FirstOrDefault().SurveyAnswerType.OptionTitle2)
            </th>
            <th>
                @Html.DisplayFor(model => model.FirstOrDefault().SurveyAnswerType.OptionTitle3)
            </th>
            <th>
                @Html.DisplayFor(model => model.FirstOrDefault().SurveyAnswerType.OptionTitle4)
            </th>
            <th>
                @Html.DisplayFor(model => model.FirstOrDefault().SurveyAnswerType.OptionTitle5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="ques_@item.Question_ID">
            @if (item.Question.Length > 40)
            {
                <td title="@item.Question">@item.Question.Substring(0, 39) ...</td>
            }
            else
            {
                <td>@item.Question</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ReplyCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionVoteCount1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionVoteCount2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionVoteCount3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionVoteCount4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionVoteCount5)
            </td>

            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditSurveyQuestion(@item.Question_ID);"> <i class="fa fa-edit"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteSurveyQuestion(@item.Question_ID);"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    table = $('#quesSurvey_tb').DataTable();
    table.destroy();
    $('#quesSurvey_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
