﻿@model IEnumerable<DomainClasses.AVF.AVF>

@{
    ViewData["Title"] = "دانلود کاتالوگ های شرکت آلیاژگستر هامون";
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "کاتالوگ های شرکت آلیاژ گستر هامون" : "HalyCo Catalog")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product gallery">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 product-box">
                    <a href="~/Files/FileManage/@item.FileNameOrLink">
                        <div class="product-img">
                            <img src="~/Files/FileManage/Image/Thumb/@item.VideoImage" alt="@item.AVFTitle">
                        </div>
                        <div class="product-title">
                            <p>@item.AVFTitle</p>
                        </div>
                        <div class="product-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
                    </a>
                </div>
            }

        </div>
    </div>
</div>
