﻿@using Utilities

@model IEnumerable<DomainClasses.Customer.Customer>

@*<p class="pull-left">
    <button type="button" class="btn btn-danger btn-flat btnMargin" onclick="checkboxSelectedForFAQ();">حذف سوالات متداول</button>
</p>*@

@*<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNewsLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @item.RegisterDate.ToShamsi()
                </td>
                @if (item.IsNewsLetter)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="عضو خبرنامه می باشد"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="عضو خبرنامه نمی باشد"></i>
                    </td>
                }
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
               <td>
                   <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForEditFAQ(@item.FAQ_ID);">     ویرایش   </a></li>
                        </ul>
                    </div>
               </td>
            </tr>
        }
    </tbody>
</table>*@
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllCustomer]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllCustomer]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>