﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 403</h2>
        <div class="error-content">
            <h3><i class="fa fa-lock text-yellow"></i> مجوز دسترسی  </h3>
            <p>
                متاسفانه شما مجوز دسترسی به این بخش را ندارید

            </p>
            
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

@section Scripts{
  
}