﻿@model LoginViewModel
<script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
<style>
    .test {
        margin-right: 20px;
    }
</style>
<form asp-controller="Account" asp-action="Login" method="post" data-ajax="true"
      data-ajax-method="Post"
      data-ajax-mode="replace"
      data-ajax-loading="#div-loading"
      data-ajax-success="Login_Success"
      data-ajax-failure="Login_Failure">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="fa fa-lock"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span class="fa fa-lock"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group refresh  ">
        <div class="g-recaptcha " data-sitekey="6Lecvn0UAAAAAIIIHEqCQdxfwzqy4RnQHbB385sg"></div>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checked"><label for="checked">من را به خاطر بسپار</label>
        <br>
        <a asp-action="ForgotPassword" asp-controller="Manage" asp-area="admin"><i class="fa fa-unlock-alt"></i>فراموشی رمز عبور</a>
    </div>
    <label>آیا قبلا در سایت ما عضو شده اید؟<a href="#" onclick="RegisterInLogin()" class="linkMembership" data-toggle="modal" data-target="#myModal1">عضویت</a></label>
    <div class="modal-footer">
        <input type="submit" class="btn btn-default btn-block" value="ورود" />
    </div>
</form>
    <partial name="_ValidationScriptsPartial" />
