﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">بازیابی رمز عبور</li>
                    </ol>
                </div>
                <div class="col-xs-12 passwordRecovery">
                    <div class="col-md-9 col-xs-12 padding">
                        <h5>لطفا نشانی پست الکترونیک خود را وارد نمایید . <br><br>زمانی که شما از طریق ایمیل کد تائیدیه رمز عبور را دریافت نمودید قادر خواهید بود تا رمز عبور خود را تغییر دهید.</h5>
                        <section class="text-center">
                            <form asp-action="ForgotPassword" asp-controller="Account" method="post" data-ajax="true"
                                  data-ajax-method="Post"
                                  data-ajax-mode="replace"
                                  data-ajax-loading="#div-loading"
                                  data-ajax-success="ForgotPassword_Success"
                                  data-ajax-failure="ForgotPassword_Failure">
                                <div class="form-group ">
                                    <label asp-for="Email"></label>
                                    <div>
                                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                <div class="button-style1">
                                    <button type="submit">ارسال</button>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <img src="~/images/Loading.gif" style="display:none" id="div-loading" />
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

