﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="container-fluid text-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">بازیابی رمز عبور</li>
                    </ol>
                </div>
                <div class="col-xs-12 passwordRecovery">
                    <div class="col-xs-12 alert alert-info" style="text-align:center">
                        لینک تغییر رمز عبور با موفقیت به ایمیل شما ارسال شد.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>