﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";

}

<script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>

<form asp-action="Register" asp-controller="Account" method="post" data-ajax="true"
      data-ajax-method="Post"
      data-ajax-mode="replace"
      data-ajax-loading="#div-loading"
      data-ajax-success="Register_Success"
      data-ajax-failure="Register_Failure">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span class="fa fa-user"></span>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="fa fa-user"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span class="fa fa-lock"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span class="fa fa-lock"></span>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group refresh  ">
        <div class="g-recaptcha " data-sitekey="6Lecvn0UAAAAAIIIHEqCQdxfwzqy4RnQHbB385sg"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-block" style="direction: rtl;">ثبت نام</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />
