﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";

}

<div class="container-fluid text-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">بازیابی رمز عبور</li>
                    </ol>
                </div>
                <div class="col-xs-12 passwordRecovery">
                    <div class="col-md-9 col-xs-12 padding">
                        <section class="text-center">
                            <form asp-action="ResetPassword" asp-controller="Account" method="post" data-ajax="true"
                                  data-ajax-method="Post"
                                  data-ajax-mode="replace"
                                  data-ajax-loading="#div-loading"
                                  data-ajax-success="ResetPassword_Success"
                                  data-ajax-failure="ResetPassword_Failure">
                                <input asp-for="Code" type="hidden" />
                                <div class="form-group ">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" type="text" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group ">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" type="text" onfocus="ChangeType()" id="Password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group ">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" type="text" onfocus="ChangeType()" id="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="button-style1">
                                    <button type="submit">ارسال</button>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <img src="~/images/Loading.gif" style="display:none" id="div-loading" />
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/Ajax/Account_Site_Ajax.js"></script>
}
    <script>
        function ChangeType() {
            $("#Password").attr("type", "password");
            $("#ConfirmPassword").attr("type", "password");
        }
    </script>