﻿@{
    ViewData["Title"] = "Reset password confirmation";

}
<div class="container-fluid text-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">بازیابی رمز عبور</li>
                    </ol>
                </div>
                <div class="col-xs-12 passwordRecovery">
                   


                        <div class="col-xs-12 alert alert-info" style="text-align:center">
                            رمز عبور شما با موفقیت تغییر یافت
                        </div>
                        <div class="col-xs-12">
                            <a onclick="Login()" class="btn btn-info"><i class="glyphicon glyphicon-log-in"></i> صفحه ورود</a>
                        </div>
                        <hr />

            </div>
        </div>
    </div>
</div>
</div>