﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid text-center">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">دسترسی</li>
                    </ol>
                </div>
                <div class="col-xs-12 passwordRecovery">
                    <div class="col-xs-12 alert alert-danger" style="text-align:center">
                        شما دسترسی به این صفحه را ندارید. لطفا با حساب کاربری خود  <a onclick="Login()">وارد</a> سایت شده یا <a onclick="Register()">ثبت نام</a> کنید


                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>