﻿@model IEnumerable<Factor>
<style>
    th {
        text-align: center;
        font-size: 13px;
    }
    td:first-child,td{ 
        font-size: 15px;
        color:black;
    }
</style>
<table class="table table-hover table-bordered text-center" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bank_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factor_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMent_Status)
            </th>
            <th>
                جزئیات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bank_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factor_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @StatusDictionary.FindStatus("Order", item.Order_Status)
            </td>
            <td>
                @StatusDictionary.FindStatus("PayMent", item.PayMent_Status)
            </td>
            <td>
                <button class="btn btn-instagram btn-block" onclick="Details(@item.Factor_Id)">جزئیات</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function Details(id) {
        $.ajax({
            url: "/Factors/Details/" + id,
            type: "Get",
            data: {}
        }).done(function (result) {
            $('#modal-info2').modal('show');
            $('#modal-body2').html(result);
        });
    }
</script>