﻿@model DomainClasses.Suppliers.SuppliersActivityFields


<form id="activitySupplierForm">
    <div class="col-12 col-md-6 col-xl-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="ActivityId">زمینه فعالیت</label>
            </div>
            <select class="custom-select" asp-for="Activity.ActivityFieldID" id="ActivityField_ddl" asp-items="ViewBag.ActivityField" onchange="GetAllActivity($(this).val())">
                <option selected>انتخاب کنید ...</option>
            </select>
        </div>
        <span asp-validation-for="ActivityId" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="activity_ddl">نام فعالیت</label>
            </div>
            <select class="custom-select" asp-for="Activity.ActivityFieldID" id="activity_ddl">
                <option selected>انتخاب کنید ...</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon16">ظرفیت تامین/حجم ریالی در سال</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon16" asp-for="SupplyCapacity">
        </div>
        <span asp-validation-for="SupplyCapacity" class="text-danger"></span>
    </div>
    <div class="col-2 style-btn text-right">
        <button type="button" class="btn btn-outline-danger" onclick="ActivitySuppliers()">ثبت فعالیت</button>
    </div>
</form>
    <partial name="_ValidationScriptsPartial" />
