﻿@model DomainClasses.Suppliers.SuppliersCertificates

<form id="certificatesSupplierForm">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">شرح گواهینامه/نظام </span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Description"></textarea>
        </div>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Title">نام موسسه صادر کننده </span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon24" asp-for="Title" id="txtCertificateTitle">
        </div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Type">نوع گواهینامه </label>
            </div>
            <select class="custom-select" asp-for="Type" id="certificateType_ddl">
                <option selected="">انتخاب کنید ...</option>
                <option value="False">ملی</option>
                <option value="True">بین المللی</option>
            </select>
        </div>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-2 style-btn text-left">
        <button type="button" class="btn btn-outline-danger" onclick="CertificateSuppliers()">ثبت گواهینامه/نظام</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />