﻿@model DomainClasses.Suppliers.SuppliersFiles


<div class="col-12 col-md-6">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">بارگزاری مدارک</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="documentUploader" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="documentUploader">انتخاب فایل</label>
        </div>
    </div>

    <div class="text-center loadings hiddens">
        <img src="~/images/Loading.gif" />
    </div>
</div>
<div class="col-12" id="docsPreviews">
    
</div>


<script>
    var newImageArray = [];
    $("#documentUploader").change(function () {
        $(".loadings").removeClass("hiddens");
        debugger;
        var formData = new FormData();
        var files = $(this).get(0).files;
        formData.append("docFile", files[0])


        $.ajax({
            method: 'POST',
            url: '/Supplier/DocumentUpload',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.status == "ok") {
                    $(".loadings").addClass("hiddens");
                    var htmls = "";
                    debugger;
                    htmls += ' <div class="col-12 col-sm-6 col-lg-4 col-xl-3 forms-file-upload myDoc" data-fn='+data.fn+'>' +
                        '<div class="forms-file-record">' +
                        '<span class="fa fa-file"></span>' +
                        '<p class="forms-file-title btnDocsDelete" data-file='+data.fn+' data-id='+data.fn+'>' +data.fn+ '</p>' +
                        '<i class="fa fa-remove btnDeleteDocs" title="حذف فایل"></i>' +
                        '</div>' +
                        '</div>';


                    $("#docsPreviews").append(htmls);
                    $("#docsPreviews2").append(htmls);
                }

            },
            error: function (result) {
                //alert(result.error);
            }
        });
    });


    //$('#docsPreviews').on('click', '.forms-file-upload .forms-file-record i', function () {
    //    $(this).closest('div.myDoc').hide(500);
      

    //});

    $('#docsPreviews').on('click', '.forms-file-upload .forms-file-record i', function () {

        var $this = $(this).closest('div.myDoc');
        var fileName = $(this).closest('div.myDoc').attr('data-fn');
        $.ajax({
            method: 'POST',
            url: '/Supplier/DeleteDocumentUpload',
            data: { 'fn': fileName },
            success: function (response) {
                if (response == "ok") {
                    $this.remove();
                }
            },
            error: function (response) {
                //showModalMessage('.modalMessage', 'خطای کلاینت', response, 'danger');
            }
        });
    });
   
</script>