﻿
@{
    ViewData["Title"] = "فرم ثبت نام توان تامین کنندگان";
}

<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">
<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>ثبت نام تامین کنندگان</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 forms" id="Supplier_Form">
            <div class="col-12 forms-bg">
                <p class="forms-header text-center">فرم ثبت نام تأمین کنندگان</p>
                <div class="col-12">
                    <span class="text-danger"> * فیلد های تلفنی و کد ملی (عددی) را بدون خط فاصله (-) وارد نمایید</span>
                    <p class="forms-title mt-3">1- اطلاعات عمومی تامین کننده</p>
                </div>

                <div id="MainSupplier"></div>


                <div class="col-12">
                    <p class="forms-title mt-3">3- مشخصات سهامداران </p>
                </div>

                <div id="ShareholderSupplier"></div>

                <div class="col-12 mt-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">#</th>
                                <th scope="col">نام سهامدار</th>
                                <th scope="col">نوع سهامدار</th>
                                <th scope="col">درصد سهم</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="shareholderSuppliers_tr"></tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">4- زمینه فعالیتهای قابل ارائه </p>
                </div>

                <div id="ActivitySupplier"></div>



                <div class="col-12 mt-3 table-responsive">
                    <table class="table table-bordered" id="activitySuppliers_tb">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">#</th>
                                <th scope="col">زمینه فعالیت</th>
                                <th scope="col">نام فعالیت</th>
                                <th scope="col">ظرفیت تامین/حجم ریالی در سال</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="activitySuppliers_tr"></tbody>
                    </table>
                </div>

                <div class="col-12">
                    <p class="forms-title mt-3">5- سوابق کاری </p>
                </div>
                <div id="ResumeSupplier"></div>


                <div class="col-12 mt-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">#</th>
                                <th scope="col">نام شرکت / پروژه</th>
                                <th scope="col">کار فرما</th>
                                <th scope="col">مدت همکاری</th>
                                <th scope="col">شرح قرارداد</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="resumeSuppliers_tr"></tbody>
                    </table>
                </div>


                <div class="col-12">
                    <p class="forms-title mt-3"> 8- نظامها و گواهینامه های ملی و بین المللی کسب شده  </p>
                </div>

                <div id="CertificateSupplier"></div>

                <div class="col-12 mt-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                <th scope="col">#</th>
                                <th scope="col">شرح گواهینامه/نظام</th>
                                <th scope="col">نام موسسه صادر کننده</th>
                                <th scope="col">نوع گواهینامه</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="certificateSuppliers_tr"></tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">9- بارگزاری مدارک  </p>
                </div>

                <div id="DocumentSupplier"></div>

                <div class="col-12 style-btn text-left mt-3">
                    <a onclick="GeneralInformationSupplier()" class="btn btn-outline-danger">ثبت اطلاعات</a>
                </div>
            </div>
        </div>

        <div id="SupplierPrint" class="hiddens">
            <div class="col-12 forms forms-print">
                <div class="col-12 forms-bg" id="print-factor">
                    <div class="col-12 forms-border">
                        <div class="col-12">
                            <p class="forms-title mt-3">1- اطلاعات عمومی تامین کننده</p>
                        </div>
                        <div class="col-12">
                            <div class="col-4 mb-3 forms-view">
                                <p class="col-auto forms-view-title">نام تامین کننده : </p>
                                <span class="forms-view-text" id="lblSupplierFullName">علیرضا حاجی قدیری راوندی</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">نام تجاری / اختصاری : </p>
                                <span class="forms-view-text" id="lblBrand">لورم ایپسوم متن</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">نوع تامین کننده : </p>
                                <span class="forms-view-text" id="lblSuppType">لورم ایپسوم متن</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3">2- اطلاعات تماس </p>
                        </div>
                        <div class="col-12">
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تلفن دفتر مرکزی : </p>
                                <span class="forms-view-text" id="lblCentralOfficeTell">03155546987</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تلفن دفتر فروش : </p>
                                <span class="forms-view-text" id="lblSalesTell">03155546987</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تلفن کارخانه / کارگاه : </p>
                                <span class="forms-view-text" id="lblFactoyTell">03155546987</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">دورنگار دفتر مرکزی : </p>
                                <span class="forms-view-text" id="lblCentralOfficFax">03155546987</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">دورنگار دفتر فروش : </p>
                                <span class="forms-view-text" id="lblSalesFax">03155546987</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">دورنگار کارخانه / کارگاه : </p>
                                <span class="forms-view-text" id="lblFactoryFax"></span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">کدپستی دفتر مرکزی : </p>
                                <span class="forms-view-text" id="lblCentralOfficePostalCode"></span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">کدپستی دفتر فروش : </p>
                                <span class="forms-view-text" id="lblSalesPostalCode"></span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">کدپستی کارخانه / کارگاه : </p>
                                <span class="forms-view-text" id="lblFactoyPostalCode"></span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تلفن همراه : </p>
                                <span class="forms-view-text" id="lblPhoneNumber"></span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">ایمیل : </p>
                                <span class="forms-view-text" id="lblEmail">itsaco-kashan@yahoo.com</span>
                            </div>
                            <div class="col-4 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">وب سایت : </p>
                                <span class="forms-view-text" id="lblWebsite">www.halyco.ir</span>
                            </div>
                            <div class="col-12 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">آدرس : </p>
                                <span class="forms-view-text" id="lblAddress">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید.</span>
                            </div>
                        </div>

                        <div class="col-12">
                            <p class="forms-title mt-3">6- توانایی مالی </p>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">توانایی مالی پرداخت : </p>
                                <span class="forms-view-text" id="lblAffordability">50 درصد پیش پرداخت</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3">7- توان تخصصی و نیروی انسانی </p>
                        </div>
                        <div class="col-12">
                            <div class="col-3 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تعداد کل پرسنل : </p>
                                <span class="forms-view-text" id="lblPersonnelNumber">5698</span>
                            </div>
                            <div class="col-3 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تعداد کارشناسان : </p>
                                <span class="forms-view-text" id="lblExpertsNumber">5698</span>
                            </div>
                            <div class="col-3 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تعداد تکنسین : </p>
                                <span class="forms-view-text" id="lblTecknecianNumber">5698</span>
                            </div>
                            <div class="col-3 mb-3 forms-view forms-date">
                                <p class="col-auto forms-view-title">تعداد پرسنل کنترل کیفیت : </p>
                                <span class="forms-view-text" id="lblQualityControlNumber">5698</span>
                            </div>
                        </div>


                        <div class="col-12">
                            <p class="forms-title mt-3">3- مشخصات سهامداران </p>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col">نام سهامدار</th>
                                        <th scope="col">نوع سهامدار</th>
                                        <th scope="col">درصد سهم</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                </thead>
                                <tbody id="shareholderSuppliers_tr2"></tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3">4- زمینه فعالیتهای قابل ارائه </p>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col">زمینه فعالیت</th>
                                        <th scope="col">نام فعالیت</th>
                                        <th scope="col">ظرفیت تامین/حجم ریالی در سال</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                </thead>
                                <tbody id="activitySuppliers_tr2"></tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <p class="forms-title mt-3">5- سوابق کاری </p>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col">نام شرکت / پروژه</th>
                                        <th scope="col">کار فرما</th>
                                        <th scope="col">مدت همکاری</th>
                                        <th scope="col">شرح قرارداد</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                </thead>
                                <tbody id="resumeSuppliers_tr2"></tbody>
                            </table>
                        </div>

                        <div class="col-12">
                            <p class="forms-title mt-3">8- نظامها و گواهینامه های ملی و بین المللی کسب شده </p>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col">شرح گواهینامه/نظام</th>
                                        <th scope="col">نام موسسه صادر کننده</th>
                                        <th scope="col">نوع گواهینامه</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                </thead>
                                <tbody id="certificateSuppliers_tr2"></tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mt-3 mb-3 forms-view forms-file-upload">
                                <p class="col-auto forms-view-title">فایل های بارگزاری شده : </p>
                                <div id="docsPreviews2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 style-btn text-left mb-3">
                    <a class="btn btn-outline-danger" onclick="jQuery.print('#print-factor')"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>
                    <a onclick="SaveSupplierData()" class="btn btn-outline-danger" id="btnRegisterSupplier">ثبت</a>
                    <a onclick="ComebackToSupplierForm()" class="btn btn-outline-danger">بازگشت به فرم</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    $(function () {
        $.get("/Supplier/MainSupplier", function (res) {
            $("#MainSupplier").html(res);
        });

        $("#ShareholderSupplier").load("/Supplier/ShareholderSupplier");
        $("#ActivitySupplier").load("/Supplier/ActivitySupplier");
        $("#ResumeSupplier").load("/Supplier/ResumeSupplier");
        $("#CertificateSupplier").load("/Supplier/CertificateSupplier");
        $("#DocumentSupplier").load("/Supplier/DocumentsSupplier");
    });
</script>