﻿@model DomainClasses.Suppliers.MainSuppliers

<form id="mainSupplierForm">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">نام تامین کننده</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" asp-for="FullName" />

            @*<input type="text" placeholder="" aria-label="Last name" class="form-control">*@
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">نام تجاری / اختصاری</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="Brand" />

        </div>
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="supplierType_ddl">نوع تامین کننده</label>
            </div>
            <select class="custom-select" id="supplierType_ddl">
                <option selected>انتخاب کنید ...</option>
                <option value="False">حقیقی</option>
                <option value="True">حقوقی</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <p class="forms-title mt-3">2- اطلاعات تماس </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">تلفن دفتر مرکزی</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon2" asp-for="CentralOfficeTell" maxlength="11" />

        </div>
        <span asp-validation-for="CentralOfficeTell" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">تلفن دفتر فروش</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon3" asp-for="SalesTell" maxlength="11">

        </div>
        <span asp-validation-for="SalesTell" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">تلفن کارخانه / کارگاه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon4" asp-for="FactoyTell" maxlength="11">

        </div>
        <span asp-validation-for="FactoyTell" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon5">دورنگار دفتر مرکزی</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon5" asp-for="CentralOfficFax">

        </div>
        <span asp-validation-for="CentralOfficFax" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon6">دورنگار دفتر فروش</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon6" asp-for="SalesFax">

        </div>
        <span asp-validation-for="SalesFax" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon7">دورنگار کارخانه / کارگاه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon7" asp-for="FactoryFax">

        </div>
        <span asp-validation-for="FactoryFax" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon8">کدپستی دفتر مرکزی</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon8" asp-for="CentralOfficePostalCode">

        </div>
        <span asp-validation-for="CentralOfficePostalCode" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon9">کدپستی دفتر فروش</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon9" asp-for="SalesPostalCode">

        </div>
        <span asp-validation-for="SalesPostalCode" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon10">کدپستی کارخانه / کارگاه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon10" asp-for="FactoyPostalCode">

        </div>
        <span asp-validation-for="FactoyPostalCode" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon11">تلفن همراه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon11" asp-for="PhoneNumber" maxlength="11">

        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon12">ایمیل</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon12" asp-for="Email">

        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon13">وب سایت</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon13" asp-for="Website">

        </div>
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">آدرس</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Address"></textarea>

        </div>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="col-12">
        <p class="forms-title mt-3">6- توانایی مالی </p>
    </div>
    <div class="col-12 mb-2">
        <div class="col-12 col-md-6 col-lg-3 custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="Affordability_rbl" class="custom-control-input" value="0" data-title="بدون پیش پرداخت">
            <label class="custom-control-label" for="customRadioInline1">بدون پیش پرداخت</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="Affordability_rbl" class="custom-control-input" value="1" data-title="25 درصد پیش پرداخت">
            <label class="custom-control-label" for="customRadioInline2">25 درصد پیش پرداخت</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="Affordability_rbl" class="custom-control-input" value="2" data-title="50 درصد پیش پرداخت">
            <label class="custom-control-label" for="customRadioInline3">50 درصد پیش پرداخت</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline4" name="Affordability_rbl" class="custom-control-input" value="3" data-title="نقد">
            <label class="custom-control-label" for="customRadioInline4">نقد</label>
        </div>
    </div>
    <div class="col-12">
        <p class="forms-title mt-3">7- توان تخصصی و نیروی انسانی </p>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon20">تعداد کل پرسنل</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon20" asp-for="PersonnelNumber">

        </div>
        <span asp-validation-for="PersonnelNumber" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon21">تعداد کارشناسان</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon21" asp-for="ExpertsNumber">

        </div>
        <span asp-validation-for="ExpertsNumber" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon22">تعداد تکنسین</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon22" asp-for="TecknecianNumber">

        </div>
        <span asp-validation-for="TecknecianNumber" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon23">تعداد پرسنل کنترل کیفیت</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon23" asp-for="QualityControlNumber">

        </div>
        <span asp-validation-for="QualityControlNumber" class="text-danger"></span>
    </div>
  
</form>


<partial name="_ValidationScriptsPartial" />