﻿@model DomainClasses.Suppliers.SuppliersResume

    <form id="resumeSupplierForm">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Title">نام شرکت / پروژه </span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon17" asp-for="Title" id="txtCompanyName">
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Employer">کار فرما</span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon18" asp-for="Employer" id="txtEmployer">
            </div>
            <span asp-validation-for="Employer" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="CollaborationPeriod">مدت همکاری (ماه) </span>
                </div>
                <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon19" asp-for="CollaborationPeriod" id="txtCollaborationPeriod">
            </div>
            <span asp-validation-for="CollaborationPeriod" class="text-danger"></span>
        </div>
        <div class="col-12 col-lg-10">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">شرح قرارداد</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" asp-for="ResumeDescription"></textarea>
            </div>
            <span asp-validation-for="ResumeDescription" class="text-danger"></span>
        </div>
        <div class="col-2 style-btn text-left">
            <button type="button" class="btn btn-outline-danger" onclick="ResumeSuppliers()">ثبت سوابق کاری</button>
        </div>
    </form>

    <partial name="_ValidationScriptsPartial" />