﻿@model DomainClasses.Suppliers.SupplierShareholders

<form id="suppliersShareholderForm">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">نام سهامدار</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="txtShareholderName" asp-for="FullName" id="FullName2">
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Type">نوع سهامدار</label>
            </div>
            <select class="custom-select" asp-for="Type">
                <option selected>انتخاب کنید ...</option>
                <option value="0">حقیقی</option>
                <option value="1">حقوقی</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon15">درصد سهم</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon15" asp-for="PercentageShare">

        </div>
        <span asp-validation-for="PercentageShare" class="text-danger"></span>
    </div>
    <div class="col-2 style-btn">
        <button type="button" onclick="ShareholderSuppliers()" class="btn btn-outline-danger">ثبت اطلاعات سهامدار</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />