﻿
@{
    ViewData["Title"] = "بازیابی فرم ارزیابی توان تامین کنندگان";
}

<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item"><a href="/Supplier"><span>فرم ارزیابی توان فنی تامین کنندگان</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>مشاهده و چاپ فرم ارزیابی توان فنی تامین کنندگان</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 forms forms-print">
            <div class="col-12 forms-bg" id="print-factor">
                <div class="col-12 forms-border">
                    <div class="col-12">
                        <p class="forms-title mt-3">1- اطلاعات عمومی تامین کننده</p>
                    </div>
                    <div class="col-12">
                        <div class="col-4 mb-3 forms-view">
                            <p class="col-auto forms-view-title">نام تامین کننده : </p>
                            <span class="forms-view-text" id="lblSupplierFullName">علیرضا حاجی قدیری راوندی</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">نام تجاری / اختصاری : </p>
                            <span class="forms-view-text" id="lblBrand">لورم ایپسوم متن</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">نوع تامین کننده : </p>
                            <span class="forms-view-text" id="lblSuppType">لورم ایپسوم متن</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="forms-title mt-3">2- اطلاعات تماس </p>
                    </div>
                    <div class="col-12">
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تلفن دفتر مرکزی : </p>
                            <span class="forms-view-text" id="lblCentralOfficeTell">03155546987</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تلفن دفتر فروش : </p>
                            <span class="forms-view-text" id="lblSalesTell">03155546987</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تلفن کارخانه / کارگاه : </p>
                            <span class="forms-view-text" id="lblFactoyTell">03155546987</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">دورنگار دفتر مرکزی : </p>
                            <span class="forms-view-text" id="lblCentralOfficFax">03155546987</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">دورنگار دفتر فروش : </p>
                            <span class="forms-view-text" id="lblSalesFax">03155546987</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">دورنگار کارخانه / کارگاه : </p>
                            <span class="forms-view-text" id="lblFactoryFax"></span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">کدپستی دفتر مرکزی : </p>
                            <span class="forms-view-text" id="lblCentralOfficePostalCode"></span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">کدپستی دفتر فروش : </p>
                            <span class="forms-view-text" id="lblSalesPostalCode"></span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">کدپستی کارخانه / کارگاه : </p>
                            <span class="forms-view-text" id="lblFactoyPostalCode"></span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تلفن همراه : </p>
                            <span class="forms-view-text" id="lblPhoneNumber"></span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">ایمیل : </p>
                            <span class="forms-view-text" id="lblEmail">itsaco-kashan@yahoo.com</span>
                        </div>
                        <div class="col-4 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">وب سایت : </p>
                            <span class="forms-view-text" id="lblWebsite">www.halyco.ir</span>
                        </div>
                        <div class="col-12 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">آدرس : </p>
                            <span class="forms-view-text" id="lblAddress">لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید.</span>
                        </div>
                    </div>

                    <div class="col-12">
                        <p class="forms-title mt-3">6- توانایی مالی </p>
                    </div>
                    <div class="col-12">
                        <div class="col-12 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">توانایی مالی پرداخت : </p>
                            <span class="forms-view-text" id="lblAffordability">50 درصد پیش پرداخت</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="forms-title mt-3">7- توان تخصصی و نیروی انسانی </p>
                    </div>
                    <div class="col-12">
                        <div class="col-3 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تعداد کل پرسنل : </p>
                            <span class="forms-view-text" id="lblPersonnelNumber">5698</span>
                        </div>
                        <div class="col-3 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تعداد کارشناسان : </p>
                            <span class="forms-view-text" id="lblExpertsNumber">5698</span>
                        </div>
                        <div class="col-3 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تعداد تکنسین : </p>
                            <span class="forms-view-text" id="lblTecknecianNumber">5698</span>
                        </div>
                        <div class="col-3 mb-3 forms-view forms-date">
                            <p class="col-auto forms-view-title">تعداد پرسنل کنترل کیفیت : </p>
                            <span class="forms-view-text" id="lblQualityControlNumber">5698</span>
                        </div>
                    </div>


                    <div class="col-12">
                        <p class="forms-title mt-3">3- مشخصات سهامداران </p>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">نام سهامدار</th>
                                    <th scope="col">نوع سهامدار</th>
                                    <th scope="col">درصد سهم</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>علیرضا حاجی قدیری راوندی</td>
                                    <td>حقیقی</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>علیرضا حاجی قدیری راوندی</td>
                                    <td>حقیقی</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <p class="forms-title mt-3">4- زمینه فعالیتهای قابل ارائه </p>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">زمینه فعالیت</th>
                                    <th scope="col">نام فعالیت</th>
                                    <th scope="col">ظرفیت تامین/حجم ریالی در سال</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>برق ، الکترونیک و اتوماسیون های صنعتی</td>
                                    <td>حقیقی</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>برق ، الکترونیک و اتوماسیون های صنعتی</td>
                                    <td>حقیقی</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <p class="forms-title mt-3">5- سوابق کاری </p>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">نام شرکت / پروژه</th>
                                    <th scope="col">کار فرما</th>
                                    <th scope="col">مدت همکاری</th>
                                    <th scope="col">شرح قرارداد</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>لورم ایپسوم متن ساختگی</td>
                                    <td>علیرضا حاجی قدیری راوندی</td>
                                    <td>2 سال</td>
                                    <td>لورم ایپسوم متن ساختگی است</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12">
                        <p class="forms-title mt-3">8- نظامها و گواهینامه های ملی و بین المللی کسب شده </p>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">شرح گواهینامه/نظام</th>
                                    <th scope="col">نام موسسه صادر کننده</th>
                                    <th scope="col">نوع گواهینامه</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>لورم ایپسوم متن ساختگی</td>
                                    <td>علیرضا حاجی قدیری راوندی</td>
                                    <td>ملی</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <div class="col-12 mt-3 mb-3 forms-view forms-file-upload">
                            <p class="col-auto forms-view-title">فایل های بارگزاری شده : </p>
                            <div class="col-auto forms-file-upload">
                                <div class="forms-file-record">
                                    <p class="forms-file-title">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</p>
                                </div>
                            </div>
                            <div class="col-auto forms-file-upload">
                                <div class="forms-file-record">
                                    <p class="forms-file-title">لورم ایپسوم متن ساختگی لورم</p>
                                </div>
                            </div>
                            <div class="col-auto forms-file-upload">
                                <div class="forms-file-record">
                                    <p class="forms-file-title">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</p>
                                </div>
                            </div>
                            <div class="col-auto forms-file-upload">
                                <div class="forms-file-record">
                                    <p class="forms-file-title">لورم ایپسوم متن ساختگی لورم ایپسوم متن ساختگی</p>
                                </div>
                            </div>
                            <div class="col-auto forms-file-upload">
                                <div class="forms-file-record">
                                    <p class="forms-file-title">لورم ایپسوم</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 style-btn text-left mb-3">
                <a class="btn btn-outline-danger" onclick="jQuery.print('#print-factor')"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>
                <a href="form-supplier-registration.html" class="btn btn-outline-danger">بازگشت به فرم</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        SupplierFormFill();
    });
</script>