﻿@model DomainClasses.Employees.Vacation

<style>
    .clockpicker-popover {
        z-index: 4000;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Create" id="AddVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-row">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@DateTime.Now.ToLongShamsi()</span>
                    </div>
                </div>
                <br /><br />
                <div class="form-group form-row">
                    <div class="col-sm-12">
                        <label class="control-label">نوع مرخصی</label>
                        <select class="form-control" asp-for="VacationType" onchange="changeVacationType($(this).val());">
                            <option value="true">روزانه</option>
                            <option value="false">ساعتی</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-row" id="DayVacation">
                    <div class="col-md-4">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <input id="StartDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" autocomplete="off">
                            <span asp-validation-for="DayVacationStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <input id="EndDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" autocomplete="off">
                            <span asp-validation-for="DayVacationEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">مدت</label>
                        <span asp-validation-for="Duration" class="text-danger"></span>
                        <div class="input-group date">
                            <input type="number" class="form-control TextRequired" asp-for="Duration" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="form-group form-row" id="TimeVacation">
                    <div class="col-md-4">
                        <label>تاریخ مرخصی ساعتی </label>
                        <div class="input-group date">
                            <input id="VacationTimeDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt3" class="form-control hidden pull-right" autocomplete="off">
                            <span asp-validation-for="DateVacationTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت شروع </label>
                        <div class="input-group date clockpicker">
                            <input id="StartTime" class="form-control TextRequired" autocomplete="off" readonly />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت پایان </label>
                        <div class="input-group date clockpicker">
                            <input id="EndTime" class="form-control TextRequired" autocomplete="off" readonly />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" autocomplete="off">
                        </div>
                    </div>

                </div>

                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label class="control-label hidden">دلیل مرخصی خود را شرح دهید</label>
                        <select id="reseonOption_ddl" class="form-control col-md-2 mb-1 hidden" onchange="changeReseonOption();">
                            <option value="سایر">سایر</option>
                            <option value="مسافرت">مسافرت</option>
                            <option value="بیماری">بیماری</option>
                            <option value="کلاس">کلاس</option>
                            <option value="اداری/بانکی">اداری/بانکی</option>
                        </select>
                        <label class="control-label">توضیحات</label>
                        <textarea asp-for="VacationReason" class="form-control TextRequired col-md-12" autocomplete="off"></textarea>
                        <span asp-validation-for="VacationReason" class="text-danger"></span>
                    </div>
                </div>
                @if (ViewBag.HasAlternate)
                {
                    <div id="alternateDiv">
                        <div class="col-md-4">
                            <label class="control-label">کارمند جایگزین</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-items="@ViewBag.coworkerEmployeelist" id="alternateList_ddl">
                                    <option value="">انتخاب کنید...</option>
                                </select>
                                <span asp-validation-for="PersonalCodeSecond" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="StatusAlternateSignature" disabled="disabled">
                                    <option>نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="alternateDiv2">
                        <div class="col-md-12">
                            <label asp-for="AlternateSignatureReason" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <textarea type="text" class="form-control" asp-for="AlternateSignatureReason" readonly="readonly"></textarea>
                                <span asp-validation-for="AlternateSignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    <button type="button" onclick="AddVacation2();" class="btn btn-warning waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-edit "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true
                //},
            });

            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

            $('#VacationTimeDate').persianDatepicker({
                altField: '#tarikhAlt3',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

        });

    $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );
</script>
<script>
    changeVacationType($('#VacationType').val());

    function changeVacationType(value) {
        if (value == 'true') {
            $('#TimeVacation').addClass('hidden');
            $('#DayVacation').removeClass('hidden');
            $('#alternateDiv').removeClass('hidden');
            $('#alternateDiv2').removeClass('hidden');
        } else {
            $('#DayVacation').addClass('hidden');
            $('#TimeVacation').removeClass('hidden');
            $('#alternateDiv').addClass('hidden');
            $('#alternateDiv2').addClass('hidden');
        }
    }
</script>
<partial name="_ValidationScriptsPartial" />


