﻿@model ViewModels.VacationSuperiorViewModel

<style>
    .clockpicker-popover {
        z-index: 4000;
    }
    .d-flex{
        display:flex;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Edit" id="EditVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="vacation.Vacation_ID" id="Vacation_ID" />
                <div class="form-group form-row">
                    <div class="col-sm-4 hidden">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@Model.vacation.CreateDate.ToShamsiFullDateTime()</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">وضعیت درخواست شما: </label>
                        @if (Model.vacation.FinalStatus == null)
                        {
                            <span>نا مشخص</span>
                        }
                        else if (Model.vacation.FinalStatus == true)
                        {
                            <span>تایید شده</span>
                        }
                        else
                        {
                            <span>تایید نشده</span>
                        }
                    </div>

                </div>
                <br /><br />
                <div class="form-group  form-row">
                    <div class="col-sm-12">
                        <label class="control-label">نوع مرخصی</label>
                        <select class="form-control" asp-for="vacation.VacationType" id="VacationType" onchange="changeVacationType($(this).val());">
                            <option value="true">روزانه</option>
                            <option value="false">ساعتی</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-row" id="DayVacation">
                    <div class="col-md-4">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <input asp-for="vacation.DayVacationStartDate" id="StartDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="vacation.DayVacationStartDate" autocomplete="off">
                            <span asp-validation-for="vacation.DayVacationStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">

                            <input asp-for="vacation.DayVacationEndDate" id="EndDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" asp-for="vacation.DayVacationEndDate" autocomplete="off">
                            <span asp-validation-for="vacation.DayVacationEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">چند روز کاری</label>
                        <span asp-validation-for="vacation.Duration" id="Duration" class="text-danger"></span>
                        <div class="input-group date">
                            <input type="number" class="form-control" asp-for="vacation.Duration" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="form-group form-row" id="TimeVacation">
                    <div class="col-md-4">
                        <label>تاریخ مرخصی ساعتی </label>
                        <div class="input-group date">
                            <input asp-for="vacation.DateVacationTime" id="VacationTimeDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt3" class="form-control hidden pull-right" asp-for="vacation.DateVacationTime" autocomplete="off">
                            <span asp-validation-for="vacation.DateVacationTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>ساعت شروع </label>
                        <div class="input-group date clockpicker">
                            <div class="input-group-addon"><i class="fa fa-clock"></i></div>
                            <input class="form-control TextRequired" asp-for="vacation.StartTime" id="StartTime" autocomplete="off" readonly />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" asp-for="vacation.StartTime" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت پایان </label>
                        <div class="input-group date clockpicker">
                            <div class="input-group-addon"><i class="fa fa-clock"></i></div>
                            <input class="form-control TextRequired" asp-for="vacation.EndTime" id="EndTime" autocomplete="off" readonly />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" asp-for="vacation.EndTime" autocomplete="off">
                        </div>
                    </div>

                </div>

                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label class="control-label hidden">دلیل مرخصی خود را شرح دهید</label>
                        <select id="reseonOption_ddl" class="form-control col-md-2 mb-1 hidden" onchange="changeReseonOption();" asp-for="vacation.VacationReason">
                            <option value="سایر">سایر</option>
                            <option value="مسافرت">مسافرت</option>
                            <option value="بیماری">بیماری</option>
                            <option value="کلاس">کلاس</option>
                            <option value="اداری/بانکی">اداری/بانکی</option>
                        </select>
                        <label class="control-label">توضیحات</label>
                        <textarea asp-for="vacation.VacationReason" id="VacationReason" class="form-control col-md-12" autocomplete="off"></textarea>
                        <span asp-validation-for="vacation.VacationReason" class="text-danger"></span>
                    </div>
                </div>
                @if (ViewBag.HasAlternate)
                {
                    <div id="alternateDiv">
                        <div class="col-md-4">
                            <label class="control-label">کارمند جایگزین</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-items="@ViewBag.coworkerEmployeelist" asp-for="vacation.PersonalCodeSecond" id="alternateList_ddl">
                                    <option value="">انتخاب کنید...</option>
                                </select>
                                <span asp-validation-for="vacation.PersonalCodeSecond" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="vacation.StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="vacation.StatusAlternateSignature" disabled="disabled">
                                    <option>نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="vacation.StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="alternateDiv2">
                        <div class="col-md-12">
                            <label asp-for="vacation.AlternateSignatureReason" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <textarea type="text" class="form-control" asp-for="vacation.AlternateSignatureReason" readonly="readonly"></textarea>
                                <span asp-validation-for="vacation.AlternateSignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                <hr />
                <div class="row d-flex py-5 px-5 ">

                    <div class="step status_@Model.vacation.FinalStatus"><p>@Model.vacation.Employee_V_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.vacationSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (@Model.vacationSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.vacationSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.vacationSignatures[i].SignatureReason != null && Model.vacationSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.vacationSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.vacationSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.vacationSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.vacationSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
                    @*<div class="step " tooltip="1400/09/17 - 12:43 - لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد."><p>امیر حسین کاوه</p></div>
            <i class="arrow fa fa-long-arrow-left"></i>
            <div class="step"><p>سید محمد حسین کاشانچی</p></div>*@

                </div>
                <hr />
                <div class="form-group form-row col-sm-12 text-center">
                    <br /><br />
                    @if (ViewBag.firstVSStatus == null)
                    {
                        <button type="button" onclick="UpdateVacation2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light" disabled>
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    <div class="form-group form-row">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true
                //},
            });

            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

            $('#VacationTimeDate').persianDatepicker({
                altField: '#tarikhAlt3',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

        });

    $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );

    $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
        autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );
</script>
<script>
    changeVacationType($('#VacationType').val());

    function changeVacationType(value) {
        if (value == 'true') {
            $('#TimeVacation').addClass('hidden');
            $('#DayVacation').removeClass('hidden');
            $('#alternateDiv').removeClass('hidden');
            $('#alternateDiv2').removeClass('hidden');
        } else {
            $('#DayVacation').addClass('hidden');
            $('#TimeVacation').removeClass('hidden');
            $('#alternateDiv').addClass('hidden');
            $('#alternateDiv2').addClass('hidden');
        }
    }
</script>
<partial name="_ValidationScriptsPartial" />


