﻿@model IEnumerable<DomainClasses.Employees.Vacation>
@using Utilities;
@{int row = 0;
    string FinalStatus = "";
    }
<div class="">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VacationType)
                                </th>
                                <th>زمان شروع</th>
                                <th>زمان پایان</th>
                                <th>وضعیت</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                row++;
                                if(item.FinalStatus==null)
                                {
                                    FinalStatus = "نا مشخص";
                                }                            else if(item.FinalStatus==true)
                                {
                                    FinalStatus = "تایید شده";
                                }
                                else
                                {
                                    FinalStatus = "تایید نشده";
                                }
                            <tr>
                                <td>@row</td>
                                <td>
                                    @item.CreateDate.ToShamsiFullDateTime()
                                </td>
                                <td>
                                    @if (item.VacationType)
                                    {<span>روزانه</span>}
                                    else
                                    {<span>ساعتی</span>}
                                </td>
                                @if (item.VacationType)
                                {
                            <td>@item.DayVacationStartDate.ToShortPersian()</td>
                                                <td>@item.DayVacationEndDate.ToShortPersian()</td> }
                                                                else
                                                                {
                                                <td>@item.DateVacationTime.ToShortPersian()<br />@item.StartTime</td>
                                                                    <td>@item.DateVacationTime.ToShortPersian()<br />@item.EndTime</td>}
                            <td><span class="p-2 status_@item.FinalStatus">@FinalStatus</span></td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditVacation2(@item.Vacation_ID);"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteVacation2(@item.Vacation_ID);"> <i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-left">
                    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"
            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [
            { "className": "dt-center", "targets": "_all" }
        ]
    });

    $('.tooltips').tooltip();
</script>
