﻿@model DomainClasses.Employees.ShiftChange

@{
    ViewData["Title"] = "ثبت درخواست تعویض شیفت";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode" class="text-blue">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span class="text-blue">@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">واحد: </label>
                        <span class="text-blue">@ViewBag.UnitName</span>
                        <input type="hidden" asp-for="UnitID_1" value="@ViewBag.UnitId" />
                    </div>
                   
                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate)
                    { 
                    <div class="col-md-3">
                        <label class="control-label">کارمند جایگزین</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-items="@ViewBag.coworkerEmployeelist" id="alternateList_ddl"></select>
                            <span asp-validation-for="PersonalCodeSecond" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="StatusAlternateSignature" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="StatusAlternateSignature" disabled="disabled">
                                <option >نامشخص</option>
                                <option value="true">می پذیرم</option>
                                <option value="false">نمی پذیرم</option>
                            </select>
                            <span asp-validation-for="StatusAlternateSignature" class="text-danger"></span>
                        </div>
                    </div>
                    }
                    <div class="col-sm-2">
                        <label class="control-label" asp-for="shiftDate"></label>
                        <input id="StartDate" class="form-control TextRequired" />
                        <input type="text" id="tarikhAlt1" class="form-control hidden pull-right">
                        <span asp-validation-for="shiftDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">شیفت اولیه</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="ShiftName1">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="ShiftName1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="ShiftName2" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="ShiftName2">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="ShiftName2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate)
                    { 
                    <div class="col-md-6">
                        <label asp-for="AlternateSignatureReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea type="text" class="form-control" asp-for="AlternateSignatureReason" readonly="readonly" ></textarea>
                            <span asp-validation-for="AlternateSignatureReason" class="text-danger"></span>
                        </div>
                    </div>
                    }
                    <div class="col-md-6">
                        <label asp-for="shiftReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea asp-for="shiftReason" class="form-control"></textarea>
                            <span asp-validation-for="shiftReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    <button type="button" onclick="AddShiftChange2();" class="btn btn-warning waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-edit "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js"></script>
<script>
    $(function () {

        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#StartDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });
    });

</script>