﻿@model ViewModels.ShiftChangeSuperiorViewModel

@{
    ViewData["Title"] = "ویرایش درخواست تعویض شیفت";
    Layout = null;
}
<style>
    .clockpicker-popover {
        z-index: 4000;
    }

    .d-flex {
        display: flex;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="updateAltVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.shiftChange.ShiftChange_ID" />
                <input type="hidden" asp-for="@Model.shiftChange.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode" class="text-blue">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span class="text-blue">@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">واحد: </label>
                        <span class="text-blue">@ViewBag.UnitName</span>
                        <input type="hidden" asp-for="@Model.shiftChange.UnitID_1" />
                    </div>

                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate)
                    {
                        <div class="col-md-3">
                            <label class="control-label">کارمند جایگزین</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="@Model.shiftChange.PersonalCodeSecond" asp-items="@ViewBag.coworkerEmployeelist" id="alternateList_ddl"></select>
                                <span asp-validation-for="@Model.shiftChange.PersonalCodeSecond" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="@Model.shiftChange.StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="@Model.shiftChange.StatusAlternateSignature" disabled="disabled">
                                    <option value="null">نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="@Model.shiftChange.StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="col-sm-2">
                        <label class="control-label" asp-for="@Model.shiftChange.shiftDate" id="x"></label>
                        <input asp-for="@Model.shiftChange.shiftDate" id="shiftDate" class="form-control TextRequired" />
                        <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="@Model.shiftChange.shiftDate">
                        <span asp-validation-for="@Model.shiftChange.shiftDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">شیفت اولیه</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="@Model.shiftChange.ShiftName1">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="@Model.shiftChange.ShiftName1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="@Model.shiftChange.ShiftName2" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <select class="form-control" asp-for="@Model.shiftChange.ShiftName2">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                            <span asp-validation-for="@Model.shiftChange.ShiftName2" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @if (ViewBag.HasAlternate)
                    {
                        <div class="col-md-6">
                            <label asp-for="@Model.shiftChange.AlternateSignatureReason" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <textarea type="text" class="form-control" asp-for="@Model.shiftChange.AlternateSignatureReason" readonly="readonly"></textarea>
                                <span asp-validation-for="@Model.shiftChange.AlternateSignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="col-md-6">
                        <label asp-for="@Model.shiftChange.shiftReason" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <textarea asp-for="@Model.shiftChange.shiftReason" class="form-control"></textarea>
                            <span asp-validation-for="@Model.shiftChange.shiftReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row d-flex py-5 px-5 ">

                    <div class="step status_@Model.shiftChange.FinalStatus"><p>@Model.shiftChange.Employee_Shc_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.shiftChangeSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (@Model.shiftChangeSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.shiftChangeSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.shiftChangeSignatures[i].SignatureReason != null && Model.shiftChangeSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.shiftChangeSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.shiftChangeSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.shiftChangeSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.shiftChangeSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
                    @*<div class="step " tooltip="1400/09/17 - 12:43 - لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد."><p>امیر حسین کاوه</p></div>
            <i class="arrow fa fa-long-arrow-left"></i>
            <div class="step"><p>سید محمد حسین کاشانچی</p></div>*@

                </div>
                <hr />

                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    @if (ViewBag.firstVSStatus == null)
                    {
                        <button type="button" onclick="UpdateShiftChange2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light" disabled>
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {

        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#shiftDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false   برای ویرایش نباید این مورد فعال باشد
            //timePicker: {
            //    enabled: true
            //},
        });

    });

</script>