﻿@{
    ViewData["Title"] = "تعویض شیفت";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                @if (ViewBag.HasShift && ViewBag.HasAlternate)
                {
                    <div class="box-header">
                        <a onclick="openModalForAddShiftChange2()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<h3 class="box-title">لیست تعویض شیفت های من</h3>

                        <div class="pull-left">
                            <a class="tip fa fa-fw fa-question">
                                <span>این بخش جهت مشاهده تعویض شیفت های کارمندان می باشد</span>
                            </a>
                        </div>
                    </div>
                    @*<div class="box-body" id="viewAll">

            </div>*@
                    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>
                                    جایگزین
                                </th>
                                <th>
                                    تاریخ ایجاد
                                </th>
                                <th>
                                    تاریخ تعویض شیفت
                                </th>
                                <th>
                                    وضعیت
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        
                    </table>
                }
                else
                {
                    <div class="box-body text-center ">
                        <br /><br /><br />
                        <h2>شما دسترسی به این بخش ندارید</h2>
                        <br /><br /><br />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
           ViewAllShiftChangesList2();
        });
    </script>
}