﻿@model IEnumerable<DomainClasses.Employees.ShiftChange>

@using Utilities;
@{
    int r = 0;
}
<div class="table-responsive">
    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.shiftDate)
                </th>
                <th>
                    جایگزین
                </th>
                <th>
                    مافوق
                </th>
                <th>
                    مدیر
                </th>
                <th>
                    م.م.انسانی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                r++;
                <tr>
                    <td>@r</td>
                    <td>
                        @item.CreateDate.ToShamsiFullDateTime()
                    </td>
                    <td>
                        @item.shiftDate.ToShortPersian()
                    </td>
                    <td>
                        @if (item.PersonalCodeSecond != null && item.StatusAlternateSignature == null)
                        {
                            <i class="fas fa-exclamation-circle text-warning" title="درحال بررسی"></i>
                        }
                        else if (item.PersonalCodeSecond != null && item.StatusAlternateSignature == true)
                        {
                            <i class="fa fa-fw fa-check text-success" title="تایید شده"></i>
                        }
                        else if (item.PersonalCodeSecond != null && item.StatusAlternateSignature == false)
                        {
                            <i class="fa fa-fw fa-ban text-danger" title="تایید نشده"></i>
                        }
                        @if (@item.Employee_Shc_2 != null)
                        {
                            <p>@item.Employee_Shc_2.ApplicationUser.FullName</p>
                            @if (item.AlternateDateTime != null)
                            {<p class="date">@item.AlternateDateTime.Value.ToShamsiFullDateTime()</p>}
                        }
                        else
                        {
                            <span>جایگزین ندارد</span>
                        }
                    </td>

                    @*@if (item.StatusSuperiorSignature != null)
                        {
                            <td>
                                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" disabled="disabled"><i class="fa fa-edit"></i></button>
                            </td>
                        }
                        else
                        {*@
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditShiftChange(@item.ShiftChange_ID);"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteShiftChange(@item.ShiftChange_ID);"> <i class="fa fa-trash"></i> </button>
                    </td>
                    @*}*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    table = $('#vacation_tb').DataTable();
    table.destroy();
    $('#vacation_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>