﻿@model IEnumerable<ShopCartItemViewModel>

@{
    ViewData["Title"] = "ShowCart2";
    var Price = 0;
}

<table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
    <tbody>
        <tr>
            <th colspan="2">عنوان محصول</th>
            <th>تعداد</th>
            <th>قیمت کالا</th>
        </tr>
        @foreach (var item in Model)
        {
            Price += item.EndPrice;
            <tr>
                <td class="t-img"><img class="img-responsive" src="~/Files/Products/@item.ImageName" alt="@item.Title" ></td>
                <td>@item.Title</td>
                <td>@item.Count</td>
                <td>@item.ProductPrice تومان</td>
            </tr>
        }

        <tr>
            <td colspan="2">جمع کل</td>
            <td colspan="2">@Price</td>
        </tr>
    </tbody>
</table>