﻿@model IEnumerable<DomainClasses.Product.Feature>

<style>
    .iconSize {
        font-size: 20px;
    }
</style>

<table class="table table-bordered table-hover table-striped" id="addfeature">
    <thead>
        <tr>
            <th>
                ویژگی
            </th>
            <th>
                جواب ویژگی
            </th>
            <th>
                افزودن جواب جدید
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FeatureTitle
                </td>
                <td id="">
                    @{
                        ViewBag.test = new SelectList(item.FeatureReplies.OrderByDescending(x => x.IsDefault).ToList(), "FeatureReply_ID", "FeatureReplyText");
                    }
                    <select class="form-control select2 txtRequired featureReplies_ddl" id="fr_@item.Feature_ID" asp-items="@ViewBag.test"></select>
                </td>
                <td>
                    <button class="btn btn-icon btn-success btnIcon" onclick="InsertProductFeature(@item.Feature_ID);"> <i class="fa fa-plus-square"></i> </button>
                </td>
            </tr>

        }

    </tbody>
</table>
<script>
    table = $('#addfeature').DataTable();
    table.destroy();
    $('#addfeature').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });

</script>