﻿@model DomainClasses.Product.ProductsGroup

@{
    ViewData["Title"] = "CreateProductsGroup";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProductsGroup" id="Form_ProductGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="ProductGroupTitle" class="control-label "></label>
                    <input asp-for="ProductGroupTitle" class="form-control TextRequired" />
                    <span asp-validation-for="ProductGroupTitle" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="ProductGroupImage" class="control-label "></label>
                    <input asp-for="ProductGroupImage" class="form-control TextRequired" type="file" id="imgUpload" />
                    <span asp-validation-for="ProductGroupImage" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" />
                    <br /><br />
                </div>

                <div class="col-md-4 hidden">
                    <label asp-for="OffId" class="control-label"></label>
                    <select asp-for="OffId" class="form-control" asp-items="ViewBag.allOff">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @*<label asp-for="PicLargeWidth" class="control-label"></label>*@
                    <input asp-for="PicLargeWidth" class="form-control" type="number" placeholder="عرض عکس بزرگ" />
                    <span asp-validation-for="PicLargeWidth" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    @*<label asp-for="PicSmallWidth" class="control-label"></label>*@
                    <input asp-for="PicSmallWidth" class="form-control" type="number" placeholder="عرض عکس کوچک" />
                    <span asp-validation-for="PicSmallWidth" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    @*<label asp-for="PicLargeHeight" class="control-label"></label>*@
                    <input asp-for="PicLargeHeight" class="form-control" type="number" placeholder="ارتفاع عکس بزرگ" />
                    <span asp-validation-for="PicLargeHeight" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    @*<label asp-for="PicSmallHeight" class="control-label"></label>*@
                    <input asp-for="PicSmallHeight" class="form-control" type="number" placeholder="ارتفاع عکس کوچک" />
                    <span asp-validation-for="PicSmallHeight" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertProductGroup();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />


<script>
    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgUpload").change(function () {
        readURL(this);
    });
</script>

