﻿@model DomainClasses.Product.ProductColor

@{
    ViewData["Title"] = "CreatePoductColor";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatePoductColor" id="pColorFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-12">
                    <label asp-for="ColorId" class="control-label "></label>
                    <select asp-for="ColorId" class="form-control TextRequired" asp-items="ViewBag.allColor"></select>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="ProductPrice" class="control-label"></label>
                    <input asp-for="ProductPrice" class="form-control" type="number" />
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ProductCount" class="control-label"></label>
                    <input asp-for="ProductCount" class="form-control" type="number" />
                    <span asp-validation-for="ProductCount" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertProductColor();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />


