﻿@model DomainClasses.Product.ProductGaranty

@{
    ViewData["Title"] = "CreateProductGaranty";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProductGaranty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="GarantyId" class="control-label"></label>
                    <select asp-for="GarantyId" class="form-control" asp-items="ViewBag.allGaranty"></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="GarantyPrice" class="control-label"></label>
                    <input asp-for="GarantyPrice" class="form-control" type="number" />
                    <span asp-validation-for="GarantyPrice" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertProductGaranty();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>


