﻿@model DomainClasses.Product.MainProduct
@{
    ViewData["Title"] = "CreateMainProduct";
    Layout = null;
}


<section class="content">
    <div class="row">
        <div >
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li id="mainProduct_tab" class="active"><a href="#mainProduct" data-toggle="tab">اطلاعات مشترک</a></li>

                    <li id="productInfo_tab"><a href="#productInfo" data-toggle="tab"> جزئیات محصول</a></li>
                </ul>
                <div class="tab-content" id="contentDiv">
                    <div class="tab-pane active" id="mainProduct">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="CreateMainProduct" id="mainProductFrm">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @*<div class="form-group hidden">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPopular" /> @Html.DisplayNameFor(model => model.IsPopular)
                </label>
            </div>
        </div>*@
                                    <div class="form-group">
                                        <input type="hidden" id="PGId" class="form-control" />
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="col-md-4">
                                            <label asp-for="ProductCode" class="control-label"></label>
                                            <input asp-for="ProductCode" id="ProductCode" class="form-control" />
                                        </div>

                                        <div class="col-md-4">
                                            <label asp-for="GalleryId" class="control-label"></label>
                                            <select asp-for="GalleryId" id="GalleryId" class="form-control" asp-items="ViewBag.allGallery">
                                                <option>انتخاب کنید ...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="ExistCount" class="control-label"></label>
                                            <input asp-for="ExistCount" id="ExistCount" class="form-control" type="number" />

                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="form-group hidden" id="imageSize">

                                    </div>
                                    @*<div class="form-group hidden">
            <div class="checkbox">
                <label>
                    <input asp-for="IsDecor" /> @Html.DisplayNameFor(model => model.IsDecor)
                </label>

            </div>
        </div>*@
                                    <div class="form-group">

                                        <div class="col-md-3">
                                            <label asp-for="ProductImage" class="control-label"></label>
                                            <input asp-for="ProductImage" id="ProductImageUploader" class="form-control TextRequired" type="file" />
                                            <span asp-validation-for="ProductImage" id="ProductImage" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <img width="90" height="90" id="imgPreview" />

                                            <br /><br />
                                        </div>

                                        <div class="col-md-3 hidden">
                                            <label asp-for="ProductCatalog" class="control-label"></label>
                                            <input asp-for="ProductCatalog" id="catalog" class="form-control" type="file" />
                                            <span asp-validation-for="ProductCatalog" id="ProductImage" class="text-danger"></span>
                                        </div>
                                       
                                    </div>
                                    <div class="form-group">
                                         <div class="col-md-6">
                                            <br />
                                            <label>
                                                <input asp-for="IsPopular" id="IsPopularProduct" type="checkbox" /> @Html.DisplayNameFor(model => model.IsPopular)
                                            </label>

                                        </div>
                                        <div class="col-md-6">
                                            <br />
                                            <label>
                                                <input asp-for="IsActive" id="isActiveProduct" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 hidden">
                                            <label>تعداد فروش :</label>
                                            <span class="text-danger" id="SaledCount">0</span>
                                        </div>
                                        <div class="col-md-4 hidden">
                                            <label>
                                                <input asp-for="IsExsit" type="checkbox" id="isExistProduct" /> موجود / عدم موجود
                                            </label>

                                        </div>




                                    </div>
                                    <div class="form-group col-sm-12 text-center">
                                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertMainProduct();">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-check "></i>
                                            </span>ثبت
                                        </button>
                                        <div class="form-group">
                                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="productInfo">
                        <div class="col-md-3 pull-right">
                            <select id="lang_ddl" class="form-control" asp-items="ViewBag.allLang" onchange="GetDropDownDataInProductInfo($(this).val())">
                                <option value="0">زبان</option>
                            </select>
                        </div>
                        <div id="productInfoBody">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>

    $(document).ready(function () {
        var id = $("#language_ddl").val();
        //alert(id);
        /// گرفتن ویو جزئیات محصول
        $.get("/Admin/Products/CreateProduct/" + id, function (result) {
            $("#productInfoBody").html(result);
        });

        ////// برای دادن استایل به چک باکس ها
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        ////////نمایش اندازه عکس محصول بر اساس آی دی گروه
        $("#PGId").val(pGroupId);
        MainProductProductImageSize($("#PGId").val());

        //////برای پیش نمایش عکس
        function readURL(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ProductImageUploader").change(function () {
            readURL(this);
        });



    });
</script>

