﻿@model DomainClasses.Product.ProductFeature

@{
    ViewData["Title"] = "CreateProductFeature";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProductFeature">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label>ویژگی</label>
                <select class="form-control" asp-items="ViewBag.features" onchange="GetAllProductFeatureReplyByFeatureId($(this).val())">
                    <option value="0">انتخاب کنید ...</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>جواب ویژگی</label>
                <select class="form-control" id="featureReply_ddl">
                    <option value="0">انتخاب کنید ...</option>
                </select>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertProductFeature();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>


