﻿@model DomainClasses.Product.ProductInfo

@{
    ViewData["Title"] = "EditProduct";
    Layout = null;
}

<link href="~/AdminContent/dist/css/tagsinput.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProduct" id="editProductForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.InfoId" id="ProductInfo_IDEdit" />
            <input type="hidden" value="@ViewBag.GroupId" id="ProductGroupId" />
            <input type="hidden" asp-for="ProductId" id="ProductId" />
            <div class="form-group">


                <div class="col-md-12">
                    <label class="control-label">گروه محصولات</label>
                    <div id="productsGroup5_tw"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="ProductTitle" class="control-label"></label>
                    <input asp-for="ProductTitle" class="form-control TextRequired" />
                    <span asp-validation-for="ProductTitle" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control TextRequired" />
                    <span asp-validation-for="Slug" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="ProductSummary" class="control-label"></label>
                    <input asp-for="ProductSummary" class="form-control" />
                    <span asp-validation-for="ProductSummary" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            @*<div class="form-group">
            <label asp-for="ProductGroupId" class="control-label"></label>
            <select asp-for="ProductGroupId" class ="form-control" asp-items="ViewBag.ProductGroupId"></select>
        </div>*@
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" id="DescriptionEdit" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-md-4">
                    <label asp-for="UnitId" class="control-label"></label>
                    <select asp-for="UnitId" class="form-control" asp-items="ViewBag.allUnit">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label asp-for="OffId" class="control-label"></label>
                    <select asp-for="OffId" class="form-control" asp-items="ViewBag.allOff">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label asp-for="ProducerId" class="control-label"></label>
                    <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.allProducer">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>

                    <br /><br />
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-md-6">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="MetaKeyword" class="control-label"></label>
                    <input asp-for="MetaKeyword" class="form-control" />
                    <span asp-validation-for="MetaKeyword" class="text-danger"></span>

                    <br /><br />
                </div>

            </div>
            <div class="form-group hidden">
                <div class="col-md-6">
                    <label asp-for="MetaDescription" class="control-label"></label>
                    <textarea rows="5" asp-for="MetaDescription" class="form-control">@Model.MetaDescription</textarea>
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="MetaOther" class="control-label"></label>
                    <textarea rows="5" asp-for="MetaOther" class="form-control">@Model.MetaOther</textarea>
                    <span asp-validation-for="MetaOther" class="text-danger"></span>

                    <br /><br />
                </div>

            </div>

            <div class="form-group hidden">
                <div class="col-md-12">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" data-role="tagsinput" />
                    <span asp-validation-for="Tags" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateProductInfo();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@
<script src="~/AdminContent/dist/js/tagsinput.js"></script>

@*<script>
    const config = {
        filebrowserImageBrowseUrl: "/imagebrowser",
        filebrowserImageWindowWidth: 780,
        filebrowserImageWindowHeight: 720,
        filebrowserBrowseUrl: "/linkbrowser",
        filebrowserWindowWidth: 350,
        filebrowserWindowHeight: 500
    };
    const editor = document.getElementById("Description");
    CKEDITOR.replace(editor, config);
</script>*@
<script>
    $(document).ready(function () {
        //$("#lang2_ddl").val($("#language_ddl").val());
        //GetDropDownDataInProductInfo($("#language_ddl").val());

    
        CKEDITOR.replace('DescriptionEdit', {
            customConfig: '/ckeditor/config.js'
        });

    });
</script>

