﻿@model DomainClasses.Product.ProductInfo

@{
    ViewData["Title"] = "EditMainProduct";
    Layout = null;
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li id="mainProduct_tab" class="active"><a href="#mainProduct" data-toggle="tab">اطلاعات مشترک</a></li>

                    <li id="productInfo_tab"><a href="#productInfo" data-toggle="tab"> جزئیات محصول</a></li>
                </ul>
                <div class="tab-content" id="contentDiv">


                    <div class="tab-pane active" id="mainProduct">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="CreateMainProduct">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <input type="hidden" asp-for="ProductInfo_ID" id="ProductInfo_ID" />
                                    <input type="hidden" asp-for="MainProduct.Product_ID" id="Product_ID" />
                                    <input type="hidden" asp-for="MainProduct.CreateDate" id="CreateDate" />
                                    <input type="hidden" asp-for="MainProduct.ProductImage" id="oldImage" />
                                    <input type="hidden" asp-for="MainProduct.ProductCatalog" id="oldCatalog" />
                                    @*<div class="form-group hidden">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="IsPopular" /> @Html.DisplayNameFor(model => model.IsPopular)
                                                </label>
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <input type="hidden" id="PGId" class="form-control" />
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="col-md-4">
                                            <label asp-for="MainProduct.ProductCode" class="control-label"></label>
                                            <input asp-for="MainProduct.ProductCode" id="ProductCode" class="form-control" />
                                        </div>

                                        <div class="col-md-4">
                                            <label asp-for="MainProduct.GalleryId" class="control-label"></label>
                                            <select asp-for="MainProduct.GalleryId" id="GalleryId" class="form-control" asp-items="ViewBag.allGallery">
                                                <option>انتخاب کنید ...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="MainProduct.ExistCount" class="control-label"></label>
                                            <input asp-for="MainProduct.ExistCount" id="ExistCount" class="form-control" type="number" />

                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="form-group hidden" id="imageSize">

                                    </div>
                                    @*<div class="form-group hidden">
                                            <div class="checkbox">
                                                <label>
                                                    <input asp-for="IsDecor" /> @Html.DisplayNameFor(model => model.IsDecor)
                                                </label>

                                            </div>
                                        </div>*@
                                    <div class="form-group">

                                        <div class="col-md-3">
                                            <label asp-for="MainProduct.ProductImage" class="control-label "></label>
                                            <input asp-for="MainProduct.ProductImage" id="ProductImageUploader" class="form-control TextRequired" type="file" />
                                            <span asp-validation-for="MainProduct.ProductImage" id="ProductImage" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <img width="90" height="90" id="imgPreview" src="~/Files/Products/@Model.MainProduct.ProductImage" />

                                            <br /><br />
                                        </div>

                                        <div class="col-md-3 hidden">
                                            <label asp-for="MainProduct.ProductCatalog" class="control-label"></label>
                                            <input asp-for="MainProduct.ProductCatalog" id="catalog" class="form-control" type="file" />
                                            <span asp-validation-for="MainProduct.ProductCatalog" id="ProductImage" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <label>
                                                <input asp-for="MainProduct.IsPopular" id="IsPopularProductEdit" type="checkbox" /> @Html.DisplayNameFor(model => model.MainProduct.IsPopular)
                                            </label>

                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <label>
                                                <input asp-for="MainProduct.IsActive" id="isActiveProduct" type="checkbox" /> @Html.DisplayNameFor(model => model.MainProduct.IsActive)
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="col-md-4">
                                            <label>تعداد فروش :</label>
                                            <span class="text-danger" id="SaledCount">0</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                <input asp-for="MainProduct.IsExsit" type="checkbox" id="isExistProduct" /> موجود / عدم موجود
                                            </label>

                                        </div>




                                    </div>
                                    <div class="form-group col-sm-12 text-center">
                                        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateMainProduct();">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-edit "></i>
                                            </span>ویرایش
                                        </button>
                                        <div class="form-group">
                                            <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="productInfo">
                        <div class="col-md-3 pull-right ">
                            <label class="control-label">زبان</label>
                            <select id="lang2_ddl" class="form-control" asp-items="ViewBag.allLang" onchange="openModalForEditProductInfo($('#Product_ID').val(),$(this).val())">
                                <option value="0">انتخاب کنید ...</option>
                            </select>
                        </div>
                        <div id="productInfoBody">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />

<script>

    $(document).ready(function () {
        var id = $("#ProductInfo_ID").val();
        debugger;
        var lang = $("#language_ddl").val();

        /// گرفتن ویو جزئیات محصول
        //openModalForEditProductInfo($("#Product_ID").val(), lang);

        ////// برای دادن استایل به چک باکس ها
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        ////////نمایش اندازه عکس محصول بر اساس آی دی گروه
        $("#PGId").val(pGroupId);
        MainProductProductImageSize($("#PGId").val());

        //////برای پیش نمایش عکس
        function readURL(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ProductImageUploader").change(function () {
            readURL(this);
        });



    });
</script>
