﻿@using Utilities

@model DomainClasses.Product.ProductComment

@{
    ViewData["Title"] = "EditComment";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment_ID" id="Comment_ID" />
            <input type="hidden" asp-for="ProductGroupId" id="ProductGroupId" />
            <input type="hidden" asp-for="ProductInforId" id="ProductInforId" />
            <input type="hidden" asp-for="PositiveScore" id="PositiveScore" />
            <input type="hidden" asp-for="NegativeScore" id="NegativeScore" />
            <input type="hidden" asp-for="IsNew" id="IsNew" />
            <input type="hidden" asp-for="CommentDate" id="CommentDate" />



            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea class="form-control" disabled="disabled" id="Comment">@Model.Comment</textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>

                    <br />
                    <br />
                </div>
            </div>
            <br />
            <div class="form- group">
                <div class="col-md-6">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" disabled="disabled" />
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" disabled="disabled" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <br />
                    <br />
                </div>


            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="CommentDate" class="control-label"></label>
                    <label class="text-danger">  @Model.CommentDate.ToShamsi()   </label>
                    <span asp-validation-for="CommentDate" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="PositiveScore" class="control-label"></label>
                    <label class="text-danger">  @Model.PositiveScore  </label>
                    <span asp-validation-for="PositiveScore" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="NegativeScore" class="control-label"></label>
                    <label class="text-danger">  @Model.NegativeScore  </label>
                    <span asp-validation-for="NegativeScore" class="text-danger"></span>
                    <br />
                    <br />
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="CommentReply" class="control-label"></label>
                    <textarea rows="6" class="form-control" id="CommentReply">@Model.CommentReply</textarea>
                    <span asp-validation-for="CommentReply" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>
                        <input asp-for="IsConfirmed" id="IsConfirmedEdit" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="button" value="ویرایش" class="btn btn-info pull-left" onclick="UpdateProductComment();" />
                </div>

            </div>
        </form>
    </div>
</div>

