﻿@model DomainClasses.Product.ProductsGroup

@{
    ViewData["Title"] = "EditProductsGroup";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProductsGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductGroup_ID" id="ProductGroup_ID" />
            <input type="hidden" asp-for="ParentId" id="ParentId" />
            <input type="hidden" asp-for="IsParent" id="IsParent" />
            <input type="hidden" asp-for="ProductGroupImage" id="ProductGroupImage" />
            <div class="form-group">
                <div class="col-md-8">
                    <label asp-for="ProductGroupTitle" class="control-label"></label>
                    <input asp-for="ProductGroupTitle" class="form-control TextRequired" />
                    <span asp-validation-for="ProductGroupTitle" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="OffId" class="control-label"></label>
                    <select asp-for="OffId" class="form-control " asp-items="ViewBag.off">
                        <option value="NULL">انتخاب کنید ...</option>
                    </select>
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="6" asp-for="Description"  id="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" id="Description_val" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input asp-for="PicLargeWidth" class="form-control" type="number" placeholder="عرض عکس بزرگ" />
                    <span asp-validation-for="PicLargeWidth" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <input asp-for="PicSmallWidth" class="form-control" type="number" placeholder="عرض عکس کوچک" />
                    <span asp-validation-for="PicSmallWidth" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <input asp-for="PicLargeHeight" class="form-control" type="number" placeholder="ارتفاع عکس بزرگ" />
                    <span asp-validation-for="PicLargeHeight" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <input asp-for="PicSmallHeight" class="form-control" type="number" placeholder="ارتفاع عکس کوچک" />
                    <span asp-validation-for="PicSmallHeight" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="ProductGroupImage" class="control-label"></label>
                    <input asp-for="ProductGroupImage" class="form-control TextRequired" type="file" id="imgUpload" />
                    <span asp-validation-for="ProductGroupImage" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img width="90" height="90" id="imgPreview" src="~/Files/ProductsGroup/@Model.ProductGroupImage" />
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateProductGroup();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgUpload").change(function () {
        readURL(this);
    });
</script>

