﻿
@{
    ViewData["Title"] = "مدیریت محصولات";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active products_tabs"><a href="#productsGroup" data-toggle="tab">گروه محصولات</a></li>
                    <li id="productsTab" class="products_tabs" ><a href="#products" data-toggle="tab">محصولات</a></li>
                    <li id="productColorTab" class="products_tabs hidden"><a id="tab_color" href="#productColor" data-toggle="tab">رنگ بندی</a></li>
                    <li id="productFeatureTab" class="products_tabs hidden"><a id="tab_feature" href="#productFeature" data-toggle="tab">ویژگی های محصول</a></li>
                    <li id="productGarantyTab" class="products_tabs hidden"><a id="tab_garanty" href="#productGaranty" data-toggle="tab">گارانتی های محصول</a></li>
                    <li id="productAdvantageTab" class="products_tabs hidden"><a  id="tab_advantage" href="#productAdvantage" data-toggle="tab">قابلیت ها</a></li>
                    <li id="productCommentTab" class="products_tabs hidden"><a id="tab_comment" href="#productComment" data-toggle="tab">نظرات محصول</a></li>
                    <li id="similarProductTab" class="products_tabs hidden"><a id="tab_similar" href="#similarProduct" data-toggle="tab">محصولات مشابه</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="productsGroup">
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddProductsGroup()" class=" btn btn-success btn-skype "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه محصول </a>
                                    </div>
                                </td>
                                <td>
                                    <div id="productsGroup1_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">جزئیات گروه </h3>


                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            این بخش برای تعریف گروه محصولات سایت که
                                            هر گروه خود میتواند سرگروه باشد یا اینکه زیرگروهی از گروه های دیگر باشد
                                            برای تعریف بعنوان زیرگروه باید روی هنگام ثبت روی یکی از زیرگروه ها کلیک شود.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="products">
                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddMainProduct()" class=" btn btn-success btn-skype "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن  محصول </a>
                                    </div>
                                </td>
                                <td>
                                    <div id="productsGroup2_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست محصولات بر اساس گروه</h3>


                                </div>
                                <div class="col-md-3 pull-left">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                        </div>


                        <br /><br />
                        <!-- /.box-header -->
                        <div class="box-body" id="viewAllProducts">

                        </div>
                    </div>

                    <!--Tab 3-->
                    <div class="tab-pane" id="productColor">
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddProductColor()" class=" btn btn-success btn-skype "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن رنگ محصول </a>
                                    </div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">

                            <div class="box-body" id="viewAllProductColor">

                            </div>
                        </div>
                    </div>

                    <!--Tab 4-->
                    <div class="tab-pane" id="productFeature" >
                        <table>
                            <tr>
                                <td>
                                    @*<div class="box-header ">
                                        <a onclick="openModalForAddProductFeature()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن ویژگی محصول </a>
                                    </div>*@
                                </td>

                            </tr>
                        </table>
                        <div class="box box-success">
                            <!-- Default box -->
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title text-danger">افزودن ویژگی محصول</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="addProductFeature">

                                    </div>
                                </div>

                            </div>
                            <!-- /.box -->



                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllProductFeatures">

                            </div>
                        </div>

                    </div>
                    <!---tab 5-->

                    <div class="tab-pane" id="productGaranty">
                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddProductGaranty()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گارانتی محصول </a>
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <div class="box box-success">




                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllProductGaranty">

                            </div>
                        </div>

                    </div>

                    <!--tab 6--->
                    <div class="tab-pane" id="productAdvantage">
                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddProductAdvantage()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن قابلیت  </a>
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <div class="box box-success">




                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllProductAdvantage">

                            </div>
                        </div>

                    </div>

                    <!--Tab 7-->
                    <div class="tab-pane" id="productComment">

                        <div class="box box-success">

                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllProductComments">

                            </div>
                        </div>

                    </div>
                    <!--Tab 8-->
                    <div class="tab-pane" id="similarProduct">
                        <table>
                            <tr>
                                <td>
                                    <div id="productsGroup4_tw" class="treeview_style"></div>
                                </td>
                            </tr>
                            
                        </table>
                        <div class="row box box-success">
                            <div class="col-md-6">
                                <h4 class="text-danger">لیست محصولات بر اساس گروه</h4>
                                <div class="box-body" id="viewAllProductsForSimilar">

                                </div>

                            </div>
                            <!-- /.col (left) -->
                            <div class="col-md-6" id="viewAllSimilarProduct">



                            </div>
                            <!-- /.col (right) -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</section>

<br /><br />



@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

    <script>
        $(document).ready(function () {

            //changeLanguage($("#language_ddl").val());
            getAllProductsGroupForTreeView();
        });
    </script>
}

