﻿@model IEnumerable<DomainClasses.Product.ProductInfo>
@*<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>*@


<div class="box-header pull-left ">
    <a onclick="checkboxSelectedForProduct()" class=" btn btn-danger "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف محصولات انتخاب شده </a>
</div>

<table class="table table-bordered table-hover table-striped" id="productsTb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProduct" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainProduct.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainProduct.ProductCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MainProduct.IsActive)
            </th>
          
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="product_@item.ProductInfo_ID">
                <td>
                    <input type="checkbox" class="forRemoveProduct"  value="@item.ProductInfo_ID"  />
                </td>
                <td>
                    <img width="90" height="90" src="~/Files/Products/@item.MainProduct.ProductImage" />
                </td>
                <td>
                    @if (item.ProductTitle.Length > 50 && item.ProductTitle != null)
                    {
                        <span title="@item.ProductTitle">@item.ProductTitle.Substring(0, 40) ...</span>
                    }
                    else
                    {
                        <span title="@item.ProductTitle">@item.ProductTitle</span>
                    }
                </td>

                <td>

                    @if (item.Slug.Length > 50 && item.Slug != null)
                    {
                        <span title="@item.Slug">@item.Slug.Substring(0, 40) ...</span>
                    }
                    else
                    {
                        <span title="@item.Slug">@item.Slug</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MainProduct.ProductCode)
                </td>
                @if (item.MainProduct.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }
                @*@if (item.MainProduct.IsExsit)
                    {
                        <td>
                            <i class="fa fa-fw fa-check text-success" title="موجود هست"></i>
                        </td>
                    }
                    else
                    {
                        <td>
                            <i class="fa fa-fw fa-close text-danger" title="موجود نیست"></i>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.UnitTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Off.OffTitle)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Producer.ProducerTitle)
                    </td>*@
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown" aria-expanded="false">عملیات<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li><a onclick="openModalForEditMainProduct(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-edit xs" style="color:#e69500"> </i> &nbsp; &nbsp; ویرایش</a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); InsertOrUpdateSeo(@item.ProductInfo_ID,1)" style="color:black"><i class="fa fa-fw fa-location-arrow" style="color:#39af1c"> </i> &nbsp; &nbsp;سئو  </a></li>
                                                        @*<li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllProductColorByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-adjust" style="color:#00b0ef"> </i> &nbsp; &nbsp; رنگ های محصول</a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllProductFeatureByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-list" style="color:#4f5a5e"> </i> &nbsp; &nbsp; ویژگی های محصول </a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllProductGarantyByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-cog" style="color:#691b1b"> </i> &nbsp; &nbsp; گارانتی های محصول</a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllProductAdvantageByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-info-circle" style="color:#e69500"> </i> &nbsp; &nbsp; قابلیت ها</a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllCommentsByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-eye" style="color:#08366e"> </i> &nbsp; &nbsp;  مشاهده نظرات محصول</a></li>
                                <li class="divider"></li>
                                <li><a onclick="SetTabsId(@item.ProductInfo_ID); GetAllSimilarProductsByProductId(@item.ProductInfo_ID)" style="color:black"><i class="fa fa-file" style="color:#691b1b"> </i> &nbsp; &nbsp;محصولات مشابه </a></li>*@
                            </ul>
                        </div>
                    </td>

            </tr>
        }
    </tbody>
</table>
<script src="~/js/Test.js"></script>
<script>

    $(function () {

        //$('#productsTb').DataTable();

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
       
            //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
            $('input[id=checkAllProduct]').on('ifChecked', function (event) {
                debugger;
                $('.icheckbox_square-blue').addClass('checked');
                //$('input[class=forRemove]').attr('checked', true);
            });
            $('input[id=checkAllProduct]').on('ifUnchecked', function (event) {
                $('.icheckbox_square-blue').removeClass('checked');
            });
    });
</script>