﻿@model IEnumerable<DomainClasses.Product.ProductInfo>



<table class="table table-bordered table-hover table-striped" id="pSimilar_tb">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.MainProduct.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTitle)
            </th>
          
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="ps_@item.ProductInfo_ID">
              
                <td>
                    <img width="90" height="90" src="~/Files/Products/@item.MainProduct.ProductImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTitle)
                </td>
                
                <td>
                    <a href="" onclick="InsertSimilarProduct(@item.ProductInfo_ID);return false;"><i class="fa fa-fw fa-plus-square text-success siz1" style="font-size:medium"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>


    table = $('#pSimilar_tb').DataTable();
    table.destroy();
    $('#pSimilar_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });

</script>