﻿@model IEnumerable<DomainClasses.Product.ProductGaranty>

<div class="box-header">
    <div class="col-md-4">
        <h3 class="box-title text-danger">لیست گارانتی های محصول : @ViewBag.productTitle</h3>
        <span class="hidden" id="pInfoId">@ViewBag.productId</span>

    </div>
    <div class="col-md-3 pull-left">
        <!--ToolTipssss-->
        <div class="pull-left">

            <a class="tip fa fa-fw fa-question">
                <span>
                    در این بخش شما می توانید گارانتی های تعریف شده را برای محصول خود تعریف کنید.
                </span>
            </a>

        </div>
    </div>
    <!--ToolTipssss-->
</div>


<div class="box-header pull-left ">
    <a onclick="checkboxSelectedForProductGaranty()" class=" btn btn-danger "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف گارانتی انتخاب شده </a>
</div>

<table class="table table-bordered table-hover table-striped" id="productGaranty_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProductGaranty" />
            </th>
            <th>
               گارانتی
            </th>
           
            <th>
               قیمت (تومان )
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var id = "pg_"+ item.ProductInfoId + "_"+ item.GarantyId;
        <tr id="@id">
            <td>
                <input type="checkbox" class="forRemoveProductGaranty" value="@item.ProductInfoId" id="@item.GarantyId" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garanty.GarantyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarantyPrice)
            </td>
        </tr>
        }
    </tbody>
</table>

<script>

    $(function () {


        table = $('#productGaranty_tb').DataTable();
        table.destroy();
        $('#productGaranty_tb').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            "deferRender": false,
            'autoWidth': true,
            'language': {
                "paginate": {
                    'next': "بعدی",
                    'previous': "قبلی"

                },
                "search": 'جستجو  :   ',
                "lengthMenu": "نمایش _MENU_ رکورد",
                "emptyTable": "هیچ داده ای ثبت نشده",
                "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
                "zeroRecords": "هیچ رکوردی یافت نشد",
                "infoFiltered": ""
            }, "columnDefs": [

                { "className": "dt-center", "targets": "_all" }

            ]

        });


        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
        $('input[id=checkAllProductGaranty]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllProductGaranty]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>