﻿@model IEnumerable<DomainClasses.Product.ProductsGroup>


<table class="table table-bordered table-hover table-striped" id="productGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroupImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicLargeWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicSmallWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicLargeHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicSmallHeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductGroupImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductGroupTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PicLargeWidth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PicSmallWidth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PicLargeHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PicSmallHeight)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForReplyToMessage(@item.ProductGroup_ID);">     ویرایش    </a></li>
                            <li><a class="fa fa-fw fa-edit fa-trash fontaweColor" onclick="openModalForReplyToMessage(@item.ProductGroup_ID);">     حذف    </a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
