﻿@model DomainClasses.Product.ProductsGroup


<table class="table table-bordered table-hover table-striped" id="pGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroupImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicLargeWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicSmallWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicLargeHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicSmallHeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr id="pg_@Model.ProductGroup_ID">
            <td>
               <img width="90" height="90" src="~/Files/ProductsGroup/@Model.ProductGroupImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ProductGroupTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PicLargeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PicSmallWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PicLargeHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PicSmallHeight)
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditProductsGroup(@Model.ProductGroup_ID);"> <i class="fa fa-edit"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteProductGroup(@Model.ProductGroup_ID);"> <i class="fa fa-trash"></i> </button>
                <button class="btn btn-icon btn-success btnIcon" onclick="InsertOrUpdateSeo(@Model.ProductGroup_ID,2)" title="سئو"> <i class="fa fa-fw fa-location-arrow"></i> </button>
            </td>
        </tr>
    </tbody>
</table>
<script>
    table = $('#pGroup_tb').DataTable();
    table.destroy();
    $('#pGroup_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [
            { "className": "dt-center", "targets": "_all" }
        ]

    });
</script>
