﻿@model IEnumerable<DomainClasses.Product.ProductColor>


<div class="box-header">
    <div class="col-md-4">
        <h3 class="box-title text-danger">لیست رنگ محصول : @ViewBag.productTitle</h3>
        <span class="hidden" id="pInfoId">@ViewBag.productId</span>

    </div>
    <div class="col-md-3 pull-left">
        <!--ToolTipssss-->
        <div class="pull-left">

            <a class="tip fa fa-fw fa-question">
                <span>
                    در این بخش شما می توانید رنگ برای محصول خود تعریف کنید.
                </span>
            </a>

        </div>
    </div>
    <!--ToolTipssss-->
</div>
<!-- /.box-header -->
<div class="box-header ">
    <a onclick="checkboxSelectedForProductColor()" class=" btn btn-danger pull-left"><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف رنگ های انتخاب شده  </a>
</div>
<table class="table table-bordered table-hover table-striped" id="product_color">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllProductColor" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color.ColorTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color.ColorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="pcolor_@item.ProductColor_ID">

                <td>
                    <input type="checkbox" class="forRemoveProductColor" value="@item.ProductColor_ID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorTitle)
                </td>
                <td style="color:white;background-color:@item.Color.ColorCode" title="@item.Color.ColorCode">
                    @Html.DisplayFor(modelItem => item.Color.ColorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>

            </tr>
        }
    </tbody>
</table>


<script>

    $(function () {
        table = $('#product_color').DataTable();
        table.destroy();
        $('#product_color').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            "deferRender": false,
            'autoWidth': true,
            'language': {
                "paginate": {
                    'next': "بعدی",
                    'previous': "قبلی"

                },
                "search": 'جستجو  :   ',
                "lengthMenu": "نمایش _MENU_ رکورد",
                "emptyTable": "هیچ داده ای ثبت نشده",
                "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
                "zeroRecords": "هیچ رکوردی یافت نشد",
                "infoFiltered": ""
            }, "columnDefs": [
                { "className": "dt-center", "targets": "_all" }
            ]

        });

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
        $('input[id=checkAllProductColor]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllProductColor]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>