﻿@model IEnumerable<DomainClasses.Product.SimilarProduct>

<div class="box-header">
    <div class="col-md-12">
        <h3 class="box-title text-danger">لیست محصولات مشابه : @ViewBag.productTitle</h3>
        <span class="hidden" id="pInfoId">@ViewBag.productId</span>

    </div>

    <!--ToolTipssss-->
</div>

<table class="table table table-bordered table-hover table-striped" id="similar_tb">
    <thead>
        <tr>
            <th>
                تصویر
            </th>
            <th>
                نام محصول
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="sim_@item.ID">
                <td>
                    <img width="90" height="90" src="~/Files/Products/@item.SimilarProducts.MainProduct.ProductImage" />
                </td>
                <td>
                    @item.SimilarProducts.ProductTitle
                </td>
                <td>
                    <i class="fa fa-times-circle text-danger" style="font-size:x-large;cursor:pointer" onclick="DeleteSimilarProduct(@item.ID)"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    table = $('#similar_tb').DataTable();
    table.destroy();
    $('#similar_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
