﻿@model DomainClasses.SocialNetwork.SocialNetworks

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<style>
    .checkbx {
        margin-top: 26px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="socialNetFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" id="ID" />
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Link" class="control-label "></label>
                    <input asp-for="Link" class="form-control TextRequired" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" id="Type" class="form-control" asp-items="ViewBag.Types"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                    <br />
                </div>
                <div class="col-md-6 checkbx">
                    <label>
                        <input asp-for="IsActive" id="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateSocialNetwork();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

