﻿
@{
    ViewData["Title"] = "مدیریت شبکه های مجازی";
}

<p>
    <button type="button" class="btn btn-success  btnMargin" onclick="openModalForAddSocialNetwork();"><i class="fa fa-plus">&nbsp;&nbsp;</i>افزودن شبکه مجازی</button>
</p>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست شبکه های مجازی </h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش شما می توانید برای سایت خود لینک 
                                 شبکه های مجازی را تعریف کنید تا آیکون آن در صفحه 
                                اول نمایش داده شود.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />


@section Scripts{
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}


