﻿@model IEnumerable<DomainClasses.SocialNetwork.SocialNetworks>


<style>
    .iconColor {
        color: #131eb3;
    }
</style>
<table class="table table-bordered table-hover table-striped" id="socialNet_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="scNet_@item.ID">
                <td>
                    @{
                        var icon = Utilities.StatusDictionary.FindStatus("SocialNetwork_Icon", item.Type);
                     }
                            <span class="@icon iconColor"></span>
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>

                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditSocialNetwork(@item.ID);"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteSocialNetwork(@item.ID);"><i class="fa fa-trash"></i></button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
