﻿@model DomainClasses.Product.Off

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<link href="~/AdminContent/dist/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />


<script src="~/AdminContent/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/AdminContent/dist/js/persian-datepicker-0.4.5.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="offFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OffTitle" class="control-label "></label>
                <input asp-for="OffTitle" class="form-control TextRequired" />
                <span asp-validation-for="OffTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>تاریخ شروع </label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" id="StartDate" class="form-control" />
                    <input type="text" id="tarikhAlt1" class="form-control  hidden pull-right">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>تاریخ پایان </label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input id="EndDate" class="form-control" />
                    <input type="text" id="tarikhAlt2" class="form-control hidden pull-right">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control TextRequired" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveOff" checked="checked" /> فعال هست
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertOff();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#StartDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });


        $('#EndDate').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });


</script>

