﻿
@{
    ViewData["Title"] = "مدیریت تخفیفات";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddOff()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن تخفیف  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست تخفیفات</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای ثبت تخفیف برای محصولات یا گروه محصولات تعریف شده است
                                که قیمت آن بصورت درصدی تعریف می شود
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />



@section Scripts{


    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());

        });

    </script>
}