﻿@using Utilities

@model IEnumerable<DomainClasses.Product.Off>


<table class="table table-bordered table-hover table-striped" id="off_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OffTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="off_@item.Off_ID">
            <td>
                @Html.DisplayFor(modelItem => item.OffTitle)
            </td>
            <td>
                @item.StartDate.ToShamsi()
            </td>
            <td>
                @item.EndDate.ToShamsi()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) درصد
            </td>
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                </td>
            }
            
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditOff(@item.Off_ID);"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteOff(@item.Off_ID);"><i class="fa fa-trash"></i></button>
                </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>