﻿@model DomainClasses.Product.ProductsGroup

@if (Model!= null)
{
    <div class="col-md-3">
        <label class="control-label">عرض عکس کوچک</label>
        <input class="form-control" type="number" id="smallPicWidth" disabled="disabled" value="@Model.PicSmallWidth" />
    </div>
    <div class="col-md-3">
        <label class="control-label">ارتفاع عکس کوچک</label>
        <input class="form-control" type="number" id="smallPicHeight" disabled="disabled" value="@Model.PicSmallHeight" />
    </div>
    <div class="col-md-3">
        <label class="control-label">عرض عکس بزرگ</label>
        <input class="form-control" type="number" id="largePicWidth" disabled="disabled" value="@Model.PicLargeWidth" />
    </div>
    <div class="col-md-3">
        <label class="control-label">ارتفاع عکس بزرگ</label>
        <input class="form-control" type="number" id="largePicHeight" disabled="disabled" value="@Model.PicLargeHeight" />

        <br /><br />
    </div>
}
else
{
    <div class="col-md-3">
        <label class="control-label">عرض عکس کوچک</label>
        <input class="form-control" type="number" id="smallPicWidth" disabled="disabled" value="0" />
    </div>
    <div class="col-md-3">
        <label class="control-label">ارتفاع عکس کوچک</label>
        <input class="form-control" type="number" id="smallPicHeight" disabled="disabled" value="0" />
    </div>
    <div class="col-md-3">
        <label class="control-label">عرض عکس بزرگ</label>
        <input class="form-control" type="number" id="largePicWidth" disabled="disabled" value="0" />
    </div>
    <div class="col-md-3">
        <label class="control-label">ارتفاع عکس بزرگ</label>
        <input class="form-control" type="number" id="largePicHeight" disabled="disabled" value="0" />

        <br /><br />
    </div>
}