﻿@model IndexViewModel
@{    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">پروفایل  </li>
                    </ol>
                </div>
                <div class="col-xs-12">
                    <div id="content">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tab-container" style="background-color: #06276e;" id="ButtonNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="tab-container">
                            <ul class="nav  nav-stacked">
                                <li class="step-buy active" data-target="menu1">
                                    <a href="#menu1" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-user"></i>مشخصات کاربری
                                    </a>
                                </li>

                                <li class="step-buy" data-target="menu2">
                                    <a href="#menu2" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-lock"></i>تغییر رمز عبور
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu3">
                                    <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-lock"></i>تغییر نام کاربری
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu4">
                                    <a href="#menu4" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-map-marker"></i>دفترچه آدرس
                                    </a>
                                </li>

                                <li class="step-buy " data-target="menu5">
                                    <a href="#menu5" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-cubes"></i>سفارشات من
                                    </a>
                                </li>

                                <li class="step-buy " data-target="menu6">
                                    <a href="#menu6" class="go-step" data-toggle="pill" onclick="hideNav();">
                                        <i class="fa fa-heart"></i>لیست علاقه مندی ها
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="tab-content buy" id="main-container">
                            <!-- .................سبد خرید............. -->
                            <div id="menu1" class="tab-pane fade in active">
                                <div class="contentTitle">اطلاعات شما</div>
                                <div class="col-xs-12 padding table-cart tb-responsive">
                                    <form id="profile-form" method="post" asp-action="Index" asp-controller="Manage" data-ajax="true"
                                          data-ajax-method="Post"
                                          data-ajax-mode="replace"
                                          data-ajax-success="Create_Success"
                                          data-ajax-failure="Create_Failure">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Username"></label>
                                            <input asp-for="Username" class="form-control" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FullName"></label>
                                            <input asp-for="FullName" class="form-control" />
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <div class="input-group">
                                                <input asp-for="Email" class="form-control" />
                                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber"></label>
                                            <input asp-for="PhoneNumber" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Mobile_1"></label>
                                            <input asp-for="Mobile_1" class="form-control" />
                                            <span asp-validation-for="Mobile_1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Mobile_2"></label>
                                            <input asp-for="Mobile_2" class="form-control" />
                                            <span asp-validation-for="Mobile_2" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="btn btn-default">ویرایش</button>
                                    </form>

                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="menu2" class="tab-pane fade">
                                @await Component.InvokeAsync("ChangePassword")
                                <div class="clearfix"></div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                @await Component.InvokeAsync("ChangeUsername")
                                <div class="clearfix"></div>
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                @await Component.InvokeAsync("ManageAddress", false)
                                <div class="clearfix"></div>
                            </div>
                            <div id="menu5" class="tab-pane fade">
                                @await Component.InvokeAsync("ShowFactors", false)
                                <div class="clearfix"></div>
                            </div>
                            <div id="menu6" class="tab-pane fade">
                                @await Component.InvokeAsync("Favorites", false)
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Ajax/Manage_Ajax.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}