﻿
@model IEnumerable<Connection>
    <div class="col-xs-12">
        <ul>
            @foreach (var item in Model)
            {
                if (item.CType == true)
                {
                    <li><i class="@item.CImage"></i>@item.ConnectionValue</li>
                }
            }
            @*<li><i class="fa fa-eye"></i>کاشان;میدان معلم;خیابان شهید مطهری ، جنب کلینیک فرهنگیان ، شرکت آیتیسا </li>

                <li><i class="fa fa-mobile"></i>09135495155-09367229323</li>
                <li><i class="fa fa-envelope"></i>carpetstore@gmail.com</li>*@
        </ul>
    </div>

    <div class="col-xs-12">
        @foreach (var item in Model)
        {
            if (item.CType == false)
            {
                <iframe style="border: 1px dotted #b2f6ff;width: 100%;height: 205px;padding: 5px;" src="@item.ConnectionValue" allowfullscreen=""></iframe>
            }
        }

    </div>
