﻿
@{
    ViewData["Title"] = "مدیریت سئو";
}

<p>
    <button type="button" class="btn btn-success btn-flat btnMargin" onclick="openModalForAddSeoPage();">افزودن</button>
</p>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست صفحات</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                               در این بخش مدیر میتواند برای صفحات ثابت
                                سایت مثل صفحه اول موارد سئو را تعریف نماید
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />


<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->

@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage("fa");
        });

    </script>
}

