﻿@model IEnumerable<DomainClasses.Seo.SeoPage>


<p class="pull-left">
    <button type="button" class="btn btn-danger btn-flat btnMargin" onclick="checkboxSelectedForSeoPage();">حذف صفحات انتخاب شده</button>
</p>

<table class="table table-bordered table-hover table-striped" id="seo_tb">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkAllSeoPage" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="seo_@item.SeoPage_ID">
                <td>
                    <input type="checkbox" class="forRemove" value="@item.SeoPage_ID" />
                </td>
                <td>
                    @if (item.UrlPage != null && item.UrlPage.Length > 25)
                    {
                        <a href="@item.UrlPage" title="@item.UrlPage" target="_blank"> ...@item.UrlPage.Substring(0, 25)</a>
                    }
                    else
                    {
                        <a href="@item.UrlPage" title="@item.UrlPage" target="_blank">@item.UrlPage</a>
                    }
                </td>
                <td>
                    @item.MetaTitle
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForEditSeoPage(@item.SeoPage_ID);">     ویرایش   </a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>

<script>
    $(function () {



        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllSeoPage]').on('ifChecked', function (event) {
            debugger;
            $('.icheckbox_square-blue').addClass('checked');
            //$('input[class=forRemove]').attr('checked', true);
        });
        $('input[id=checkAllSeoPage]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>