﻿@model IEnumerable<SendType>

@{
    var Default = true;
    var AddClass = "";
}

@foreach (var item in Model)
{
    if (Default) { AddClass = "backColor1"; }
    else { AddClass = ""; }

    var icon = "";
    if (item.SendType_Type == 1) { icon = "truck"; }
    else if (item.SendType_Type == 2) { icon = "motorcycle"; }
    else if (item.SendType_Type == 3) { icon = "home"; }
    <div class="radio padding myclass" >
        <div class="radio-inline">
            <table class="table table-bordered  table-responsive @AddClass" id="Parent_Table">
                <tr>
                    @if (Default)
                    {
                        Default = false;
                        <td><input type="radio" name="sendType" checked id="@item.SendType_Id"></td>
                    }
                    else
                    {
                        <td><input type="radio" name="sendType" id="@item.SendType_Id"></td>
                    }

                   
                    <td><i class="fa fa-@icon fa-3x"></i><span id="SendType_Title">@item.SendType_Title</span><span>@item.SendType_Description</span></td>
                    <td>@item.SendType_Price تومان</td>
                </tr>
            </table>
        </div>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
