﻿<div class="contentTitle">محصولات مورد علاقه</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding table-cart table-responsive">
    <table class="table table-hover table-bordered" style="position: relative;overflow-x: auto;">
        <tr>
            <th colspan="2">عنوان محصول</th>
            <th>قیمت کالا</th>
            <th>جزئیات</th>
            <th class="del-td">حذف</th>
        </tr>
        <tr>
            <td class="t-img"><img class="img-responsive" src="images/gallery/002.jpg" alt="فرش مدرن"></td>
            <td>فرش کرم 700 شانه</td>
            <td>3,150,300 تومان</td>
            <td>
                <a href="detail-product.html"><i class="fa fa-info-circle fa-2x  info-ico"></i></a>
            </td>
            <td>
                <a class="delete"><i class="fa fa-times-circle fa-2x del-ico"></i></a>
            </td>
        </tr>
        <tr>
            <td class="t-img"><img class="img-responsive" src="images/gallery/003.jpg" alt="فرش مدرن"></td>
            <td>فرش گردویی 1200 شانه 10 رنگ</td>
            <td>3,150,300 تومان</td>
            <td>
                <a href="detail-product.html"><i class="fa fa-info-circle fa-2x  info-ico"></i></a>
            </td>
            <td>
                <a class="delete"><i class="fa fa-times-circle fa-2x del-ico"></i></a>
            </td>
        </tr>
        <tr>
            <td class="t-img"><img class="img-responsive" src="images/gallery/004.jpg" alt="فرش مدرن"></td>
            <td>مدرن فرش</td>
            <td>5,196,300 تومان</td>
            <td>
                <a href="detail-product.html"><i class="fa fa-info-circle fa-2x  info-ico"></i></a>
            </td>
            <td>
                <a class="delete"><i class="fa fa-times-circle fa-2x del-ico"></i></a>
            </td>
        </tr>
    </table>
</div>
<div style="clear:both"></div>