﻿@*@model DataClasses.Cart.Factor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Factor_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factor_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order_Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayMent_Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayMent_Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Factor_Lang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factor_Lang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bank_Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bank_Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment_Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment_Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Send_Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Send_Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerAddress.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.Lang_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendType.SendType_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Factor_Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
