﻿@model Factor

@{
    var Price = 0;
}
<style>
    th {
        text-align: center;
        font-size: 13px;
    }

    td {
        font-size: 15px;
    }
</style>
<div class="box box-primary">
    <div class="box-header with-border" style="text-align:center">
        <h3 class="box-title">فاکتور </h3>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="col-xs-12 text-center">
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-asterisk margin-r-5"></i> کد رهگیری</strong>
                <p class="text-muted">
                    @Model.Bank_Code
                </p>
                <hr>
            </div>
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-calendar margin-r-5"></i> تاریخ</strong>
                <p class="text-muted">
                    @Model.Factor_Date
                </p>
                <hr>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-info-sign margin-r-5"></i> وضعیت سفارش</strong>
                <p class="text-muted">
                    @StatusDictionary.FindStatus("Order", Model.Order_Status)
                </p>

                <hr>
            </div>
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-info-sign margin-r-5"></i> وضعیت پرداخت</strong>
                <p class="text-muted">
                    @StatusDictionary.FindStatus("PayMent", Model.PayMent_Status)
                </p>
                <hr>

            </div>
        </div>
        <hr>
        <div class="col-xs-12 text-center">
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-info-sign margin-r-5"></i> روش پرداخت</strong>
                <p class="text-muted">
                    اسم بانک
                </p>
                <hr>
            </div>

            <div class="col-xs-6">

                <strong><i class="glyphicon glyphicon-send margin-r-5"></i> روش ارسال  </strong>
                <p class="text-muted">
                    @Model.SendType.SendType_Title
                </p>
                <hr>

            </div>
        </div>
        <div class="col-xs-12 text-center">
            <div class="col-xs-6">
                <strong><i class="glyphicon glyphicon-home margin-r-5"></i> آدرس </strong>
                <p class="text-muted">
                    @Model.CustomerAddress.State.StateName -  @Model.CustomerAddress.City.CityName  -  @Model.CustomerAddress.Address
                </p>

            </div>
            <div class="col-xs-6">

                <strong>
                    <i class="fa fa-money margin-r-5"></i> قیمت کل
                </strong>
                <p class="text-muted">
                    @Model.TotalPrice
                </p>

            </div>
        </div>
        <hr>
        <h5 class="text-center">محصولات خریداری شده</h5>
        <hr>

        <table class="table table-hover table-bordered table-responsive" style="position: relative;overflow-x: auto;">
            <tbody>
                <tr>
                    <th colspan="2">عنوان محصول</th>
                    <th>تعداد</th>
                    <th>قیمت کالا</th>
                </tr>
                @foreach (var item in Model.FactorDetails)
                {
                    <tr style="text-align:center">
                        <td class="t-img"><img class="img-responsive" src="~/Files/Products/@item.ProductInfo.MainProduct.ProductImage" alt="@item.ProductInfo.ProductTitle"></td>
                        <td>@item.ProductInfo.ProductTitle</td>
                        <td>@item.Count</td>
                        @{
                            var Total = item.ProductInfo.ProductColor.Min(x => x.ProductPrice) * @item.Count;
                        }
                        <td>تومان @Total</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>

    <!-- /.box-body -->
</div>

