﻿@*@model DataClasses.Cart.Factor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Factor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Factor_Id" />
            <div class="form-group">
                <label asp-for="Factor_Date" class="control-label"></label>
                <input asp-for="Factor_Date" class="form-control" />
                <span asp-validation-for="Factor_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Status" class="control-label"></label>
                <input asp-for="Order_Status" class="form-control" />
                <span asp-validation-for="Order_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMent_Status" class="control-label"></label>
                <input asp-for="PayMent_Status" class="form-control" />
                <span asp-validation-for="PayMent_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factor_Lang" class="control-label"></label>
                <input asp-for="Factor_Lang" class="form-control" />
                <span asp-validation-for="Factor_Lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank_Code" class="control-label"></label>
                <input asp-for="Bank_Code" class="form-control" />
                <span asp-validation-for="Bank_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment_Type" class="control-label"></label>
                <input asp-for="Payment_Type" class="form-control" />
                <span asp-validation-for="Payment_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Send_Type" class="control-label"></label>
                <input asp-for="Send_Type" class="form-control" />
                <span asp-validation-for="Send_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendPrice" class="control-label"></label>
                <input asp-for="SendPrice" class="form-control" />
                <span asp-validation-for="SendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Id" class="control-label"></label>
                <select asp-for="Customer_Id" class="form-control" asp-items="ViewBag.Customer_Id"></select>
                <span asp-validation-for="Customer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress_Id" class="control-label"></label>
                <select asp-for="CustomerAddress_Id" class="form-control" asp-items="ViewBag.CustomerAddress_Id"></select>
                <span asp-validation-for="CustomerAddress_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang_ID" class="control-label"></label>
                <select asp-for="Lang_ID" class="form-control" asp-items="ViewBag.Lang_ID"></select>
                <span asp-validation-for="Lang_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendType_ID" class="control-label"></label>
                <select asp-for="SendType_ID" class="form-control" asp-items="ViewBag.SendType_ID"></select>
                <span asp-validation-for="SendType_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
