﻿@*@model IEnumerable<DataClasses.Cart.Factor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Factor_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMent_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factor_Lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bank_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Send_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Factor_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMent_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factor_Lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Lang_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendType.SendType_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Factor_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Factor_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Factor_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
