﻿
@{
    ViewData["Title"] = "مدیریت مهارت های کامپیوتری";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddSkillComputer()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن مهارت جدید  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست مهارت ها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                               مهارت هایی که در قسمت فرم استخدام 
                                سایت وجود خواهد داشت از این قسمت تعریف 
                                میشود
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{


    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());



        });

    </script>

}

