﻿@model IEnumerable<DomainClasses.Employement.Emp_ComputerSkillItems>


<table class="table table table-bordered table-hover table-striped" id="emp_skillComputer_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="sk_@item.Item_ID">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditSkillComputer(@item.Item_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteSkillComputer(@item.Item_ID);"> <i class="fa fa-trash" title="حذف"></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    
    table = $('#emp_skillComputer_tb').DataTable();
    table.destroy();
    $('#emp_skillComputer_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });

</script>