﻿@model DomainClasses.BasicInformation.ActivityField

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="ActivityFieldFrm">
            <div class="form-group">
                <label asp-for="ActivityFieldTitle" class="control-label"></label>
                <input asp-for="ActivityFieldTitle" class="form-control TextRequired" />
                <span asp-validation-for="ActivityFieldTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityFieldDescription" class="control-label"></label>
                <textarea asp-for="ActivityFieldDescription" class="form-control demo TextRequired"></textarea>
                <span asp-validation-for="ActivityFieldDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveOff" checked="checked" /> فعال هست
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertActivityField();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

