﻿@model DomainClasses.BasicInformation.ActivityField

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="ActivityFieldFrmEdit">
            <input type="hidden" asp-for="ActivityFieldID"  />
            <div class="form-group">
                <label asp-for="ActivityFieldTitle" class="control-label"></label>
                <input asp-for="ActivityFieldTitle" class="form-control TextRequired" />
                <span asp-validation-for="ActivityFieldTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityFieldDescription" class="control-label"></label>
                <textarea asp-for="ActivityFieldDescription" class="form-control demo TextRequired"></textarea>
                <span asp-validation-for="ActivityFieldDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveOff" checked="checked" /> فعال هست
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateActivityField();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
