﻿
@{
    ViewData["Title"] = "مدیریت زمینه های فعالیت";
}




<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddActivityField()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن زمینه فعالیت جدید  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست زمینه های فعالیت</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای تعریف زمینه های فعالیت می باشد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });
    </script>
}
