﻿@model IEnumerable<DomainClasses.BasicInformation.ActivityField>

@{
    ViewData["Title"] = "ViewAll";
    Layout = null;
}


<table id="ActivityField_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityFieldTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="activityField_@item.ActivityFieldID">
            <td>
                @Html.DisplayFor(modelItem => item.ActivityFieldTitle)
            </td>
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-fw fa-times text-danger" title="غیر فعال"></i>
                </td>
            }
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditActivityField(@item.ActivityFieldID);"> <i class="fa fa-edit"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteActivityField(@item.ActivityFieldID);"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
