﻿@model FilterMenuViewModel
@{ int count = 0;}

<div class="col-md-3 col-sm-4 col-xs-12 advancedSearch  pull-right padd box-filter-xs">
    <div class="widget-title">
        <div class="hexa"></div>
        <h4 class="title-panel mgt-15">فیلتر فرش</h4>
    </div>
    <div class="box-filter padd mgt-50">
        <div class="col-xs-12 search1">
                <button type="button" onclick="FilterByCode()"><i class="fa fa-search fa-lg"></i></button><input type="text" class="form-control" id="code_carpet" placeholder="کد | نام فرش">
                  </div>
        <div class="box-det-filter">
            <h5 data-toggle="collapse" data-target="#filter-collapse1">دسته بندی<span class="fa fa-chevron-down pull-left"></span></h5>
            <div class="col-xs-12 collapse in" id="filter-collapse1">
                @foreach (var item in Model.Groups)
                {

                    if (count <= 3)
                    {
                        <div class="filter">
                            <div class="checkboxlist pull-right">
                                <input type="checkbox" value="@item.ProductGroup_ID" id="g_@item.ProductGroup_ID" name="1" class="product_group" onclick="Filter()">
                                <label for="g_@item.ProductGroup_ID"></label>
                            </div>
                            <label for="g_@item.ProductGroup_ID">@item.ProductGroupTitle</label>
                        </div>
                    }
                    else
                    {
                        <div class="moreItem">
                            <div class="collapse" id="collapseExample">
                                <div class="filter">
                                    <div class="checkboxlist pull-right">
                                        <input type="checkbox" value="@item.ProductGroup_ID" id="g_@item.ProductGroup_ID" name="1" class="product_group" onclick="Filter()">
                                        <label for="g_@item.ProductGroup_ID"></label>
                                    </div>
                                    <label for="g_@item.ProductGroup_ID">@item.ProductGroupTitle</label>
                                </div>

                            </div>
                            <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                        </div>
                    }
                    count++;

                }



            </div>
            <div class="clearfix"></div>
        </div>
        <hr class="hr-comment">
        <div class="box-det-filter">
            <h5 data-toggle="collapse" data-target="#filter-collapse2">رنگ بندی<span class="fa fa-chevron-down pull-left"></span></h5>
            <div class="col-xs-12 padd collapse in" id="filter-collapse2">
                @{
                    count = 0;
                }
                @foreach (var item in Model.Colors)
                {
                    if (count <= 3)
                    {
                        <div class="filter">
                            <div class="checkboxlist checkboxcolor pull-right">
                                <input type="checkbox" value="@item.Color_ID" id="color_@item.Color_ID" name="1" class="product_color" onclick="Filter()">
                                <label for="color_@item.Color_ID" style="background:@item.ColorCode;"></label>
                            </div>
                            <label for="color_@item.Color_ID">@item.ColorTitle</label>
                        </div>
                    }
                    else
                    {
                        <div class="moreItem">
                            <div class="collapse" id="collapseExample1">
                                <div class="filter">
                                    <div class="checkboxlist checkboxcolor pull-right">
                                        <input type="checkbox" value="@item.Color_ID" id="color_@item.Color_ID" name="1" class="product_color" onclick="Filter()">
                                        <label for="color_@item.Color_ID" style="background:@item.ColorCode;"></label>
                                    </div>
                                    <label for="color_@item.Color_ID">@item.ColorTitle</label>
                                </div>
                                <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                            </div>
                        </div>
                    }
                    count++;
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <hr class="hr-comment">
        @foreach (var features in Model.Features)
        {

            <div class="box-det-filter">
                <h5 data-toggle="collapse" data-target="#filter-collapse3">@features.FeatureTitle<span class="fa fa-chevron-down pull-left"></span></h5>
                <div class="col-xs-12 collapse in" id="feature_@features.Feature_ID">
                    @{
                        count = 0;
                    }
                    @foreach (var item in features.FeatureReplies)
                    {
                        if (count <= 3)
                        {
                            <div class="filter">
                                <div class="checkboxlist pull-right">
                                    <input type="checkbox" value="@item.FeatureReply_ID" id="featureReplay_@item.FeatureReply_ID" class="product_feature" name="1" onclick="Filter()">
                                    <label for="featureReplay_@item.FeatureReply_ID"></label>
                                </div>
                                <label for="featureReplay_@item.FeatureReply_ID" class="font-farsi">
                                    @item.FeatureReplyText
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="moreItem">
                                <div class="collapse" id="collapseExample2">
                                    <div class="filter">
                                        <div class="checkboxlist pull-right">
                                            <input type="checkbox" value="@item.FeatureReply_ID" id="featureReplay_@item.FeatureReply_ID" class="product_feature" name="1" onclick="Filter()">
                                            <label for="featureReplay_@item.FeatureReply_ID"></label>
                                        </div>
                                        <label for="featureReplay_@item.FeatureReply_ID" class="font-farsi">
                                            @item.FeatureReplyText
                                        </label>
                                    </div>

                                </div>
                                <a class="up-down" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">نمایش بیشتر</a>
                            </div>
                        }
                    }

                </div>
                <div class="clearfix"></div>
            </div>
            <hr class="hr-comment">
        }

    </div>
    <div class="clearfix"></div>
</div>
<script>
    function Filter() {
        ShowGifLoading();
        var color_list = [];
        $('input[class=product_color]').each(function () {
            if (this.checked == "1") {
                color_list.push(parseInt(this.value));
            }
        });
        //
        var group_list = [];
        $('input[class=product_group]').each(function () {
            if (this.checked == "1") {
                group_list.push(parseInt(this.value));
            }
        });
        //
        var feature_list = [];
        $('input[class=product_feature]').each(function () {
            if (this.checked == "1") {
                feature_list.push(parseInt(this.value));
            }
        });

        ////
        var groupId = $("#groupId").val();
        debugger;

        $.ajax({
            url: "/Product/Filter",
            type: "Get",
            data: { feature_list: feature_list, group_list: group_list, color_list: color_list, groupId: groupId },
            dataType: "json",
            contextType: "application/json",
            traditional: true,
        }).done(function (data) {
            debugger;

            if (!data.res) alert("No");
            else {
                //var things = JSON.stringify( data.list );
                // debugger;
                // $.ajax({
                //     dataType: 'json',
                //     type: 'POST',
                //     url: '/Product/ShowProduct',
                //     data: { list: data.list },
                //     success: function (data) {
                //         debugger;
                //         $('#body_product').html(data);
                //     },
                //     failure: function (response) {
                //         alert("s");
                //     }
                // });
                //$("#body_product").load("/Product/ShowProduct", { list: data.list });
                //$('#body_product').show('slow')
                $('#body_product').fadeOut('slow', function () {
                $('#body_product').load("/Product/ShowProduct", { list: data.list }, function () {
                    $('#body_product').fadeIn('slow');
                    });
                });

                HideGifLoading();

            }
        }).fail(function (data) {
            alert("Try again champ!");
        });


    }

    function FilterByCode() {
        ShowGifLoading();

        var code = $("#code_carpet").val();
        var color_list = [];
        $('input[class=product_color]').each(function () {
            if (this.checked == "1") {
                color_list.push(parseInt(this.value));
            }
        });
        //
        var group_list = [];
        $('input[class=product_group]').each(function () {
            if (this.checked == "1") {
                group_list.push(parseInt(this.value));
            }
        });
        //
        var feature_list = [];
        $('input[class=product_feature]').each(function () {
            if (this.checked == "1") {
                feature_list.push(parseInt(this.value));
            }
        });

        ////
        var groupId = $("#groupId").val();
        debugger;

        $.ajax({
            url: "/Product/FilterByCode",
            type: "Get",
            data: { feature_list: feature_list, group_list: group_list, color_list: color_list, groupId: groupId, code: code },
            dataType: "json",
            contextType: "application/json",
            traditional: true,
        }).done(function (data) {
            debugger;

            if (!data.res) alert("No");
            else {
                
                $('#body_product').fadeOut('slow', function () {
                    $('#body_product').load("/Product/ShowProduct", { list: data.list }, function () {
                        $('#body_product').fadeIn('slow');
                    });
                });
                HideGifLoading();

            }
        }).fail(function (data) {
            alert("Try again champ!");
        });


    }
</script>
