﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";

}
<div class="container">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#userProfile" data-toggle="tab">مشخصات کاربری</a></li>
                    <li><a href="#userPhoto" data-toggle="tab">تصویر پروفایل</a></li>
                    <li><a href="#password" data-toggle="tab">تغییر رمز عبور</a></li>
                    <li class="hidden"><a href="#changeUserName" data-toggle="tab">تغییر نام کاربری</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="userProfile">
                        <div class="row">
                            <div class="col-md-6">
                                <form asp-action="Index" asp-area="Admin" asp-controller="Manage" data-ajax="true"
                                      data-ajax-method="Post"
                                      data-ajax-mode="replace"
                                      data-ajax-success="Create_Success"
                                      data-ajax-failure="Create_Failure">

                                    <div class="form-group">
                                        <label asp-for="Username"></label>
                                        <input asp-for="Username" class="form-control" readonly />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FullName"></label>
                                        <input asp-for="FullName" class="form-control" />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>

                                        <div class="input-group">
                                            <input asp-for="Email" class="form-control" />
                                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                        </div>

                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber"></label>
                                        <input asp-for="PhoneNumber" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Mobile_1"></label>
                                        <input asp-for="Mobile_1" class="form-control" />
                                        <span asp-validation-for="Mobile_1" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Mobile_2" class="rtl"></label>
                                        <input asp-for="Mobile_2" class="form-control" />
                                        <span asp-validation-for="Mobile_2" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="ویرایش" class="btn btn-instagram" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="password">
                        @await Component.InvokeAsync("ChangePasswordAdmin")
                    </div>
                    <div class="tab-pane" id="userPhoto">
                        @await Component.InvokeAsync("UserPhotoAdmin")
                    </div>
                    <div class="tab-pane hidden" id="changeUserName">
                        @await Component.InvokeAsync("ChangeUserNameAdmin")
                    </div>

                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.row -->
    <!-- /.content -->
</div>

@section Scripts {
    <script src="~/js/Ajax/Manage_Admin_Ajax.js"></script>
    <partial name="_ValidationScriptsPartial" />

}