﻿@model DomainClasses.Survey.MainSurvey


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="mainSurveyFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="SurveyType" class="control-label"></label>
                    <select asp-for="SurveyType" class="form-control TextRequired">
                        <option value="">انتخاب کنید</option>
                        <option value="0">تامین کنندگان</option>
                        <option value="1">مشتری</option>
                        <option value="2">کارکنان</option>
                    </select>
                    <span asp-validation-for="SurveyType" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control TextRequired" />
                    <span asp-validation-for="Title" class="text-danger"></span>

                   
                </div>
                <div class="col-md-2">
                    <br /><br />
                    <label>
                        <input asp-for="IsActive" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <br />
                <button type="button" onclick="InsertMainSurvey();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
         $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });
</script>

