﻿@model DomainClasses.Survey.MainSurvey


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="mainSurveyFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MainSurvey_ID" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="SurveyType" class="control-label"></label>
                    <select asp-for="SurveyType" class="form-control TextRequired">
                        @if (Model.SurveyType == 0)
                        {
                            <option value="">انتخاب کنید</option>
                            <option value="0" selected="selected">تامین کنندگان</option>
                            <option value="1">مشتری</option>
                            <option value="2">کارکنان</option>
                        }
                        else if (Model.SurveyType == 1)
                        {
                            <option value="">انتخاب کنید</option>
                            <option value="0">تامین کنندگان</option>
                            <option value="1" selected="selected">مشتری</option>
                            <option value="2">کارکنان</option>
                        }
                        else if (Model.SurveyType == 2)
                        {
                            <option value="">انتخاب کنید</option>
                            <option value="0">تامین کنندگان</option>
                            <option value="1">مشتری</option>
                            <option value="2" selected="selected">کارکنان</option>
                        }
                    </select>
                    <span asp-validation-for="SurveyType" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control TextRequired" />
                    <span asp-validation-for="Title" class="text-danger"></span>


                </div>
                <div class="col-md-2">
                    <br /><br />
                    <label>
                        <input asp-for="IsActive" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                    
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <br />
                <button type="button" onclick="UpdateMainSurvey();" class="btn btn-warning waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });
</script>