﻿
@{
    ViewData["Title"] = " نظرسنجی اصلی";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li id="survey_li" class="active"><a data-href="survey" data-toggle="tab">نظرسنجی ها</a></li>
                    <li id="amarSurvey_li"><a data-href="amarSurvey">آمار نظرسنجی</a></li>
                    <li id="SurveyPeople_li"><a data-href="SurveyPeople">شرکت کنندگان نظرسنجی</a></li>
                    <li id="SurveyPeopleForm_li"><a data-href="SurveyPeopleForm">فرم نظرسنجی</a></li>
                </ul>
                <div class="tab-content">
                    
                    <!--Tab 1-->
                    <div class="tab-pane active" id="survey">
                        <div class="box-header">
                            <a onclick="openModalForAddMainSurvey()" class=" btn btn-success"><i class="fa fa-plus">&nbsp; &nbsp;</i> افزودن نظرسنجی جدید </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست نظرسنجی های </h3>
                                <select id="MainSurveyType" onchange="viewAllSurvayByType($(this).val());">
                                    <option value="">همه نظرسنجی ها</option>
                                    <option value="0">تامین کنندگان</option>
                                    <option value="1">مشتریان</option>
                                    <option value="2">کارکنان</option>
                                </select>
                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            ...
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">



                            </div>
                        </div>
                    </div>
                    <!--Tab 1-->
                    <div class="tab-pane" id="amarSurvey">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">آمار نظرسنجی</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            ...
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllAmar">



                            </div>
                            @*<div class="col-12 style-btn text-center mt-3 mb-3">
                    <a class="btn btn-danger" onclick="printForm()"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>

                </div>*@
                        </div>
                    </div>


                    <div class="tab-pane" id="SurveyPeople">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست شرکت کنندگان نظرسنجی</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            ...
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllSurveyPeople">

                            </div>
                            @*<div class="col-12 style-btn text-center mt-3 mb-3">
                    <a class="btn btn-danger" onclick="printForm()"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>

                </div>*@
                        </div>
                    </div>

                    <div class="tab-pane" id="SurveyPeopleForm">
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">آمار نظرسنجی</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            ...
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewSurveyDetails">



                            </div>
                            @*<div class="col-12 style-btn text-center mt-3 mb-3">
                    <a class="btn btn-danger" onclick="printForm()"><i class="fa fa-print mg-lf"></i> چاپ فرم </a>

                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




@section Scripts{
  
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
            //ViewAllSurveyPeople();

            $('.nav-tabs li a').click(function () {
                debugger;
                $('.nav-tabs li').removeClass('active');
                $(this).parent().addClass('active');
                var divId = $(this).attr('data-href');
                //divId = divId.substring(1, divId.length);
                $('.tab-pane').removeClass('active');
                $('#' + divId).addClass('active');
            })


        });
        
    </script>

}

