﻿@model ViewModels.SurveyVM
@using Utilities;
@{  IEnumerable<DomainClasses.Product.ProductInfo> products = ViewBag.Products as IEnumerable<DomainClasses.Product.ProductInfo>;
}

<div class="col-12 forms table-survey">
    <div class="col-12 forms-bg">

        <div class="col-md-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">نام مشتری</span>
            </div>
            <input asp-for="@Model.SurveyCustomerOtherData.FullName" type="text" readonly="readonly" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">سمت سازمانی</span>
            </div>
            <input asp-for="@Model.SurveyCustomerOtherData.OfficePost" type="text" readonly="readonly" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">نام سازمان</span>
            </div>
            <input asp-for="@Model.SurveyCustomerOtherData.CompanyName" type="text" readonly="readonly" class="form-control" aria-label="Username" aria-describedby="basic-addon2">
        </div>
        <div class="col-md-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">تلفن</span>
            </div>
            <input asp-for="@Model.SurveyCustomerOtherData.PhoneNumber" readonly="readonly" class="form-control col-12 m-auto" aria-label="With textarea" />
        </div>
        <div class="col-md-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">تاریخ ثبت</span>
            </div>
            <input value="@Model.SurveyCustomerOtherData.CompeletFromDate.ToShamsi()" readonly="readonly" class="form-control col-12 m-auto" aria-label="With textarea" />
        </div>
        <div class="col-12 py-1">
            <div class="form-border py-3 mb-3">
                <p class="col-12 form-p">
                    سایر نظرات و پیشنهادات مشتری :
                </p>
                <textarea asp-for="@Model.SurveyCustomerOtherData.Proposal" readonly="readonly" class="form-control col-12 m-auto" rows="5" aria-label="With textarea"></textarea>
            </div>
        </div>
        <h5>محصولات مورد استفاده:</h5>
        @foreach (var item in Model.customerSurveyProducts)
        {

            <div class="custom-control custom-radio custom-control-inline">
                <input checked type="checkbox" id="product_@item.ProductInfo.ProductInfo_ID" name="products" class="custom-control-input" data-id="@item.ProductInfo.ProductInfo_ID">
                <label class="custom-control-label" for="product_@item.ProductInfo.ProductInfo_ID">@item.ProductInfo.ProductTitle</label>
            </div>
        }
        <br /><hr />
        <div id="customerSurvey_div">


            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">ردیف</th>
                        <th scope="col">موارد نظرسنجی</th>
                        <th scope="col" colspan="5">امتیاز</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SurvayQuestionGroup)
                    {
                        int i = 1;
                        foreach (var item2 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID).Take(1))
                        {
                            <tr class="table-light">
                                <th scope="col">#</th>
                                <th scope="col" class="title-survey">@item.Title</th>
                                <th scope="col">@item2.SurveyAnswerType.OptionTitle1 <br> </th>
                                <th scope="col">@item2.SurveyAnswerType.OptionTitle2 <br> </th>
                                <th scope="col">@item2.SurveyAnswerType.OptionTitle3 <br> </th>
                                <th scope="col">@item2.SurveyAnswerType.OptionTitle4 <br> </th>
                                <th scope="col">@item2.SurveyAnswerType.OptionTitle5 <br> </th>
                            </tr>
                        }
                        foreach (var item3 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID))
                        {
                            <tr class="notLabel">
                                <th scope="row">@i</th>
                                <td>@item3.Question</td>

                                @{ DomainClasses.Survey.SurveyQuestionReply SQR = Model.surveyQuestionReplies.Where(x => x.QuestionId == item3.Question_ID).FirstOrDefault();}
                                @if (SQR.SelectedReply == 5)
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input checked class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio1_@item3.Question_ID" data-val="5" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio1_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio1_@item3.Question_ID" data-val="5" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio1_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                @if (SQR.SelectedReply == 4)
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input checked class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio2_@item3.Question_ID" data-val="4" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio2_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio2_@item3.Question_ID" data-val="4" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio2_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }

                                @if (SQR.SelectedReply == 3)
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input checked class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio3_@item3.Question_ID" data-val="3" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio3_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio3_@item3.Question_ID" data-val="3" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio3_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }

                                @if (SQR.SelectedReply == 2)
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input checked class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio4_@item3.Question_ID" data-val="2" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio4_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio4_@item3.Question_ID" data-val="2" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio4_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }

                                @if (SQR.SelectedReply == 1)
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input checked class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio5_@item3.Question_ID" data-val="1" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio5_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="question_@item3.Question_ID" id="inlineRadio5_@item3.Question_ID" data-val="1" data-id="@item3.Question_ID">
                                            <label class="custom-control-label" for="inlineRadio5_@item3.Question_ID"></label>
                                        </span>
                                    </td>
                                }

                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>

<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });
</script>
