﻿@model ViewModels.SurveyVM

@{
    List<ViewModels.Pie_ChartVM> pcVM = new List<ViewModels.Pie_ChartVM>();

    IEnumerable<DomainClasses.Product.ProductInfo> products=ViewBag.Products as IEnumerable<DomainClasses.Product.ProductInfo>; 
    IEnumerable<DomainClasses.Survey.CustomerSurveyProducts> surveyProducts=ViewBag.CustomerSurvey as IEnumerable<DomainClasses.Survey.CustomerSurveyProducts>; 

    float vote = 0;
}

@if (Model.SurvayQuestionGroup.Count() > 0)
{
    <div id="print-factor2">
        <span class="hidden" id="lblMainSurveyId">@Model.SurvayQuestionGroup.FirstOrDefault().MainSurveyId</span>
        <h3 class="text-danger text-center">@Model.SurvayQuestionGroup.FirstOrDefault().MainSurvey.Title</h3>
        <br /><br />
        @if (Model.SurvayQuestionGroup.FirstOrDefault().MainSurvey.SurveyType == 1)
        {
            <div class="text-center">
                <label>تعداد آرای محصولات</label>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        @foreach (var item in products)
                        {
                            <th class="text-right">@item.ProductTitle </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item in products)
                        {
                            <td class="text-right"><small class="label bg-green-gradient">@surveyProducts.Count(x => x.ProductId == item.ProductInfo_ID)</small></td>
                        }
                    </tr>
                </tbody>
            </table>
            <br /><br />
        }
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">ردیف</th>
                    <th scope="col">موارد نظرسنجی</th>
                    <th scope="col" colspan="5">امتیاز</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.SurvayQuestionGroup)
                {
                    int i = 1;
                    foreach (var item2 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID).Take(1))
                    {


                        <tr class="table-light">
                            <th scope="col">#</th>
                            <th scope="col" class="title-survey text-center">@item.Title</th>
                            <th scope="col" class="text-center">@item2.SurveyAnswerType.OptionTitle1 <br> </th>
                            <th scope="col" class="text-center">@item2.SurveyAnswerType.OptionTitle2 <br> </th>
                            <th scope="col" class="text-center">@item2.SurveyAnswerType.OptionTitle3 <br> </th>
                            <th scope="col" class="text-center">@item2.SurveyAnswerType.OptionTitle4 <br> </th>
                            <th scope="col" class="text-center">@item2.SurveyAnswerType.OptionTitle5 <br> </th>
                            @*<th scope="col" class="text-center"> <br> </th>*@
                        </tr>
                    }
                    foreach (var item3 in Model.SurveyQuestions.Where(x => x.QuestionGroupId == item.SurveyGroup_ID))
                    {
                        Single optPercent1 = (Convert.ToSingle(item3.OptionVoteCount1) / Convert.ToSingle(item3.ReplyCount)) * 100;
                        Single optPercent2 = (Convert.ToSingle(item3.OptionVoteCount2) / Convert.ToSingle(item3.ReplyCount)) * 100;
                        Single optPercent3 = (Convert.ToSingle(item3.OptionVoteCount3) / Convert.ToSingle(item3.ReplyCount)) * 100;
                        Single optPercent4 = (Convert.ToSingle(item3.OptionVoteCount4) / Convert.ToSingle(item3.ReplyCount)) * 100;
                        Single optPercent5 = (Convert.ToSingle(item3.OptionVoteCount5) / Convert.ToSingle(item3.ReplyCount)) * 100;

                        <tr class="notLabel">
                            <th scope="row">@i</th>
                            <td class="text-right">@item3.Question <span class="text-bold text-danger">(تعداد امتیاز دهندگان : @item3.ReplyCount)</span></td>

                            <td>
                                <small class="label bg-green-gradient" title="(@optPercent1 %)">@item3.OptionVoteCount1</small>
                            </td>
                            <td>
                                <small class="label bg-blue-gradient" title="(@optPercent2 %)">@item3.OptionVoteCount2</small>
                            </td>

                            <td>
                                <small class="label bg-light-blue-gradient" title="(@optPercent3 %)">@item3.OptionVoteCount3</small>
                            </td>
                            <td>
                                <small class="label bg-yellow-gradient" title="(@optPercent4 %)">@item3.OptionVoteCount4</small>
                            </td>
                            <td>
                                <small class="label bg-red-gradient" title="(@optPercent5 %)">@item3.OptionVoteCount5</small>
                            </td>
                            @*<td>
                                <div class="chart-container">
                                    <canvas id="chart" style="width:100%; height:200px"></canvas>
                                </div>
                            </td>*@
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-danger" onclick="jQuery.print('#print-factor2')">
                <i class="fa fa-print mg-lf"></i> چاپ فرم

            </button>

        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <p>برای این نظرسنجی آماری ثبت نشده است</p>
    </div>

}


<script src="~/SiteContent/js/jQuery.print.js"></script>


<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {

        @*var count = Object.keys(@Html.Raw(pcVM)).length;
        console.log(count);*@
      @*var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Drinks Chart",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderWidth: 1,
                    data: @Html.Raw(YValues)
    }]
            };

var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
}],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

       var myChart = new  Chart(ctx, {
                options: options,
                data: data,
                type:'pie'

            });*@



    });
</script>