﻿@model IEnumerable<DomainClasses.Survey.SurveyCustomerOtherData>
@using Utilities

<table id="viewAllSurveyPeople_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainSurvey.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompeletFromDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @item.FullName
            </td>
            <td>@item.CompanyName</td>
            <td>@item.MainSurvey.Title</td>
            <td>
                @item.CompeletFromDate.ToShamsi()
            </td>

            <td>
                <button class="btn btn-icon btn-success btnIcon" onclick="showThisPersonSurvey(@item.C_OtherData_ID,@item.MainSurvey.SurveyType);"> <i class="fa fa-eye" title="مشاهده فرم نظرسنجی"></i> </button>
                @*<button class="btn btn-icon btn-info btnIcon" onclick="ViewDetailsSurvey(@item.MainSurvey_ID);"> <i class="fa fa-signal" title="آمار کلی نظرسنجی"></i> </button>
                <button class="btn btn-icon btn-warning btnIcon" onclick="ViewDetailsSurvey(@item.MainSurvey_ID);"> <i class="fa fa-user" title="آمار نظردهندگان"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteMainSurvey(@item.MainSurvey_ID);"> <i class="fa fa-trash" title="حذف"></i> </button>*@
            </td>
        </tr>
        }
    </tbody>
</table>


<script>
    table = $('#viewAllSurveyPeople_tb').DataTable();
    table.destroy();
    $('#viewAllSurveyPeople_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
