﻿@model IEnumerable<DomainClasses.Survey.MainSurvey>


<table id="mainSurvey_tb" class="table table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="mSurvey_@item.MainSurvey_ID">

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            @if (item.SurveyType == 0)
            {
                <td>تامین کنندگان</td>
            }
            else if (item.SurveyType == 1)
            {
                <td>مشتریان</td>
            }
            else if (item.SurveyType == 2)
            {
                <td>کارکنان</td>
            }

            <td>
                @item.CreateDate.ToShamsi()
            </td>
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditMainSurvey(@item.MainSurvey_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                    <button class="btn btn-icon btn-info btnIcon" onclick="ViewDetailsSurvey(@item.MainSurvey_ID);"> <i class="fa fa-signal" title="آمار کلی نظرسنجی"></i> </button>
                    <button class="btn btn-icon btn-warning btnIcon" onclick="ViewOneSurveyPeople(@item.MainSurvey_ID,@item.SurveyType);"> <i class="fa fa-user" title="آمار نظردهندگان"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteMainSurvey(@item.MainSurvey_ID);"> <i class="fa fa-trash" title="حذف"></i> </button>
                </td>
        </tr>
        }
    </tbody>
</table>


<script>
    table = $('#mainSurvey_tb').DataTable();
    table.destroy();
    $('#mainSurvey_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>