﻿
@{
    var userAuth = false;
    if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        userAuth = true;
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">سبد خرید</li>
                    </ol>
                </div>
                <div class="col-xs-12">
                    <div id="content">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tab-container" style="background-color: #06276e;" id="ButtonNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div id="tab-container">
                            <ul class="nav  nav-stacked">
                                <li class="step-buy active" data-target="menu1">
                                    <a class="disabled">
                                        <i class="fa fa-shopping-cart"></i>سبد خرید
                                    </a>
                                </li>
                                <li class="step-buy " data-target="menu2">
                                    <a class="disabled">
                                        <i class="fa fa-user-plus"></i>تکمیل اطلاعات
                                    </a>
                                </li>
                                <li class="step-buy " data-target="menu3">
                                    <a class="disabled">
                                        <i class="fa fa-user"></i>مشخصات کاربر
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu4">
                                    <a class="disabled">
                                        <i class="fa fa-map-marker"></i>اطلاعات آدرس
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu5">
                                    <a class="disabled">
                                        <i class="fa fa-truck"></i>روش ارسال
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu6">
                                    <a class="disabled">
                                        <i class="fa fa-money"></i>روش پرداخت
                                    </a>
                                </li>
                                <li class="step-buy" data-target="menu7">
                                    <a class="disabled">
                                        <i class="fa fa-eye"></i>بازبینی خرید
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content buy" id="main-container">
                            <!-- .................سبد خرید............. -->
                            <div id="menu1" class="tab-pane fade in active">
                                <div class="contentTitle">سبد خرید</div>
                                <div class="col-xs-12 padding table-cart tb-responsive">
                                    @await Component.InvokeAsync("ShowCart", false)

                                </div>
                                <div class="clearfix"></div>
                                @if (!ViewBag.Cart_Empty)
                                {
                                    @if (!userAuth)
                                    {
                                        <div class="button-style1 pull-left go-back">
                                            <a href="#menu2" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="button-style1 pull-left go-back">
                                            <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="button-style1 pull-left go-back">
                                        <a href="#menu2" style=" pointer-events: none;" class="go-step disabled " data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                    </div>
                                }
                                <div class="clearfix"></div>
                            </div>
                            <!-- .................تکمیل اطلاعات............. -->
                            <div id="menu2" class="tab-pane fade ">
                                <div class="contentTitle">تکمیل اطلاعات</div>
                                @if (!userAuth)
                                {
                                    <div class="col-md-6 col-xs-12 membership">
                                        <span class="fa fa-user-plus fa-5x"></span>
                                        <div class="textMembership">
                                            <h4>عضو شوید</h4>
                                            <p>چنانچه قبلا در سایت فروشگاهی مدرن فرش ثبت نام ننموده اید ابتدا ثبت نام کنید و سپس ادامه مراحل را دنبال کنید.</p>
                                            <div class="button-style1 pull-left">
                                                <a href="#" onclick="Register()">عضویت</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 membership">
                                        <span class="fa fa-user fa-5x"></span>
                                        <div class="textMembership">
                                            <h4>عضو هستید؟</h4>
                                            <p>چنانچه قبلا در سایت فروشگاهی مدرن فرش ثبت نام کرده اید وارد پنل کاربری خود شوید و سپس ادامه مراحل را دنبال کنید.</p>
                                            <div class="button-style1 pull-left">
                                                <a href="#" onclick="Login()">ورود</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ShowProfile", false)
                                }
                                <div style="clear:both;"></div>
                                <div class="button-style1 pull-left go-back">
                                    <a href="#menu1" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                    @if (userAuth)
                                    {
                                        <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                    }
                                    else
                                    {
                                        <a href="#menu2"  class="go-step " data-toggle="pill" onclick="ShowSwal()">مرحله بعد</a>

                                    }

                                </div>
                            </div>
                            <!-- .................مشخصات کاربر............ -->
                            <div id="menu3" class="tab-pane fade ">
                                <div class="contentTitle">مشخصات کاربر</div>
                                <div class="tb-responsive">
                                    @if (userAuth)
                                    {
                                        @await Component.InvokeAsync("ShowUserInfo", false)
                                    }
                                    </div>
                                <div style="clear:both"></div>
                                <div class="button-style1 pull-left go-back">
                                    <a href="#menu1" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                    <a href="#menu4" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                </div>
                            </div>
                            <!-- .................اطلاعات آدرس........... -->
                            <div id="menu4" class="tab-pane fade">
                                <div class="contentTitle">آدرس های ثبت شده</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding ">
                                    <div class="rsadio padding ">
                                        <div class="radio-inline tb-responsive">
                                            @if (userAuth)
                                            { 
                                                @await Component.InvokeAsync("ManageAddress", false)
                                            }
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="clearfix"></div>
                                <div class="button-style1 pull-left go-back">
                                    <a href="#menu3" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                    <a href="#menu5" class="go-step" data-toggle="pill" onclick=" hideNav();">مرحله بعد</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- .................روش ارسال........... -->
                            <div id="menu5" class="tab-pane fade">
                                <div class="contentTitle">انتخاب روش ارسال</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding tb-responsive">
                                    @await Component.InvokeAsync("SendType", false)
                                </div>
                                <div class="clearfix"></div>
                                <div class="button-style1 pull-left go-back">
                                    <a href="#menu4" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                    <a href="#menu6" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله بعد</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- .................روش پرداخت.............. -->
                            <div id="menu6" class="tab-pane fade">
                                <div class="contentTitle">انتخاب روش پرداخت</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding">
                                    <div class="col-xs-12 bank">
                                        <h4>پرداخت آنلاین با بانک : </h4>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="بانک"><img src="~/SiteContent/images/b1.png" alt="بانک-فرش کاشان"></a>
                                    </div>
                                    <div class="col-xs-12 txt">
                                        <label>چنانچه ملاحظاتی مد نظر دارید <b>(از قبیل ساعت تحویل)</b> در کادر زیر درج فرمایید:</label>
                                        <textarea rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="col-xs-12 discountCode">
                                        <ul>
                                            <li><span>کد تخفیف خود را در این قسمت وارد کنید :</span></li>
                                            <li><input type="text" id="offFiled" placeholder="مثال : 54d545g96e"></li>
                                            <li class="button-style1">
                                                <button  onclick="CheckOff()">اعمال کد تخفیف</button>
                                            </li>
                                            <li>  <span id="val_offFiled" class="text-danger"></span> </li>

                                            <li class="alert alert-success col-md-6" style="visibility:hidden" id="showOff"> مبلغ نهایی :  </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="button-style1 pull-left go-back">
                                    <a href="#menu5" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                    <a href="#menu7" class="go-step" data-toggle="pill" onclick="Factor(); hideNav();">مرحله بعد</a>
                                </div>

                            </div>
                            <!--................بازبینی خرید و چاپ فاکتور...............-->
                            <div id="menu7" class="tab-pane fade">
                                <div class="contentTitle">بازبینی خرید و چاپ فاکتور</div>
                                <div class="col-xs-12 padding bazarFactor">
                                    <section class="panel panel-default" id="print-factor1">
                                        <div class="panel-heading text-right"><span>فروشگاه فرش مهرگان</span></div>
                                        <div class="panel-body">
                                            <div class="col-xs-12 padding tb-responsive">
                                                <table class="table table-bordered table-responsive tblast">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">نام: <span id="Name_User"></span></td>
                                                            <td>شماره تماس: <span  id="Phone2_User"></span></td>
                                                        </tr>
                                                        <tr>
                                                            @{ Random r = new Random();}
                                                            
                                                            <td>شماره فاکتور: <span  id="Factor_Id">@r.Next(1,100000)</span></td>
                                                            <td>تاریخ ثبت سفارش: <span>@DateTime.Now.ToShortDateString()</span></td>
                                                            <td>نحوه پرداخت: <span id="Send_Type"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" >
                                                                آدرس: <span id="Address_User"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Padding table-cart tb-responsive">
                                                @await Component.InvokeAsync("ShowFinishCart", false)

                                            </div>
                                        </div>
                                        <div class="panel-footer text-right information">
                                            <ul>
                                                <li><i class="fa fa-eye"></i>کاشان;میدان معلم;خیابان شهید مطهری ، جنب کلینیک فرهنگیان ، شرکت آیتیسا </li>
                                                <li><i class="fa fa-phone"></i>031-55544356</li>
                                                <li><i class="fa fa-mobile"></i>09135495155-09367229323</li>
                                                <li><i class="fa fa-envelope"></i>carpetstore@gmail.com</li>
                                            </ul>
                                        </div>
                                    </section>
                                    <div class="button-style1 pull-left go-back">
                                        <a href="#menu6" class="go-step" data-toggle="pill" onclick="hideNav();">مرحله قبل</a>
                                        <a onclick="jQuery.print('#print-factor1')">چاپ فاکتور<i class="fa fa-print mg-lf"></i></a>
                                        <a href="#menu8" class="go-step" data-toggle="pill" onclick="CreateFactor(); hideNav();">تکمیل خرید</a>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <!-- .................باز بینی خرید.............. -->   
                            <div id="menu8" class="tab-pane" >
                                <div class="contentTitle">باتشکر از انتخاب شما</div>
                                <p>سفارشات شما با شناسه زیر در سیستم ثبت شد: <br><br><br><strong id="bankCode"></strong></p>

                                <div class="button-style1">
                                    <a href="#menu1" class="go-step" data-toggle="pill" onclick="hideNav();">بازگشت به صفحه اصلی</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Factor() {
        $("#Name_User").text($("#FullName_User").text());
        $("#Phone2_User").text($("#Phone_User").text());

        debugger;

        $("input[name=sendType]:checked").each(function () { // گرفتن ولیو های چکس باکس هایی که تیک خورده باشند
            var type=$(this).parent().next().find("#SendType_Title").text();
            $("#Send_Type").text(type);

        });
        $("input[name=Address]:checked").each(function () { // گرفتن ولیو های چکس باکس هایی که تیک خورده باشند
           var address=$(this).parent().parent().parent().parent().find("#address").text();
            $("#Address_User").text(address);

        });

        //if ($("input:radio[name='sendType']").is(":checked"))
        //{
           
        //    alert($(this).text());

        //}
    }
    function CreateFactor()
    {
        

        var sendType = 0;
        var address = 0;

        $("input[name=sendType]:checked").each(function () { // گرفتن ولیو های چکس باکس هایی که تیک خورده باشند
            sendType = $(this).attr("id");
        });
        $("input[name=Address]:checked").each(function () { // گرفتن ولیو های چکس باکس هایی که تیک خورده باشند
            address = $(this).attr("id");
        });

        $.ajax({
            url: "/Factors/Create",
            type: "post",
            dataType: "json",
            contextType: "application/json",
            data: { sendType: sendType,address:address },
            traditional: true,
            success: function (result) {
                $("#bankCode").focus();

                swal({

                    title: "ثبت سفارش ",
                    type: "success",
                    text: " سفارش شما با موفقیت ثبت شد ",
                    showConfirmButton: true,
                    confirmButtonText: "تائید"
                });
                $('html,body').animate({
                    scrollTop: $("#menu8").offset().top
                }, 'slow');

                $("#bankCode").text(result.bankCode);
                updateShopCart();
                countShopCart();

                
            },
            error: function (_err) {
                swal("خطا", "خطا در ارسال اطلاعات دوباره سعی کنید", "error");

            }
        });
    }
    
</script>

