﻿@model DomainClasses.Contents.ContentFiles

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateContentFiles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="control-label">گروه فایل </label>
                    <select id="avfGroup_ddl" class="form-control TextRequired" onclick="GetAllAvfByGroupIdForContents($(this).val())"></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="AvfId" class="control-label"></label>
                    <select asp-for="AvfId" class="form-control TextRequired">
                      
                    </select>
                </div>
            </div>

            <div class="form-group col-md-12 text-center">
                <button type="button" onclick="InsertContentFiles();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
           
        </form>
    </div>
</div>

<script>
    $(function () {
        GetAllAvfGroupByLangForContents($("#language_ddl").val());
    });
</script>

