﻿@model DomainClasses.Contents.ContentsGroup

@{
    ViewData["Title"] = "CreateContentsGroup";
    Layout = null;
}
<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateContentsGroup" id="contentGroupFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @*<a href="#cnGroupModal" data-toggle="modal" role="button" onclick="getAllContentsGroupForTreeView();"><i class="fa fa-fw fa-arrow-circle-left selectGroupGlyph"></i></a>*@
                <div id="contentsGroup2_tw" class="hidden"></div>
            </div>
            <div class="form-group">
                <label asp-for="ContentGroup_ID" class="control-label "></label>
                <input asp-for="ContentGroup_ID" class="form-control TextRequired" value="@ViewBag.maxId" />
                <span asp-validation-for="ContentGroup_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentGroupName" class="control-label "></label>
                <input asp-for="ContentGroupName" class="form-control TextRequired" data-role="tagsinput" />
                <span asp-validation-for="ContentGroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveCnGroup" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertContentsGroup();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script>

    $(document).ready(function () {


        getAllContentsGroupForTreeView();
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>