﻿@model DomainClasses.Contents.ContentsGallery

@{
    ViewData["Title"] = "CreateContentsGallery";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateContentsGallery">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="control-label">گروه گالری </label>
                    <select id="galleryGroup_ddl" class="form-control" onclick="GetAllGalleryByGroupIdForContents($(this).val())"></select>
                </div>
                <div class="col-md-6">
                    <label asp-for="GalleryId" class="control-label"></label>
                    <select asp-for="GalleryId" id="GalleryId" class="form-control">
                        <option value="0">گالری ندارد</option>
                    </select>
                </div>
            </div>
         
            <div class="form-group col-md-12 text-center">
                <button type="button" onclick="InsertContentsGallery();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetAllGalleryGroupByLangForContents($("#language_ddl").val());
    });
</script>
