﻿@model DomainClasses.Contents.ContentsTags

@{
    ViewData["Title"] = "CreateContentsTag";
    Layout = null;
}
<link href="~/AdminContent/dist/css/tagsinput.css" rel="stylesheet" />
<script src="~/AdminContent/dist/js/tagsinput.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateContentsTag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.ContentId" id="ContentId" />
            <div class="form-group">
                <label asp-for="TagText" class="control-label"></label>
                <input asp-for="TagText" id="TagText" class="form-control TextRequired" data-role="tagsinput" />
                <span asp-validation-for="TagText" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertContentsTags();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

