﻿@model DomainClasses.Contents.Contents

@{
    ViewData["Title"] = "CreateContents";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateContents" id="contentFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div id="contentsGroup4_tw"></div>*@
            <div class="form-group">
                <div class="col-md-2">
                    <label asp-for="Content_ID" class="control-label "></label>
                    <input asp-for="Content_ID" class="form-control TextRequired" type="number" value="@ViewBag.maxId" />
                    <span asp-validation-for="Content_ID" class="text-danger"></span>
                </div>
                <div class="col-md-10">
                    <label asp-for="ContentTitle" class="control-label "></label><span id="cntCnTitle" class="text-red"> 200 </span>
                    <input asp-for="ContentTitle" class="form-control TextRequired" onkeyup="ValueTextBoxCounter(this, $(this),$('#cntCnTitle'),200)" />
                    <span asp-validation-for="ContentTitle" class="text-danger"></span>

                    <br /><br />
                </div>

            </div>

            <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label><span id="cntCnSummary" class="text-red"> 500 </span>
                <textarea rows="7" asp-for="ContentSummary" class="form-control " onkeyup="ValueTextBoxCounter(this, $(this),$('#cntCnSummary'),500)" />
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
                <br /><br />
            </div>
            <div class="form-group">
                <label asp-for="ContentText" class="control-label "></label>
                <textarea asp-for="ContentText" class="form-control TextRequired" />
                <span asp-validation-for="ContentText" class="text-danger"></span>
                <br /><br />
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <br />
                    <label>
                        <input asp-for="IsActive" id="isActiveContents" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="col-lg-6">
                    <label asp-for="ContentImage" class="control-label "></label>
                    <input asp-for="ContentImage" id="ContentUploader" type="file" class="form-control TextRequired" />
                    <span asp-validation-for="ContentImage" id="validation_file" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <img width="120" height="120" id="imgPreview" />
                    <br /><br />
                </div>
            </div>
         
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertContents();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@



@*<script>
    const config = {
        filebrowserImageBrowseUrl: "/imagebrowser",
        filebrowserImageWindowWidth: 780,
        filebrowserImageWindowHeight: 720,
        filebrowserBrowseUrl: "/linkbrowser",
        filebrowserWindowWidth: 350,
        filebrowserWindowHeight: 500
    };
    const editor = document.getElementById("ContentText");
    CKEDITOR.replace(editor, config);
</script>*@
<script>
    $(document).ready(function () {
        CKEDITOR.replace('ContentText', {
            customConfig: '/ckeditor/config.js'
        });
        
        changeLanguage($("#language_ddl").val());
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ContentUploader").change(function () {
        readURL(this);
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>

