﻿@model DomainClasses.Contents.ContentsGroup

@{
    ViewData["Title"] = "EditContentsGroup";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditContentsGroup" id="contentGroupFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContentGroup_ID" id="ContentGroup_ID" />
            <input type="hidden" asp-for="ParentID" id="ParentID" />

            <div id="contentsGroup2_tw"></div>

            <div class="form-group">
                <label asp-for="ContentGroup_ID" class="control-label"></label>
                <input asp-for="ContentGroup_ID" class="form-control" disabled="disabled" />
                <span asp-validation-for="ContentGroup_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentGroupName" class="control-label"></label>
                <input asp-for="ContentGroupName" class="form-control" />
                <span asp-validation-for="ContentGroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActiveCnGroupEdit" type="checkbox" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateContentsGroup();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        getAllContentsGroupForTreeView();
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
