﻿@model DomainClasses.Contents.ContentsTags

@{
    ViewData["Title"] = "EditContentsTag";
    Layout = null;
}

<link href="~/AdminContent/dist/css/tagsinput.css" rel="stylesheet" />
<script src="~/AdminContent/dist/js/tagsinput.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditContentsTag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tag_ID" id="Tag_ID" />
            <input type="hidden" asp-for="ContentId" id="ContentId" />
            <div class="form-group">
                <label asp-for="TagText" class="control-label"></label>
                <input asp-for="TagText" class="form-control TextRequired" data-role="tagsinput" />
                <span asp-validation-for="TagText" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateContentsTags();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />


