﻿
@{
    ViewData["Title"] = "مدیریت اخبار و مطالب آموزشی";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contentsGroup" data-toggle="tab">گروه مطالب</a></li>
                    <li id="contentTab" class=""><a href="#contents" data-toggle="tab">مطالب</a></li>
                    <li id="contentGalleryTab" class=""><a href="#contentsGallery" data-toggle="tab">گالری مطالب</a></li>
                    <li id="contentFileTab" class=""><a href="#contentsFile" data-toggle="tab">فایل مطالب</a></li>
                    <li id="contentCommentTab" class=""><a href="#contentsComment" data-toggle="tab">نظرات مطالب</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="contentsGroup">
                        <!--Tab 1-->

                        <table>
                            <tr>
                                <td>
                                    <div class="box-header ">
                                        <a onclick="openModalForAddContentsGroup()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه مطلب  </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="treeview_style" id="contentsGroup1_tw"></div>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">جزئیات گروه </h3>


                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            این بخش برای تعریف گروه مطالب سایت که این مطالب ممکن است شامل
                                            اخبار , مطالب آموزشی و... باشد
                                            هر گروه خود میتواند سرگروه باشد یا اینکه زیرگروهی از گروه های دیگر باشد
                                            برای تعریف بعنوان زیرگروه باید روی هنگام ثبت روی یکی از زیرگروه ها کلیک شود.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="contents">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <button type="button" class="btn btn-success btnMargin" onclick="openModalForAddContents();"><i class="fa fa-plus"></i>&nbsp;&nbsp;افزودن مطلب</button>
                                    </p>
                                </td>
                                <td>
                                    <div class="treeview_style" id="contentsGroup3_tw">

                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-3">
                                    <h3 class="box-title">لیست مطالب بر اساس گروه</h3>


                                </div>

                                <div class="col-md-3 pull-left">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید بسته به نوع مطلب , گروه
                                                مطلب را انتخاب سپس برای آن مطلب درج یا ویرایش کنید.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                        </div>


                        <br /><br />
                        <!-- /.box-header -->
                        <div class="box-body" id="viewAllContents">

                        </div>
                    </div>

                    <!--Tab 3-->
                    <div class="tab-pane" id="contentsGallery">
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <button type="button" class="btn btn-success btnMargin" onclick="openModalForAddContentsGallery();"><i class="fa fa-plus"></i>&nbsp;&nbsp;افزودن گالری</button>
                                    </p>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">

                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllContentsGallery">

                            </div>
                        </div>
                    </div>

                    <!--Tab 4-->
                    <div class="tab-pane" id="contentsFile">
                        <!--Tab 1-->
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <button type="button" class="btn btn-success btnMargin" onclick="openModalForAddContentsFile();"><i class="fa fa-plus"></i>&nbsp;&nbsp;افزودن فایل</button>
                                    </p>
                                </td>
                            </tr>
                        </table>


                        <div class="box box-success">

                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllContentsFiles">

                            </div>
                        </div>
                    </div>
                    <!--Tab 5-->
                    <div class="tab-pane" id="contentsComment">

                        <div class="box box-success">




                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllContentComments">

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
</section>

@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>

    <script>
        $(document).ready(function () {
            //getAllContentsGroupForTreeView($("#language_ddl").val());
            changeLanguage($("#language_ddl").val());
        });
    </script>
}