﻿@model IEnumerable<DomainClasses.Contents.ContentsGroup>


<table class="table table-bordered table-hover table-striped" id="contentGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentGroupName)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForReplyToMessage(@item.ContentGroup_ID);">     ویرایش    </a></li>
                            <li><a class="fa fa-fw fa-edit fa-trash" onclick="openModalForReplyToMessage(@item.ContentGroup_ID);">     حذف    </a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
