﻿    @using Utilities

@model IEnumerable<DomainClasses.Contents.Contents>


<table class="table table-bordered table-hover table-striped" id="content_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                تاریخ ثبت
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="cn_@item.Content_ID">
            <td>
                <img width="90" height="90" src="~/Files/Contents/@item.ContentImage" />
            </td>
            <td>
                @if (item.ContentTitle.Length > 50 && item.ContentTitle != null)
                {
                    <span title="@item.ContentTitle">@item.ContentTitle.Substring(0, 40) ...</span>
                }
                else
                {
                    <span title="@item.ContentTitle">@item.ContentTitle</span>
                }

            </td>


            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                </td>
            }
            <td>
                @item.CreateDate.ToShamsi()
            </td>
          
            <td>

                
                <button class="btn btn-icon btn-warning btnIcon" onclick="openModalForEditContents(@item.Content_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteContents(@item.Content_ID); " style="margin-left:0px"> <i class="fa fa-trash" title="حذف"></i> </button>
                <button class="btn btn-icon btn-info btnIcon" onclick="InsertOrUpdateContentsSeo(@item.Content_ID);"> <i class="fa fa-chart-line" title="سئو"></i> </button>
                <button class="btn btn-icon btn-primary btnIcon" onclick="GetAllContentsGalleryByContentId(@item.Content_ID);"> <i class="fa fa-file-image" title="گالری"></i> </button>
                <button class="btn btn-icon btn-success btnIcon" onclick="GetAllContentsFilesByContentId(@item.Content_ID);"> <i class="fa fa-file-archive" title="فایل"></i> </button>
                @*<button class="btn btn-icon btn-info btnIcon" onclick="GetAllCommentsByContentId(@item.Content_ID);"> <i class="glyphicon glyphicon-comment" title="نظرات"></i> </button>
                <button class="btn btn-icon btn-primary btnIcon" onclick="InsertOrUpdateContentsTag(@item.Content_ID);"> <i class="fa fa-fw fa-tags" title="کلمات کلیدی"></i> </button>*@

            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
