﻿@model DomainClasses.Contents.ContentsGroup


<table class="table table table-bordered table-hover table-striped" id="cnGroup_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        <tr id="cng_@Model.ContentGroup_ID">
            <td>
                @Html.DisplayFor(modelItem => Model.ContentGroupName)
            </td>
            @if (Model.IsActive)
            {
                <td>
                    <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditContentsGroup(@Model.ContentGroup_ID);"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteContentsGroup(@Model.ContentGroup_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
        </tr>

    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>