﻿@model IEnumerable<DomainClasses.Contents.ContentFiles>

<div class="box-header">
    <h3 class="box-title">لیست فایل <span class="text-danger"> @ViewBag.contentTitle</span></h3>
    <span class="hidden" id="contentId">@ViewBag.contentId</span>

    <!--ToolTipssss-->
    <div class="pull-left">

        <a class="tip fa fa-fw fa-question">
            <span>
               ....
            </span>
        </a>

    </div>
</div>
<!--ToolTipssss-->

<div class="box-header pull-left">
    <a onclick="checkboxSelectedForContentsFiles(@ViewBag.contentId)" class=" btn btn-danger "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف فایل مطالب  </a>
</div>
<table class="table table-bordered table-striped table-condensed" id="ContentFile_tb">
    <thead>
        <tr>
            <th class="col-md-1">
                <input type="checkbox" id="checkAllContentsFile" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVF.AVFTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVF.FileNameOrLink)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="cnFile_@item.AvfId">
            <td class="col-md-1">
                <input type="checkbox" class="forRemove" value="@item.AvfId" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AVF.AVFTitle)
            </td>
            <td>
                <a target="_blank" href="~/Files/FileManage/@item.AVF.FileNameOrLink">لینک</a>
            </td>

        </tr>
        }
    </tbody>
</table>

<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        $('input[id=checkAllContentsFile]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllContentsFile]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });

    table = $('#ContentFile_tb').DataTable();
    table.destroy();
    $('#ContentFile_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
