﻿@model IEnumerable<DomainClasses.Contents.ContentsGallery>

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="box-header">
    <h3 class="box-title">لیست گالری <span class="text-danger"> @ViewBag.contentTitle</span></h3>
    <span class="hidden" id="contentId">@ViewBag.contentId</span>

    <!--ToolTipssss-->
    <div class="pull-left">

        <a class="tip fa fa-fw fa-question">
            <span>
                این بخش برای تعریف گروه مطالب سایت که این مطالب ممکن است شامل
                اخبار , مطالب آموزشی و... باشد
                هر گروه خود میتواند سرگروه باشد یا اینکه زیرگروهی از گروه های دیگر باشد
                برای تعریف بعنوان زیرگروه باید روی هنگام ثبت روی یکی از زیرگروه ها کلیک شود.
            </span>
        </a>

    </div>
</div>
<!--ToolTipssss-->

<div class="box-header pull-left">
    <a onclick="checkboxSelectedForContentsGallery()" class=" btn btn-danger "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف گالری مطالب  </a>
</div>
<table class="table table-bordered table-striped table-condensed" id="ContentGallery_tb">
    <thead>
        <tr>
            <th class="col-md-1">
                <input type="checkbox" id="checkAllContentsGallery" />
            </th>


            <th>تصویر گالری</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="cngall_@item.GalleryId">

                <td class="col-md-1">
                    <input type="checkbox" class="forRemove" value="@item.GalleryId" />
                </td>

                @*<td>
                        <img width="90" height="90" src="~/Files/Gallery/Thumb/@item.Gallery.GalleryImage" />
                        <span>
                            @item.Gallery.GalleryTitle
                        </span>
                    </td>*@
                <td>
                    @if (item.Gallery.GalleryImage != null)
                    {
                        <p><a class="hovertext" href="#" title="@item.Gallery.GalleryTitle"><img src="~/Files/Gallery/@item.Gallery.GalleryImage" width="120" height="90" alt=""></a></p>
                    }
                    else
                    {
                        <p><a class="hovertext" href="#" title="@item.Gallery.GalleryTitle"><img src="~/images/noimage.png" width="120" height="90" alt=""></a></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        $('input[id=checkAllContentsGallery]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllContentsGallery]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });

    table = $('#ContentGallery_tb').DataTable();
    table.destroy();
    $('#ContentGallery_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>

