﻿@using Utilities
@model IEnumerable<DomainClasses.Contents.ContentsComments>

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>


@if (Model.Count() > 0)
{

    <div class="box-header">
        <h3 class="box-title">نظرات مطلب : <span class="text-danger"> @ViewBag.contentTitle</span></h3>
        <span class="hidden" id="contentId">@ViewBag.contentId</span>

        <!--ToolTipssss-->
        <div class="pull-left">

            <a class="tip fa fa-fw fa-question">
                <span>
                    این بخش جهت مشاهده نظرات کاربران در قسمت اخبار یا مطالب سایت می باشد
                    که میتوانید با کلیک روی دکمه نظرات در لیست مطالب نظرات مربوط به آن
                    مطلب را در این قسمت مشاهده نمایید.
                </span>
            </a>

        </div>
    </div>
    <!--ToolTipssss-->
    <div class="pull-left">
        <p>
            <button type="button" class="btn btn-danger btn-flat btnMargin" onclick="checkboxSelectedForContentsComments();">حذف نظرات مطالب</button>
        </p>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped table-condensed" id="contentComment_tb">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkAllContentsComments" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CommentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PositiveScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NegativeScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsConfirmed)
                </th>

                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                if (item.IsNew)  //برای مشخص شدن پیام های جدید از قدیمی از این ایف و الس استفاده میکنیم
                {
                    <tr id="comment_@item.Comment_ID" class="IsNew">

                        <td>
                            <input type="checkbox" class="forRemove" value="@item.Comment_ID" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @item.CommentDate.ToShamsi()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositiveScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NegativeScore)
                        </td>
                        @if (item.IsConfirmed)
                        {

                            <td>
                                <i class="fa fa-fw fa-check text-success" title="نمایش داده شود"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                <i class="fa fa-fw fa-close text-danger" title="عدم نمایش"></i>
                            </td>
                        }

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">عملیات</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu ulbgColor" role="menu">
                                    <li><a class="fa fa-fw fa- fontaweColor" onclick="openModalForEditComment('@item.Comment_ID');">     تغییر وضعیت   </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr id="comment_@item.Comment_ID">
                        <td>
                            <input type="checkbox" class="forRemove" value="@item.Comment_ID" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @item.CommentDate.ToShamsi()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositiveScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NegativeScore)
                        </td>
                        @if (item.IsConfirmed)
                        {

                            <td>
                                <i class="fa fa-fw fa-check text-success" title="نمایش داده شود"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                <i class="fa fa-fw fa-close text-danger" title="عدم نمایش"></i>
                            </td>
                        }
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">عملیات</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu ulbgColor" role="menu">
                                    <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForEditComment('@item.Comment_ID');">     تغییر وضعیت   </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h5>برای این مطلب در حال حاضر نظری ثبت نشده است !</h5>
    </div>
}

<script src="~/js/AdminDataTable.js"></script>
<script>
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        $('input[id=checkAllContentsComments]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllContentsComments]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });
</script>