﻿@model DomainClasses.BasicInformation.OfficePost
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="OfficePostFrmEdit">
            <input type="hidden" asp-for="OfficePostID" id="OfficePostID" />
            <input type="hidden" asp-for="ParentId" />
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficePostTitle" class="control-label"></label>
                    <input asp-for="OfficePostTitle" class="form-control TextRequired" />
                    <span asp-validation-for="OfficePostTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficePostRoles" class="control-label"></label>
                    <textarea asp-for="OfficePostRoles" class="form-control TextRequired" rows="6"></textarea>
                    <span asp-validation-for="OfficePostRoles" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="OfficePostResponsibility" class="control-label"></label>
                    <textarea asp-for="OfficePostResponsibility" class="form-control TextRequired" rows="6"></textarea>
                    <span asp-validation-for="OfficePostResponsibility" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateOfficePost();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />