﻿
@{
    ViewData["Title"] = "مدیریت سمت";
}

<div class="box-header">
    <table>
        <tr>
            <td>
                <div class="box-header ">
                    <a onclick="openModalForAddOfficePost()" class=" btn btn-success  "><i class="fa fa-plus">&nbsp; &nbsp;</i> افزودن سمت جدید </a>
                </div>
            </td>
            <td>
                <div class="treeview_style" id="officePost1_tw"></div>
            </td>
        </tr>
    </table>


</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست سمت های اداری</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای مدیریت سمت های اداری کارمندان می باشد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />



@section Scripts{
    <script src="~/AdminContent/dist/js/bootstrap-treeview.js"></script>
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}


