﻿@model DomainClasses.BasicInformation.OfficePost


<table class="table table-bordered table-hover table-striped" id="officePost_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostResponsibility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr id="ofPost_@Model.OfficePostID">
            <td>
                @Html.DisplayFor(modelItem => Model.OfficePostTitle)
            </td>
            <td>
                @if (Model.OfficePostRoles.Length > 60)
                {
                    <span title="@Model.OfficePostRoles">@Model.OfficePostRoles.Substring(0, 60) ...</span>
                }
                else
                {
                    @Model.OfficePostRoles
                }
            </td>
            <td>
                @if (Model.OfficePostResponsibility.Length > 60)
                {
                    <span title="@Model.OfficePostResponsibility">@Model.OfficePostResponsibility.Substring(0, 60) ...</span>
                }
                else
                {
                    @Model.OfficePostResponsibility
                }
            </td>

            <td>
                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditOfficePost(@Model.OfficePostID);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteOfficePost(@Model.OfficePostID);"><i class="fa fa-trash"></i></button>
            </td>
        </tr>

    </tbody>
</table>

<script>
    table = $('#officePost_tb').DataTable();
    table.destroy();
    $('#officePost_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>
