﻿@model IEnumerable<DomainClasses.BasicInformation.OfficePost>


<table class="table table-bordered table-hover table-striped" id="officePost_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePostResponsibility)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="ofPost_@item.OfficePostID">
            <td>
                @Html.DisplayFor(modelItem => item.OfficePostTitle)
            </td>
            <td>
               @if (item.OfficePostRoles.Length > 60)
               {
                   <span title="@item.OfficePostRoles">@item.OfficePostRoles.Substring(0,60) ...</span>
               }
               else
               {
                   @item.OfficePostRoles
               }
            </td>
            <td>
                @if (item.OfficePostResponsibility.Length > 60)
                {
                    <span title="@item.OfficePostResponsibility">@item.OfficePostResponsibility.Substring(0, 60) ...</span>
                }
                else
                {
                    @item.OfficePostResponsibility
                }
            </td>

            <td>
                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditOfficePost(@item.OfficePostID);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteOfficePost(@item.OfficePostID);"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>