﻿@model IEnumerable<DomainClasses.Suppliers.SuppliersCertificates>

    <hr />
    <div class="box-header">
        <i class="fa fa-info-circle"></i>
        <h3 class="box-title text-danger">نظامها و گواهینامه های ملی و بین المللی کسب شده</h3>
    </div>


    <div class="col-12 mt-3 table-responsive">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">شرح گواهینامه/نظام</th>
                    <th scope="col">نام موسسه صادر کننده</th>
                    <th scope="col">نوع گواهینامه</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@i</th>
                        <td>@item.Description</td>
                        <td>@item.Title</td>
                        <td>@(item.Type ? "بین المللی":"ملی")</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
