﻿@model DomainClasses.Suppliers.MainSuppliers

<style>
    .textColor {
        color: #2388d2dd;
    }

    .lineHeight {
        line-height: 4.5em;
    }
</style>

<section class="content">
    <div class="row" id="supplier-print">
        <div class="col-xs-12">

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger">اطلاعات عمومی</h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <th>نوع تامین کنندگان</th>
                    <th>نام تجاری</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.FullName</span></td>
                    <td><span class="control-label textColor">@(Model.SuppliersType ? "حقوقی" : "حقیقی")</span></td>
                    <td> <label class="control-label textColor">@Model.Brand</label></td>
                </tr>


            </table>

            <div class="box-header ">
                <i class="fa fa-phone-square"></i>
                <h3 class="box-title text-danger">اطلاعات تماس</h3>
            </div>

            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>تلفن دفتر مرکزی</th>
                    <th>تلفن کارگاه/کارخانه</th>
                    <th>تلفن دفتر فروش</th>
                </tr>
                <tr>
                    <td>  <span class="control-label textColor">@Model.CentralOfficeTell</span></td>
                    <td> <span class="control-label textColor">@Model.FactoyTell</span></td>
                    <td>  <span class="control-label textColor">@Model.SalesTell</span></td>
                </tr>

                <tr>
                    <th>دورنگار دفتر مرکزی</th>
                    <th>دورنگار دفتر فروش</th>
                    <th>دورنگار کارگاه/کارخانه</th>
                </tr>
                <tr>
                    <td>  <span class="control-label textColor">@Model.CentralOfficFax</span></td>
                    <td> <span class="control-label textColor">@Model.SalesFax</span></td>
                    <td>  <span class="control-label textColor">@Model.FactoryFax</span></td>
                </tr>

                <tr>
                    <th>کدپستی دفتر مرکزی</th>
                    <th>کدپستی دفتر فروش</th>
                    <th>کدپستی کارگاه/کارخانه</th>
                </tr>
                <tr>
                    <td>  <span class="control-label textColor">@Model.CentralOfficePostalCode</span></td>
                    <td> <span class="control-label textColor">@Model.SalesPostalCode</span></td>
                    <td>  <span class="control-label textColor">@Model.FactoyPostalCode</span></td>
                </tr>

                <tr>
                    <th>تلفن همراه</th>
                    <th>ایمیل</th>
                    <th>وب سایت</th>
                </tr>
                <tr>
                    <td>  <span class="control-label textColor">@Model.PhoneNumber</span></td>
                    <td> <span class="control-label textColor">@Model.Email</span></td>
                    <td>  <span class="control-label textColor">@Model.Website</span></td>
                </tr>
            </table>




            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger">توان تخصصی و مالی</h3>
            </div>

            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>توان مالی</th>
                    <th>تعداد پرسنل</th>
                    <th>تعداد تکنسین</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.Affordability</span></td>
                    <td><span class="control-label textColor">@Model.PersonnelNumber</span></td>
                    <td> <label class="control-label textColor">@Model.TecknecianNumber</label></td>
                </tr>

                <tr>
                    <th>تعداد کارشناسان</th>
                    <th colspan="2">تعداد پرسنل کنترل کیفیت</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.ExpertsNumber</span></td>
                    <td colspan="2"><span class="control-label textColor">@Model.QualityControlNumber</span></td>
                </tr>
            </table>

            <div class="form-group lineHeight" id="shareholder_Div">

            </div>
            <div class="form-group lineHeight" id="activity_Div">

            </div>
            <div class="form-group lineHeight" id="resume_Div">

            </div>
            <div class="form-group lineHeight" id="certificate_Div">

            </div>
            <div class="form-group lineHeight" id="documents_Div">

            </div>
        </div>
    </div>
</section>

<div class="text-center">
    <button class="btn btn-danger" onclick="jQuery.print('#supplier-print')">
        <i class="fa fa-print mg-lf"></i> چاپ فرم
    </button>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>

<script>
    $(function () {
        $("#shareholder_Div").load("/Admin/Suppliers/ViewShareholderSupplier/" +@Model.Suppliers_ID);
        $("#activity_Div").load("/Admin/Suppliers/ViewActivitySupplier/" +@Model.Suppliers_ID);
        $("#resume_Div").load("/Admin/Suppliers/ViewResumeSupplier/" +@Model.Suppliers_ID);
        $("#certificate_Div").load("/Admin/Suppliers/ViewResumeSupplier/" +@Model.Suppliers_ID);
        $("#documents_Div").load("/Admin/Suppliers/ViewDocumentsSupplier/" +@Model.Suppliers_ID);
    });
</script>