﻿@model IEnumerable<DomainClasses.Suppliers.SupplierShareholders>

<hr />

<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">مشخصات سهامداران</h3>
</div>

<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">نام سهامدار</th>
                <th scope="col">نوع سهامدار</th>
                <th scope="col">درصد سهم</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    <td>@item.FullName</td>
                    <td>@(item.Type ? "حقوقی" : "حقیقی")</td>
                    <td>@item.PercentageShare</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>