﻿@model IEnumerable<DomainClasses.Suppliers.SuppliersFiles>

<hr />
<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">فایل های بارگزاری شده</h3>
</div>
<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">نوع فایل</th>
                <th scope="col">فایل</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    @*<td>@item.SuppliersFileType.Title</td>*@
                    <td><a href="~/Files/SupplierDocs/@item.FileNames" target="_blank">دانلود فایل</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>