﻿@model IEnumerable<DomainClasses.Suppliers.SuppliersResume>

<hr />
<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">سوابق کاری</h3>
</div>
<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">نام شرکت / پروژه</th>
                <th scope="col">کار فرما</th>
                <th scope="col">مدت همکاری</th>
                <th scope="col">شرح قرارداد</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    <td>@item.Title</td>
                    <td>@item.Employer</td>
                    <td>@item.CollaborationPeriod</td>
                    <td>@item.ResumeDescription</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>