﻿@model IEnumerable<DomainClasses.Suppliers.SuppliersActivityFields>

<hr />
<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">زمینه فعالیتهای قابل ارائه</h3>
</div>
<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">زمینه فعالیت</th>
                <th scope="col">نام فعالیت</th>
                <th scope="col">ظرفیت تامین/حجم ریالی در سال</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    <td>@item.Activity.ActivityField.ActivityFieldTitle</td>
                    <td>@item.Activity.ActivityTitle</td>
                    <td>@item.SupplyCapacity</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>