﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="row">
    <div class="col-md-6">

        <form method="post" id="Form_Password" autocomplete="off" data-ajax="true">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" type="text" class="form-control " onfocus="ChangeType()" autocomplete="off" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="text" class="form-control " onfocus="ChangeType()" autocomplete="off" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="text" class="form-control " onfocus="ChangeType()" autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="ویرایش" class="btn btn-instagram" id="upload_password" onclick="ChangePassword()" />
            </div>
        </form>
    </div>
</div>
<script>
    function ChangeType() {
        $("#OldPassword").attr("type", "password");
        $("#NewPassword").attr("type", "password");
        $("#ConfirmPassword").attr("type", "password");
    }
</script>
