﻿
@{
    ViewData["Title"] = "مدیریت پیشنهاد های استخدام";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست پیشنهاد دهندگان استخدام</h3>
                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                               در این قسمت افرادی که فرم استخدام را تکمیل
                                کرده باشند را میتوانید مشاهده نمایید
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}




