﻿@model IEnumerable<DomainClasses.Employement.Emp_EducationalRecords>

@*<style>
    .textColor {
        color: #2388d2dd;
    }

    .lineHeight {
        line-height: 4.5em;
    }

    .table > tbody > tr > td {
        text-align: right !important;
    }
</style>*@
<section class="content">
    <div class="row" id="supplier-print">
        <div class="col-xs-12">

            <table class="table table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>مدرک تحصیلی	</th>
                        <th>رشته تحصیلی	 </th>
                        <th>معدل کل	</th>
                        <th>تاریخ پایان	</th>
                        <th>نوع دانشگاه	</th>
                        <th>نام موسسه	</th>
                        <th>شهر-کشور</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Evidence</td>
                            <td>@item.Field</td>
                            <td>@item.Average</td>
                            <td>@item.EndDate</td>
                            <td>@item.UniversityType</td>
                            <td>@item.InstitutionName</td>
                            <td>@item.City_Country</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
