﻿@model IEnumerable<DomainClasses.Employement.Emp_Documents>

@if (Model.Count() > 0)
{
    <section class="content">
        <div class="row" id="docs-print">
            <div class="col-xs-12">

                <table class="table table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>عنوان </th>
                            <th>فایل</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td><a target="_blank" href="~/Files/Employement/@item.FileName">@item.Title</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else
{
    <div class="alert alert-warning">
        <p> فایلی وجود ندارد !</p>
    </div>
}