﻿@model IEnumerable<DomainClasses.Employement.Emp_TraningCourse>

@if (Model.Count() > 0)
{
    <section class="content">
        <div class="row" id="supplier-print">
            <div class="col-xs-12">

                <table class="table table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>نام دوره آموزشی</th>
                            <th>نام موسسه آموزش</th>
                            <th>تاریخ شروع</th>
                            <th>مدت دوره</th>
                            <th>مدرک دارد	</th>
                            <th>توضیحات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TraningName</td>
                                <td>@item.OrganizationName</td>
                                <td>@item.StartDate</td>
                                <td>@item.TraningPeroid</td>
                                <td>@(item.IsEvidence ? "بله" : "خیر")</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else
{
    <div class="alert alert-warning">
        <p>دوره آموزشی وجود ندارد !</p>
    </div>
}