﻿@model IEnumerable<DomainClasses.Employement.Emp_UnderSupervisor>

@if (Model.Count() > 0)
{
    <section class="content">
        <div class="row" id="supplier-print">
            <div class="col-xs-12">

                <table class="table table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>جنسيت</th>
                            <th>نسبت با كارمند	</th>
                            <th>تاريخ تولد	</th>
                            <th>ميزان تحصيلات</th>
                            <th>شغل</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Jender</td>
                                <td>@item.Relation</td>
                                <td>@item.BirthDate</td>
                                <td>@item.LevelEducation</td>
                                <td>@item.Job</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else
{
    <div class="alert alert-warning">
        <p> وجود ندارد !</p>
    </div>
}