﻿@model IEnumerable<DomainClasses.Employement.Emp_Guarantor>

@if (Model.Count() > 0)
{
    <section class="content">
        <div class="row" id="supplier-print">
            <div class="col-xs-12">

                <table class="table table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>نسبت</th>
                            <th>شغل</th>
                            <th>تلفن</th>
                            <th>نشانی و محل کار</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Relation</td>
                                <td>@item.Job</td>
                                <td>@item.Mobile</td>
                                <td>@item.WorkPlace</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
else
{
    <div class="alert alert-warning">
        <p>ضامنی وجود ندارد !</p>
    </div>
}