﻿@model DomainClasses.Employement.Emp_BaseInformation

@{
    IEnumerable<DomainClasses.Employement.Emp_ComputerSkills> skc = ViewBag.SkillComputer as IEnumerable<DomainClasses.Employement.Emp_ComputerSkills>;
    IEnumerable<DomainClasses.Employement.Emp_Activity> ac = ViewBag.Activity as IEnumerable<DomainClasses.Employement.Emp_Activity>;
}
<style>
    .textColor {
        color: #2388d2dd;
    }

    .lineHeight {
        line-height: 4.5em;
    }

    .table > tbody > tr > td {
        text-align: right !important;
    }
</style>
<section class="content">
    <div class="row" id="supplier-print">
        <div class="col-xs-12">

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger"> مشخصات اصلی </h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <th>نام پدر </th>
                    <th>تاریخ تولد</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.FirstName  @Model.LastName</span></td>
                    <td> <span class="control-label textColor">@Model.FatherName</span></td>
                    <td> <span class="control-label textColor">@Model.BirthDate</span></td>
                </tr>

                <tr>
                    <th>شماره شناسنامه</th>
                    <th>کد ملی</th>
                    <th>تاریخ صدور شناسنامه</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.Id_Cer</span></td>
                    <td> <span class="control-label textColor">@Model.NationalCode</span></td>
                    <td> <span class="control-label textColor">@Model.TarikhSodorShenasname</span></td>
                </tr>
                <tr>
                    <th>محل صدور شناسنامه</th>
                    <th>محل تولد</th>
                    <th>دین</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.MahaleSodorShenasname</span></td>
                    <td> <span class="control-label textColor">@Model.BirthPlace</span></td>
                    <td> <span class="control-label textColor">@Model.Religion</span></td>
                </tr>
                <tr>
                    <th>وضعیت تاهل</th>
                    <th>ازدواج برای 3 سال آینده</th>
                    <th>داشتن فرزند برای 3 سال آینده</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.MaritalStatus</span></td>
                    <td> <span class="control-label textColor">@Model.MaritalDescription</span></td>
                    <td> <span class="control-label textColor">@Model.ChildrenDescription</span></td>
                </tr>
                <tr>
                    <th>سلامت روحی و جسمی</th>
                    <th colspan="2">در صورت خیر</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsHealth ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.HealthDescription</span></td>
                </tr>
                <tr>
                    <th>نظام وظیفه</th>
                    <th colspan="2">دلیل در صورت معاف </th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.Duty ? "خدمت کرده" : "معاف")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.ExemptReason</span></td>
                </tr>
                <tr>
                    <th>سابقه کیفری </th>
                    <th colspan="2">علت</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsCriminalRecord ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.CriminalRecordReason</span></td>
                </tr>
                <tr>
                    <th>سیگار یا مواد مخدر </th>
                    <th colspan="2">علت</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsSmoking ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.SmokingReason</span></td>
                </tr>
                <tr>
                    <th colspan="3">آشنایی با زبان انگلیسی</th>
                </tr>
                <tr>
                    <th>خواندن</th>
                    <th>نوشتن</th>
                    <th>مکالمه</th>
                </tr>
                <tr>
                    <td>
                        @switch (Model.EnglishRead)
                        {
                            case 1:
                                <span class="control-label textColor">ضعیف</span>
                                break;
                            case 2:
                                <span class="control-label textColor">متوسط</span>
                                break;
                            case 3:
                                <span class="control-label textColor">خوب</span>
                                break;
                            case 4:
                                <span class="control-label textColor">عالی</span>
                                break;
                        }
                    </td>
                    <td>
                        @switch (Model.EnglishWrite)
                        {
                            case 1:
                                <span class="control-label textColor">ضعیف</span>
                                break;
                            case 2:
                                <span class="control-label textColor">متوسط</span>
                                break;
                            case 3:
                                <span class="control-label textColor">خوب</span>
                                break;
                            case 4:
                                <span class="control-label textColor">عالی</span>
                                break;
                        }
                    </td>
                    <td>
                        @switch (Model.EnglishSpeake)
                        {
                            case 1:
                                <span class="control-label textColor">ضعیف</span>
                                break;
                            case 2:
                                <span class="control-label textColor">متوسط</span>
                                break;
                            case 3:
                                <span class="control-label textColor">خوب</span>
                                break;
                            case 4:
                                <span class="control-label textColor">عالی</span>
                                break;
                        }
                    </td>
                </tr>
                <tr>
                    <th colspan="3">شغل انتخابی</th>
                </tr>
                <tr>
                    <td colspan="3"><span class="control-label textColor">@Model.SelectedJob</span></td>
                </tr>
                <tr>
                    <th>نحوه همکاری </th>
                    <th colspan="2">در صورت پاره وقت </th>
                </tr>
                <tr>
                    <td>
                        @switch (Model.TypeCooperation)
                        {
                            case 1:
                                <span class="control-label textColor">تمام وقت</span>
                                break;
                            case 2:
                                <span class="control-label textColor">پاره وقت</span>
                                break;
                            case 3:
                                <span class="control-label textColor">همكاري خارج از مركز (دورکاری)</span>
                                break;
                        }
                    </td>
                    <td colspan="2">  <span class="control-label textColor">@Model.TimeCooperation</span></td>
                </tr>
                <tr>
                    <th>قادر به اضافه کار </th>
                    <th colspan="2">چند ساعت در روز </th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsOvertime ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.OvertimeHours</span></td>
                </tr>
                <tr>
                    <th>قادر به کار در تعطیلات</th>
                    <th>قادر به ماموریت داخلی</th>
                    <th>قادر به ماموریت خارجی</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.HolidayIsWork ? "بله" : "خیر")</span></td>
                    <td> <span class="control-label textColor">@(Model.IsMissionInternal ? "بله" : "خیر")</span></td>
                    <td> <span class="control-label textColor">@(Model.IsMissionExternal ? "بله" : "خیر")</span></td>
                </tr>
                <tr>
                    <th>سابقه بیمه </th>
                    <th colspan="2">درصورت داشتن </th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsInsuranceHistory ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.InsuranceDescription</span></td>
                </tr>

                <tr>
                    <th colspan="3">نحوه آشنایی با شرکت</th>
                </tr>
                <tr>
                    <td colspan="3"><span class="control-label textColor">@Model.MethodIntroduction</span></td>
                </tr>

                <tr>
                    <th>موارد خاص جسمی و روحی </th>
                    <th colspan="2">درصورت داشتن </th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsSpecialPhysicalItems ? "بله" : "خیر")</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.SpecialPhysicalItemsDescription</span></td>
                </tr>
                <tr>
                    <th>مشغول به کار</th>
                    <th>نوع تضمین کاری</th>
                    <th>حقوق مورد نظر</th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@(Model.IsWorking ? "بله" : "خیر")</span></td>
                    <td>
                        @switch (Model.WorkGuarantee)
                        {
                            case "1":
                                <span class="control-label textColor">سفته با تایید ضامن کارمند دولت</span>
                                break;
                            case "2":
                                <span class="control-label textColor">سفته بدون ضامن</span>
                                break;
                            default:
                                <span class="control-label textColor">@Model.WorkGuarantee</span>
                                break;
                        }
                    </td>
                    <td> <span class="control-label textColor">@Model.ExpectedSalary</span></td>
                </tr>
                <tr>
                    <th>نوع دریافت حقوق</th>
                    <th>سرپرست خانوار</th>
                    <th>نوع منزل</th>
                </tr>
                <tr>
                    <td>
                        @switch (Model.SalaryType)
                        {
                            case 1:
                                <span class="control-label textColor">حقوق ماهانه ثابت</span>
                                break;
                            case 2:
                                <span class="control-label textColor">درآمد بیشتر و فقط پورسانتی بودن</span>
                                break;
                            case 3:
                                <span class="control-label textColor">ترکیب هر دو</span>
                                break;
                        }
                    </td>
                    <td> <span class="control-label textColor">@(Model.IsHeadFamily ? "بله" : "خیر")</span></td>
                    <td>
                        @switch (Model.HomeType)
                        {
                            case 1:
                                <span class="control-label textColor">منزل شخصی</span>
                                break;
                            case 2:
                                <span class="control-label textColor">منزل اجاره ای</span>
                                break;
                            case 3:
                                <span class="control-label textColor">منزل والدین</span>
                                break;
                            case 4:
                                <span class="control-label textColor">سایر</span>
                                break;
                        }
                    </td>
                </tr>
                <tr>
                    <th colspan="3">در صورت انتخاب گزینه سایر</th>
                </tr>
                <tr>
                    <td colspan="3"><span class="control-label textColor">@Model.HomeDescription</span></td>
                </tr>
                <tr>
                    <th>تلفن ثابت </th>
                    <th colspan="2">تلفن همراه </th>
                </tr>
                <tr>
                    <td><span class="control-label textColor">@Model.Tell</span></td>
                    <td colspan="2">  <span class="control-label textColor">@Model.Mobile</span></td>
                </tr>
                <tr>
                    <th colspan="3">آدرس</th>
                </tr>
                <tr>
                    <td colspan="3"><span class="control-label textColor">@Model.Address</span></td>
                </tr>
            </table>

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger">مهارت های کامپیوتری </h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    @foreach (var item in skc)
                    {
                        <td>@item.Emp_ComputerSkillItems.Title</td>
                    }
                </tr>

            </table>

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger">توانایی چه فعالیت هایی را دارد ؟ </h3>
            </div>
            <table class="table table table-bordered table-hover table-striped">
                <tr>
                    @foreach (var item in ac)
                    {
                        <td>@item.Emp_ActivityItems.Title</td>
                    }
                </tr>

            </table>
        </div>
    </div>
</section>