﻿@model IEnumerable<DomainClasses.Employement.Emp_WorkExperience>

<section class="content">
    <div class="row" id="supplier-print">
        <div class="col-xs-12">

            <table class="table table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>نام سازمان يا شركت	</th>
                        <th>سمت / شغل</th>
                        <th>مدت همکاری</th>
                        <th>تاریخ قطع همکاری</th>
                        <th>شماره تلفن	</th>
                        <th>متوسط حقوق دریافتی به ريال</th>
                        <th>علت ترك خدمت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrganizationName</td>
                            <td>@item.Post</td>
                            <td>@item.AssistPeriod</td>
                            <td>@item.AssistCutDate</td>
                            <td>@item.Tell</td>
                            <td>@item.AverageSalary</td>
                            <td>@item.AssistCutReason</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
