﻿@model IEnumerable<DomainClasses.Employement.Emp_BaseInformation>

@if (Model.Count() > 0)
{
<table class="table table-bordered table-hover table-striped" id="employement_tb">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Image)</th>
            <th>
                نام و نام خانوادگی
            </th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.BirthPlace)</th>
            <th>@Html.DisplayNameFor(model => model.Mobile)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="emp_@item.Employment_ID">
                <td>
                    @if (item.Image != null)
                    {
                        <img width="100" height="120" src="~/Files/Employement/Image/@item.Image" />
                    }
                    else
                    {
                        <img width="100" height="120" src="~/images/no-profile.jpg" />
                    }
                </td>
                <td>@item.FirstName   @item.LastName</td>
                <td>@item.BirthDate</td>
                <td>@item.BirthPlace</td>
                <td>@item.Mobile</td>
                <td>
                    <button class="btn btn-icon bg-navy btnIcon" onclick="GetEmployementDetails(@item.Employment_ID);" title="جزئیات اطلاعات اصلی"> <i class="fa fa-eye"></i> </button>
                    <button class="btn btn-icon bg-purple btnIcon" onclick="GetEducationalRecordsDetails(@item.Employment_ID);" title="سوابق تحصیلی و آموزشی"> <i class="fa fa-eye" ></i> </button>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="GetWorkExperienceDetails(@item.Employment_ID);" title="سوابق شغلی"> <i class="fa fa-eye"></i> </button>
                    <button class="btn btn-icon btn-info btnIcon" onclick="GetTraningCoursesDetails(@item.Employment_ID);" title="دوره های آموزشی"> <i class="fa fa-eye"></i> </button>
                    <button class="btn btn-icon bg-teal btnIcon" onclick="GetGuarantorDetails(@item.Employment_ID);" title="افراد ضامن"> <i class="fa fa-eye"></i> </button>

                    @if (item.IsHeadFamily)
                    {
                        <button class="btn btn-icon bg-success btnIcon" onclick="GetUnderSuppervisorDetails(@item.Employment_ID);" title="افراد تحت تکفل"> <i class="fa fa-eye"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-icon bg-success btnIcon disabled" onclick="GetUnderSuppervisorDetails(@item.Employment_ID);" title="فردی تحت تکفل ندارد"> <i class="fa fa-eye"></i> </button>
                    }
                    <button class="btn btn-icon bg-white btnIcon" onclick="GetDocumentsDetails(@item.Employment_ID);" title="مدارک"><i class="fa fa-eye"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteEmployement(@item.Employment_ID);" title="حذف"><i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

}

<script>
    table = $('#employement_tb').DataTable();
    table.destroy();
    $('#employement_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>