﻿@model List<FAQ>
@{
    ViewData["Title"] = "FAQ";
    var Counter = 0;
}
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <ol class="breadcrumb">
                        <li><a href="index.html">صفحه نخست</a></li>
                        <li class="active">سوالات متداول مربوط به فروشگاه</li>
                        
                    </ol>
                    <h2>a : @CultureInfo.CurrentCulture.Name</h2>
                </div>
                <div class="col-xs-12 padding">
                    <div class="pageQuestion">
                        @*<div class="questionHead">حساب کاربری</div>*@
                        @foreach (var item in Model)
                                {
                                    Counter++;
                            <div class="questionNum">@Counter -  @item.FAQuestion</div>
                            <div class="response">
                                <span>پاسخ: </span>
                                <p>@item.FAQAnswer.</p>
                            </div>
                        }

                    </div>
                    <hr style="clear: both;border-top: 1px dotted #003cbd;">


                </div>
            </div>
        </div>
    </div>
</div>
