﻿@model ViewModels.HalycoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>halyco company</title>
    <meta name="author" content="halyco - آلیاژگستر هامون" />
    <meta name="description" content="Aliaj Gostar Hamoun company , Aliaj Gostar Hamoun ,Aliaj , Hamoun , halyco , آلیاژگستر هامون  , آلیاژگستر هامون کاشان , تولیدکننده فروسیلیس  , تولیدکننده میکروسیلیکا" />
    <meta name="keywords" content="شرکت آلیاژگستر هامون در کاشان." />
    <meta name="robots" content="index, follow" />
    <meta name="GOOGLEBOT" content="index, follow" />
    <link href="~/SiteContent/images/logotab.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.css">-->
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap-dropdownhover.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/font-icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style-en.css">
</head>
<body>
    <!--***********header************-->
    <header>
        <div class="header-pattern">
            <div class="container header-flex">
                <div class="col-12 col-lg-3 header-logo d-none d-lg-block">
                    <a href="zen-index.html"><img src="~/SiteContent/images/logo-halyco1.png" alt="لوگو شرکت آلیاژگستر هامون"></a>
                    <div class="force-link">
                        <ul>
                            <li class="item">
                                <a href="zen-product.html" class="link" title="ارتباط با واحد خرید">
                                    <span class="icon"><i class="icon-diamond"></i></span>
                                    <span class="text">Product Gallery</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="zen-download-catalog.html" class="link" title="دانلود کاتالوگ">
                                    <span class="icon"><i class="icon-big-brochure"></i></span>
                                    <span class="text">Download Catalog</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="zen-contact-saleUnit.html" class="link" title="ارتباط با واحد فروش">
                                    <span class="icon"><i class="icon-phone-call"></i></span>
                                    <span class="text">Contact sales unit</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="پورتال کارکنان">
                                    <span class="icon"><i class="icon-resume"></i></span>
                                    <span class="text">Staff Portal</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="سیستم اطلاعات مدیریتی">
                                    <span class="icon"><i class="icon-lamp"></i></span>
                                    <span class="text">Organizational links</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="col-12 header-bottom" style="padding-right: 0;padding-left: 0;width: 100%;">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <ul class="language d-lg-none">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search"></i></a>
                                </li>
                                <li>
                                    <a href="index.html" class="nav-link"><img src="~/SiteContent/images/iran.jpg" alt="زبان فارسی"></a>
                                </li>
                                <li>
                                    <a href="zen-index.html" class="nav-link"><img src="~/SiteContent/images/english.jpg" alt="english"></a>
                                </li>
                            </ul>
                            <div class="header-logo d-lg-none">
                                <a href="zen-index.html"><img src="~/SiteContent/images/logo-halyco1.png" alt="لوگو شرکت آلیاژگستر هامون"></a>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="zen-index.html"><i class="fa fa-home fa-3x"></i></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">about us</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-item"><a href="zen-about-us.html">General introduction and history of the company</a></li>
                                            <li class="dropdown-item"><a href="zen-managers.html">Introducing the board</a></li>
                                            <li class="dropdown-item"><a href="zen-managers-executive.html">Introducing Executive Managers</a></li>
                                            <li class="dropdown-item"><a href="zen-text.html">Introducing Executive Managers</a></li>
                                            <li class="dropdown-item"><a href="zen-certificate.html">Certificates and honors</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sales unit</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-item"><a href="zen-text.html">Procedure for selling products</a></li>
                                            <li class="dropdown-item"><a href="zen-form-customer-survey.html">Customer survey form</a></li>
                                            <li class="dropdown-item"><a href="zen-form-customer-complaint.html">Customer complaints registration form</a></li>
                                            <li class="dropdown-item"><a href="zen-text.html">Value Added Certificate</a></li>
                                            <li class="dropdown-item"><a href="zen-text.html">Company account number</a></li>
                                            <li class="dropdown-item"><a href="zen-contact-saleUnit.html">Contact Sales Unit</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">buying unit</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-item"><a href="zen-text.html">Cooperation fields</a></li>
                                            <li class="dropdown-item"><a href="zen-form-supplier-registration.html">Registration Form Suppliers</a></li>
                                            <li class="dropdown-item"><a href="zen-form-supplier-survey.html">Suppliers survey form</a></li>
                                            <li class="dropdown-item"><a href="zen-contact-buyUnit.html">Purchase Engineering Unit Contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-item"><a href="zen-articles.html">Educational Content</a></li>
                                            <li class="dropdown-item"><a href="zen-gallery.html">Photo Gallery</a></li>
                                            <li class="dropdown-item"><a href="zen-videos.html">Video gallery</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">contact us</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-item"><a href="zen-contact-us.html">Contacts</a></li>
                                            <li class="dropdown-item"><a href="zen-form-assist.html">Application Form</a></li>
                                            <li class="dropdown-item"><a href="zen-text.html">Career Opportunities</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ml-lg-auto mr-3">
                                    <li class="nav-item language d-none d-lg-block">
                                        <a href="index.html" class="nav-link"><img src="~/SiteContent/images/iran.jpg" alt="زبان فارسی"></a>
                                    </li>
                                    <li class="nav-item language d-none d-lg-block">
                                        <a href="zen-index.html" class="nav-link"><img src="~/SiteContent/images/english.jpg" alt="english"></a>
                                    </li>
                                    <li class="nav-item dropdown search d-none d-lg-block">
                                        <a class="nav-link" href="#"><i class="fa fa-search fa-2x"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <form action="https://www.modernfarsh.com/search" method="post"
                                                      enctype="multipart/form-data">
                                                    <!--<button type="submit">جستجو</button>-->
                                                    <input type="text" name="title" class="form-control"
                                                           placeholder="Search for your phrase ...">
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">search</h5>
                    </div>
                    <div class="modal-body">
                        <div class="search">
                            <form action="#">
                                <button type="submit"><i class="fa fa-search fa-lg"></i></button><input type="text" class="form-control" placeholder="Search for your phrase ...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- ************* slide ********** -->
        <div class="container">
            <div class="row force-inner d-lg-none">
                <div class="force-link">
                    <ul>
                        <li class="item">
                            <a href="zen-product.html" class="link" title="ارتباط با واحد خرید">
                                <span class="icon"><i class="icon-diamond"></i></span>
                                <span class="text">Product Gallery</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="zen-download-catalog.html" class="link" title="دانلود کاتالوگ">
                                <span class="icon"><i class="icon-big-brochure"></i></span>
                                <span class="text">Download Catalog</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="zen-contact-saleUnit.html" class="link" title="ارتباط با واحد فروش">
                                <span class="icon"><i class="icon-phone-call"></i></span>
                                <span class="text">Contact sales unit</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="link" title="پورتال کارکنان">
                                <span class="icon"><i class="icon-resume"></i></span>
                                <span class="text">Staff Portal</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="link" title="سیستم اطلاعات مدیریتی">
                                <span class="icon"><i class="icon-lamp"></i></span>
                                <span class="text">Organizational links</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-12 col-lg-9 halyco-slider">
                    <div class="bd-example">
                        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/SiteContent/images/slide/01.jpg" class="animated fadeInRight d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="animated fadeInLeftBig">ferro alloys manufacturer</h5>
                                        <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, consequatur cupiditate dolorem doloribus esse eum.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/SiteContent/images/slide/02.jpg" class="animated fadeInRight d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="animated fadeInLeftBig">Second slide label</h5>
                                        <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, consequatur cupiditate dolorem doloribus esse eum.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/SiteContent/images/slide/04.jpg" class="animated fadeInRight d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="animated fadeInLeftBig">Second slide label</h5>
                                        <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, consequatur cupiditate dolorem doloribus esse eum.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1" style="padding: 0;">
                    <div class="col-12 col-sm-7 aboutUs mt-3 mt-sm-2 mt-lg-0">
                        <p>
                            <span style="color: #ad0000;">about us : </span>
                            Alliggestor Hamoon Company was officially commissioned in 1394,
                            and in the first phase, with annual production of 5,000 tons of Ferrocylsium,
                            it has been able to supply its products to Asian and European countries while
                            providing part of the needs of the country's steel industry. At present,
                            the company also produces 4,000 tons of Ferrosilicon Magnesium, Cord Wire,
                            a variety of gummy powders and microsilica powder.
                        </p>
                    </div>
                    <div class="col-12 col-sm-5 information">
                        <ul>
                            <li>Address : Kashan, km 14 Ardestan Road, Hamam Boulevard</li>
                            <li><i class="fa fa-map-marker"></i>Postal code : 8735168331</li>
                            <li><i class="fa fa-phone"></i>Phone Call : 03155544900</li>
                            <li><i class="fa fa-fax"></i>Fax : 03155544900</li>
                            <li><i class="fa fa-envelope"></i>Pooyeshpajooh@yahoo.com</li>
                        </ul>
                    </div>
                    <div class="col-12 itsa-footer hidden-xs hidden-sm">
                        <ul>
                            <li>© All material and moral rights of this site are for Allieh Gostar Hamoon Company</li>
                            <li>Design and SEO by  <a href="https://itsaco.ir" rel="nofollow" target="_blank"><span>Itsa Information Technology</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#">
                                    <img src="~/SiteContent/images/slide/01.jpg" class="d-block w-100" alt="اسلاید آلیاژگستر هامون">
                                    <div class="carousel-caption">
                                        <h5>Ferrilliss</h5>
                                        <p>Ferrocylsium is one of the alloys used in various industries, especially in the steel and metallurgical industries.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#">
                                    <img src="~/SiteContent/images/slide/02.jpg" class="d-block w-100" alt="اسلاید آلیاژگستر هامون">
                                    <div class="carousel-caption">
                                        <h5>Microsilica</h5>
                                        <p>Ferrocylsium is one of the alloys used in various industries, especially in the steel and metallurgical industries.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="#">
                                    <img src="~/SiteContent/images/slide/03.JPG" class="d-block w-100" alt="اسلاید آلیاژگستر هامون">
                                    <div class="carousel-caption">
                                        <h5>Cordauire</h5>
                                        <p>Ferrocylsium is one of the alloys used in various industries, especially in the steel and metallurgical industries.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="topcontrol"><span class="fa fa-chevron-up"></span></div>
    <!-- The JavaScript -->
    <script src="~/SiteContent/js/jquery-3.2.1.min.js"></script>
    <script src="~/SiteContent/js/bootstrap.min.js"></script>
    <script src="~/SiteContent/js/bootstrap.bundle.min.js"></script>
    <script src="~/SiteContent/js/bootstrap-dropdownhover.js"></script>
    <script src="~/SiteContent/js/index.js"></script>
    <script src="~/SiteContent/js/jquery.easing.1.3.js"></script>
    <script src="~/SiteContent/js/jquery.toastmessage.js"></script>
    <script src="~/SiteContent/js/alert.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000
            });
        });
    </script>
</body>
</html>