﻿@model ViewModels.HalycoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="@(CultureInfo.CurrentCulture.Name=="fa-IR" ? "rtl":"ltr")">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("شرکت آلیاژگستر هامون") : Html.Raw("Halyco Company"))</title>
    <meta name="author" content="halyco - آلیاژگستر هامون" />
    <meta name="robots" content="index, follow" />
    <link href="~/SiteContent/images/logotab.png" type="image/x-icon" rel="shortcut icon">
    @*<link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap.css">*@
    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        <link rel="stylesheet" type="text/css" href="~/SiteContent/css/bootstrap-rtl.min.css" asp-append-version="true">
    }
    <link rel="stylesheet" type="text/css" href="~/SiteContent/css/bundle.min.css" asp-append-version="true">

    @if (CultureInfo.CurrentCulture.Name == "en-US")
    {
        <link rel="stylesheet" type="text/css" href="~/SiteContent/css/style-en.min.css" asp-append-version="true">
    }
</head>
<body>
    <header>
        <!--***********header************-->
        <div class="header-pattern">
            <div class="container header-flex">
                <div class="col-12 col-lg-3 header-logo d-none d-lg-block">
                    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                    {
                        <a href="/"><img src="~/SiteContent/images/logo-halyco1.png" alt="لوگو شرکت آلیاژگستر هامون" asp-append-version="true"></a>
                    }
                    else
                    {
                        <a href="/"><img src="~/SiteContent/images/logo-halyco1-en.png" alt="logo" asp-append-version="true"></a>
                    }
                    <div class="force-link">
                        @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                        {
                        <ul>
                            <li class="item">
                                <a asp-controller="Product" asp-action="Index" class="link" title="ارتباط با واحد خرید">
                                    <span class="icon"><i class="icon-diamond"></i></span>
                                    <span class="text">گالری محصولات</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="Catalog" asp-action="Index" class="link" title="دانلود کاتالوگ">
                                    <span class="icon"><i class="icon-big-brochure"></i></span>
                                    <span class="text">دانلود کاتالوگ</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="ارتباط با واحد فروش">
                                    <span class="icon"><i class="icon-phone-call"></i></span>
                                    <span class="text">ارتباط با واحد فروش</span>
                                </a>
                            </li>

                            <li class="item">
                                @*<a asp-controller="ContactUs" asp-action="PortalLink" class="link" title="سیستم اطلاعات مدیریتی">*@
                                <a class="link" asp-controller="ContactUs" asp-action="contactSaleUnit">
                                    <span class="icon"><i class="icon-lamp"></i></span>
                                    <span class="text">استعلام قیمت</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="/Admin/Account/Login" class="link" title="پورتال کارکنان">
                                    <span class="icon"><i class="icon-resume"></i></span>
                                    <span class="text">پورتال کارکنان</span>
                                </a>
                            </li>
                        </ul>
                        }
                        else
                        {
                        <ul>
                            <li class="item">
                                <a asp-controller="Product" asp-action="Index" class="link" title="">
                                    <span class="icon"><i class="icon-diamond"></i></span>
                                    <span class="text">Product Gallery</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="Catalog" asp-action="Index" class="link" title="">
                                    <span class="icon"><i class="icon-big-brochure"></i></span>
                                    <span class="text">Download Catalog</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="">
                                    <span class="icon"><i class="icon-phone-call"></i></span>
                                    <span class="text">Contact sales unit</span>
                                </a>
                            </li>

                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="">
                                    <span class="icon"><i class="icon-lamp"></i></span>
                                    <span class="text">Call for price</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="">
                                    <span class="icon"><i class="icon-resume"></i></span>
                                    <span class="text">Staff Portal</span>
                                </a>
                            </li>
                        </ul>
                        }
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    @await Component.InvokeAsync("Menu")
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">جستجو</h5>
                        <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search">
                            <form action="/Search" method="post">
                                @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                                {
                                    <button type="button" onclick="Search($('#title2').val())"><i class="fa fa-search fa-lg"></i></button> <input type="text" name="id" id="title2" class="form-control" placeholder="عبارت مورد نظر خود را جستجو کنید...">
                                }
                                else
                                {
                                    <button type="button" onclick="Search($('#title2').val())"><i class="fa fa-search fa-lg"></i></button> <input type="text" name="id" id="title2" class="form-control" placeholder="Search for your phrase ...">
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- ************* slide ********** -->
        <div class="container">
            <div class="row force-inner d-lg-none">
                <div class="force-link">
                    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                    {
                        <ul>
                            <li class="item">
                                <a asp-controller="Product" asp-action="Index" class="link" title="ارتباط با واحد خرید">
                                    <span class="icon"><i class="icon-diamond"></i></span>
                                    <span class="text">گالری محصولات</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="Catalog" asp-action="Index" class="link" title="دانلود کاتالوگ">
                                    <span class="icon"><i class="icon-big-brochure"></i></span>
                                    <span class="text">دانلود کاتالوگ</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="ارتباط با واحد فروش">
                                    <span class="icon"><i class="icon-phone-call"></i></span>
                                    <span class="text">ارتباط با واحد فروش</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="/Admin/Account/Login" class="link" title="پورتال کارکنان">
                                    <span class="icon"><i class="icon-resume"></i></span>
                                    <span class="text">پورتال کارکنان</span>
                                </a>
                            </li>
                            <li class="item">
                                @*<a asp-controller="ContactUs" asp-action="PortalLink" class="link" title="سیستم اطلاعات مدیریتی">*@
                                <a class="link" asp-controller="ContactUs" asp-action="contactSaleUnit" >
                                    <span class="icon"><i class="icon-lamp"></i></span>
                                    <span class="text">استعلام قیمت</span>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li class="item">
                                <a asp-controller="Product" asp-action="Index" class="link" title="">
                                    <span class="icon"><i class="icon-diamond"></i></span>
                                    <span class="text">Product Gallery</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="Catalog" asp-action="Index" class="link" title="">
                                    <span class="icon"><i class="icon-big-brochure"></i></span>
                                    <span class="text">Download Catalog</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="">
                                    <span class="icon"><i class="icon-phone-call"></i></span>
                                    <span class="text">Contact sales unit</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="link" title="">
                                    <span class="icon"><i class="icon-resume"></i></span>
                                    <span class="text">Staff Portal</span>
                                </a>
                            </li>
                            <li class="item">
                                <a asp-controller="ContactUs" asp-action="contactSaleUnit" class="link" title="" >
                                    <span class="icon"><i class="icon-lamp"></i></span>
                                    <span class="text">Call for price</span>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-12 col-lg-9 halyco-slider">
                    <div class="bd-example">
                        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @{ int j = 0;}
                                @foreach (var item_li in Model.slideShows)
                                {
                                    if (j == 0)
                                    {
                                        <li data-target="#carouselExampleCaptions" data-slide-to="j" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carouselExampleCaptions" data-slide-to="j"></li>
                                    }
                                    j++;
                                }

                            </ol>
                            <div class="carousel-inner">
                                @{ int k = 0;}
                                @foreach (var item_li in Model.slideShows)
                                {
                                    if (k == 0)
                                    {
                                        <div class="carousel-item active">
                                            <img src="~/Files/SlideShow/@item_li.SSPic" class="animated fadeInRight d-block w-100" asp-append-version="true" alt="@item_li.SSTitle">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="animated fadeInLeftBig">@item_li.SSTitle</h5>
                                                <p class="animated fadeInRightBig">@item_li.SSText</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item ">
                                            <img src="~/Files/SlideShow/@item_li.SSPic" class="animated fadeInRight d-block w-100" asp-append-version="true" alt="@item_li.SSTitle">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="animated fadeInLeftBig">@item_li.SSTitle</h5>
                                                <p class="animated fadeInRightBig">@item_li.SSText</p>
                                            </div>
                                        </div>
                                    }
                                    k++;
                                }

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-2 order-lg-1" style="padding: 0;">
                    @await Component.InvokeAsync("Footer")
                    <div class="col-12 itsa-footer hidden-xs hidden-sm">
                        @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                        {
                            <ul>
                                <li>© کلیه حقوق مادی و معنوی این سایت متعلق به شرکت آلیاژگستر هامون می باشد.</li>
                                <li>طراحی و سئو توسط  <a href="https://itsaco.ir" rel="nofollow" target="_blank"><span>فناوری اطلاعات آیتیسا</span></a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>© All rights reserved Halyco Company</li>
                                <li>Design and SEO by  <a href="https://itsaco.ir" rel="nofollow" target="_blank"><span>ITSA Information Technology</span></a></li>
                            </ul>
                        }
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            @{ int i = 0;}
                            @foreach (var item in Model.productInfos)
                            {
                                if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductTitle.ToSlug()">
                                            <img src="~/Files/Products/@item.MainProduct.ProductImage" class="d-block w-100" asp-append-version="true" alt="@item.ProductTitle">
                                            <div class="carousel-caption">
                                                <h5>@item.ProductTitle</h5>
                                                @if (item.ProductSummary != null)
                                                {
                                                    @Html.Raw(item.ProductSummary)
                                                }

                                            </div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item ">
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.ProductTitle.ToSlug()">
                                            <img src="~/Files/Products/@item.MainProduct.ProductImage" class="d-block w-100" asp-append-version="true" alt="@item.ProductTitle">
                                            <div class="carousel-caption">
                                                <h5>@item.ProductTitle</h5>
                                                @if (item.ProductSummary != null)
                                                {
                                                    @Html.Raw(item.ProductSummary)
                                                }
                                            </div>
                                        </a>
                                    </div>
                                }
                                i++;
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="topcontrol"><span class="fa fa-chevron-up"></span></div>
    <!-- The JavaScript -->
    <script src="~/SiteContent/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
    @*<script src="~/SiteContent/js/bootstrap.min.js"></script>
        <script src="~/SiteContent/js/bootstrap.bundle.min.js"></script>
        <script src="~/SiteContent/js/bootstrap-dropdownhover.js"></script>
        <script src="~/SiteContent/js/index.js"></script>
        <script src="~/SiteContent/js/jquery.easing.1.3.js"></script>
        <script src="~/SiteContent/js/alert.js"></script>*@
    <script src="~/SiteContent/js/bundle.min.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000
            });
        });
        function Search(id) {
            debugger;
            window.location.href = "/Search/Index/" + id;
        }
    </script>
</body>
</html>