﻿@model DomainClasses.Contents.Contents
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.ContentTitle;
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name=="fa-IR" ? "صفحه نخست":"Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@Model.ContentTitle</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 aboutUs">
        @Html.Raw(Model.ContentText)   
        </div>
    </div>
</div>