﻿@*@model DomainClasses.ApplicationUser
@{
    ViewData["Title"] = "صفحه شخصی";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#general" data-toggle="tab">اطلاعات عمومی</a></li>
                    <li class=""><a href="#changePass" data-toggle="tab">تغییر رمز عبور</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="general">
                       

                        <div class="box box-success">
                          
                            <div class="box-body">
                            <div class="col-md-6">
                                <form action="/Admin/Profile/UpdateProfile"
                                data-ajax-failure="onFailed" data-ajax-success="onSuccess_gp"
                                 data-ajax-begin="onBegin_gp"
                                 data-ajax="true" data-ajax-method="POST">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label">نام کاربری</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label">ایمیل</label>
                                        <input asp-for="Email" class="form-control" readonly="readonly" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="control-label">تلفن</label>
                                        <input asp-for="PhoneNumber" class="form-control" type="number" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="ویرایش" class="btn btn-success" />
                                        <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden" />
                                    </div>

                                </form>
                            </div>
                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane " id="changePass">
                       

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />*@

