﻿@model DomainClasses.Gallery.GalleryPicture

@{
    ViewData["Title"] = "AddGalleryPictures";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="AddGalleryPictures" id="galleryPicFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GalleryPicTitle" class="control-label"></label>
                <input asp-for="GalleryPicTitle" class="form-control" />
                <span asp-validation-for="GalleryPicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageNames" class="control-label "></label>
                <input asp-for="ImageNames" class="form-control TextRequired" type="file" multiple="multiple" id="ImageUpload" />
                <span asp-validation-for="ImageNames" class="text-danger"></span>

            </div>
            <div class="form-group" id="imgPreviews" style="display:flex">

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="Upload();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
            
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    var newImageArray = []
    $(document).ready(function () {

        $('#imgPreviews').on('click', '.myimage span i', function () {
            $(this).closest('div.myimage').hide(500);
            removePictureFile2($(this).closest('div.myimage').children('img').attr('id'));

        });
    });


    $("#ImageUpload").change(function () {///این تابع برای ارسال عکس در پوشه تمپ می باشد
        var formData = new FormData();
        var totalFiles = document.getElementById("ImageUpload").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("ImageUpload").files[i];
            formData.append("ImageUpload", file);
        }
        
        $.ajax({
            method: 'POST',
            url: '/Admin/Gallery/Upload',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                var htmls = "";
                var fileNames = data.fn;
                fileNames = fileNames.split("&");
                for (var i = 0; i < fileNames.length - 1; i++) {
                    htmls += '<div class="myimage">' +
                        '<img  id="' + fileNames[i] + '" class="img-thumbnail imgPreviewsStyle" src="/Files/GalleryPicture/temp/' + fileNames[i] + '" width="100" height="100" />' +
                        '<span><i class="fa fa-fw fa-remove text-danger" title="حذف" ></i>' +
                        '</span>' +
                        '</div>';

                    newImageArray.push(fileNames[i] + "&");
                }
                $("#imgPreviews").html(htmls);

                //newImageArray.push(responsePart[1]);
                $(".btn-warning").removeClass('hidden');
                //swal("آپلود تصاویر تکمیل شد!", "تصاویر با موفقیت آپلود شد!", "success");
            },
            error: function (result) {
                alert(result.error);
            }
        });
    });




</script>

