﻿@model DomainClasses.Gallery.Gallery

@{
    ViewData["Title"] = "CreateGallery";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGallery" id="galleryFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="GalleryGroupId" class="control-label"></label>
                    <select asp-for="GalleryGroupId" id="GalleryGroupId" class="form-control"></select>
                </div>*@
            <div class="form-group">
                <label asp-for="GalleryTitle" class="control-label  "></label>
                <input asp-for="GalleryTitle" class="form-control TextRequired" />
                <span asp-validation-for="GalleryTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="IsActiveGallery" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="GalleryImage" class="control-label"></label>
                    <input asp-for="GalleryImage" class="form-control" type="file" id="ImageUpload" />
                    <span asp-validation-for="GalleryImage" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <img width="120" height="120" id="imgPreview" />
                </div>
            </div>
            
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertGallery();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        //GetAllGalleryGroup($("#language_ddl").val());
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ImageUpload").change(function () {
        readURL(this);
    });

    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });
</script>
