﻿@model DomainClasses.Gallery.GalleryGroup

@{
    ViewData["Title"] = "CreateGalleryGroup";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGalleryGroup" id="galleryGroupFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GalleryGroup_ID" class="control-label "></label>
                <input asp-for="GalleryGroup_ID" class="form-control TextRequired" type="number" value="@ViewBag.maxId" onblur="IsExist($(this).val(),'#GalleryGroup_ID','#GalleryGroup_ID_Msg');" />
                <span asp-validation-for="GalleryGroup_ID" id="GalleryGroup_ID_Msg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryGroupTitle" class="control-label "></label>
                <input asp-for="GalleryGroupTitle" class="form-control TextRequired" />
                <span asp-validation-for="GalleryGroupTitle" class="text-danger"></span>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" onclick="InsertGalleryGroup();" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>
                        <div class="form-group">
                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
