﻿@model DomainClasses.Gallery.Gallery

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="galleryFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gallery_ID" id="Gallery_ID" />
            @if (Model.GalleryImage != null)
            {
                <input type="hidden" asp-for="GalleryImage" id="oldImage" />
            }
            else
            {
                <input type="hidden" value="noimage.png" id="oldImage" />
            }


            <div class="form-group">
                <label asp-for="GalleryGroupId" class="control-label "></label>
                <select asp-for="GalleryGroupId" class="form-control TextRequired" asp-items="@ViewBag.GalleryGroup"></select>
                <span asp-validation-for="GalleryGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryTitle" class="control-label "></label>
                <input asp-for="GalleryTitle" class="form-control TextRequired" />
                <span asp-validation-for="GalleryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" id="IsActiveEdit" type="checkbox" /><b> فعال / غیر فعال  </b>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="GalleryImage" class="control-label"></label>
                    <input asp-for="GalleryImage" class="form-control" type="file" id="ImageUpload" />
                    <span asp-validation-for="GalleryImage" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    @if (Model.GalleryImage != null)
                    {
                        <img width="120" height="120" id="imgPreview" src="~/Files/Gallery/Thumb/@Model.GalleryImage" />
                    }
                    else
                    {
                        <img width="120" height="120" id="imgPreview" src="~/images/noimage.png" />
                    }
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateGallery();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        //GetAllGalleryGroup($("#language_ddl").val());
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ImageUpload").change(function () {
        readURL(this);
    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

