﻿@model DomainClasses.Gallery.GalleryGroup

@{
    ViewData["Title"] = "EditGalleryGroup";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditGalleryGroup" id="galleryGroupFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GalleryGroup_ID" class="control-label "></label>
                <input type="number" disabled="disabled" asp-for="GalleryGroup_ID" class="form-control TextRequired" id="GalleryGroup_ID" />
                <span asp-validation-for="GalleryGroup_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GalleryGroupTitle" class="control-label "></label>
                <input asp-for="GalleryGroupTitle" class="form-control TextRequired" />
                <span asp-validation-for="GalleryGroupTitle" class="text-danger"></span>
            </div>

            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateGalleryGroup();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


