﻿
@{
    ViewData["Title"] = "مدیریت گالری";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#galleryGroup" data-toggle="tab">گروه گالری</a></li>
                    <li id="galleryTab"><a href="#gallery" data-toggle="tab">گالری</a></li>
                    <li id="galleryPicTab"><a href="#galleryPic" data-toggle="tab">تصاویر گالری</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="galleryGroup">
                        <div class="box-header">
                            <a onclick="openModalForAddGalleryGroup()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه گالری </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست گروه گالری بر اساس زبان</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            برای تعریف گالری و تصاویر آن ابتدا باید گروه آن در این قسمت
                                            تعریف شده سپس گالری تعریف شود و در آخر تصاویر گالری
                                            به گالری اختصاص داده شود
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="gallery">
                        <div class="box-header">
                            <a onclick="openModalForAddGallery()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گالری </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست گالری بر اساس گروه گالری</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="galleryGroup_ddl" asp-items="ViewBag.allGroups" class="form-control select2" onchange="GetAllGalleryByGroupId($(this).val())"></select>
                                </div>
                                <div class="col-md-4">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                شما در این بخش میتوانید با انتخاب گروه های تعریف شده
                                                گالری برای آنها تعریف نمایید
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllGallery">

                            </div>
                        </div>

                    </div>

                    <!--Tab 3-->
                    <div class="tab-pane" id="galleryPic">
                        <div class="box-header">
                            <a onclick="openModalForAddGalleryPicture()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن تصاویر گالری </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-7">
                                    <h3 class="box-title">لیست تصاویر گالری</h3>


                                </div>

                                <div class="col-md-5">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید برای گروه های تعریف شده اسلایدشو های سایت خود را
                                                تعریف کنید و درصورت فعال بودن وضعیت اسلایدشو , در سایت نمایش داده شود.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllGalleryPictures">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />

<!--Modal-->
<!--Modal-->
@section Scripts{
    <script>
        $(document).ready(function () {
            TestChangeLang('@CultureInfo.CurrentCulture.Name');
            GetAllGalleryGroup($("#language_ddl").val());
        });
    </script>
}