﻿@model IEnumerable<DomainClasses.Gallery.GalleryPicture>
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

<div class="form-group">
    <div class="col-lg-3">
        <select class="form-control" id="GalleryId" asp-items="ViewBag.gallery"></select>
    </div>
    <div class="box-header pull-left">
        <a onclick="checkboxSelectedGalleryPictures()" class=" btn btn-danger "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف تصاویر گالری </a>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed" id="galleryPic_tb">
    <thead>
        <tr>
            <th class="col-md-1">
                <input type="checkbox" id="checkAllGalleryPic" />
            </th>
            <th class="col-md-3">
                تصویر
            </th>
            <th>عنوان</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="gp_@item.ImageNames.Replace(".","_")">
            <td class="col-md-1">
                <input type="checkbox" name="forRemove" class="forRemove" value="@item.ImageNames" />
            </td>
            <td class="col-md-3">
                <img width="90" height="90" src="~/Files/GalleryPicture/@item.ImageNames" />
            </td>
            <td>
                @item.GalleryPicTitle
            </td>

        </tr>
    }
</table>

<script>
    table = $('#galleryPic_tb').DataTable();
    table.destroy();
    $('#galleryPic_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [
            { "className": "dt-center", "targets": "_all" }
        ]

    });
    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        //$("#checkAllGalleryPic").click(function () {
        //    $('input:checkbox').not(this).prop('checked', this.checked);
        //});
        //$('#galleryPic_tb').DataTable();




        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('input[id=checkAllGalleryPic]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllGalleryPic]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });

        //$('#galleryPic_tb').DataTable();

    });
</script>