﻿@model IEnumerable<DomainClasses.Gallery.Gallery>


<table class="table table-bordered table-hover table-striped" id="gallery_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalleryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="gallery_@item.Gallery_ID">
                <td>
                    @if (item.GalleryImage != null)
                    {
                        <img width="90" height="90" src="~/Files/Gallery/Thumb/@item.GalleryImage" />
                    }
                    else
                    {
                        <img width="90" height="90" src="~/images/noimage.png" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryTitle)
                </td>

                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }

                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditGallery(@item.Gallery_ID);"> <i class="fa fa-edit"></i> </button>
                        <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteGallery(@item.Gallery_ID);" style="margin-left:0px"> <i class="fa fa-trash"></i> </button>
                        <button class="btn btn-icon btn-warning btnIcon" onclick="ShowAllViewPictures(@item.Gallery_ID);"> <i class="fa fa-file-image"></i> </button>
                    </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/AdminDataTable.js"></script>  
