﻿@model IEnumerable<DomainClasses.Gallery.GalleryGroup>

<table id="galleryg_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryGroupTitle)
            </th>
            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="galleryGroup_@item.GalleryGroup_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.GalleryGroupTitle)
                </td>
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditGalleryGroup(@item.GalleryGroup_ID);"> <i class="fa fa-edit"></i> </button>
                    <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteGalleryGroup(@item.GalleryGroup_ID);"> <i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script >
    table = $('#galleryg_tb').DataTable();
    table.destroy();
    $('#galleryg_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [
            { "className": "dt-center", "targets": "_all" }
        ]

    });
</script>
