﻿@model ChangeUserNameViewModel
@{
    ViewData["Title"] = "Change password";
}
<style>
    .changetype {
        cursor: text;
        background-color: #fff;
    }
</style>
<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-warning"></i> توجه</h4>
    در صورت تغییر نام کاربری حساب شما بسته خواهد شد سپس باید وارد حساب خود شوید
</div>
<!-- /.box -->
<div class="row">
    <div class="col-md-6">


        <form method="post" id="Form_UserName" data-ajax="true" autocomplete="off">
            <div class="form-group">
                <label asp-for="NewUserName"></label>
                <input asp-for="NewUserName" id="NewUserName" type="text" class="form-control" />
                <span asp-validation-for="NewUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmUserName"></label>
                <input asp-for="ConfirmUserName" type="text" id="ConfirmUserName" class="form-control" />
                <span asp-validation-for="ConfirmUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password"  type="text"  style="background-color: #fff" class=" form-control " onfocus="ChangeTypeUserName()"  autocomplete="off"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-instagram" onclick="ChangeUsername()" />
            </div>
        </form>
    </div>
</div>
<script>
    function ChangeTypeUserName() {
        $("#Password").attr("type", "password");
    }
</script>
@section Scripts
    {


}

