﻿@model IEnumerable<DomainClasses.Supporter.CoWorker>
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/jquery.fancybox.css">

@{
    ViewData["Title"] = "گواهینامه ها و افتخارات شرکت آلیاژگستر هامون";
}
<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>گواهینامه ها و افتخارات</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 certificate">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="~/Files/Supporter/Temp/@item.Photo" rel="gallary1" class="fancy">
                        <figure class="figure">
                            <div class="certificate-img">
                                <img src="~/Files/Supporter/@item.Photo" class="figure-img img-fluid rounded" alt="@item.Title">
                            </div>
                            <figcaption class="figure-caption text-center">
                                <span>@item.Link</span>
                                @item.Title
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }

        </div>
    </div>
</div>>
<script src="~/SiteContent/js/jquery.fancybox.pack.js"></script>
<script>
    $(document).ready(function() {
        // fancy box
        $('.fancy').fancybox({
            'transitionIn'  :   'elastic',
            'transitionOut' :   'elastic',
            'speedIn'       :   700,
            'speedOut'      :   400,
            'opacity'       :   true,
            'overlayShow'   :   true,
            'overlayColor'  :   '#000',
            'hideOnContentClick': false,
            'hideOnOverlayClick': true
        });

    });
</script>