﻿@model ChangeUserNameViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="contentTitle text-center">ویرایش رمز عبور</div>
<div class="col-md-pull-3 col-md-9 col-sm-12 col-xs-12">
    <form class="form-horizontal form-register" data-ajax="true" method="post" id="Form_ChangeUserName" autocomplete="off">
        <div class="form-group">
            <label asp-for="NewUserName" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input11"> </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="NewUserName" class="form-control" id="NewUserName" onfocus="ChangeType()" required title="الزامی است">
                <span asp-validation-for="NewUserName"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmUserName" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input12"></label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="ConfirmUserName" class="form-control" id="ConfirmUserName" onfocus="ChangeType()" required title="الزامی است">
                <span asp-validation-for="ConfirmUserName"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label" for="input13">تکرار رمز عبور: </label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Password" class="form-control" id="Password" onfocus="ChangeType()" required title="الزامی است">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </form>
</div>
<div class="col-xs-12 button-style1" style="text-align: center;">
    <button type="button">انصراف</button>
    <button type="button" id="upload_password" onclick="ChangeUsername()">ویرایش</button>
</div>
<partial name="_ValidationScriptsPartial" />

<script>
    function ChangeType() {

        $("#Password").attr("type", "password");
    }
</script>
