﻿@model IEnumerable<DomainClasses.Contents.Contents>

@{
    ViewData["Title"] =(CultureInfo.CurrentCulture.Name == "fa-IR" ? "مطالب آموزشی شرکت آلیاژگستر هامون" : "HalyCo Educational Content");
    var x=ViewData["ContentGroupList"];
    IEnumerable<DomainClasses.Contents.Contents> m = Model;
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو مطالب آموزشی" : "Educational Content Archive")</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 product gallery">
            <div class="col col-12 col-md-6 col-xl-4">
                <div class="form-group articleSelect">
                    <select class="form-control"  asp-items="@ViewBag.ContentGroupList" onchange="showArticles($(this).val())">
                        <option value="0">@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "--- موضوع خود را انتخاب کنید ---" : "--- Select ---")</option>
                    </select>
                </div>
            </div>
            <div id="viewAll">
                <partial name="showArticles" model="m" />
            </div>
        </div>
    </div>
</div>