﻿

@model IEnumerable<Contents>

<div id="menu1" class="tab-pane fade in active">
    <div class="contentTitle">همه مطالب</div>
    @foreach (var item in ViewBag.allContents)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="tarinCarpet">
                <div class="thumbnail">
                    <img src="~/Files/Contents/Thumb/@item.ContentImage" class="img-responsive" alt="@item.ContentTitle">
                    <div class="caption">
                        <span>@item.ContentTitle</span>
                        <p class="articlesMain">@item.ContentSummary</p>
                        <div class="row">
                            <div class="col-xs-12 button-style1">
                                <a href="/Contents/ShowContentDetails/@item.ContentTitle.ToSlug()">ادامه مطلب</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="clearfix"></div>
    @*<nav style="text-align: center;">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </ul>
        </nav>*@
</div>
<!-- .................گروه اول............. -->
@foreach (var item in ViewBag.groups)
{
    <div id="@item.ContentGroup_ID" class="tab-pane fade">
        <div class="contentTitle" id="contentGroupTitle">@item.ContentGroupName</div>
    </div>
}


