﻿@model IEnumerable<DomainClasses.Contents.Contents>

@foreach (var item in Model)
{
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 product-box">
        <a asp-action="ShowContentDetails" asp-route-id="@item.ContentTitle.ToSlug()">
            <div class="product-img">
                <img src="~/Files/Contents/@item.ContentImage" alt="@item.ContentTitle">
            </div>
            <div class="product-title">
                <p>@item.ContentTitle</p>
            </div>
            <div class="product-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
        </a>
    </div>
}