﻿

@model IEnumerable<Contents>

@foreach (var item2 in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="tarinCarpet">
            <div class="thumbnail">
                <img src="~/Files/Contents/Thumb/@item2.ContentImage" class="img-responsive" alt="@item2.ContentTitle">
                <div class="caption">
                    <span>@item2.ContentTitle</span>
                    <p class="articlesMain">@item2.ContentSummary</p>
                    <div class="row">
                        <div class="col-xs-12 button-style1">
                            <a href="/Contents/ShowContentDetails/@item2.ContentTitle.ToSlug()">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}