﻿
@model Contents

@{
    ViewData["Title"] = Model.ContentTitle;
}
<link href="~/SiteContent/css/forms.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title detailDate">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "صفحه نخست" : "Home")</span></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Contents" asp-action="Index"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "آرشیو مطالب آموزشی" : "Educational Content Archive")</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@Model.ContentTitle</span></li>
                    <!--<li><span class="dataYekan"><i class="fa fa-calendar fa-2x"></i>سه‌شنبه ۱۲ آبان ۱۳۹۴</span></li>-->
                </ol>
                <span class="dataYekan"><i class="fa fa-calendar fa-2x"></i>@Model.CreateDate.ToLongShamsi()</span>

            </nav>
        </div>
        <div class="col-12 detail-product">
            <img src="~/Files/Contents/@Model.ContentImage" class="img-fluid" alt="@Model.ContentTitle">
            <h3>@Model.ContentSummary</h3>
            <div class="aboutUs">
                <p>
                    @Html.Raw(Model.ContentText)
                </p>

                <div class="col-12">
                    @{
                        if (ViewBag.ContentFiles != null)
                        {
                            var contentFiles = ViewBag.ContentFiles as IEnumerable<DomainClasses.Contents.ContentFiles>;
                            foreach (var item in contentFiles)
                            {
                                if (item.AVF.FileOrLink)
                                {
                                    <a href="~/Files/FileManage/@item.AVF.FileNameOrLink" target="_blank">
                                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 forms-file-upload">
                                            <div class="forms-file-record">
                                                <span class="fa fa-file"></span>
                                                <p class="forms-file-title">@item.AVF.AVFTitle</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 forms-file-upload">
                                        @Html.Raw(item.AVF.FileNameOrLink)
                                    </div>
                                }
                            }
                        }
                    }


                </div>
            </div>
        </div>
    </div>
</div>


<script>
        $(document).ready(function () {
            $('.aboutUs img').addClass('img-fluid');
        });
</script>