﻿@model IEnumerable<ContentsGroup>

<ul class="nav  nav-stacked">
    <li class="active"><a data-toggle="pill" href="#menu1" onclick="hideNav();">همه مطالب</a></li>

    @foreach (var item in Model)
    {
        <li onclick="GetAllContentsByGroupId($(this).children('a').attr('href'))"><a data-toggle="pill" href="#@item.ContentGroup_ID" onclick="hideNav();">@item.ContentGroupName</a></li>
    }
</ul>
