﻿@model DomainClasses.NewsLetters.NewsLetterGroup

@{
    ViewData["Title"] = "CreateGroup";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateGroup" id="nlGroupFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsActive" id="isActive" checked="checked" /> فعال هست
                </label>
            </div>
        
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertNewsLetterGroup();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
