﻿
@{
    ViewData["Title"] = "مدیریت خبرنامه";
}

<style>
    .btnMargin-5 {
        margin-bottom: 6px;
    }

    .btnWidth-8 {
        width: 8px;
    }

    .listHeight {
        height: 121px !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#newsletterGroup" data-toggle="tab">گروه خبرنامه</a></li>
                    <li class=""><a href="#newsLetter" data-toggle="tab">خبرنامه</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="newsletterGroup">
                        <p>
                            <button type="button" class="btn btn-success btnMargin" onclick="openModalForAddNewsLetterGroup();"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه خبرنامه</button>
                        </p>

                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست گروه خبرنامه</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            برای تعریف , حذف و یا ویرایش گروه خبرنامه
                                            سایت این بخش تعریف شده است.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="newsLetter">


                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-6">
                                    <h3 class="box-title">لیست افراد ثبت نامی در خبرنامه بر اساس گروه</h3>
                                </div>
                                <div class="col-md-3">
                                    <select id="newsLetterGroup_ddl" class="form-control select2" onchange="GetAllNewsLetterByGroupId($(this).val())"></select>
                                </div>
                                <div class="col-md-3">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش شما می توانید افرادی که در خبرنامه
                                                ثبت نام کرده اند را بر اساس گروه مشاهده نمایید
                                                و ایمیل خود را ارسال نمایید.
                                                (برای یک یا چند نفر)
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllNewsLetters">


                                <div class="row form-group">
                                    <div class="col-lg-5">
                                        <span>اعضای خبرنامه</span>
                                        <select multiple="" id="NLMember_lb" class="form-control NLMember_lb listHeight"></select>
                                    </div>
                                    <div class="col-lg-1">
                                        <br />
                                        <button type="button" id="transferOneItem_btn" class="btn-danger btnMargin-5" title="انتقال یک آیتم"><i class="fa fa-angle-left btnWidth-8"></i></button>
                                        <button type="button" id="transferAllItem_btn" class="btn-danger btnMargin-5" title="انتقال تمام آیتم ها"><i class="fa fa-angle-double-left"></i></button>
                                        <br />
                                        <button type="button" id="RemoveOneItem_btn" class="btn-danger btnMargin-5" title="انتقال یک آیتم"><i class="fa fa-angle-right btnWidth-8"></i></button>
                                        <button type="button" id="RemoveAllItem_btn" class="btn-danger btnMargin-5" title="انتقال تمام آیتم ها"><i class="fa fa-angle-double-right"></i></button>
                                    </div>
                                    <div class="col-lg-5">
                                        <span>اعضای ارسالی</span>
                                        <select multiple="" id="NLMemberSend_lb" class="form-control NLMemberSend_lb listHeight"></select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="control-label ">عنوان ایمیل خبرنامه </label>
                                        <input class="form-control TextRequired" type="text" id="txtTitle" />
                                        <br /><br />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label required">متن ایمیل</label>
                                    <textarea id="txtContext" class="form-control"></textarea>
                                </div>
                               
                                <div class="form-group col-sm-12 text-center">
                                    <button type="button" onclick="SendEmail();" class="btn btn-success waves-effect waves-light">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-send "></i>
                                        </span>ارسال ایمیل
                                    </button>
                                    <div class="form-group">
                                        <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>


@section Scripts{

    @*<script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>*@

    <script>
        $(document).ready(function () {
            //$("#txtContext").ckeditor();
        CKEDITOR.replace('txtContext', {
            customConfig: '/ckeditor/config.js'
        });

            changeLanguage($("#language_ddl").val());
            GetAllNewsLetterGroup($("#language_ddl").val(), "#newsLetterGroup_ddl");


        });


        $('#transferOneItem_btn').click(
            function (e) {
                $('.NLMember_lb > option:selected').appendTo('.NLMemberSend_lb');
                e.preventDefault();
            });

        $('#transferAllItem_btn').click(
            function (e) {
                $('.NLMember_lb > option').appendTo('.NLMemberSend_lb');
                e.preventDefault();
            });

        $('#RemoveOneItem_btn').click(
            function (e) {
                $('.NLMemberSend_lb > option:selected').appendTo('.NLMember_lb');
                e.preventDefault();
            });

        $('#RemoveAllItem_btn').click(
            function (e) {
                $('.NLMemberSend_lb > option').appendTo('.NLMember_lb');
                e.preventDefault();
            });




    </script>
}