﻿@model IEnumerable<DomainClasses.NewsLetters.NewsLetterGroup>


<table id="newsLetterGroup_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="nlg_@item.Group_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-fw fa-close text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditNewsLetterGroup(@item.Group_ID);"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteNewsLettersGroup(@item.Group_ID);"><i class="fa fa-trash"></i></button>
                    </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/AdminDataTable.js"></script>
