﻿@model DomainClasses.ContactUsMessage.ContactusMessage

@{
    ViewData["Title"] = "EditCM";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditCM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactusMessage_ID" id="ContactusMessage_ID" />
            <input type="hidden" asp-for="CMGId" id="CMGId" />
            <input type="hidden" asp-for="SendDate" id="SendDate" />

            <div class="form-group">
                <div class="col-md-6">
                    نام :  <label class="control-label" id="SenderName" asp-for="SenderName">@Model.SenderName</label>
                </div>
                <div class="col-md-6">
                    تلفن همراه : <label class="control-label" id="SenderMobile" asp-for="SenderMobile">@Model.SenderMobile</label>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    ایمیل : <label class="control-label" id="SenderEmail" asp-for="SenderEmail">@Model.SenderEmail</label>

                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <span class="control-label"> متن پیام :</span>
                    <label id="MessageText" asp-for="MessageText">@Model.MessageText</label>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <span class="control-label"> پاسخ پیام :</span>
                    <br />
                    <textarea rows="6" asp-for="MessageAnswer" id="MessageAnswer" class="form-control" onkeyup="CheckIsEmptyCMForm();"></textarea>
                    <span asp-validation-for="MessageAnswer" class="text-danger"></span>
                    <span id="MessageAnswer_lbl" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
           
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light"  onclick="UpdateContactusMessage();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-send "></i>
                    </span>ارسال
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#MessageAnswer_lbl').text("تعداد کاراکتر مجاز ورودی: 0/2000");
            $('#MessageAnswer').keyup(function (event) {
                textCounter();
            });
        });
        function textCounter() {
            var divlength = $('#MessageAnswer').val().length;
            if (divlength > 2000) {
                var trimmedtext = $('#MessageAnswer').val().substring(0, 2000);
                $('#MessageAnswer').val(trimmedtext);
            }
            else {
                var remaningchar = 0;
                if (divlength > 0) {
                    remaningchar = 2000 - divlength;
                }
                $('#MessageAnswer_lbl').text("تعداد کاراکتر مجاز ورودی : " + remaningchar + "/2000");
            }
        }
    </script>
