﻿
@{
    ViewData["Title"] = "مدیریت پیام های ارتباطی";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contactUsMsgGroup" data-toggle="tab">گروه پیام های ارتباطی</a></li>
                    <li><a href="#contactUsMsg" data-toggle="tab">پیام های ارتباطی</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="contactUsMsgGroup">
                        <div class="box-header">
                            <a onclick="openModalForAddContactusMessageGroup()" class=" btn btn-success btn-skype col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گروه جدید </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست گروه پیام های ارتباطی</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            پیام هایی که کاربران در قسمت ارتباط با ما سایت به مدیر ارسال می کنند
                                            ممکن است مربوط به بخش های مختلفی باشد مثلا بخش پشتیبانی .
                                            که این بخش ها در این قسمت از پنل تعریف میشوند
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="contactUsMsg">
                        @*<p>
                            <button type="button" class="btn btn-success btn-flat btnMargin" onclick="openModalForAddSlideShow();">افزودن پیا</button>
                        </p>*@

                        <div class="box box-warning">
                            <div class="box-header">
                                <div class="col-md-3">
                                    <h3 class="box-title">لیست پیام ها بر اساس گروه</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="contactusMsgGroup_ddl" class="form-control select2" onchange="GetAllContactusMessageByGroupId($(this).val())"></select>
                                </div>
                                <div class="col-md-5">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                               در این بخش شما می توانید پیام مخصوص به هربخش را بوسیله لیست بازشو بالا
                                                مشاهده و درصورت لزوم به آن پیام پاسخ ارسال کنید که این پاسخ میتواند از طریق
                                                ارسال اس ام اس یا ارسال ایمیل یا هردو آن باشد
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllContactusMessage">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
         
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->

@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
            GetAllContactusMessageGroupByLang($("#language_ddl").val());
        });
    </script>
}