﻿@model IEnumerable<DomainClasses.ContactUsMessage.ContactusMessageGroup>


<table id="contactUsGroup_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CMGName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="cmg_@item.CMG_ID">
            <td>
                @Html.DisplayFor(modelItem => item.CMGName)
            </td>
            @if (item.IsActive)
            {
                <td>
                    <i class="fa fa-check text-success" title="فعال"></i>
                </td>
            }
            else
            {
                <td>
                    <i class="fa fa-times text-danger" title="غیر فعال"></i>
                </td>
            }
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditContactusMessageGroup(@item.CMG_ID);"> <i class="fa fa-edit"></i> </button>
                <button class="btn btn-icon btn-danger btnIcon"  onclick="DeleteContactusMessageGroup(@item.CMG_ID);"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
