﻿@using Utilities

@model IEnumerable<DomainClasses.ContactUsMessage.ContactusMessage>

<link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>


<div class="box-header pull-left">
    <a onclick="checkboxSelectedForCM()" class=" btn btn-danger btn-skype "><i class="fa fa-trash">&nbsp; &nbsp;</i>حذف پیام های ارتباطی </a>
</div>
<table id="contactUs_tb" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>

            <th>
                <input type="checkbox" id="checkAllCM" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.SenderMobile)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.SendDate)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsNew)  //برای مشخص شدن پیام های جدید از قدیمی از این ایف و الس استفاده میکنیم
            {
                <tr id="cm_@item.ContactusMessage_ID" class="IsNew">
                    <td>
                        <input type="checkbox" class="forRemove" value="@item.ContactusMessage_ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderEmail)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.SenderMobile)
                        </td>*@
                    <td>
                        @item.SendDate.ToShamsi()
                    </td>
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForReplyToMessage(@item.ContactusMessage_ID);"> <i class="fa fa-eye"></i> </button>
                    </td>
                </tr>
            }
            else
            {
                <tr id="cm_@item.ContactusMessage_ID">
                    <td>
                        <input type="checkbox" class="forRemove" value="@item.ContactusMessage_ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenderEmail)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.SenderMobile)
                        </td>*@
                    <td>
                        @item.SendDate.ToShamsi()
                    </td>
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForReplyToMessage(@item.ContactusMessage_ID);"> <i class="fa fa-eye"></i> </button>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>

<script>

    //این تکه کد برای تیک خوردن یا نخوردن تمام چک باکس ها با کلیک روی چک باکس هدر
    $(function () {
        $('input[id=checkAllCM]').on('ifChecked', function (event) {
            $('.icheckbox_square-blue').addClass('checked');
        });
        $('input[id=checkAllCM]').on('ifUnchecked', function (event) {
            $('.icheckbox_square-blue').removeClass('checked');
        });
    });


    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>