﻿@model DomainClasses.Employees.Vacation


<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Vacation_ID" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@Model.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@Model.Employee_V_1.ApplicationUser.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@Model.CreateDate.ToShamsi()</span>
                    </div>
                </div>
                <br /><br />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="control-label">نوع مرخصی</label>
                        <select class="form-control" asp-for="VacationType" onchange="changeVacationType($(this).val());" disabled="disabled">
                            <option value="true">روزانه</option>
                            <option value="false">ساعتی</option>
                        </select>
                    </div>

                    @if (Model.Employee_V_1.ApplicationUser.Employee.HasAlternateEmployee.Value)
                    {
                        <div class="col-md-4">
                            <label class="control-label">کارمند جایگزین</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-items="@ViewBag.coworkerEmployeelist" asp-for="PersonalCodeSecond" id="alternateList_ddl" disabled="disabled">
                                    <option value="">انتخاب کنید...</option>
                                </select>
                                <span asp-validation-for="PersonalCodeSecond" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="StatusAlternateSignature" onchange="changeStatusAlternateSignature($(this).val());">
                                    <option>نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>

                    }
                </div>
                @if (Model.Employee_V_1.ApplicationUser.Employee.HasAlternateEmployee.Value)
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="AlternateSignatureReason" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <textarea type="text" class="form-control" asp-for="AlternateSignatureReason" ></textarea>
                                <span asp-validation-for="AlternateSignatureReason" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group" id="DayVacation">
                    <div class="col-md-4">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="DayVacationStartDate" id="StartDate" class="form-control TextRequired"  disabled="disabled"/>
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="DayVacationStartDate"  disabled="disabled">
                            <span asp-validation-for="DayVacationStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="DayVacationEndDate" id="EndDate" class="form-control TextRequired"  disabled="disabled"/>
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" asp-for="DayVacationEndDate" disabled="disabled">
                            <span asp-validation-for="DayVacationEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Duration" class="control-label"></label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fas fa-puzzle-piece"></i>
                            </div>
                            <input type="number" class="form-control" asp-for="Duration"  disabled="disabled"/>
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="TimeVacation">
                    <div class="col-md-4">
                        <label>تاریخ مرخصی ساعتی </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="DateVacationTime" id="VacationTimeDate" class="form-control TextRequired"  disabled="disabled"/>
                            <input type="text" id="tarikhAlt3" class="form-control hidden pull-right" asp-for="DateVacationTime" disabled="disabled">
                            <span asp-validation-for="DateVacationTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="StartTime" type="text" class="form-control TextRequired"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="EndTime" type="text" class="form-control TextRequired"  disabled="disabled"/>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label asp-for="VacationReason" class="control-label"></label>
                        <textarea asp-for="VacationReason" class="form-control" disabled="disabled"></textarea>
                        <span asp-validation-for="VacationReason" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                        <button type="button" onclick="UpdateVacationCoworker();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ویرایش
                        </button>
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js"></script>
<script>
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true
                //},
            });

            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

            $('#VacationTimeDate').persianDatepicker({
                altField: '#tarikhAlt3',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

        });


</script>
<script>
    changeStatusAlternateSignature($('#StatusAlternateSignature').val());

    function changeStatusAlternateSignature(value) {
        if (value == "false") {
            $('#AlternateSignatureReason').prop('readonly', false);
        } else {
            $('#AlternateSignatureReason').prop('readonly', true);
        }
    }
</script>
<script>
    changeVacationType($('#VacationType').val());

    function changeVacationType(value) {
        if (value == 'true') {
            $('#TimeVacation').addClass('hidden');
            $('#DayVacation').removeClass('hidden');
        } else {
            $('#DayVacation').addClass('hidden');
            $('#TimeVacation').removeClass('hidden');
        }
    }
</script>


