﻿@{
    ViewData["Title"] = "مرخصی همکاران";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    @*<a onclick="openModalForAddVacationNew()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>ثبت درخواست</a>*@
                    &nbsp;&nbsp;&nbsp;&nbsp;<h3 class="box-title">لیست مرخصی های همکاران</h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;<b class="col-sm-2">فیلتر بر اساس:</b>
                    <select class="col-lg-2 " onchange="ViewAllVacationCoworkerList(@ViewBag.PersonalCode,$(this).val())" id="filterList_ddl">
                        <option value="">بدون فیلتر</option>
                        <option value="-1" selected="selected">بررسی نشده</option>
                        <option value="1">تایید شده</option>
                        <option value="0">تایید نشده</option>
                    </select>
                    <div class="pull-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>این بخش جهت مشاهده مرخصی های کارمندان می باشد</span>
                        </a>
                    </div>
                </div>
                <div class="box-body" id="viewAll">
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            ViewAllVacationCoworkerList(@ViewBag.PersonalCode,$('#filterList_ddl').val());
        });
    </script>
}