﻿@model IEnumerable<DomainClasses.Contents.Contents>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentTitle)
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">عملیات</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu ulbgColor" role="menu">
                            <li><a class="fa fa-fw fa-edit fontaweColor" onclick="openModalForEditImportaionPart();">     ویرایش   </a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
