﻿@model CustomerAddress
<style>
    label {
    }
</style>
<div class="col-xs-12 mainAccordion padding">
    <h3 class="accordion">افزودن آدرس جدید</h3>
    <div class="panel padding">
        <form asp-action="Create" id="Form_Id" method="post" asp-controller="CustomerAddresses"
              data-ajax="true"
              data-ajax-method="Post"
              data-ajax-mode="replace"
              data-ajax-loading="#div-loading"
              data-ajax-success="Address_Success"
              data-ajax-failure="Address_Failure">
            <div class="box-body">
                <div class=" col-sm-12 col-xs-12">

                    <div class="form-group col-sm-6">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control " />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control " />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-sm-12 col-xs-12">

                    <div class="form-group col-sm-6">
                        <label asp-for="City_Id" class="control-label"></label>
                        <select class="form-control select2 " asp-for="City_Id" id="Cities">
                            <option id="0">ابتدا استان را انتخاب کنید</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="State_Id" class="control-label"></label>
                        <select class="form-control select2 " asp-for="State_Id" onchange="ListReceiver(this.value)" asp-items="ViewBag.Province">
                            <option id="0" value="0">ابتدا استان را انتخاب کنید</option>
                        </select>
                    </div>
                </div>
                <div class=" col-sm-12 col-xs-12">
                    <div class="form-group col-sm-12">
                        <label asp-for="Address" class="control-label"></label>
                        <textarea rows="5" asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group  text-center">
                        <button type="submit" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <script src="~/js/Ajax/ManageAddress.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
