﻿@model DomainClasses.Employees.Loan

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="AddLoan_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="loanID" />
                <input type="hidden" asp-for="CreateDate" />
                <input type="hidden" asp-for="PersonalCode_superior"  />
                <input type="hidden" asp-for="PersonalCode_manager" value="@ViewBag.PersonalCode" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode" class="text-blue">@Model.PersonalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span class="text-blue">@Model.Employee_lo_1.ApplicationUser.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span class="text-blue">@Model.CreateDate.ToShamsi()</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label asp-for="loanType" class="control-label"></label>
                        <select asp-for="loanType" class="form-control" disabled="disabled">
                            <option value="0">عادی</option>
                            <option value="1">اضطراری</option>
                            <option value="2">مسافرت</option>
                            <option value="3">دندان پزشکی</option>
                        </select>
                        <span asp-validation-for="loanType" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="loanReason" class="control-label"></label>
                        <select asp-for="loanReason" class="form-control" disabled="disabled">
                            <option value="1">ازدواج</option>
                            <option value="2">بیماری</option>
                            <option value="3">فوت بستگان</option>
                            <option value="0">سایر</option>
                        </select>
                        <span asp-validation-for="loanType" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="loanReasonDescription" class="control-label"></label>
                        <textarea asp-for="loanReasonDescription" class="form-control" disabled="disabled"></textarea>
                        <span asp-validation-for="loanReasonDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-3">
                        <label asp-for="amount" class="control-label"></label>
                        <input asp-for="amount" class="form-control" type="number" disabled="disabled" />
                        <span asp-validation-for="amount" class="text-danger"></span>
                    </div>
                    <div class="col-md-9">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" disabled="disabled"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label asp-for="StatusSuperiorSignature" class="control-label"></label>
                        <select asp-for="StatusSuperiorSignature" class="form-control" disabled="disabled">
                            <option>نامشخص</option>
                            <option value="true">تایید</option>
                            <option value="false">عدم تایید</option>
                        </select>
                        <span asp-validation-for="StatusSuperiorSignature" class="text-danger"></span>
                    </div>
                    <div class="col-md-9">
                        <label asp-for="SuperiorReason" class="control-label"></label>
                        <textarea type="text" asp-for="SuperiorReason" class="form-control pull-right" readonly="readonly"></textarea>
                        <span asp-validation-for="SuperiorReason" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label asp-for="StatusManagerSignature" class="control-label"></label>
                        <select asp-for="StatusManagerSignature" class="form-control" onchange="changeloanReason($(this).val());">
                            <option>نامشخص</option>
                            <option value="true">تایید</option>
                            <option value="false">عدم تایید</option>
                        </select>
                        <span asp-validation-for="StatusManagerSignature" class="text-danger"></span>
                    </div>
                    <div class="col-md-9">
                        <label asp-for="ManagerReason" class="control-label"></label>
                        <textarea type="text" asp-for="ManagerReason" class="form-control pull-right"></textarea>
                        <span asp-validation-for="ManagerReason" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label asp-for="StatusHRManagerSignature" class="control-label"></label>
                        <select asp-for="StatusHRManagerSignature" class="form-control" disabled="disabled">
                            <option>نامشخص</option>
                            <option value="true">تایید</option>
                            <option value="false">عدم تایید</option>
                        </select>
                        <span asp-validation-for="StatusHRManagerSignature" class="text-danger"></span>
                    </div>
                    <div class="col-md-9">
                        <label asp-for="HRManagerReason" class="control-label"></label>
                        <textarea type="text" asp-for="HRManagerReason" class="form-control pull-right" readonly="readonly"></textarea>
                        <span asp-validation-for="HRManagerReason" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    @if (Model.StatusHRManagerSignature != null)
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light disabled">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit StatusHRManagerSignature"></i>
                            </span>ویرایش
                        </button>
                    }
                    else if (Model.Employee_lo_1.ApplicationUser.Employee.SupervisionLevel == 1)
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light disabled">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit SupervisionLevel-1"></i>
                            </span>ویرایش
                        </button>
                    }
                    else if (ViewBag.CanEdit == false)
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light disabled">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit CanEdit"></i>
                            </span>ویرایش
                        </button>
                    }
                    else
                    {
                        <button type="button" onclick="UpdateLoanManager();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ویرایش
                        </button>
                    }
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    changeloanReason($('#StatusManagerSignature').val());

    function changeloanReason(value) {
        if (value == "false") {
            $('#ManagerReason').prop('readonly', false);
        } else {
            $('#ManagerReason').prop('readonly', true);
        }
    }
</script>

