﻿@model List<FeatureReply>

@foreach (var item in Model)
{
    <div class="filter">
        <div class="checkboxlist pull-right">
            <input type="checkbox" value="@item.FeatureReply_ID" id="fr_@item.FeatureReply_ID" class="pf" onchange="searchProduct();">
            <label for="fr_@item.FeatureReply_ID"></label>
        </div>
        <label for="fr_@item.FeatureReply_ID" class="font-farsi">
            @item.FeatureReplyText
        </label>
    </div>
}
