﻿@using Utilities
@model IEnumerable<DomainClasses.Employees.EmployeeSalary>

<style>
    .textColor {
        color: #2388d2dd;
    }
</style>

<div class="box-body">

    <div class="form-group">
        <div class="col-md-4">
            <span class="control-label">نام و نام خانوادگی :</span>
            <label class="control-label textColor">@Model.FirstOrDefault().Employee.ApplicationUser.FullName</label>
        </div>
        <div class="col-md-4">
            <span class="control-label">شماره پرسنلی :</span>
            <label class="control-label textColor" id="lblPersonalCode">@Model.FirstOrDefault().PersonalCode</label>

        </div>
    </div>
</div>

<table class="table table table-bordered table-hover table-striped" id="empSalary_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalMah)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SalMah.DigitToPersianMonth(2)
                </td>
                <td>
                    <button class="btn btn-icon btn-warning btnIcon" title="جزئیات فیش حقوقی" onclick="ShowEmployeeSalaryDetails('@item.Salary_ID')"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<script>
    table = $('#empSalary_tb').DataTable();
    table.destroy();
    $('#empSalary_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>*@
