﻿@model DomainClasses.Employees.EmployeeSalary

@{
    int jameMazaya = 0;
    jameMazaya = Model.FR_Hogug_Payeh + Model.FR_HAG_MASKAN + Model.FR_bon_kargari + Model.FR_Ayab_Zahab + Model.FR_Hag_Jazb + Model.FR_HAG_MASULEYAT + Model.FR_HAG_OLAD + Model.FR_Karane + Model.FR_mozd_sanavat + Model.SP_Ezafe_Kar;
}
    <link href="~/css/print.css" rel="stylesheet" asp-append-version="true"/>
<style>
    .fish-header{
height:33px;
text-align:center;
    }
    .columns {
    display:flex;
    flex-direction:column;
    }
    .flex-column {
    display:flex;
    justify-content:space-between;
    }
        .flex-column + .flex-column {
            border-top:1px solid #808080;
        }
        .flex-column span {
            padding:6px;
            font-size:14px;
            
        }
    .bg-info.col-md-12 {
    padding:0;
    }
    .last-row {
        margin-bottom: 15px;
        margin-top: auto;
        border-top: 1px solid #808080;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 forms">
            <div class="col-xs-12 payroll" id="print-factor">
                <div class="col-xs-12 payroll-header">
                    <div class="col-xs-3">
                        <p>کد کارمند : <span>@Model.PersonalCode</span></p>
                        <p>نام و نام خانوادگی : <span>@Model.Employee.ApplicationUser.FullName</span></p>
                        <p>محل خدمت : <span>@Model.NameMahaleKhedmatHokmi</span></p>
                    </div>
                    <div class="col-xs-6 text-center payroll-title">
                        <h4>شرکت آلیاژ گستر هامون</h4>
                        <h6>فیش حقوقی @Model.SalMah.DigitToPersianMonth(2)</h6>
                    </div>
                    <div class="col-xs-3">
                        <p>شماره بیمه : <span>0</span></p>
                        <p>بانک : <span>0</span></p>
                        <p>شماره حساب : <span>0</span></p>
                    </div>
                </div>
                <div class="col-xs-12" id="xx" >
                            
                        
                    <div id="firstColumn" class="col-md-4 fish columns">
                        
                        <div class="col-xs-12 bg-info text-center"><h5>حقوق مزایا</h5></div>
                        @if (Model.FR_Hogug_Payeh != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حقوق پایه</span><span>@Model.FR_Hogug_Payeh.ToString("#,0")</span>
                            </div>}

                        @if (Model.FR_HAG_MASKAN != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق مسکن</span><span>@Model.FR_HAG_MASKAN.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_bon_kargari != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>بن کارگری</span><span>@Model.FR_bon_kargari.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_Ayab_Zahab != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>ایاب و ذهاب</span><span>@Model.FR_Ayab_Zahab.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_Hag_Jazb != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق جذب</span><span>@Model.FR_Hag_Jazb.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_HAG_MASULEYAT != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق مسولیت</span><span>@Model.FR_HAG_MASULEYAT.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_HAG_OLAD != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق اولاد</span><span>@Model.FR_HAG_OLAD.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_Karane != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>کارانه</span><span>@Model.FR_Karane.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_mozd_sanavat != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>مزد سنوات</span><span>@Model.FR_mozd_sanavat.ToString("#,0")</span>
                            </div>}
                        @if (Model.SP_Ezafe_Kar != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>مبلغ اضافه کار</span><span>@Model.SP_Ezafe_Kar.ToString("#,0")</span>
                            </div>}
                        @if (Model.SP_mablagh_MAMOREYAT != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق ماموریت</span><span>@Model.SP_mablagh_MAMOREYAT.ToString("#,0")</span>
                            </div>}
                        @if (Model.SP_mablagh_nobatkari != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>حق شیفت</span><span>@Model.SP_mablagh_nobatkari.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_padash__ != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>پاداش</span><span>@Model.FR_padash__.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_Eydi != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>عیدی</span><span>@Model.FR_Eydi.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_mamoriat_vizhe__ != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>ماموریت ویژه</span><span>@Model.FR_mamoriat_vizhe__.ToString("#,0")</span>
                            </div>}
                        @if (Model.FR_tafavot_tatbigh__ != 0)
                        {<div class='col-md-12 flex-column'>
                                <span>تفاوت تطبیق</span><span>@Model.FR_tafavot_tatbigh__.ToString("#,0")</span>
                            </div>}
                        <div class="col-md-12 bg-info flex-column last-row"><span>جمع حقوق و مزایا</span><span>@Model.SP_Jame_Ezafat.ToString("#,0")</span></div>

                    </div>
                    @*ستون دوم*@
                <div id="secondColumn" class="col-md-4 columns">
                    <div class="col-xs-12 bg-info text-center"><h5>کسورات</h5></div>

                    @if (Model.FR_Bime_Takmili != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>بیمه تکمیلی</span><span>@Model.FR_Bime_Takmili.ToString("#,0")</span>
                        </div>}
                    @if (Model.FR_Bimeh_mashin != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>بیمه ماشین</span><span>@Model.FR_Bimeh_mashin.ToString("#,0")</span>
                        </div>}
                    @if (Model.FR_mosaede != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مساعده</span><span>@Model.FR_mosaede.ToString("#,0")</span>
                        </div>}
                    @if (Model.FR_Sandogh_Z_V != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>صندوق ذخیره وام</span><span>@Model.FR_Sandogh_Z_V.ToString("#,0")</span>
                        </div>}
                    @if (Model.SP_Hag_Bimeh_Karmand != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>حق بیمه کارمند</span><span>@Model.SP_Hag_Bimeh_Karmand.ToString("#,0")</span>
                        </div>}
                    @if (Model.SP_Malyat_hoghogh != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مالیات حقوق</span><span>@Model.SP_Malyat_hoghogh.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamGhest1 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>قسط وام 1</span><span>@Model.SY_KE_VamGhest1.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamGhest2 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>قسط وام2</span><span>@Model.SY_KE_VamGhest2.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamGhest3 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>قسط وام 3</span><span>@Model.SY_KE_VamGhest3.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamGhest4 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>قسط وام 4</span><span>@Model.SY_KE_VamGhest4.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamGhest5 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>قسط وام 5</span><span>@Model.SY_KE_VamGhest5.ToString("#,0")</span>
                        </div>}
                    @if (Model.FR_m_maliat_EYDI != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مالیات عیدی</span><span>@Model.FR_m_maliat_EYDI.ToString("#,0")</span>
                        </div>}
                    <div class="col-md-12 bg-info flex-column last-row"><span>جمع کسورات</span><span>@Model.SP_Jame_Kosurat.ToString("#,0")</span></div>

                </div>
                    @*ستون سوم*@
                <div id="thirdColumn" class="col-md-4 columns">
                    <div class="col-xs-12 bg-info text-center"><h5>وضعیت</h5></div>
                    @if (Model.FR_DastmozdRoozaneh != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>دستمزد روزانه</span><span>@Model.FR_DastmozdRoozaneh.ToString("#,0")</span>
                        </div>}
                    @if (Model.SP_MashMul_Bimeh != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مشمول بیمه</span><span>@Model.SP_MashMul_Bimeh.ToString("#,0")</span>
                        </div>}
                    @if (Model.SP_Mashmul_Maleyat != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مشمول مالیات</span><span>@Model.SP_Mashmul_Maleyat.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamMandeh1 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مانده وام</span><span>@Model.SY_KE_VamMandeh1.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamMandeh2 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مانده وام 2</span><span>@Model.SY_KE_VamMandeh2.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamMandeh3 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مانده وام 3</span><span>@Model.SY_KE_VamMandeh3.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_KE_VamMandeh4 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مانده وام 4</span><span>@Model.SY_KE_VamMandeh4.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_Saat_AzafeKar != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>تعداد ساعت اضافه کار</span><span>@Model.SY_Saat_AzafeKar</span>
                        </div>}
                    @if (Model.SY_KE_VamMandeh5 != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>مانده وام 5</span><span>@Model.SY_KE_VamMandeh5.ToString("#,0")</span>
                        </div>}
                    @if (Model.SY_Tadad_Ruz_Kar != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>کارکرد روزانه</span><span>@Model.SY_Tadad_Ruz_Kar</span>
                        </div>}
                    @if (Model.FR_MandehMorakhasi != "0")
                    {<div class='col-md-12 flex-column'>
                            <span>مانده مرخصی</span><span>@Model.FR_MandehMorakhasi</span>
                        </div>}
                    @if (Model.FR_mamoriat != 0)
                    {<div class='col-md-12 flex-column'>
                            <span>تعداد ماموریت</span><span>@Model.FR_mamoriat</span>
                        </div>}
                    <div class="col-md-12 bg-info flex-column last-row"><span>خالص پرداختی</span><span>@Model.SP_Khales_Pardakhti.ToString("#,0")</span></div>

                </div>

                    
                    <div class="hidden row">
                        <div>توضیحات :<span></span></div>
                        <div></div>
                        <div>امضا : <span></span></div>
                    </div>
                  
                </div>
            </div>
            <div class="col-xs-12 style-btn text-left">
                <a class="btn btn-danger" onclick="jQuery.print('#print-factor')"><i class="fa fa-print mg-lf"></i> چاپ فیش حقوق </a>
            </div>
        </div>
    </div>
</div>
<script src="~/SiteContent/js/jQuery.print.js"></script>
<script>
    window.setTimeout(function cc2() {
        var first = parseInt( $('#firstColumn').height());
            var second =parseInt( $('#secondColumn').height());
            var third =parseInt( $('#thirdColumn').height());
            console.log('f: '+first);
            console.log('s: '+second);
        console.log('t: ' + third);
        var tallest;
        if (first > second) {
            if (first > third) {
                tallest = first;
            } else {
                tallest = third;
            }
        } else {
            if (second > third) {
                tallest = second;
            } else {
                tallest = third;
            }
        }
        $('#firstColumn').height(tallest);
        $('#secondColumn').height(tallest);
        $('#thirdColumn').height(tallest);

    }, 1000);

   
</script>
