﻿@model DomainClasses.Supporter.CoWorker

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="cwFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12 text-center">
                <div class="col-md-4">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" id="Type" class="form-control">
                        <option value="1">گواهینامه</option>
                        <option value="0">افتخار</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control TextRequired" type="file" id="photoUploader" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <img height="90" width="90" id="imgPreview" />
                </div>


            </div>
            <div class="form-group col-md-12 ">
                <div class="col-md-3">
                    <label>
                        <input asp-for="IsActive" id="IsActive" /> فعال هست
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertSupporter();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#photoUploader").change(function () {
        readURL(this);
    });
</script>
