﻿
@{
    ViewData["Title"] = " مدیریت گواهینامه ها و افتخارات";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddSupporter()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن گواهینامه و افتخار  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست گواهینامه ها و افتخارات</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش شما می توانید گواهینامه ها و افتخارات را تعریف کنید
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
               
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>
        $(document).ready(function () {

            changeLanguage($("#language_ddl").val());
        });

    </script>
}

