﻿@model IEnumerable<DomainClasses.Supporter.CoWorker>


<table class="table table-bordered table-hover table-striped" id="coWorker_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th class="col-sm-5">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="cw_@item.CoWorker_ID">
                <td>
                    <img width="90" height="90" src="~/Files/Supporter/@item.Photo" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>


                @if (item.Type)
                {
                    <td>
                        گواهینامه
                    </td>
                }
                else
                {
                    <td>
                        افتخار
                    </td>
                }

                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }
                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditSupporter(@item.CoWorker_ID);"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-icon btn-danger btnIcon" title="حذف" onclick="DeleteSupporter(@item.CoWorker_ID);"><i class="fa fa-trash"></i></button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
