﻿@model ViewModels.VacationSuperiorViewModel

<style>
    .clockpicker-popover {
        z-index: 4000;
    }

    .d-flex {
        display: flex;
    }
</style>
@*<link href="~/css/temp.css" rel="stylesheet" asp-append-version="true" />*@
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Edit" id="EditVacation_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.vacation.Vacation_ID" id="Vacation_ID" />
                <div class="form-group form-row">
                    <div class="col-sm-4 ">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@Model.vacation.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@Model.vacation.Employee_V_1.ApplicationUser.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@Model.vacation.CreateDate.ToShamsiFullDateTime()</span>
                    </div>

                </div>
                <br /><br />
                <div class="form-group  form-row">
                    @if (ViewBag.HasAlternate != null && ViewBag.HasAlternate && Model.vacation.VacationType)
                    {
                        <div class="col-md-3">
                            <label class="control-label">جایگزین: </label><br />
                            <span class="text-blue">@Model.vacation.Employee_V_2.ApplicationUser.FullName</span>
                        </div>
                       
                        <div class="col-md-3">
                            <label asp-for="@Model.vacation.StatusAlternateSignature" class="control-label"></label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fas fa-puzzle-piece"></i>
                                </div>
                                <select class="form-control" asp-for="@Model.vacation.StatusAlternateSignature" disabled="disabled">
                                    <option value="null">نامشخص</option>
                                    <option value="true">می پذیرم</option>
                                    <option value="false">نمی پذیرم</option>
                                </select>
                                <span asp-validation-for="@Model.vacation.StatusAlternateSignature" class="text-danger"></span>
                            </div>
                        </div>
                    }

                    <div class="col-sm-12">
                        <label class="control-label">نوع مرخصی</label>
                        <select class="form-control" asp-for="vacation.VacationType" id="VacationType" disabled>
                            <option value="true">روزانه</option>
                            <option value="false">ساعتی</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-row" id="DayVacation">
                    <div class="col-md-4">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <input asp-for="vacation.DayVacationStartDate" id="StartDate" class="form-control TextRequired" autocomplete="off" disabled />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="vacation.DayVacationStartDate" autocomplete="off">
                            <span asp-validation-for="vacation.DayVacationStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">

                            <input asp-for="vacation.DayVacationEndDate" id="EndDate" class="form-control TextRequired" autocomplete="off" disabled />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" asp-for="vacation.DayVacationEndDate" autocomplete="off">
                            <span asp-validation-for="vacation.DayVacationEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">چند روز کاری</label>
                        <span asp-validation-for="vacation.Duration" class="text-danger"></span>
                        <div class="input-group date">
                            <input type="number" class="form-control" asp-for="vacation.Duration" autocomplete="off" disabled />
                        </div>
                    </div>
                </div>

                <div class="form-group form-row" id="TimeVacation">
                    <div class="col-md-4">
                        <label>تاریخ مرخصی ساعتی </label>
                        <div class="input-group date">
                            <input asp-for="vacation.DateVacationTime" id="VacationTimeDate" class="form-control TextRequired" autocomplete="off" disabled />
                            <input type="text" id="tarikhAlt3" class="form-control hidden pull-right" asp-for="vacation.DateVacationTime" autocomplete="off">
                            <span asp-validation-for="vacation.DateVacationTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>ساعت شروع </label>
                        <div class="input-group date clockpicker">
                            <div class="input-group-addon"><i class="fa fa-clock"></i></div>
                            <input id="StartTime" class="form-control TextRequired" asp-for="vacation.StartTime" autocomplete="off" readonly disabled />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right" asp-for="vacation.StartTime" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>ساعت پایان </label>
                        <div class="input-group date clockpicker">
                            <div class="input-group-addon"><i class="fa fa-clock"></i></div>
                            <input id="EndTime" class="form-control TextRequired" asp-for="vacation.EndTime" autocomplete="off" readonly disabled />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right" asp-for="vacation.EndTime" autocomplete="off">
                        </div>
                    </div>

                </div>

                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label class="control-label hidden">دلیل مرخصی خود را شرح دهید</label>
                        <select id="reseonOption_ddl" class="form-control col-md-2 mb-1 hidden" onchange="changeReseonOption();" asp-for="vacation.VacationReason" disabled>
                            <option value="سایر">سایر</option>
                            <option value="مسافرت">مسافرت</option>
                            <option value="بیماری">بیماری</option>
                            <option value="کلاس">کلاس</option>
                            <option value="اداری/بانکی">اداری/بانکی</option>
                        </select>
                        <label class="control-label">توضیحات</label>
                        <textarea asp-for="vacation.VacationReason" class="form-control col-md-12" autocomplete="off" disabled></textarea>
                        <span asp-validation-for="vacation.VacationReason" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group form-row">
                    <div class="col-md-3">
                        <input type="hidden" asp-for="CurrentSuperiorVacationSignatures.VacationSignature_ID" id="VacationSignature_ID" />
                        <label class="control-label">وضعیت امضای شما</label>
                        <div class="input-group date col-md-12">
                            <select class="form-control" asp-for="CurrentSuperiorVacationSignatures.SignatureStatus" id="SignatureStatus" onchange="changeStatusSupriorSignature($(this).val());">
                                <option value="null">نامشخص</option>
                                <option value="true">تایید</option>
                                <option value="false">عدم تایید</option>
                            </select>
                            <span asp-validation-for="CurrentSuperiorVacationSignatures.SignatureStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label">علت عدم تایید</label>
                        <div class="input-group date  col-md-12">
                            <textarea type="text" class="form-control" asp-for="CurrentSuperiorVacationSignatures.SignatureReason" id="SignatureReason"></textarea>
                            <span asp-validation-for="CurrentSuperiorVacationSignatures.SignatureReason" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row d-flex py-5 px-5 ">
                    <div class="step status_@Model.vacation.FinalStatus"><p>@Model.vacation.Employee_V_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.vacationSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (Model.vacationSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.vacationSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.vacationSignatures[i].SignatureReason != null && Model.vacationSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.vacationSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.vacationSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.vacationSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.vacationSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
                </div>
                <hr />
                <div class="form-group form-row col-sm-12 text-center">
                    <br /><br />
                    @if (Model.ThisUserCanSignature != null && Model.ThisUserCanSignature == true)
                    {
                        <button type="button" onclick="UpdateVacation3();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else if (ViewBag.IsAgentOfManager != null && ViewBag.IsAgentOfManager == true)
                    {
                        <button type="button" onclick="UpdateVacation3();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>

                    }
                    <div class="form-group form-row">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
    $(function () {
        //ViewAllVacations(ViewBag.PersonalCode);
        $('.clockpicker').clockpicker({
            uiLibrary: 'bootstrap4',
            placement: 'bottom', // clock popover placement
            align: 'left',       // popover arrow align
            autoclose: true,    // auto close when minute is selected
            vibrate: true        // vibrate the device when dragging clock hand
        });

        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#StartDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true
            //},
        });

        $('#EndDate').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true,
            //    meridiem: {
            //        enabled: true
            //    }
            //},
        });

        $('#VacationTimeDate').persianDatepicker({
            altField: '#tarikhAlt3',
            altFormat: 'X',
            format: 'D MMMM YYYY',
            observer: true,
            autoClose: true,
            //initialValue: false
            //timePicker: {
            //    enabled: true,
            //    meridiem: {
            //        enabled: true
            //    }
            //},
        });

    });


</script>
<script>
    changeVacationType($('#VacationType').val());

    function changeVacationType(value) {
        if (value == 'true') {
            $('#TimeVacation').addClass('hidden');
            $('#DayVacation').removeClass('hidden');
        } else {
            $('#DayVacation').addClass('hidden');
            $('#TimeVacation').removeClass('hidden');
        }
    }

    changeStatusSupriorSignature($('#StatusSuperiorSignature').val());

    function changeStatusSupriorSignature(value) {
        if (value == "false") {
            $('#SuperiorReason').prop('readonly', false);
        } else {
            $('#SuperiorReason').prop('readonly', true);
        }
    }

                    //function changeReseonOption() {
                    //    if ($('#reseonOption_ddl').val() == "سایر") {
                    //        $('#VacationReason').removeClass('hidden');
                    //    } else {
                    //        $('#VacationReason').addClass('hidden');
                    //    }
                    //}
</script>
<partial name="_ValidationScriptsPartial" />


