﻿@{
    ViewData["Title"] = "مرخصی";
}

<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- /.box-header -->
                    <div class="card-body" id="viewAll">

                        <div class="">
                            <section class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <form method="post">

                                                <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                                                    <thead>
                                                        <tr>
                                                           <th>#</th>
                                                            <th>نام متقاضی</th>
                                                            <th>تاریخ درخواست</th>
                                                            <th>نوع درخواست</th>
                                                            <th>زمان شروع</th>
                                                            <th>زمان پایان</th>
                                                            <th>وضعیت درخواست</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    @*<tbody>
                                                                                    @foreach (var item in Model)
                                                                                    {
                                                                                        row++;
                                                                                        if (item.FinalStatus == null)
                                                                                        {
                                                                                            FinalStatus = "نا مشخص";
                                                                                        }
                                                                                        else if (item.FinalStatus == true)
                                                                                        {
                                                                                            FinalStatus = "تایید شده";
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            FinalStatus = "تایید نشده";
                                                                                        }
                                                                        <tr>
                                                                            <td>@row</td>
                                                                            <td>@item.Employee_V_1.FullName</td>
                                                                            <td>
                                                                                @item.CreateDate.ToShamsiFullDateTime()
                                                                            </td>
                                                                            <td>
                                                                                @if (item.VacationType)
                                                                                {<span>روزانه</span>}
                                                                                else
                                                                                {<span>ساعتی</span>}
                                                                            </td>
                                                                            @if (item.VacationType)
                                                                            {
                                                            <td>@item.DayVacationStartDate.ToShortPersian()</td>
                                                                                <td>@item.DayVacationEndDate.ToShortPersian()</td>
                                                         }
                                                                            else
                                                                            {
                                                            <td>@item.DateVacationTime.ToShortPersian()<br />@item.StartTime</td>
                                                                                <td>@item.DateVacationTime.ToShortPersian()<br />@item.EndTime</td>
                                                        }

                                                                            <td><span class="p-2 status_@item.FinalStatus">@FinalStatus</span></td>
                                                                            <td>
                                                                                <button class="btn btn-icon btn-primary btnIcon" title="ویرایش" onclick="openModalForEditVacation3(@item.Vacation_ID);"><i class="fa fa-edit"></i></button>
                                                                            </td>
                                                                        </tr>}
                                                                                </tbody>*@
                                                </table>
                                            </form>
                                        </div>
                                        <div class="text-left">
                                            <a class="btn btn-danger" onclick="jQuery.print('#vacation_tb')"><i class="fa fa-print mg-lf"></i> چاپ لیست </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.card-body -->
</div>

<script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            ViewAllVacationList3();
        });
    </script>
}