﻿@model IEnumerable<DomainClasses.Employement.Emp_ActivityItems>


@foreach (var item in Model)
{
    <div class="col-12 col-sm-auto custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" name="activityItems_rbl" id="activity_@item.Item_ID" value="@item.Item_ID">
        <label class="custom-control-label" for="activity_@item.Item_ID">@item.Title</label>
    </div>
}

