﻿@model DomainClasses.Employement.Emp_EducationalRecords

<form id="educationalRecord">
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend width-prepend">
                <span class="input-group-text" id="basic-addon10">مدرک تحصیلی(به ترتيب آخرين مدرک)</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon10" asp-for="Evidence"/>
        </div>
        <span asp-validation-for="Evidence" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon11">رشته تحصیلی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon11" asp-for="Field" />
        </div>
        <span asp-validation-for="Field" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon12">معدل کل</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon12" asp-for="Average" />
        </div>
        <span asp-validation-for="Average" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon13">تاریخ پایان</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon13" asp-for="EndDate" />
            <input type="text" id="tarikhAlt9" class="form-control hiddens pull-right">
        </div>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="UniversityType">نوع دانشگاه</label>
            </div>
            <select class="custom-select" asp-for="UniversityType">
                <option value="دولتی">دولتی</option>
                <option value="آزاد">آزاد</option>
                <option value="پیام نور">پیام نور</option>
                <option value="غیر انتفاعی">غیر انتفاعی</option>
                <option value="علمی کاربردی">علمی کاربردی</option>
                <option value="فنی حرفه ای">فنی حرفه ای</option>
            </select>
        </div>
        <span asp-validation-for="UniversityType" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon15">نام موسسه آموزشی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon15" asp-for="InstitutionName" />
        </div>
        <span asp-validation-for="InstitutionName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon16">شهر-کشور</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon16" asp-for="City_Country" />
        </div>
        <span asp-validation-for="City_Country" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 style-btn text-left mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-danger" onclick="EducationalRecords()">ثبت سوابق تحصیلی</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#EndDate').persianDatepicker({
            altField: '#tarikhAlt9',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
        $("#EndDate").val("");
    });
</script>