﻿@model DomainClasses.Employement.Emp_Guarantor

<form id="garantyNamesFrm">
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon29">نام و نام خانوادگی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon29" asp-for="FullName" />
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon30">نسبت</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon30" asp-for="Relation" />
        </div>
        <span asp-validation-for="Relation" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon31">شغل</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon31" asp-for="Job" />
        </div>
        <span asp-validation-for="Job" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon32">تلفن</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon32" asp-for="Mobile" maxlength="11" />
        </div>
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">نشاني و محل كار</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="WorkPlace"></textarea>
        </div>
        <span asp-validation-for="WorkPlace" class="text-danger"></span>
    </div>
    <div class="col-12 style-btn text-left mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-danger" onclick="GarantyName();">ثبت مشخصات ضامن</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />