﻿@{
    ViewData["Title"] = "فرم استخدام آلیاژگستر";
}
<link rel="stylesheet" type="text/css" href="~/SiteContent/css/forms.css">
<link href="~/AdminContent/dist/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />


<script src="~/AdminContent/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/AdminContent/dist/js/persian-datepicker-0.4.5.min.js"></script>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>صفحه نخست</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>فرم پرسشنامه استخدام</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 forms">
            <div class="col-12 forms-bg">
                <p class="forms-header text-center">فرم پرسشنامه استخدام</p>
                <div class="col-12">
                    <span class="text-danger"> * فیلد های تلفنی و کد ملی را بدون خط فاصله (-) وارد نمایید</span>
                    <p class="forms-title mt-3">1- اطلاعات شخصی</p>
                </div>

                <div id="baseInformation_div"></div>


                <div class="col-12">
                    <p class="forms-title mt-3">2- سوابق تحصيلی و آموزشی</p>
                </div>

                <div id="EducationalRecords_div"></div>

                <div class="col-12 mt-3 mb-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                @*<th scope="col">#</th>*@
                                <th scope="col">مدرک تحصیلی</th>
                                <th scope="col">رشته تحصیلی</th>
                                <th scope="col">معدل کل</th>
                                <th scope="col">تاریخ پایان</th>
                                <th scope="col">نوع دانشگاه</th>
                                <th scope="col">نام موسسه آموزشی</th>
                                <th scope="col">شهر-کشور</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="EducationalRecords_tr"></tbody>
                    </table>
                </div>


                <div class="col-12">
                    <p class="forms-title mt-3">3- تجربيات شغلي</p>
                </div>

                <div id="WorkExperience_div"></div>


                <div class="col-12 mt-3 mb-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                @*<th scope="col">#</th>*@
                                <th scope="col">نام سازمان يا شركت</th>
                                <th scope="col">سمت / شغل</th>
                                <th scope="col">مدت همکاری</th>
                                <th scope="col">تاریخ قطع همکاری</th>
                                <th scope="col">شماره تلفن</th>
                                <th scope="col">متوسط حقوق دریافتی به ريال</th>
                                <th scope="col">علت ترك خدمت</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="WorkExperience_tr"></tbody>
                    </table>
                </div>

                <div class="col-12">
                    <p class="forms-title mt-3">4- پیشینه</p>
                </div>
                <form id="basInformationFrm2">
                    <div class="col-12 col-lg-7 mt-3 mb-3">
                        <span class="forms-title text-right float-right pl-4"> آيا سابقه کیفری یا بازداشتی یا سو پیشینه دارید ؟ </span>
                        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Arrest_rbl1" name="Arrest_rbl" class="custom-control-input" value="True">
                            <label class="custom-control-label" for="Arrest_rbl1">بله</label>
                        </div>
                        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                            <input type="radio" id="Arrest_rbl2" name="Arrest_rbl" class="custom-control-input" value="False">
                            <label class="custom-control-label" for="Arrest_rbl2">خیر</label>
                        </div>

                        <span id="lblArrest" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">علت را ذكر كنيد</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea" id="txtCriminalRecordReason"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 mt-3 mb-3">
                        <span class="forms-title text-right float-right pl-4"> آيا سیگار یا مواد مخدر دیگری مصرف می کنید یا خواهید کرد ؟ </span>
                        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                            <input type="radio" id="IsSmoke_rbl1" name="IsSmoke_rbl" class="custom-control-input" value="True">
                            <label class="custom-control-label" for="IsSmoke_rbl1">بله</label>
                        </div>
                        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                            <input type="radio" id="IsSmoke_rbl2" name="IsSmoke_rbl" class="custom-control-input" value="False">
                            <label class="custom-control-label" for="IsSmoke_rbl2">خیر</label>
                        </div>
                        <span id="lblIsSmoke" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">علت را ذكر كنيد</span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea" id="txtSmokingReason"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="forms-title mt-3">5- آشنايی به زبانهاي خارجی ، كامپيوتر و ساير دوره ها</p>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered assist-english">
                            <thead>
                                <tr class="table-light">
                                    <th scope="col" colspan="2" class="title-survey">نام زبان / وضعيت</th>
                                    <th scope="col">ضعیف</th>
                                    <th scope="col">متوسط</th>
                                    <th scope="col">خوب</th>
                                    <th scope="col">عالی</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="notLabel">
                                    <th rowspan="3" style="vertical-align: middle;">انگلیسی</th>
                                    <td>خواندن</td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="ReadEnglish_rbl" id="inlineRadio1" value="1">
                                            <label class="custom-control-label" for="inlineRadio1"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="ReadEnglish_rbl" id="inlineRadio2" value="2">
                                            <label class="custom-control-label" for="inlineRadio2"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="ReadEnglish_rbl" id="inlineRadio3" value="3">
                                            <label class="custom-control-label" for="inlineRadio3"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="ReadEnglish_rbl" id="inlineRadio4" value="4">
                                            <label class="custom-control-label" for="inlineRadio4"></label>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="notLabel">
                                    <td>نوشتن</td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="WriteEnglish_rbl" id="inlineRadio12" value="1">
                                            <label class="custom-control-label" for="inlineRadio12"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="WriteEnglish_rbl" id="inlineRadio22" value="2">
                                            <label class="custom-control-label" for="inlineRadio22"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="WriteEnglish_rbl" id="inlineRadio32" value="3">
                                            <label class="custom-control-label" for="inlineRadio32"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="WriteEnglish_rbl" id="inlineRadio42" value="4">
                                            <label class="custom-control-label" for="inlineRadio42"></label>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="notLabel">
                                    <td>مکالمه</td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="SpeakeEnglish_rbl" id="inlineRadio13" value="1">
                                            <label class="custom-control-label" for="inlineRadio13"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="SpeakeEnglish_rbl" id="inlineRadio23" value="2">
                                            <label class="custom-control-label" for="inlineRadio23"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="SpeakeEnglish_rbl" id="inlineRadio33" value="3">
                                            <label class="custom-control-label" for="inlineRadio33"></label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" type="radio" name="SpeakeEnglish_rbl" id="inlineRadio43" value="4">
                                            <label class="custom-control-label" for="inlineRadio43"></label>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <span id="lblKnowEnglish" class="text-danger"></span>
                    </div>
                </form>

                <div class="col-12 mt-3 mb-3">

                    <div id="SkillComputer_div"></div>

                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">دوره های آموزشی فنی حرفه ای یا موسسات آموزشی</p>
                </div>


                <div id="TraningCourses_div"></div>

                <div class="col-12 mt-3 mb-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                @*<th scope="col">ردیف</th>*@
                                <th scope="col">نام دوره آموزشی</th>
                                <th scope="col">نام موسسه آموزش</th>
                                <th scope="col">تاریخ شروع</th>
                                <th scope="col">مدت دوره</th>
                                <th scope="col">مدرک دارد</th>
                                <th scope="col">توضیحات</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="Traning_tr"></tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">6- فعاليت هایی که می توانید برای سازمان انجام دهید</p>
                </div>
                <div class="col-12 mb-3">

                    <div id="ActivityField_div"></div>

                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend width-prepend">
                            <span class="input-group-text">در صورتی که انتخاب صد در صد شغل برای شما میسر باشد چه شغلی را انتخاب میکنید؟</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtSelectedJob"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">7- نحوه همكاری</p>
                </div>
                <div class="col-12 mb-3">
                    <span class="forms-title text-right float-right pl-4"> تمايل به همكاری بصورت : </span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline14" name="AssistType_rbl" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadioInline14">تمام وقت</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline15" name="AssistType_rbl" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="customRadioInline15">پاره وقت</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline16" name="AssistType_rbl" class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadioInline16">همكاري خارج از مركز (دورکاری)</label>
                    </div>
                    <span id="lblAssistType" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend width-prepend">
                            <span class="input-group-text">در صورت تمايل به كار پاره وقت ساعات و روزهاي همكاری را دقیقا اعلام فرماييد</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtTimeCooperation"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="IsOvertime_ddl">آیا قادر به انجام اضافه کاری هستید؟</label>
                        </div>
                        <select class="custom-select" id="IsOvertime_ddl">
                            @*<option selected>انتخاب کنید ...</option>*@
                            <option value="True">بله</option>
                            <option value="False">خیر</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon28">تا چند ساعت در روز</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon28" id="txtOvertimeHours">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="HolidayIsWork_ddl">آیا قادر به کار در تعطیلات آخر هفته هستید؟</label>
                        </div>
                        <select class="custom-select" id="HolidayIsWork_ddl">
                            @*<option selected>انتخاب کنید ...</option>*@
                            <option value="True">بله</option>
                            <option value="False">خیر</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="IsMissionInternal_ddl">آیا قادر به رفتن به ماموریت  داخلی هستید؟</label>
                        </div>
                        <select class="custom-select" id="IsMissionInternal_ddl">
                            @*<option selected>انتخاب کنید ...</option>*@
                            <option value="True">بله</option>
                            <option value="False">خیر</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="IsMissionExternal_ddl">آیا قادر به رفتن به ماموریت  خارجی هستید؟ </label>
                        </div>
                        <select class="custom-select" id="IsMissionExternal_ddl">
                            @*<option selected>انتخاب کنید ...</option>*@
                            <option value="True">بله</option>
                            <option value="False">خیر</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <span class="forms-title text-right float-right pl-4">8 - آيا داراي سابقه پرداخت حق بيمه هستيد؟</span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline17" name="IsInsurance_rbl" class="custom-control-input" value="True">
                        <label class="custom-control-label" for="customRadioInline17">بله</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline18" name="IsInsurance_rbl" class="custom-control-input" value="False">
                        <label class="custom-control-label" for="customRadioInline18">خیر</label>
                    </div>
                    <span id="lblIsInsurance" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend width-prepend">
                            <span class="input-group-text">در صورت مثبت بودن چند سال و شماره بيمه</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtInsuranceDescription"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">چگونگی آشنایی شما با شركت</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtMethodIntroduction"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">9- دونفر از کسانی که می توانند ضامن شما باشند را ذکر کنید. (ترجیحا کارمند سازمان های دولتی یا سازمان های معتبر)</p>
                </div>

                <div id="GarantyNames_div"></div>


                <div class="col-12 mt-3 mb-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                @*<th scope="col">ردیف</th>*@
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">نسبت</th>
                                <th scope="col">شغل</th>
                                <th scope="col">تلفن</th>
                                <th scope="col">نشانی و محل کار</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="garanty_tr"></tbody>
                    </table>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <span class="forms-title text-right float-right pl-4">10 - آیا موارد خاص جسمی و روحی دارید که بخواهید راجع به آن توضیح دهید؟</span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline19" name="SpecialIllness_rbl" class="custom-control-input" value="True">
                        <label class="custom-control-label" for="customRadioInline19">بله</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline20" name="SpecialIllness_rbl" class="custom-control-input" value="False">
                        <label class="custom-control-label" for="customRadioInline20">خیر</label>
                    </div>
                    <span id="lblSpecialIllness" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend width-prepend">
                            <span class="input-group-text">در صورتیکه جواب شما بلی است ، توضیح دهید</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtSpecialPhysicalItemsDescription"></textarea>
                    </div>
                </div>
                <div class="col-12 mt-3 mb-3">
                    <span class="forms-title text-right float-right pl-4">11 - اكنون مشغول به كار هستيد؟</span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline21" name="IsWorking_rbl" class="custom-control-input" value="True">
                        <label class="custom-control-label" for="customRadioInline21">بله</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline22" name="IsWorking_rbl" class="custom-control-input" value="False">
                        <label class="custom-control-label" for="customRadioInline22">خیر</label>
                    </div>
                    <span id="lblIsWorking" class="text-danger"></span>
                </div>
                <div class="col-12 mb-3">
                    <span class="forms-title text-right float-right pl-4">تضمین کاری را به چه صورتی می توانید بدهید ؟</span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline23" name="GarantyType_rbl" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadioInline23">سفته با تایید ضامن کارمند دولت</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline24" name="GarantyType_rbl" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="customRadioInline24">سفته بدون ضامن</label>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto custom-control custom-radio custom-control-inline align-items-center">
                        <input type="radio" id="customRadioInline25" name="GarantyType_rbl" class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadioInline25">سایر</label>
                        <input type="text" class="form-control" aria-label="Text input with radio button" id="txtWorkGaranty">
                    </div>
                    <span id="lblGarantyType" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">12- حقوق مورد انتظار</p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon33">حداقل دریافتی</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon33" id="txtExpectedSalary">
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <span class="forms-title text-right float-right pl-4">تومان ماهانه به ازای متوسط 44 ساعت کار در هفته</span>
                </div>
                <div class="col-12 mb-4">
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline26" name="SalaryType_rbl" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadioInline26">آیا حقوق ماهانه ثابت را ترجیح می دهید؟</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline27" name="SalaryType_rbl" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="customRadioInline27">یا درآمد بیشتر و فقط پورسانتی بودن را انتخاب می کنید؟</label>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-auto custom-control custom-radio custom-control-inline align-items-center">
                        <input type="radio" id="customRadioInline28" name="SalaryType_rbl" class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadioInline28">یا ترکیب این دو</label>
                    </div>
                    <span id="lblSalaryType" class="text-danger"></span>
                </div>
                <div class="col-12 mb-3">
                    <span class="forms-title text-right float-right pl-4">13- آیا شما سرپرست خانواده هستید؟</span>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline29" name="IsSupervisor_rbl" class="custom-control-input" value="True">
                        <label class="custom-control-label" for="customRadioInline29">بله</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline30" name="IsSupervisor_rbl" class="custom-control-input" value="False">
                        <label class="custom-control-label" for="customRadioInline30">خیر</label>
                    </div>
                    <span id="lblIsSupervisor" class="text-danger"></span>
                </div>
                <div class="col-12 mb-3">
                    <span class="forms-title text-right float-right pl-4">افراد تحت تکفل : </span>
                </div>

                <div id="Suppervisor_div"></div>


                <div class="col-12 mt-3 mb-3 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                @*<th scope="col">ردیف</th>*@
                                <th scope="col">نام و نام خانوادگی</th>
                                <th scope="col">جنسيت</th>
                                <th scope="col">نسبت با كارمند</th>
                                <th scope="col">تاريخ تولد</th>
                                <th scope="col">ميزان تحصيلات</th>
                                <th scope="col">شغل</th>
                                <th scope="col">حذف</th>
                            </tr>
                        </thead>
                        <tbody id="Supervisor_tr"></tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p class="forms-title mt-3">14- آدرس محل سكونت</p>
                </div>
                <div class="col-12 mb-3">
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline31" name="HomeType_rbl" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadioInline31">منزل شخصی</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline32" name="HomeType_rbl" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="customRadioInline32">منزل اجاره ای</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline33" name="HomeType_rbl" class="custom-control-input" value="3">
                        <label class="custom-control-label" for="customRadioInline33">منزل والدین</label>
                    </div>
                    <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline34" name="HomeType_rbl" class="custom-control-input" value="4">
                        <label class="custom-control-label" for="customRadioInline34">ساير</label>
                    </div>
                    <span id="lblHomeType" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend width-prepend">
                            <span class="input-group-text">در صورت انتخاب گزینه سایر ، توضیح دهید</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtHomeDescription"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">آدرس محل سکونت</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="txtAddress"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon40">تلفن تماس ثابت</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon40" id="txtTelll" maxlength="11" >
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon41">تلفن همراه</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon41" id="txtMobile" maxlength="11">
                    </div>
                </div>
                <span id="lblAdresss" class="text-danger"></span>

                <div class="col-12">
                    <p class="forms-title mt-3">15- مدارک</p>
                </div>
                <div id="Documents_div"></div>


                <div class="col-12 style-btn text-left mt-3">
                    <a onclick="SaveEmployement();" class="btn btn-outline-danger">ثبت اطلاعات</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>

<script>
    $(function () {

        $("#baseInformation_div").load("/Employement/PersonInformation");
        $("#EducationalRecords_div").load("/Employement/EducationalRecords");
        $("#WorkExperience_div").load("/Employement/WorkExperience");
        $("#SkillComputer_div").load("/Employement/SkillComputer");
        $("#TraningCourses_div").load("/Employement/TraningCourses");
        $("#ActivityField_div").load("/Employement/ActivityField");
        $("#GarantyNames_div").load("/Employement/GarantyNames");
        $("#Suppervisor_div").load("/Employement/Suppervisor");
        $("#Documents_div").load("/Employement/Documents");
    });
</script>