﻿@model DomainClasses.Employement.Emp_BaseInformation

<form id="basInformationFrm">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">نام و نام خانوادگی</span>
            </div>
            <input type="text" placeholder="نام" aria-label="First name" class="form-control" asp-for="FirstName"/>
            <input type="text" placeholder="نام خانوادگی" aria-label="Last name" class="form-control" asp-for="LastName"/>
        </div>
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">نام پدر</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" asp-for="FatherName" />
        </div>
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">شماره شناسنامه</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon2" asp-for="Id_Cer" />
        </div>
        <span asp-validation-for="Id_Cer" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">تاریخ تولد</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon3" asp-for="BirthDate" />
            <input type="text" id="tarikhAlt1" class="form-control hiddens pull-right">
        </div>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">کد ملی</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon4" asp-for="NationalCode" />
        </div>
        <span asp-validation-for="NationalCode" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon5">تاریخ صدور شناسنامه</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon5" asp-for="TarikhSodorShenasname" />
            <input type="text" id="tarikhAlt2" class="form-control hiddens pull-right">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon6">محل صدور شناسنامه</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon6" asp-for="MahaleSodorShenasname" />
        </div>
        <span asp-validation-for="MahaleSodorShenasname" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon8">محل تولد</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon8" asp-for="BirthPlace" />
        </div>
        <span asp-validation-for="BirthPlace" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon9">دین ( مذهب )</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon9" asp-for="Religion" />
        </div>
        <span asp-validation-for="Religion" class="text-danger"></span>
    </div>
    <div class="col-12 mt-3 mb-3">
        <span class="forms-title text-right float-right pl-4">وضعیت تاهل : </span>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" id="mojarad" class="custom-control-input" asp-for="MaritalStatus" value="مجرد" />
            <label class="custom-control-label" for="mojarad">مجرد</label>
        </div>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" id="motahel" class="custom-control-input" asp-for="MaritalStatus" value="متاهل" />
            <label class="custom-control-label" for="motahel">متاهل</label>
        </div>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" id="motlaghe" class="custom-control-input" asp-for="MaritalStatus" value="مطلقه" />
            <label class="custom-control-label" for="motlaghe">مطلقه</label>
        </div>
        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
        <span id="lblMaritalStatus" class="text-danger"></span>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend width-prepend">
                <span class="input-group-text">تا سه سال آینده برنامه ای برای ازدواج دارید؟</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="MaritalDescription"></textarea>
        </div>
        <span asp-validation-for="MaritalDescription" class="text-danger"></span>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend width-prepend">
                <span class="input-group-text">تا سه سال آینده برنامه ای برای داشتن فرزند دارید؟</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="ChildrenDescription"></textarea>
        </div>
        <span asp-validation-for="ChildrenDescription" class="text-danger"></span>
    </div>
    <div class="col-12 col-lg-6 mt-3 mb-3">
        <span class="forms-title text-right float-right pl-4">سلامت وضعيت روحي و جسماني : </span>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="IsHealth" id="IsHealth1" class="custom-control-input" value="True">
            <label class="custom-control-label" for="IsHealth1">بله</label>
        </div>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="IsHealth" id="IsHealth2" class="custom-control-input" value="False">
            <label class="custom-control-label" for="IsHealth2">خیر</label>
        </div>
        <span asp-validation-for="IsHealth" class="text-danger"></span>
        <span id="lblIsHealth" class="text-danger"></span>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">درصورت خيرتوضيح دهيد</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="HealthDescription"></textarea>
        </div>
    </div>
    <div class="col-12 col-lg-6 mt-3 mb-3">
        <span class="forms-title text-right float-right pl-4">خدمت نظام وظيفه : </span>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="Duty" id="Duty1" class="custom-control-input" value="Ture">
            <label class="custom-control-label" for="Duty1">انجام داده</label>
        </div>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="Duty" id="Duty2" class="custom-control-input" value="False">
            <label class="custom-control-label" for="Duty2">معاف از خدمت</label>
        </div>
        <span asp-validation-for="Duty" class="text-danger"></span>
        <span id="lblDuty" class="text-danger"></span>
    </div>
    <div class="col-12 col-lg-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">ذکر نوع و علت معافیت</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="ExemptReason"></textarea>
        </div>
    </div>
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">بارگذاری عکس</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" asp-for="Image" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="Image">انتخاب فایل</label>
            </div>
        </div>
    </div>
</form>


<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#BirthDate').persianDatepicker({
            altField: '#tarikhAlt1',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });

        $('#TarikhSodorShenasname').persianDatepicker({
            altField: '#tarikhAlt2',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });

        $('#BirthDate').val("");
        $('#TarikhSodorShenasname').val("");
    });
</script>