﻿@model IEnumerable<DomainClasses.Employement.Emp_ComputerSkillItems>

<span class="forms-title text-right float-right pl-4"> آشنایی با کامپیوتر : </span>
@foreach (var item in Model)
{
    <div class="col-12 col-sm-auto custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" name="skillComputer_rbl" id="skillCom_@item.Item_ID" value="@item.Item_ID">
        <label class="custom-control-label" for="skillCom_@item.Item_ID">@item.Title</label>
    </div>
}

