﻿@model DomainClasses.Employement.Emp_UnderSupervisor

<form id="suppervisorFrm"> 
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon34">نام و نام خانوادگی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon34" asp-for="FullName" id="FullName2" />
        </div>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon35">جنسيت</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon35" asp-for="Jender" />
        </div>
        <span asp-validation-for="Jender" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon36">نسبت با كارمند</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon36" asp-for="Relation" id="Relation2" />
        </div>
        <span asp-validation-for="Relation" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon37">تاريخ تولد</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon37" id="BirthDate2" />
            <input type="text" id="tarikhAlt10" class="form-control hiddens pull-right">
        </div>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon38">ميزان تحصيلات</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon38" asp-for="LevelEducation" />
        </div>
        <span asp-validation-for="LevelEducation" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon39">شغل</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon39" asp-for="Job" id="Job2" />
        </div>
        <span asp-validation-for="Job" class="text-danger"></span>
    </div>
    <div class="col-12 style-btn text-left mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-danger" onclick="Suppervisors();">ثبت مشخصات افراد</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#BirthDate2').persianDatepicker({
            altField: '#tarikhAlt10',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });

        $('#BirthDate2').val("");
    });
</script>