﻿@model DomainClasses.Employement.Emp_TraningCourse

<form id="traningFrm">
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon24">نام دوره آموزشی</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon24" asp-for="TraningName" />
        </div>
        <span asp-validation-for="TraningName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon25">نام موسسه آموزش</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon25" asp-for="OrganizationName" id="OrganizationNameTraning" />
        </div>
        <span asp-validation-for="OrganizationName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon26">مدت دوره</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon26" asp-for="TraningPeroid" />
        </div>
        <span asp-validation-for="TraningPeroid" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon27">تاریخ شروع</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon27" asp-for="StartDate" />
            <input type="text" id="tarikhAlt7" class="form-control hiddens pull-right">
        </div>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">توضیحات</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" asp-for="Description"></textarea>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-3 mb-3">
        <span class="forms-title text-right float-right pl-4"> آيا مدرک دارد ؟ </span>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="IsEvidence" name="IsEvidence" id="IsEvidence1" value="True" data-val="بله" class="custom-control-input">
            <label class="custom-control-label" for="IsEvidence1">بله</label>
        </div>
        <div class="col-12 col-sm-auto custom-control custom-radio custom-control-inline">
            <input type="radio" asp-for="IsEvidence" name="IsEvidence" value="False" id="IsEvidence2" data-val="خیر" class="custom-control-input">
            <label class="custom-control-label" for="IsEvidence2">خیر</label>
        </div>
        <span asp-validation-for="IsEvidence" class="text-danger"></span>
    </div>

    <div class="col-12 style-btn text-left mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-danger" onclick="TraningCourses()">ثبت دوره ها</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#StartDate').persianDatepicker({
            altField: '#tarikhAlt7',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
        $('#StartDate').val("");
    });
</script>
