﻿@model DomainClasses.Employement.Emp_WorkExperience

<form id="workExperienceFrm">
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend width-prepend">
                <span class="input-group-text" id="basic-addon17">نام سازمان يا شركت(به ترتيب از آخرين سابقه)</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon17" asp-for="OrganizationName"/>
        </div>
        <span asp-validation-for="OrganizationName" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon18">سمت / شغل</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon18" asp-for="Post" />
        </div>
        <span asp-validation-for="Post" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon19">مدت همکاری (ماه)</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon19" asp-for="AssistPeriod" />
        </div>
        <span asp-validation-for="AssistPeriod" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon20">تاريخ قطع همکاری</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon20" asp-for="AssistCutDate" />
            <input type="text" id="tarikhAlt8" class="form-control hiddens pull-right">
        </div>
        <span asp-validation-for="AssistCutDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon21">شماره تلفن</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon21" asp-for="Tell" maxlength="11" />
        </div>
        <span asp-validation-for="Tell" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon22">متوسط حقوق دریافتی به ريال</span>
            </div>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon22" asp-for="AverageSalary"  />
        </div>
        <span asp-validation-for="AverageSalary" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon23">علت ترك خدمت</span>
            </div>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon23" asp-for="AssistCutReason" />
        </div>
        <span asp-validation-for="AssistCutReason" class="text-danger"></span>
    </div>

    <div class="col-12 col-md-6 style-btn text-left mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-danger" onclick="WorkExperience()">ثبت تجربیات شغلی</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {
        new persianDate().format();
        $('.datepicker-plot-area').addClass("datePicker");

        $('#AssistCutDate').persianDatepicker({
            altField: '#tarikhAlt8',
            altFormat: 'X',
            format: 'YYYY/MM/DD',
            observer: true,
            autoClose: true,
            timePicker: {
                enabled: true
            },
        });
        $('#AssistCutDate').val("");
    });
</script>
