﻿
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/AdminContent/logosmall-fa.png" type="image/x-icon" rel="shortcut icon" asp-append-version="true">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/bootstrap-theme.css" asp-append-version="true">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/rtl.css" asp-append-version="true">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" asp-append-version="true" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
    <link href="~/AdminContent/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/bootstrap4Class.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminContent/Ionicons/css/ionicons.min.css" asp-append-version="true">
    <!-- all -->
    <link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" asp-append-version="true" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/AdminLTE.css" asp-append-version="true">

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" asp-append-version="true">*@
    @*<link href="~/AdminContent/datatables.net/css/jquery.dataTables.css" rel="stylesheet" asp-append-version="true" />*@
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/skins/_all-skins.min.css" asp-append-version="true">

    <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" asp-append-version="true"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" asp-append-version="true"></script>
    <![endif]-->
    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" asp-append-version="true">*@
    <link href="~/AdminContent/datatables/jquery.dataTables.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/AdminContent/dist/fonts/css.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/AdminContent/admin.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .swal2-container {
            z-index: 10000;
        }
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->


    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->

                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="fas fa-bars"></i>
                </a>
                <!-- Delete This after download -->
                <button onclick="openModalForContactWithDeveloper();" class="btn hidden-xs" style="margin:6px 100px;padding:9px 50px;background-color:#d61577;border-color:#ad0b5d;font-weight:bold;color:#FFF">ارتباط با توسعه دهنده</button>
                <!-- End Delete-->

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
                <div class="navbar-custom-menu">
                    <div class="form-group">
                        @await Component.InvokeAsync("ShowAllLanguage", false)
                    </div>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @await Component.InvokeAsync("Permission")

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <div class="row">
                <div id="ajaxLoading" class="hidden" style="position:absolute;right:50%;top:50%;"><img src="~/images/load.gif" /></div>
            </div>
        </div>

        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/AdminContent/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminContent/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- SlimScroll -->
    <script src="~/AdminContent/jquery-slimscroll/jquery.slimscroll.min.js" asp-append-version="true"></script>
    <!-- FastClick -->
    <script src="~/AdminContent/fastclick/lib/fastclick.js" asp-append-version="true"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminContent/dist/js/adminlte.min.js" asp-append-version="true"></script>
    <!-- checkbox App -->
    <script src="~/AdminContent/plugins/iCheck/icheck.min.js" asp-append-version="true"></script>

    @*<script src="~/AdminContent/datatables.net/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="~/AdminContent/datatables.net-bs/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>*@
    <script src="~/AdminContent/datatables/jquery.dataTables1.10.20.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>

    <script src="~/js/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminContent/dist/js/demo.js" asp-append-version="true"></script>
    <script src="~/js/Test.js" asp-append-version="true"></script>
    @*<script src="~/js/jquery.unobtrusive-ajax.js"></script>*@
    @*<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>*@

    <script src="~/js/jquery.cookie.js" asp-append-version="true"></script>
    <link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet" />
    <script src="~/AdminContent/persian-datepickerNew/persian-date.min.js"></script>
    <script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js"></script>
    <script src="~/js/myScripts.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});


            $('.sidebar-menu').tree();
            //GetAllLanguageForMasterPage();
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

    </script>
    <style>
        .swal2-popup {
            font-size: 1.6rem !important;
        }

        .TextRequired {
            border-right: 1.5px solid #e52d2d;
        }
    </style>
    @*<script src="https://kcdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js" asp-append-version="true"></script>*@
    <script src="~/AdminContent/dist/js/sweetalert2.all.min.js" asp-append-version="true"></script>
    @*<script src="//cdn.ckeditor.com/4.11.2/full/ckeditor.js" asp-append-version="true"></script>*@
    <script src="//cdn.ckeditor.com/4.14.0/full/ckeditor.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!--Modal-->
<div class="modal fade" id="myModal" style="z-index:1050">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title headerModalColor" id="myModalLabel">Default مدال</h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal-->    