﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ورود | کنترل پنل</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/AdminContent/logosmall-fa.png" type="image/x-icon" rel="shortcut icon">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/bootstrap-theme.css" c>
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/rtl.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminContent/font-awesome/css/font-awesome.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminContent/Ionicons/css/ionicons.min.css">
    <!-- all -->
    <link href="~/AdminContent/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/AdminLTE.css">

    <link rel="stylesheet" href="~/AdminContent/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminContent/dist/css/skins/_all-skins.min.css">

    <link rel="shortcut icon" href="~/images/itsaco_icon.png">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .swal2-popup {
            font-size: 1.6rem !important;
        }
        /*.box-header{text-align:center}*/
    </style>


</head>
<body class="hold-transition login-page">


    @RenderBody()


    <script src="~/AdminContent/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminContent/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/AdminContent/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminContent/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminContent/dist/js/adminlte.min.js"></script>
    <!-- checkbox App -->
    <script src="~/AdminContent/plugins/iCheck/icheck.min.js"></script>

    <script src="~/AdminContent/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminContent/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script src="~/js/jquery.unobtrusive-ajax.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminContent/dist/js/demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.25.0/dist/sweetalert2.all.min.js"></script>

    @*<script src="~/js/jquery.unobtrusive-ajax.js"></script>*@
    @*<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>*@




    <script src="~/js/myScripts.js"></script>
    <script>
        $(document).ready(function () {
            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});


            $('.sidebar-menu').tree();
            //GetAllLanguageForMasterPage();
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

    </script>
    @*<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>*@
    @RenderSection("Scripts", false)
    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>
