﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IGenericRepository<DomainClasses.Employees.Employee> _employee;
@{
    var user = await UserManager.GetUserAsync(User);
    var thisEmployee = await _employee.GetWithIncludeAsync(selector:x=>x,include:x=>x.Include(s=>s.ApplicationUser),where: x => x.UserIdentity_Id == user.Id);
}
@if (SignInManager.IsSignedIn(User))
{


    <li class="dropdown user user-menu">
        <a asp-controller="Manage" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
            @if (thisEmployee.FirstOrDefault() != null)
            {
                <img src="~/Files/Employee/Thumb/@thisEmployee.FirstOrDefault().ApplicationUser.UserPhoto"  class="user-image" alt="" id="userphoto">
            }
            else
            {
                <img src="@user.UserPhoto" class="user-image" alt="" id="userphoto">
            }
            <span class="hidden-xs" id="UserFullName">@user.FullName</span>
        </a>
        <ul class="dropdown-menu ">
            <!-- User image -->
            <li class="user-header">
                @if (thisEmployee.FirstOrDefault() != null)
                {
                <img src="~/Files/Employee/Thumb/@thisEmployee.FirstOrDefault().ApplicationUser.UserPhoto" id="userphoto" class="img-circle" alt="User Image">
                }
                else
                {
                <img src="@user.UserPhoto" id="userphoto" class="img-circle" alt="User Image">
                }

                <p id="UserFullName">
                    @user.FullName
                    @*<small>مدیریت کل سایت</small>*@
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
                <div class="row">
                    <div class="col-xs-6 text-center btn-flat ">
                        <a asp-action="Index" asp-area="Admin" asp-controller="Manage">صفحه من</a>
                    </div>
                    @*<div class="col-xs-6 text-left btn-flat ">
                        @if (thisEmployee.FirstOrDefault() != null && thisEmployee.FirstOrDefault().responsibility != null)
                        {
                            <a target="_blank" href="~/Files/Employee/Responsibilty/@thisEmployee.FirstOrDefault().responsibility">وظایف من</a>
                        }
                        else
                        {
                            <a style="cursor:no-drop">وظایف من</a>
                        }
                    </div>*@

                </div>
                <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li>

                <form asp-area="Admin" asp-controller="Account" asp-action="Logout" method="get" id="logoutForm">
                    <div class="center-block">
                        <button type="submit" class="btn btn-instagram btn-default  btn-block waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-log-out "></i>
                            </span>خروج
                        </button>
                    </div>
                </form>

            </li>
        </ul>
    </li>


    @*</form>*@
}
