﻿@*<div class="user-panel">
    <div class="pull-right image">
        <img src="@user.UserPhoto" id="userphoto" class="img-circle" alt="User Image">
    </div>
    <div class="pull-right info">
        <p id="UserFullName">@user.FullName</p>
        <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
    </div>
</div>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">منو</li>

    <li class=""><a href="/Admin/Language"><i class="fa fa-sliders"></i> <span> زبان ها</span></a></li>
    <li class=""><a href="/Admin/Users"><i class="fa fa-th"></i> <span> مدیران</span></a></li>
    <li class=""><a href="/Admin/Roles"><i class="fa fa-th"></i> <span> نقش ها</span></a></li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-paperclip pull-right"></i>
            <span> ارتباط با سایت</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>

        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/Connection"><i class="fa fa-circle-o"></i>راه های ارتباطی </a></li>
            <li><a href="/Admin/ContactUsMessage"><i class="fa fa-circle-o"></i>پیام های ارتباطی</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file-archive-o pull-right"></i>
            <span>مدیریت محتوا </span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>

        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/AboutUs"><i class="fa fa-circle-o"></i>درباره ما</a></li>
            <li><a href="/Admin/Contents"><i class="fa fa-newspaper-o"></i> <span> اخبار و مطالب آموزشی </span></a></li>
            <li><a href="/Admin/Catalog"><i class="fa fa-newspaper-o"></i> <span> کاتالوگ </span></a></li>
            <li class="hidden"><a href="/Admin/Material"><i class="fa fa-circle-o"></i>ساخت تجهیزات </a></li>
            <li class="hidden"><a href="/Admin/ImportaionPart"><i class="fa fa-circle-o"></i>واردات و تامین تجهیزات</a></li>
            <li class="hidden"><a href="/Admin/EnginerDesign"><i class="fa fa-circle-o"></i>طراحی و مهندسی  </a></li>
        </ul>
    </li>

    <li><a href="/Admin/SlideShow"><i class="fa fa-slideshare"></i> <span> اسلایدشو </span></a></li>
    <li class=""><a href="/Admin/SeoPage"><i class="fa fa-image"></i> <span> سئو </span></a></li>
    <li class=""><a href="/Admin/Gallery"><i class="fa fa-image"></i> <span> گالری </span></a></li>
    <li class="hidden"><a href="/Admin/Products"><i class="fa fa-product-hunt"></i> <span> محصولات </span></a></li>
    <li><a href="/Admin/Projects"><i class="fa fa-location-arrow"></i> <span> پروژه ها </span></a></li>
    <li class=""><a href="/Admin/FAQ"><i class="fa fa-th"></i> <span>سوالات متداول </span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart pull-right"></i>
            <span>مدیریت محصولات </span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>

        </a>
        <ul class="treeview-menu">
            <li><a href="/Admin/Products"><i class="fa fa-circle-o"></i>محصولات </a></li>
            <li><a href="/Admin/Color"><i class="fa fa-circle-o"></i>رنگ ها</a></li>
            <li><a href="/Admin/Features"><i class="fa fa-circle-o"></i>ویژگی ها </a></li>
            <li><a href="/Admin/Producer"><i class="fa fa-circle-o"></i>تولید کننده ها</a></li>
            <li><a href="/Admin/Off"><i class="fa fa-circle-o"></i>تخفیفات</a></li>
            <li><a href="/Admin/Garanty"><i class="fa fa-circle-o"></i>گارانتی</a></li>
            <li><a href="/Admin/Unit"><i class="fa fa-circle-o"></i>واحد</a></li>
        </ul>
    </li>

    <li><a href="/Admin/FilesManage"><i class="fa fa-video-camera"></i> <span> دانلود ها و ویدئو ها</span></a></li>
    <li><a href="/Admin/NewsLetters"><i class="fa fa-envelope"></i> <span> اشتراک ایمیل</span></a></li>
    <li><a href="/Admin/SMS_Subscribe"><i class="fa fa-envelope-open"></i> <span> اشتراک پیامک</span></a></li>
    <li class=""><a href="/Admin/CoWorker"><i class="fa fa-support"></i> <span> مشتریان و همکاران</span></a></li>
    <li class=""><a href="/Admin/SocialNetwork"><i class="glyphicon glyphicon-send"></i> <span> شبکه های اجتماعی</span></a></li>
    <li class=""><a href="/Admin/Location"><i class="fa fa-th"></i> <span>  شهر و استان</span></a></li>

    <li class=""><a href="/" target="hidden"><i class="glyphicon glyphicon-eye-open"></i> <span>مشاهده سایت</span></a></li>
</ul>*@