﻿@if (User.Identity.IsAuthenticated)
{

    <li>
        <button asp-action="Logout" asp-controller="Account" asp-area="Admin"><i  class="fa fa-sign-out fa-lg"></i>خروج</button>
    </li>
    <li>
        <a href="#">سلام کاربر @User.Identity.Name</a>
    </li>
}
else
{
    <li>
        <a href="#" class="hvr-underline-from-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-lock fa-lg"></i>ورود</a>
    </li>
    <li>
        <a href="#" class="hvr-underline-from-right" data-toggle="modal" data-target="#myModal1"><i class="fa fa-user fa-lg"></i>عضویت</a>
    </li>
}
