﻿
<div class="modal fade modal " id="modal-info" style="z-index:1050;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body " id="modal-body">
            </div>
           

        </div>
    </div>
</div>