﻿
@{
    ViewData["Title"] = "لیست پیشنهاد ها";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">لیست پیشنهاد ها</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                ...
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            GetAllProposals();
        });
    </script>
}