﻿@model IEnumerable<DomainClasses.Proposal.ProposalProviders>

<hr />
<div class="box-header">
    <i class="fa fa-info-circle"></i>
    <h3 class="box-title text-danger">پیشنهاد دهندگان</h3>
</div>
<div class="col-12 mt-3 table-responsive">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">کد پرسنلی</th>
                <th scope="col">واحد</th>
                <th scope="col">سمت</th>
                <th scope="col">تلفن همراه</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <th>@i</th>
                    <td>@item.Employee.ApplicationUser.FullName</td>
                    <td>@item.PersonalCode</td>
                    <td>@item.OfficeUnit.OfficeUnitTitle</td>
                    <td>@item.OfficePost.OfficePostTitle</td>
                    <td>@item.PhoneNumber</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>