﻿@model IEnumerable<DomainClasses.Proposal.MainProposal>


<table class="table table-bordered table-hover table-striped" id="proposal_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementPrice)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(x=>x.Proposal_ID)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalDate)
            </td>
            <td>
               @item.ImplementPrice.ToString()
            </td>
            <td>
                <button class="btn btn-icon btn-primary btnIcon" onclick="ViewDetailsProposal(@item.Proposal_ID);"> <i class="fa fa-eye"></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    table = $('#proposal_tb').DataTable();
    table.destroy();
    $('#proposal_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });
</script>