﻿@model DomainClasses.Proposal.MainProposal

<style>
    .textColor {
        color: #2388d2dd;
    }

    .lineHeight {
        line-height: 4.5em;
    }
</style>

<section class="content">
    <div class="row" id="proposal-print">
        <div class="col-xs-12">

            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title text-danger">پیشنهاد ارائه شده</h3>
            </div>

            <div class="form-group lineHeight">
                <div class="col-md-6">
                    <span class="control-label">عنوان :</span>
                    <label class="control-label textColor">@Model.Title</label>
                </div>
                <div class="col-md-6">
                    <span class="control-label">تاریخ پیشنهاد :</span>
                    <label class="control-label textColor">@Model.ProposalDate</label>

                </div>

            </div>
            <hr />


            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label">شرح پیشنهاد :</span>
                    <label class="control-label textColor">@Model.ProposalDescription</label>
                </div>

            </div>
            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label">وضعیت جاری :</span>
                    <label class="control-label textColor">@Model.CurrentStatus</label>
                </div>
            </div>
            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label">روش اجرا :</span>
                    <label class="control-label textColor">@Model.ImplementMethod</label>
                </div>
            </div>
            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label">امکانات مورد نیاز :</span>
                    <label class="control-label textColor">@Model.Possibilities</label>
                </div>
            </div>
            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label">مقدار صرفه جویی مالی :</span>
                    <label class="control-label textColor">@Model.FinancialSavings</label>
                </div>
            </div>
            <div class="form-group lineHeight">
                <div class="col-md-12">
                    <span class="control-label"> هزینه اجرا :</span>
                    <label class="control-label textColor">@Model.ImplementPrice</label>
                </div>
            </div>
           
            <div class="form-group lineHeight" id="providers_Div">

            </div>
            <div class="form-group lineHeight" id="documents_Div">

            </div>
        </div>
    </div>
</section>

<div class="text-center">
    <button class="btn btn-danger" onclick="jQuery.print('#proposal-print')">
        <i class="fa fa-print mg-lf"></i> چاپ فرم
    </button>
</div>

<script src="~/SiteContent/js/jQuery.print.js"></script>

<script>
    $(function () {
        $("#providers_Div").load("/Admin/adminProposals/ViewDetailsProposalProvider/" +@Model.Proposal_ID);
        $("#documents_Div").load("/Admin/adminProposals/ViewDetailsProposalFiles/" +@Model.Proposal_ID);
    });
</script>