﻿@model DomainClasses.Catalog.Catalog

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="catalogFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control TextRequired" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Files" class="control-label"></label>
                    <input asp-for="Files" class="form-control TextRequired" type="file" id="catalogUploader" />
                    <span asp-validation-for="Files" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" onclick="InsertCatalog();" class="btn btn-success waves-effect waves-light">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />



