﻿
@{
    ViewData["Title"] = "مدیریت کاتالوگ";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.Catalog != null)
            {
                <div class="box-header ">
                    <a onclick="openModalForAddCatalog()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن کاتالوگ  </a>
                </div>
            }
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">کاتالوگ</h3>

                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                در این بخش میتوانید کاتالوگ مربوط به محصولات سایت
                                را تعریف کنید . محصولات شما یک کاتالوگ بیشتر نمی تواند داشته
                                باشد بنابراین برای تغییر باید آن را حذف و دوباره ایجاد کنید.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>

<br /><br />


@section Scripts{
    <script>
        $(document).ready(function () {
            GetCatalog();
            //changeLanguage($("#language_ddl").val());
        });

    </script>
}

