﻿@model IEnumerable<DomainClasses.Catalog.Catalog>


<table class="table table-bordered table-hover table-striped" id="catalog_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="cat_@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="~/Files/Catalog/@item.Files" target="_blank">دانلود</a>
            </td>
            <td>
                <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteCatalog(@item.ID);"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    table = $('#catalog_tb').DataTable();
    table.destroy();
    $('#catalog_tb').DataTable({
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'ordering': true,
        'info': true,
        "deferRender": false,
        'autoWidth': true,
        'language': {
            "paginate": {
                'next': "بعدی",
                'previous': "قبلی"

            },
            "search": 'جستجو  :   ',
            "lengthMenu": "نمایش _MENU_ رکورد",
            "emptyTable": "هیچ داده ای ثبت نشده",
            "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
            "infoEmpty": "نمایش 0 تا 0 از 0  رکورد",
            "zeroRecords": "هیچ رکوردی یافت نشد",
            "infoFiltered": ""
        }, "columnDefs": [

            { "className": "dt-center", "targets": "_all" }

        ]

    });

</script>