﻿@model DomainClasses.BasicInformation.Activity

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="ActivityFrmEdit">
            <input type="hidden" asp-for="Activity_ID" />
            <div class="form-group">
                <label asp-for="ActivityTitle" class="control-label"></label>
                <input asp-for="ActivityTitle" class="form-control TextRequired" />
                <span asp-validation-for="ActivityTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDescription" class="control-label"></label>
                <textarea asp-for="ActivityDescription" class="form-control demo TextRequired"></textarea>
                <span asp-validation-for="ActivityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ActivityFieldID" asp-items="ViewBag.ActivtyFields" class="form-control"></select>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateActivity();">
                    <span class="btn-label">
                        <i class="fa fa-edit "></i>
                    </span>ویرایش
                </button>
                <div class="form-group">
                    <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
