﻿
@{
    ViewData["Title"] = "مدیریت فعالیت ها";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header ">
                <a onclick="openModalForAddActivity()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن فعالیت جدید  </a>
            </div>
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title pull-right">لیست فعالیت ها</h3>
                    <div class="form-group pull-right">
                        <select asp-items="ViewBag.ActivtyFields" class="form-control" id="ActivityFieldList" onchange="GetAllActivityByActivityField()">
                            <option value="">انتخاب کنید ...</option>
                        </select>
                    </div>
                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                این بخش برای تعریف فعالیت ها می باشد.
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">



                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts{
    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
        });
    </script>
}
