﻿@{
    ViewData["Title"] = "لیست درخواست های اضافه کاری کارمندان(ویژه)";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header hidden">
                    @* <a onclick="openModalForAddExtraWork()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>درخواست اضافه کاری</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;*@
                    <h3 class="box-title col-sm-4">لیست اضافه کاری های کارمندان</h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;<b class="col-sm-2">فیلتر بر اساس:</b>
                    <select class="col-sm-2 form-control" onchange="ViewAllExtraWorksSuperior2($(this).val())" id="filterList_ddl">
                        <option value="">بدون فیلتر</option>
                        <option value="-1" selected="selected">بررسی نشده</option>
                        <option value="1">تایید شده</option>
                        <option value="0">تایید نشده</option>
                    </select>
                    <div class="pull-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>این بخش جهت مشاهده درخواست های اضافه کاری کارمندان می باشد</span>
                        </a>
                    </div>
                </div>
                <table class="vacation_tb hidden">
                    <tr>
                        <th></th>
                        <th>
                            <input id="StartCreateDate_txt" type="text" placeholder="تاریخ ثبت اولیه" class="form-control" />
                            <input type="text" id="StartCreateDate" class="form-control hidden pull-right">
                        </th>
                        <th>
                            <input id="EndCreateDate_txt" type="text" placeholder="تاریخ ثبت انتهایی" class="form-control" />
                            <input type="text" id="EndCreateDate" class="form-control hidden pull-right">
                        </th>
                        <th><input id="ApplicationUserFullName_txt" type="text" placeholder="متقاضی" class="form-control" /></th>
                        <th><input id="ExtraWorkReason_txt" type="text" placeholder="علت اضافه کاری" class="form-control" /></th>
                        @*<th><select id="VacationType_txt"><option value="True">روزانه</option><option value="False">ساعتی</option></select></th>*@
                        @*<th><input id="DayVacationStartDate_txt" type="text" placeholder="زمان شروع" /></th>*@
                        @*<th><input id="DayVacationEndDate_txt" type="text" placeholder="زمان پایان" /></th>*@
                        @*<th><input id="AlternateName_txt" type="text" placeholder="جایگزین" class="form-control" /></th>*@
                        <th><input id="SuperiorName_txt" type="text" placeholder="مافوق" class="form-control" /></th>
                        <th><input id="managerName_txt" type="text" placeholder="مدیر" class="form-control" /></th>
                        <th><input id="HRManagerName_txt" type="text" placeholder="م.م.انسانی" class="form-control" /></th>
                        <th><button class="btn btn-icon btn-primary btnIcon" title="اعمال فیلتر" onclick="ViewAllExtraWorksSuperior();"> <i class="fa fa-eye"></i> </button></th>
                        <th><button class="btn btn-icon btn-danger btnIcon" title="پاک کردن فیلترها" onclick="ClearExtraWorksSuperiorFilters();"> <i class="fa fa-trash"></i> </button></th>
                    </tr>
                </table>
                @*<div class="box-body" id="viewAll">

                </div>*@
            <form method="post">
                <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>
                                نام متقاضی
                            </th>
                            <th>
                               تاریخ ایجاد
                            </th>
                            <th>وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                </table>
            </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            ViewAllExtraWorksSuperior2($('#filterList_ddl').val());
        });
        $(".vacation_tb input").keyup(function (e) {
            if (e.keyCode == 13) { ViewAllExtraWorksSuperior2($('#filterList_ddl').val()); }
        });
        //===========================================
        var status = 1;
        var vacationType = "True";
        $(function () {

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartCreateDate_txt').persianDatepicker({
                altField: '#StartCreateDate',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true
                //},
            });

            $('#EndCreateDate_txt').persianDatepicker({
                altField: '#EndCreateDate',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });
        });
    </script>
}