﻿@{
    ViewData["Title"] = ViewBag.Title;

    IEnumerable<DomainClasses.Contents.Contents> contents = ViewBag.ContentList as IEnumerable<DomainClasses.Contents.Contents>;
    IEnumerable<DomainClasses.Product.ProductInfo> products = ViewBag.ProductList as IEnumerable<DomainClasses.Product.ProductInfo>;
}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-12 widget-title">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><span>@(CultureInfo.CurrentCulture.Name == "fa-IR" ? Html.Raw("صفحه نخست") : Html.Raw("Home"))</span></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>@ViewBag.Title</span></li>
                </ol>
            </nav>
        </div>
        <div class="col-12 aboutUs search">
            @if (products.Count() > 0 || contents.Count() > 0)
            {
                foreach (var item in contents)
                {
                    <a target="_blank" asp-action="ShowContentDetails" asp-controller="Contents" asp-route-id="@item.ContentTitle.ToSlug()">@item.ContentTitle</a>
                }

                foreach (var item in products)
                {
                    <a target="_blank" asp-action="ProductDetails" asp-controller="Product" asp-route-id="@item.ProductTitle.ToSlug()">@item.ProductTitle</a>
                }
            }
            else
            {
                if (CultureInfo.CurrentCulture.Name == "fa-IR")
                {
                    <div class="alert alert-warning text-center">
                        <span>نتیجه ای یافت نشد !</span>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning text-center">
                        <span>No results found !</span>
                    </div>
                }
            }
        </div>
    </div>
</div>
