﻿@model DomainClasses.Seo.SeoPageProduct

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="seoProjectFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SeoPage_ID" class="form-control" type="hidden" />
            <input asp-for="PageId" class="form-control" type="hidden" />
            <div class="form-group">
                <div class="col-md-6 hidden">
                    <label asp-for="UrlPage" class="control-label required"></label>
                    <input asp-for="UrlPage" class="form-control" dir="ltr" />
                    <span asp-validation-for="UrlPage" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>

                    <br /><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="MetaKeyword" class="control-label"></label>
                    <input asp-for="MetaKeyword" class="form-control" />
                    <span asp-validation-for="MetaKeyword" class="text-danger"></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="MetaDescription" class="control-label"></label>
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    <br /><br />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="MetaOther" class="control-label"></label>
                    <textarea asp-for="MetaOther" class="form-control" dir="ltr" rows="6"></textarea>
                    <span asp-validation-for="MetaOther" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group pull-left">
                <div class="col-md-12">
                    <img width="80" height="60" id="loading" src="~/images/Ellipsis.svg" class="hidden" style="margin-top:33px" />
                    <input type="button" value="ویرایش" class="btn btn-info" onclick="UpdateSeoPageProject();" style="margin-top:33px" />
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
