﻿@model DomainClasses.Contents.Contents

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="Form_AboutUs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group hidden">
                <label asp-for="ContentGroupId" class="control-label"></label>
                <input asp-for="ContentGroupId" class="form-control" value="-1" />
            </div>
            <div class="form-group hidden">
                <label asp-for="ContentTitle" class="control-label"></label>
                <input asp-for="ContentTitle" class="form-control" />
                <span asp-validation-for="ContentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label><span id="cntCnSummary" class="text-red"> 1500 </span>
                <textarea rows="6" asp-for="ContentSummary" class="form-control " onkeyup="ValueTextBoxCounter(this, $(this),$('#cntCnSummary'),1500)"></textarea>
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentText" class="control-label "></label>
                <textarea asp-for="ContentText" class="form-control " id="ContentText" ></textarea>
                <span asp-validation-for="ContentText" class="text-danger" id="contentText_val"></span>
            </div>
            <div class="form-group pull-left">
                <div class="col-lg-6 hidden">
                    <label asp-for="ContentImage" class="control-label required"></label>
                    <input asp-for="ContentImage" id="ContentUploader" type="file" class="form-control" />
                    <span asp-validation-for="ContentImage" class="text-danger"></span>
                </div>
                <div class="col-lg-3 hidden">
                    <img width="120" height="120" id="imgPreview" />
                    <p class="text-danger">اندازه عکس آپلودی باید در اندازه 400 *680 باشد</p>
                    <br /><br />
                </div>

            </div>
            <div class="form-group col-sm-12 text-center">
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="InsertAboutUs();">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-check "></i>
                    </span>ثبت
                </button>
                <div class="form-group">
                    <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

@*<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>*@

<script>
    $(document).ready(function () {
        CKEDITOR.replace('ContentText', {
            customConfig: '/ckeditor/config.js'
        });

    });

    function readURL(input) {
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ContentUploader").change(function () {
        readURL(this);
    });
</script>