﻿
@{
    ViewData["Title"] = "درباره ما";

}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @if (ViewBag.aboutUs == null)
            {
                <div class="box-header ">
                    <a onclick="openModalForAddAboutUs()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن درباره ما  </a>
                </div>
            }
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">درباره ما</h3>
                    <!--ToolTipssss-->
                    <div class="pull-left">

                        <a class="tip fa fa-fw fa-question">
                            <span>
                                شما در این قسمت می توانید برای سایت خود
                                بخش درباره را اضافه یا ویرایش کنید
                            </span>
                        </a>

                    </div>
                </div>
                <!--ToolTipssss-->
                <!-- /.box-header -->
                <div class="box-body" id="viewAll">

                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script>
        $(document).ready(function () {

            //GetAboutUs(4);
            changeLanguage("fa");
        });

    </script>
}


