﻿@model IEnumerable<DomainClasses.Contents.Contents>


<table class="table table-bordered table-hover table-striped" id="aboutUs_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentTitle)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ContentTitle
                </td>
                <td>
                    <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditAboutUs(@item.Content_ID);"> <i class="fa fa-edit"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>