﻿
@model List<ProductComment>

<div class="col-xs-12 ">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="user-comment-container">
                    <div class="headerComment">
                        <div class="user-info right">
                            <i class="fa fa-comment"></i>
                            <h5>
                                <span>@item.UserName</span>
                                <time datetime="2008-02-14 20:00">@item.CommentDate.ToShamsi()</time>
                            </h5>
                        </div>
                    </div>
                    <div class="bodyComment">
                        <p>
                            @item.Comment
                        </p>
                    </div>
                </div>
            </li>
        }


    </ul>
</div>
