﻿@model DomainClasses.Employees.ExtraWork

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="AddExtraWork_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@ViewBag.personalCode</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@DateTime.Now.ToShamsi()</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="StartDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right">
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="EndDate" class="form-control TextRequired" autocomplete="off" />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group ">
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="StartTime" class="form-control TextRequired" />
                            <input type="text" id="StartTime1" class="form-control hidden pull-right">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input id="EndTime" class="form-control TextRequired" />
                            <input type="text" id="EndTime1" class="form-control hidden pull-right">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="ExtraWorktime" class="control-label"></label>
                        <textarea type="text" asp-for="ExtraWorktime" class="form-control pull-right TextRequired"></textarea>
                        <span asp-validation-for="ExtraWorktime" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    <button type="button" onclick="AddExtraWork2();" class="btn btn-warning waves-effect waves-light">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-edit "></i>
                        </span>ثبت
                    </button>
                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet"  asp-append-version="true"/>
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
        var status = 1;
        var vacationType = "True";
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true
                //},
            });


            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

        });

     $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
         autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    }
    );

     $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
         autoClose: true,
          initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );

		//$('#StartTime').timepicker();
		//$('#EndTime').timepicker();

</script>
<partial name="_ValidationScriptsPartial" />