﻿@model ViewModels.ExtraworkSuperiorViewModel

    <style>
        .clockpicker-popover {
            z-index: 4000;
        }

        .d-flex {
            display: flex;
        }
    </style>
<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <form asp-action="Index" id="EditExtraWork_frm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.extraWork.ExtraWorkID" />
                <input type="hidden" asp-for="@Model.extraWork.CreateDate" />
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">کد پرسنلی: </label>
                        <span id="PersonalCode">@Model.extraWork.PersonalCodeFirst</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">نام متقاضی: </label>
                        <span>@ViewBag.FullName</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">تاریخ درخواست: </label>
                        <span>@Model.extraWork.CreateDate.ToShamsi()</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>تاریخ شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.extraWork.StartDate" class="form-control TextRequired" id="StartDate" />
                            <input type="text" id="tarikhAlt1" class="form-control hidden pull-right" asp-for="@Model.extraWork.StartDate" autocomplete="off">
                            <span asp-validation-for="@Model.extraWork.StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>تاریخ پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="@Model.extraWork.EndDate" class="form-control TextRequired" id="EndDate" />
                            <input type="text" id="tarikhAlt2" class="form-control hidden pull-right" asp-for="@Model.extraWork.EndDate" autocomplete="off">
                            <span asp-validation-for="@Model.extraWork.EndDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group ">
                    @*<div class="col-md-6">
                <label>ساعت شروع </label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-clock"></i>
                    </div>
                    <input asp-for="StartTime" type="time" class="form-control TextRequired" />
                </div>
            </div>
            <div class="col-md-6">
                <label>ساعت پایان </label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-clock"></i>
                    </div>
                    <input asp-for="EndTime" type="time" class="form-control TextRequired" />
                </div>
            </div>*@
                    <div class="col-md-6">
                        <label>ساعت شروع </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="@Model.extraWork.StartTime" class="form-control TextRequired" />
                            <input type="text" asp-for="@Model.extraWork.StartTime" id="StartTime1" class="form-control hidden pull-right">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ساعت پایان </label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-clock"></i>
                            </div>
                            <input asp-for="@Model.extraWork.EndTime" class="form-control TextRequired" />
                            <input type="text" id="EndTime1" asp-for="@Model.extraWork.EndTime" class="form-control hidden pull-right">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.extraWork.ExtraWorktime" class="control-label"></label>
                        <textarea type="text" asp-for="@Model.extraWork.ExtraWorktime" class="form-control pull-right TextRequired"></textarea>
                        <span asp-validation-for="@Model.extraWork.ExtraWorktime" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="row d-flex py-5 px-5 ">

                    <div class="step status_@Model.extraWork.FinalStatus"><p>@Model.extraWork.Employee_Ext_1.ApplicationUser.FullName</p></div>
                    <i class="arrow fa fa-angle-left"></i>
                    @for (int i = 0; i < Model.extraworkSignatures.Count(); i++)
                    {
                        string toolTip = "";
                        if (@Model.extraworkSignatures[i].SignatureDateTime.HasValue)
                        {
                            toolTip += @Model.extraworkSignatures[i].SignatureDateTime.Value.ToShamsiWithTime();
                        }
                        if (Model.extraworkSignatures[i].SignatureReason != null && Model.extraworkSignatures[i].SignatureReason != "")
                        {
                            toolTip += " - " + @Model.extraworkSignatures[i].SignatureReason;
                        }
                        <div class="step status_@Model.extraworkSignatures[i].SignatureStatus" tooltip="@toolTip"><p>@Model.extraworkSignatures[i].applicationUser.FullName</p></div>
                        if (i < Model.extraworkSignatures.Count() - 1)
                        {
                            <i class="arrow fa fa-angle-left"></i>
                        }
                    }
               
                </div>
                <hr />
                <div class="form-group col-sm-12 text-center">
                    <br /><br />
                    @if (ViewBag.firstVSStatus == null)
                    {
                        <button type="button" onclick="UpdateExtraWork2();" class="btn btn-warning waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ویرایش
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning waves-effect waves-light" disabled>
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-edit "></i>
                            </span>ثبت تغییرات
                        </button>
                    }

                    <div class="form-group">
                        <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/AdminContent/persian-datepickerNew/persian-datepicker.min.css" rel="stylesheet"  asp-append-version="true"/>
<script src="~/AdminContent/persian-datepickerNew/persian-date.min.js" asp-append-version="true"></script>
<script src="~/AdminContent/persian-datepickerNew/persian-datepicker.min.js" asp-append-version="true"></script>
<script>
        var status = 1;
        var vacationType = "True";
        $(function () {
            //ViewAllVacations(@ViewBag.PersonalCode);

            new persianDate().format();
            $('.datepicker-plot-area').addClass("datePicker");

            $('#StartDate').persianDatepicker({
                altField: '#tarikhAlt1',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false   برای ویرایش نباید این مورد فعال باشد
                //timePicker: {
                //    enabled: true
                //},
            });


            $('#EndDate').persianDatepicker({
                altField: '#tarikhAlt2',
                altFormat: 'X',
                format: 'D MMMM YYYY',
                observer: true,
                autoClose: true,
                //initialValue: false
                //timePicker: {
                //    enabled: true,
                //    meridiem: {
                //        enabled: true
                //    }
                //},
            });

        });

     $('#StartTime').persianDatepicker({
        altField: '#StartTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
         autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    }
    );

     $('#EndTime').persianDatepicker({
        altField: '#EndTime1',
        altFormat: 'X',
        format: ' HH:mm',
        observer: true,
         onlyTimePicker: true,
         autoClose: true,
        initialValue: false,
        timePicker: {
            enabled: true
        }
    }
        );
  //  	$('#StartTime').timepicker();
		//$('#EndTime').timepicker();
</script>
<partial name="_ValidationScriptsPartial" />