﻿@{
    ViewData["Title"] = "اضافه کاری";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <a onclick="openModalForAddExtraWork2()" class=" btn btn-success "><i class="fa fa-plus">&nbsp; &nbsp;</i>درخواست اضافه کاری</a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                    <h3 class="box-title">لیست اضافه کاری ها</h3>

                    <div class="pull-left">
                        <a class="tip fa fa-fw fa-question">
                            <span>این بخش جهت مشاهده درخواست های اضافه کاری کارمندان می باشد</span>
                        </a>
                    </div>
                </div>
                <form method="post">
                    <table class="table table table-bordered table-hover table-striped" id="vacation_tb">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>
                                    متقاضی
                                </th>
                                <th>
                                    تاریخ ایجاد
                                </th>
                                <th>وضعیت</th>
                                <th></th>
                            </tr>
                        </thead>
                        
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/SiteContent/js/jQuery.print.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            ViewAllExtraWorks2();
        });
    </script>
}