﻿@model DomainClasses.Region.Country

@{
    ViewData["Title"] = "CreateCountry";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateCountry" id="countryFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="CountryName" class="control-label"></label>
                    <input asp-for="CountryName" class="form-control TextRequired" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="CountryCode" class="control-label"></label>
                    <input asp-for="CountryCode" class="form-control" type="number" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-4 mgTop">
                    <label>
                        <input asp-for="IsActive" id="isActiveCountry" checked="checked"/> فعال هست
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" onclick="InsertCountry();" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>
                        <div class="form-group">
                            <img src="~/images/green_load.gif" class="hidden" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
