﻿@model DomainClasses.Region.City

@{
    ViewData["Title"] = "CreateCity";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form  id="cityFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="CityName" class="control-label"></label>
                    <input asp-for="CityName" class="form-control TextRequired" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="CityCode" class="control-label"></label>
                    <input asp-for="CityCode" class="form-control" type="number" />
                    <span asp-validation-for="CityCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-4 mgTop">
                    <label>
                        <input asp-for="IsActive" id="isActiveCity" checked="checked" /> فعال هست
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" onclick="InsertCity();" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>
                        <div class="form-group">
                            <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

