﻿@model DomainClasses.Region.State

@{
    ViewData["Title"] = "CreateState";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateCountry" id="stateFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="StateName" class="control-label "></label>
                    <input asp-for="StateName" class="form-control TextRequired" />
                    <span asp-validation-for="StateName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="StateCode" class="control-label"></label>
                    <input asp-for="StateCode" class="form-control" type="number" />
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-4 mgTop">
                    <label>
                        <input asp-for="IsActive" id="isActiveState" checked="checked" /> فعال هست
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" onclick="InsertState();" class="btn btn-success waves-effect waves-light">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-check "></i>
                            </span>ثبت
                        </button>
                        <div class="form-group">
                            <img src="~/images/green_load.gif" style="display:none" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

