﻿@model DomainClasses.Region.City

@{
    ViewData["Title"] = "EditCity";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form id="cityFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="City_ID" id="City_ID" />
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="State_ID" class="control-label "></label>
                    <select asp-for="State_ID" class="form-control TextRequired" asp-items="ViewBag.allState"></select>
                    <span asp-validation-for="State_ID" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="CityName" class="control-label "></label>
                    <input asp-for="CityName" class="form-control TextRequired" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CityCode" class="control-label"></label>
                    <input asp-for="CityCode" class="form-control" type="number" />
                    <span asp-validation-for="CityCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-6 mgTop">
                    <label>
                        <input asp-for="IsActive" id="isActiveCity" /> فعال هست
                    </label>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateCity();">
                            <span class="btn-label">
                                <i class="fa fa-edit "></i>
                            </span>ویرایش
                        </button>
                        <div class="form-group">
                            <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@*@await Html.PartialAsync("_ValidationScriptsPartial")*@
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

