﻿@model DomainClasses.Region.Country

@{
    ViewData["Title"] = "EditCountry";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditCountry" id="countryFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Country_ID" id="Country_ID" />
            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="CountryName" class="control-label "></label>
                    <input asp-for="CountryName" class="form-control TextRequired" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="CountryCode" class="control-label"></label>
                    <input asp-for="CountryCode" class="form-control" type="number" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-4 mgTop">
                    <input asp-for="IsActive" id="isActiveCountry" /> فعال هست
                </div>

            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateCountry();">
                            <span class="btn-label">
                                <i class="fa fa-edit "></i>
                            </span>ویرایش
                        </button>
                        <div class="form-group">
                            <img src="~/images/yellow_load.gif" class="hidden" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

