﻿@model DomainClasses.Region.State

@{
    ViewData["Title"] = "EditState";
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="EditState" id="stateFrmEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="State_ID" id="State_ID" />
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CountryId" class="control-label "></label>
                    <select asp-for="CountryId" class="form-control TextRequired" asp-items="ViewBag.allCountry"></select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="StateName" class="control-label "></label>
                    <input asp-for="StateName" class="form-control TextRequired" />
                    <span asp-validation-for="StateName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="StateCode" class="control-label"></label>
                    <input asp-for="StateCode" class="form-control TextRequired" type="number" />
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                    <br /><br />
                </div>
                <div class="col-md-6 mgTop">
                    <label>
                        <input asp-for="IsActive" id="isActiveState" /> فعال هست
                    </label>
                </div>

            </div>

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="form-group col-sm-12 text-center">
                        <button type="button" class="btn btn-warning waves-effect waves-light" onclick="UpdateState();">
                            <span class="btn-label">
                                <i class="fa fa-edit "></i>
                            </span>ویرایش
                        </button>
                        <div class="form-group">
                            <img src="~/images/yellow_load.gif" style="display:none" id="div-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


