﻿
@{
    ViewData["Title"] = "مدیریت شهر و استان";
}
<style>
    .mgTop{
        margin-top:25px !important;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#country" data-toggle="tab">کشور</a></li>
                    <li><a href="#state" data-toggle="tab">استان</a></li>
                    <li><a href="#city" data-toggle="tab">شهر</a></li>
                </ul>
                <div class="tab-content">
                    <!--Tab 1-->
                    <div class="tab-pane active" id="country">
                        <div class="box-header">
                            <a onclick="openModalForAddCountry()" class=" btn btn-success col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن کشور </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h3 class="box-title">لیست کشورها</h3>

                                <!--ToolTipssss-->
                                <div class="pull-left">

                                    <a class="tip fa fa-fw fa-question">
                                        <span>
                                            برای ثبت کشور ها جهت مشخص کردن موقعیت مکانی کاربر
                                            در سایت از این بخش استفاده میشود.
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!--ToolTipssss-->
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAll">

                            </div>
                        </div>
                    </div>


                    <!--Tab 2-->
                    <div class="tab-pane" id="state">
                        <div class="box-header">
                            <a onclick="openModalForAddState()" class=" btn btn-success col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن استان </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-4">
                                    <h3 class="box-title">لیست استان ها براساس کشور</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="country_ddl" class="form-control select2" onchange="GetAllStateByCountryId($(this).val())">
                                        <option value="0">انتخاب کنید ...</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این قسمت میتوانید لیست استان هارا براساس
                                                کشور مشاهده کنید و همچنین براساس کشور استانی را
                                                به ثبت برسانید
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllState">

                            </div>
                        </div>

                    </div>
                    <!--Tab 3-->
                    <div class="tab-pane" id="city">
                       
                        <div class="box-header">
                            <a onclick="openModalForAddCity()" class=" btn btn-success col-md-2"><i class="fa fa-plus">&nbsp; &nbsp;</i>افزودن شهر </a>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="col-md-3">
                                    <h3 class="box-title">لیست شهرها براساس استان</h3>


                                </div>
                                <div class="col-md-4">
                                    <select id="state_ddl" class="form-control select2" onchange="GetAllCityByStateId($(this).val())">
                                        <option value="0">انتخاب کنید ...</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <!--ToolTipssss-->
                                    <div class="pull-left">

                                        <a class="tip fa fa-fw fa-question">
                                            <span>
                                                در این بخش می توانید شهرستان یا شهرهای مربوط به
                                                هر استان را مشاهده یا اضافه کنید.
                                            </span>
                                        </a>

                                    </div>
                                </div>
                                <!--ToolTipssss-->
                            </div>


                            <br /><br />
                            <!-- /.box-header -->
                            <div class="box-body" id="viewAllCity">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</section>

<br /><br />




@section Scripts{


    <script>
        $(document).ready(function () {
            changeLanguage($("#language_ddl").val());
            //GetAllDataInDropDownList($("#language_ddl").val(), "Location", "GetAllCountry", "#country_ddl");
        });


    </script>
}

