﻿@model IEnumerable<DomainClasses.Region.Country>


<table class="table table-bordered table-hover table-striped" id="country_tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="country_@item.Country_ID">
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        <i class="fa fa-fw fa-check text-success" title="فعال"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fa fa-times text-danger" title="غیر فعال"></i>
                    </td>
                }

                    <td>
                        <button class="btn btn-icon btn-primary btnIcon" onclick="openModalForEditCountry(@item.Country_ID);"> <i class="fa fa-edit" title="ویرایش"></i> </button>
                        <button class="btn btn-icon btn-danger btnIcon" onclick="DeleteCountry(@item.Country_ID);"> <i class="fa fa-trash" title="حذف"></i> </button>
                    </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/AdminDataTable.js"></script>
